//- restaurants are not part of the plan
.body.add-on-not-included(ng-hide="plan.preferences.addOns.restaurants")
	p Sure, you planned this whole outing and you're awesome for taking it on - but studies (somewhere) show that hungry people are grouchy people.  Do you really want to be responsible for a group of grumps walking the streets in search of food before or after the event?  We didn't think so!
	p For the sake of all fan-kind go ahead and choose your restaurant now.
	label
		.btn.btn-primary.btn-large(href="#") Add Restaurant To Plan
		input.hide(type="checkbox",ng-model="plan.preferences.addOns.restaurants", ng-click="savePrefs()")

