#no-event.animate-in
	#no-event-background
		#no-event-container
			h3 FIND SOMETHING TO DO WITH YOUR FRIENDS
			#search-box
				form#search-form.form-search(method="GET", action="/search")
					input#query(name="search",placeholder="Enter an event, team, city or venue...")
					button#submit(href="#")
						#magnifying-glass
			.architect Hey! Looks like you stumbled across a feature we haven't implemented yet - sorry bout that! We're working on it though...
			a(href="/faq") Need some help? Click here to get more info about WEMbli
		h3#no-event-arrow-text SEARCH
