- var stop = false;
- var next = 'plan/view';
- var idx = 0;
- var tmp = globalViewVars.wembliServices
- var services = tmp.concat('summary');
- each service in services
	- idx++;
	- if (req.session.currentPlan.config[service])
		- if (stop && (typeof req.session.currentPlan.completed[service] == "undefined"))
			- next = 'plan/'+service;
			- break;
		- if (typeof page != "undefined" && (service == page))
			- stop = true;
a#continue.btn.btn-success.btn-large(href="/#{next}?completed=#{page}")!= (typeof buttonText != "undefined") ? buttonText : 'Continue';
#links
	- //a#howDoesItWork(data-toggle="modal",href="#howDoesItWorkModal") How Does It Work
	- //span  |
	- if (req.session.isOrganizer)
		- if(req.session.loggedIn)
			a.saveForLater(href="/event/save?redirectUrl=#{req.originalUrl}") Save For Later
		- else
			a.saveForLater(data-toggle="modal",href="#signupModal") Save For Later

