- var stop = false;
- var next = 'event/summary';
- var idx = 0;
- each service in globalViewVars.wembliServices
	- idx++;
	- if (session.eventplan.config[service])
		- if (stop)
			- next = service+'#eventBuilder'
			- break
		- if (typeof page != "undefined" && (service == page))
			- stop = true;
a#continue.btn.btn-success.btn-large(href="/#{next}")!= (typeof buttonText != "undefined") ? buttonText : 'Continue';
#links
	a#howDoesItWork(data-toggle="modal",href="#howDoesItWorkModal") How Does It Work
	span  | 
	- if(session.loggedIn)
		a.saveForLater(href="/event/save?redirectUrl=#{req.originalUrl}") Save For Later
	- else
		a.saveForLater(data-toggle="modal",href="#signupModal") Save For Later
