- var fbCredentials = fbCredentials()
#fb-root
script(type="text/javascript")
  fbAppId = "#{fbCredentials.appId}";
  fbChannelUrl = "#{fbCredentials.host}.wembli.com/fbchannel";

  (function(d){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all.js";
     ref.parentNode.insertBefore(js, ref);
  }(document));


