footer
	.body.row
		div.span3
			div
				a(href="#") CONTACT US
			div
				a(href="http://blog.wembli.com/") BLOG
		div.span3
			div
				a(href="/terms-policies") TERMS OF SERVICE & PRIVACY POLICY
		div.span3
			div
				a(href="https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=ua/AcceptableUse_full") PayPal™ Acceptable Use Policy
		
				