footer#footer(ng-controller="FooterCtrl")
	#nav-arrow.center-
	ul#nav
		//- the id here actually helps build the framesMap which tells sequence which direction to scroll when clicking
		//- make sure you give every li an id this must correspond with location.href.
		li#search.wembli-sequence-link(direction="-1")
			a#nav-search(ng-class="{'/search':'active'}[currentPath]", href="/search")
				#search-title.segoe
					i.icon-search
					span &nbsp;Search
				.arrow-right
		li#index.wembli-sequence-link
			a(href="/") Home
		li#tickets.wembli-sequence-link(loading-duration="1500")
			a(ng-href="{{ticketsLink}}") Tickets
		li#invitation.wembli-sequence-link
			a(href="/invitation") Invite
		li#parking.wembli-sequence-link
			a(href="/parking") Parking
		li#restaurants.wembli-sequence-link
			a(href="/restaurants") Restaurants
		li#hotels.wembli-sequence-link
			a(href="/hotels") Hotels
		//- if (session.loggedIn)
		li#dashboard.wembli-sequence-link(ng-show="loggedIn")
			a(href="/dashboard") Dashboard
		li#logout(ng-show="loggedIn")
			a(href="/logout", ng-click="facebook.logout()") Log out
		//- else
		li#login.wembli-sequence-link(ng-hide="loggedIn")
			a(href="/login") Log in
		li#signup.wembli-sequence-link(ng-hide="loggedIn")
			a(href="/signup") Sign up
		li#handle.pull-right
			a(href="#")
	#info
