footer
	- each group in globals.footerGroups
		dl
			dt.myriad.orange #{group.title}
			- each link in group.links
				dd 
					- url = link.toLowerCase(link.replace(' ', '-'));
					a(href="#{url}") #{link}
	
	dl.connect
		dt.myriad.orange Follow Us
		dd.twitter 
			a(href="http://www.twitter.com/wembli", target="_blank") Twitter
		dd.facebook 
			a(href="http://www.facebook.com/pages/Wembli/283576331690548", target="_blank") Facebook
				