footer
	.body.container.row
		div.span4
			div
				a(href="#") CONTACT US
			div
				a(href="http://blog.wembli.com/") BLOG
		div.span4
			div
				a(href="#") TERMS OF SERVICE
		div.span4
			div
				a(href="#") PRIVACY POLICY
		
				