footer#footer.hide(ng-controller="FooterCtrl", ng-hide="hideFooter")
	#nav-arrow.center-
	ul#nav
		//- the id here actually helps build the framesMap which tells sequence which direction to scroll when clicking
		//- make sure you give every li an id this must correspond with location.href.
		li#search
			a#nav-search(ng-class="{'/search':'active'}[currentPath]", href="/search")
				#search-title.segoe
					i.icon-search
					span &nbsp;Search
				.arrow-right
		li#index
			a(href="/") Home
		li#tickets
			a(ng-href="/tickets{{eventLink}}") Tickets
		li#invitation
			a(href="/invitation{{eventLink}}") Invite
		li#parking
			a(href="/parking{{eventLink}}") Parking
		li#restaurants
			a(href="/restaurants{{eventLink}}") Restaurants
		li#hotels
			a(href="/hotels{{eventLink}}") Hotels
		li#dashboard(ng-show="loggedIn")
			a(href="/dashboard") Dashboard
		li#plan(ng-show="loggedIn && plan")
			a(href="/plan") Current Plan
		li#login(ng-hide="loggedIn")
			a(href="/login") Log in
		li#signup(ng-hide="loggedIn")
			a(href="/signup") Sign up
		li#help
			i.icon-question-sign.icon-2x.display-popover(trigger="hover",placement="top", title="Click For Help & Feedback", content="Wembli is ALWAYS trying to improve! Click the question mark to get help and provide feedback.", href="#",ng-click="slide()")
				//- .wembli-logo.pull-right
	#info
