footer
	.body.row
		div.span3
			div
				a(href="#") CONTACT US
			div
				a(href="http://blog.wembli.com/") BLOG
		div.span3
			div
				a(href="/terms-policies") TERMS OF SERVICE
		div.span3
			div
				a(href="/terms-policies") PRIVACY POLICY
		
				