#error
#email-group.control-group
	input#email(ng-model="email",placeholder="EMAIL ADDRESS",type="text",name="email", required)
.control-group
	div Give us your email address and we'll send you an email to reset your password.

