- var title = (typeof title !== "undefined") ? title : 'Live Event Outings | Wembli';
title #{title}
meta(charset = "utf-8")
meta(name = "description", content = "")
meta(name = "author", content = "")
//- meta(name="viewport",content="width=device-width, initial-scale=1.0")

link(type = "image/x-icon", rel = "icon", href = "/favicon.ico")
link(type = "image/png", rel = "icon", href = "/favicon.png")

//- link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.5/leaflet.css")
//- link(rel = 'stylesheet', href = '/css/bootstrap-modal.css')
//- link(rel = 'stylesheet', href = '/css/plugins/pikaday.css')

link(rel='stylesheet', href='//code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css')
link(rel='stylesheet', href='/css/style.css')


//- link(rel='stylesheet', href='/css/plugins/jquery.multiselect.css')
//- link(rel='stylesheet', href='/css/plugins/jquery.multiselect.filter.css')

//- jquery
script(type = "text/javascript", src = "//code.jquery.com/jquery-1.8.3.js")
//- script(type = "text/javascript", src = "//code.jquery.com/jquery-1.7.1.js")
script(type = "text/javascript", src = "//code.jquery.com/ui/1.9.2/jquery-ui.js")


//- leaflet markercluster css plugin
//- link(rel="stylesheet",href="/css/plugins/MarkerCluster.Default.css")
//- link(rel="stylesheet",href="/css/plugins/MarkerCluster.Default.ie.css")
//- link(rel="stylesheet",href="/css/plugins/MarkerCluster.css")

//- leaflet js uses open street maps
//- script(type = "text/javascript", src = "http://cdn.leafletjs.com/leaflet-0.5/leaflet.js")
//- this requires google maps js library
//- script(type="text/javascript", src="https://raw.github.com/gist/2197042/2b90c41b39b7d5b3a851d8f256de2ebd3fe1fb74/leaflet-google.js")

//- google maps api
//- script(type="text/javascript", src="https://maps.google.com/maps/api/js?v=3.2&sensor=false&libraries=places")
//- google places api
script(type="text/javascript", src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places")
//- adding this to minify so we don't depend on js.balancedpayments.com being up
//-

- if ("development" === environment())
  //if lt IE 9
    script(type="text/javascript",src="/js/plugins/excanvas.js")

  script(type="text/javascript",src="/js/lib/balanced/v1/balanced.js")
  script(type="text/javascript",src="/js/plugins/jquery.slidepanel.js")
  script(type="text/javascript",src="/js/plugins/jquery.tuMap.js")
  //- script(type="text/javascript",src="/js/plugins/jquery.tuMap-2.x.js")
  script(type="text/javascript",src="/js/plugins/jquery.hammer.min.js")
  script(type="text/javascript",src="/js/plugins/jquery.multiselect.js")
  script(type="text/javascript",src="/js/plugins/jquery.multiselect.filter.js")
  script(type = "text/javascript", src = "/js/plugins/sequence.jquery-min.js")
  script(type = "text/javascript", src = "/js/lib/angular/angular.min.js")
  script(type = "text/javascript", src = "/js/controllers.js")
  script(type = "text/javascript", src = "/js/services.js")
  script(type = "text/javascript", src = "/js/directives.js")
  script(type = "text/javascript", src = "/js/directives/dashboard.js")
  script(type = "text/javascript", src = "/js/directives/plan.js")
  script(type = "text/javascript", src = "/js/directives/parking-map.js")
  script(type = "text/javascript", src = "/js/directives/restaurants-map.js")
  script(type = "text/javascript", src = "/js/directives/hotels-map.js")
  script(type = "text/javascript", src = "/js/directives/venue-map.js")
  script(type = "text/javascript", src = "/js/directives/invitation-wizard.js")
  script(type = "text/javascript", src = "/js/filters.js")
  script(type = "text/javascript", src = "/js/app.js")
  script(type="text/javascript",src="/js/plugins/jquery.tuMap.js")

  //- leaflet marker cluster angular plugin
  //- script(type = "text/javascript", src = "/js/plugins/leaflet.markercluster.js")

  script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-alert.js")
  script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-transition.js")
  script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-carousel.js")
  script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-tooltip.js")
  script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-popover.js")
  script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-scrollspy.js")
  script(type = "text/javascript", src = "/js/plugins/pikaday.jquery.js")
  script(type = "text/javascript",  src = "/js/bootstrap-modal/bootstrap-modalmanager.js")
  script(type = "text/javascript", src = "/js/bootstrap-modal/bootstrap-modal.js")
  script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-dropdown.js")
  //- script(type = "text/javascript", src = "/js/jquery.wembli.js")
  //- script(type = "text/javascript", src = "/js/wembli.js")

//if lt IE 9
  script(type="text/javascript",src="/js/plugins/excanvas.js")
  script(src = "http://html5shim.googlecode.com/svn/trunk/html5.js")

- if ("development" !== environment())
  script(type = "text/javascript", src = "/js/wembli.min.js")

- if ("undefined" !== typeof cssIncludes)
  - each file in cssIncludes
    link(rel = "stylesheet", href = file)

- if ("development" != environment())
  //-
    script(type = "text/javascript")
      var _kmq = _kmq || [];
      function _kms(u) {
        setTimeout(function() {
          var s = document.createElement('script');
          var f = document.getElementsByTagName('script')[0];
          s.type = 'text/javascript';
          s.async = true;
          s.src = u;
          f.parentNode.insertBefore(s, f);
        }, 1);
      }
      _kms('//i.kissmetrics.com/i.js');
      _kms('//doug1izaerwt3.cloudfront.net/93a0d344c13e76907f623cee3af3723ce56f020b.1.js');
- if (typeof req.session.conversions !== "undefined")
  - console.log(req.session.conversions)
  - if (req.session.conversions.signup)
    - req.session.conversions.signup = false;
    script(type="text/javascript")
      var fb_param = {};
      fb_param.pixel_id = '6012473272971';
      fb_param.value = '0.00';
      fb_param.currency = 'USD';
      (function(){
        var fpw = document.createElement('script');
        fpw.async = true;
        fpw.src = '//connect.facebook.net/en_US/fp.js';
        var ref = document.getElementsByTagName('script')[0];
        ref.parentNode.insertBefore(fpw, ref);
      })();
    noscript
      img(height="1",width="1",alt="",style="display:none",src="https://www.facebook.com/offsite_event.php?id=6012473272971&amp;value=0&amp;currency=USD")

    script(type="text/javascript")
      var fb_param = {};
      fb_param.pixel_id = '6012472260371';
      fb_param.value = '0.00';
      fb_param.currency = 'USD';
      (function(){
        var fpw = document.createElement('script');
        fpw.async = true;
        fpw.src = '//connect.facebook.net/en_US/fp.js';
        var ref = document.getElementsByTagName('script')[0];
        ref.parentNode.insertBefore(fpw, ref);
      })();
    noscript
      img(height="1",width="1",alt="",style="display:none",src="https://www.facebook.com/offsite_event.php?id=6012472260371&amp;value=0&amp;currency=USD")
script(type = "text/javascript")
  var _gaq = _gaq || [];
  var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-28081425-1']);
  _gaq.push(['_setDomainName', 'wembli.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
//- var pageId = (typeof page == "undefined") ? 'none' : page;
