block header
	header#header.wembli-header.clearfix(header="#header", scroll="window", ng-controller="HeaderCtrl")
		nav.navbar.navbar-fixed-top.container-fluid(role="navigation")
			.row
				a#menu-toggle.nav-aside-toggle.col-xs-2(href="#",bs-aside="aside", data-container="header", data-placement="left", data-animation="am-fade-and-slide-left", data-template="/partials/left-aside")
					i.pull-left.fa.fa-bars
					.menu-text.pull-left.hidden-xs menu

				//- show for phones
				#page-title.visible-xs.col-xs-8 Wembli

				a#search-toggle.nav-aside-toggle.visible-xs.col-xs-2(href="#",bs-aside="aside", data-container="header", data-placement="right", data-animation="am-fade-and-slide-right", data-template="/partials/right-aside")
					i.fa.fa-search

				//- hide for phones
				.hidden-xs.col-sm-10
					ul.nav.navbar-nav.navbar-left(ng-hide="loggedIn")
						li
							a(href="//#{app.settings.host}.wembli.com/login") login
						li
							a(href="//#{app.settings.host}.wembli.com/signup") signup

					form#header-search-form.navbar-form.navbar-left(role="search", method="GET", action="//#{app.settings.host}.wembli.com/search/events")
						i.fa.fa-search.pull-left(ng-hide="searchInProgress")
						input.pull-left(type="text", name="search", placeholder="Search")

					.navbar-right
						a(href="//#{app.settings.host}.wembli.com/")
							img.img-responsive.logo-35(src="/images/wembli-logo-35.png")

