- var title       = (meta && (typeof meta.TITLE       !== "undefined")) ? meta.TITLE       : 'Live Event Outings - Wembli';
- var description = (meta && (typeof meta.DESCRIPTION !== "undefined")) ? meta.DESCRIPTION : 'Your one stop shop for planning an outing to concerts, theater and sporting events with friends:  Tickets, Parking, Restaurant Deals & Hotels.';
- var canonical   = (meta && (typeof meta.CANONICAL   !== "undefined")) ? meta.CANONICAL   : false;

title #{title}

//- meta tags come from redis
meta(charset="utf-8")
meta(name="description", content="#{description}")
if (canonical)
  link(rel="canonical", href="#{canonical}")

//- favicon
link(type = "image/x-icon", rel = "icon", href = "/favicon.ico")
link(type = "image/png", rel = "icon", href = "/favicon.png")

//- created by less
link(rel='stylesheet', href='/css/style.css')

//if lt IE 9
  script(type="text/javascript",src="/js/plugins/excanvas.js")
  script(src = "http://html5shim.googlecode.com/svn/trunk/html5.js")

//- don't think i use this anymore
//- script(type = "text/javascript", src = "//code.jquery.com/ui/1.9.2/jquery-ui.js")

//- google places api - only load this when its needed
//- script(type="text/javascript", src="//maps.googleapis.com/maps/api/js?v=3.exp&sensor=true&libraries=places")

//-
  - if ("development" === environment())

    //- only load this when needed
    //- script(type="text/javascript",src="/js/lib/balanced/v1/balanced.js")

    //- ticket utils map only load this when needed
    //- script(type="text/javascript",src="/js/plugins/jquery.tuMap.js")
    //- script(type="text/javascript",src="/js/plugins/jquery.tuMap-2.x.js")
    //- script(type="text/javascript",src="/js/plugins/jquery.hammer.min.js")

    //- only needed on plan page
    //- script(type="text/javascript",src="/js/plugins/jquery.multiselect.js")
    //- script(type="text/javascript",src="/js/plugins/jquery.multiselect.filter.js")

    script(type = "text/javascript", src = "/js/lib/angular/angular.min.js")
    script(type = "text/javascript", src = "/js/controllers.js")
    script(type = "text/javascript", src = "/js/services.js")
    script(type = "text/javascript", src = "/js/services/header.js")
    script(type = "text/javascript", src = "/js/directives.js")
    script(type = "text/javascript", src = "/js/directives/header.js")
    script(type = "text/javascript", src = "/js/directives/dashboard.js")
    script(type = "text/javascript", src = "/js/directives/plan.js")
    script(type = "text/javascript", src = "/js/directives/parking-map.js")
    script(type = "text/javascript", src = "/js/directives/restaurants-map.js")
    script(type = "text/javascript", src = "/js/directives/hotels-map.js")
    script(type = "text/javascript", src = "/js/directives/venue-map.js")
    script(type = "text/javascript", src = "/js/directives/invitation-wizard.js")
    script(type = "text/javascript", src = "/js/filters.js")
    script(type = "text/javascript", src = "/js/app.js")



    script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-alert.js")
    script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-transition.js")
    script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-carousel.js")
    script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-tooltip.js")
    script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-popover.js")
    script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-scrollspy.js")
    script(type = "text/javascript", src = "/js/plugins/pikaday.jquery.js")
    script(type = "text/javascript",  src = "/js/bootstrap-modal/bootstrap-modalmanager.js")
    script(type = "text/javascript", src = "/js/bootstrap-modal/bootstrap-modal.js")
    script(type = "text/javascript", src = "/js/twitter-bootstrap/bootstrap-dropdown.js")

//- created by uglifyjs
if ("undefined" !== typeof jsIncludes)
  each file in jsIncludes
    script(type="text/javascript", src="#{file}")

if ("undefined" !== typeof cssIncludes)
  each file in cssIncludes
    link(rel = "stylesheet", href = file)

//- is this used? - yes
- if (typeof req.session.conversions !== "undefined")
  - console.log(req.session.conversions)
  - if (req.session.conversions.signup)
    - req.session.conversions.signup = false;
    script(type="text/javascript")
      var fb_param = {};
      fb_param.pixel_id = '6012473272971';
      fb_param.value = '0.00';
      fb_param.currency = 'USD';
      (function(){
        var fpw = document.createElement('script');
        fpw.async = true;
        fpw.src = '//connect.facebook.net/en_US/fp.js';
        var ref = document.getElementsByTagName('script')[0];
        ref.parentNode.insertBefore(fpw, ref);
      })();
    noscript
      img(height="1",width="1",alt="",style="display:none",src="https://www.facebook.com/offsite_event.php?id=6012473272971&amp;value=0&amp;currency=USD")

    script(type="text/javascript")
      var fb_param = {};
      fb_param.pixel_id = '6012472260371';
      fb_param.value = '0.00';
      fb_param.currency = 'USD';
      (function(){
        var fpw = document.createElement('script');
        fpw.async = true;
        fpw.src = '//connect.facebook.net/en_US/fp.js';
        var ref = document.getElementsByTagName('script')[0];
        ref.parentNode.insertBefore(fpw, ref);
      })();
    noscript
      img(height="1",width="1",alt="",style="display:none",src="https://www.facebook.com/offsite_event.php?id=6012472260371&amp;value=0&amp;currency=USD")

//- google analytics
script(type = "text/javascript")
  var _gaq = _gaq || [];
  var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-28081425-1']);
  _gaq.push(['_setDomainName', 'wembli.com']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script');
    ga.type = 'text/javascript';
    ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ga, s);
  })();
