block header
	#slidepanel.cb_slide_panel
		.wrapper.clearfix
			.controls.pull-right.close
				i.icon-chevron-left
				i.icon-chevron-left
		.sign-up(ng-hide="loggedIn")
			a.btn.btn-secondary.btn-large(href="/signup")
				strong sign up
		.log-out(ng-show="loggedIn")
			a.btn.btn-secondary.btn-large(href="/logout", target="_self")
				strong log out
		ul.side-nav
			li
				a(href="http://www.wembli.com/") home
			li(ng-show="loggedIn && plan")
				a(href="http://www.wembli.com/plan") current plan
			li
				a(href="http://www.wembli.com/about-us") about us
			li
				a(href="http://blog.wembli.com/", target="_self") blog
			li
				a(href="mailto:team@wembli.com") contact us
			li.hide
				a(href="http://www.wembli.com/press") press
			li.hide
				a(href="http://www.wembli.com/jobs") jobs

	header#header.clearfix(ng-controller="HeaderCtrl")
		a.slidepanel.left-container.pull-left.clearfix(href="#",data-slidepanel="panel")
			i.icon-reorder
			span &nbsp;menu
		.middle-container.pull-left.clearfix(ng-hide="loggedIn")
			.login.pull-left
				a(href="http://www.wembli.com/login") login
			.signup.pull-left
				a(href="http://www.wembli.com/signup") signup
		.middle-container.pull-left.clearfix(ng-show="loggedIn && !hideHeaderSearch")
			.header-search.pull-left
				form#header-search-form.form-search.clearfix(ng-submit="submitSearch()", method="GET", action="/search/events")
					i.icon-search.pull-left(ng-hide="searchInProgress")
					i.icon-cog.icon-spin.pull-left(ng-show="searchInProgress")
					input.pull-left(type="text", ng-model="search", name="search", placeholder="")
			//- .login.pull-left
				a(href="http://www.wembli.com/logout") logout
		.right-container.pull-right
			a.logo-35(href="http://www.wembli.com/index")
				h1 Wembli
