#hotels-frame(ng-controller="HotelsCtrl")
	#map-background
		#hotels-map-container.hotels-map.map-container(lat="#{lat}",lng="#{lon}",zoom="15",draggable="true",map-type-id="ROADMAP")
	#hotels.addons-list.pull-right
		.event-data(ng-cloak, event-id="{{eventId}}",direction="1")
		.event-social-links
		- console.log('plan prefs in hotels list');
		- console.log(req.session.plan.preferences);
		- if (req.session.plan.preferences.payment === 'split-first')
			include hotels/read-only
		- else
			//- include hotels/buy-now
		.no-results
			.notify-email(ng-show="notFound",add-on="hotels")
				.collect-email(ng-hide="emailCollected")
					p Hey! This feature is coming up right around the corner! Enter your email below and we'll notify you as soon as it's ready.
					fieldset
						input#email(ng-model="notifyEmail")
					button.btn.btn-primary.pull-right(ng-click="collectEmail()") Notify Me!
				.collected-email(ng-show="emailCollected")
					p OK! We'll let you know if any hotels become available!
