#index-frame(ng-controller="IndexCtrl")
	section.section1.carousel-container
		#carousel.carousel.slide
			ol.carousel-indicators
				li.active(data-target="#carousel",data-slide-to="0")
				li(data-target="#carousel",data-slide-to="1")
				li(data-target="#carousel",data-slide-to="2")
				li(data-target="#carousel",data-slide-to="3")
				li(data-target="#carousel",data-slide-to="4")
			.carousel-inner
				//-
					.item.active
						img(src="/images/carousel/carousel-1.jpg")
					.item.active
						img(src="/images/carousel/carousel-2.jpg")
				.item.active
					img(src="/images/carousel/carousel-3.jpg")
				.item
					img(src="/images/carousel/carousel-4.jpg")
				.item
					img(src="/images/carousel/carousel-5.jpg")
				.item
					img(src="/images/carousel/carousel-6.jpg")
				.item
					img(src="/images/carousel/carousel-7.jpg")
			//- a.carousel-control.left.icon-chevron-sign-left.icon-3x(href="#carousel",data-slide="prev")
			//- a.carousel-control.right.icon-chevron-sign-right.icon-3x(href="#carousel",data-slide="next")
	section.section2
		.container
			.tag-line
				p GOING TO LIVE EVENTS WITH FRIENDS IS AMAZING
				p GETTING STUCK WITH THE BILL IS NOT.
				a(href="/search").clearfix
					.meet-wembli.pull-right MEET WEMBLI.
			.click
				.click-text.segoe Click!
			.video-container.clearfix
				.video-text.pull-left
					p Love going to live events with friends but hate to plan it lest you end up getting stuck with the bill...AGAIN?
					p Instead of creating an Evite or Facebook event, visiting dozens of ticketing sites, scouring for big bargains on good eats, driving around in circles for parking, or the pain of all pains - trying to get friends to pony up for their part of the bill - we bring all of those pieces together for you in a snap!
				.video.pull-left
					iframe(width="480",height="360",src="//www.youtube.com/embed/kgtNax8p5og",frameborder="0",allowfullscreen)
	section.section3
		h1.calibri TOP SELLING EVENTS THIS WEEK
		.container.clearfix
			.top-events-arrow
			.left.pull-left
				h2 Top 10 Concerts:
				.list
			.middle.pull-left
				h2 Top 10 Sporting Events:
				.list
			.right.pull-left
				h2 Top 10 Theater Events:
				.list
	section.section4
		.container.clearfix
			.left.pull-left
			.right.pull-left
	section.section5
		.container
			.footer-column.pull-left
				h4 TICKETS
				.list
			.footer-column.pull-left
				h4 IN YOUR AREA
				.list
			.footer-column.pull-left
				h4 TRENDING NOW
				.list
			.footer-column.pull-left
				h4 ABOUT WEMBLI
				.list
