//- console.log(req.url)
//- angularjs directives to get modals for appropriate page
#page-loading-modal.modal.hide
	.modal-header
		h2 {{pageLoadingModal.header}}
	.modal-body
		p {{pageLoadingModal.body}}
	.modal-footer
		.progress.progress-striped.active
			.bar(style="width:100%")
loading-modal
	#generic-loading-modal.modal.hide
		.modal-header
			h2 {{loadingModal.title}}
		.modal-body(ng-show="loadingModal.body")
			p {{loadingModal.body}}
		.modal-footer
			.progress.progress-striped.active
				.bar(style="width:100%")
