#no-event.animate-in
	#no-event-background
		#no-event-container
			h3 FIND SOMETHING TO DO WITH YOUR FRIENDS
			#search-box
				form#search-form.form-search(method="GET", action="/search")
					input#query(name="search",placeholder="Enter an event, team, city or venue...")
					button#submit(href="#")
						#magnifying-glass
			.architect Hold on speedster - You need to choose an event before you can start planning! Once you choose an event, you can use WEMbli to find tickets, parking, restaurant deals and hotels.  Plan your next live event outing all in one place using WEMbli!
			a(href="/faq") Need some help? Click here to get more info about WEMbli
		h3#no-event-arrow-text SEARCH
