#parking-offsite.add-on-offsite.slide-in-down(ng-show="buyParkingOffsite")
	.buy-offsite-header.slide-in-down-header
		a(href="#")
			i.fa.fa-times.fa-2x(ng-click="removeParking()").pull-right
		h2.modal-title Parking Purchase For {{plan.event.eventName}}
		h4.modal-subtitle Before we take you to your planning dashboard we need to know:

	form#parking-offsite-form.form-inline.buy-offsite-body.slide-in-down-body(name="parking-offsite-form")
		.row
			.col-md-6.col-xs-12
				.row
					.col-xs-12
						h3 Yes, I bought my parking!
				.row
					.col-xs-12
						.form-group
							span I just bought&nbsp;
							input#qty.form-control(type="text",ng-model="currentParking.selectedQty",name="selectedQty", type="number")
							span &nbsp;{{currentParking.selectedQty | pluralize:'spot'}} for a total of&nbsp;
						.form-group
							#amount-paid-input-group.input-group
								span.input-group-addon $
								input#amount-paid.form-control(type="text",name="amount_paid",ng-model="currentParking.amountPaid")
								span .
				.row
					.col-xs-12.form-group
						label#confirm-price-qty-container
							input#confirm-price-qty.hide.form-control(name="confirmPriceQty",type="checkbox",ng-model="confirmPriceQty")
							i.fa.fa-check-square-o(ng-show="confirmPriceQty")
							i.fa.fa-square-o(ng-hide="confirmPriceQty")
							span Check this box if its correct. Otherwise, please update the info above.
				.row
					.col-xs-12
						.alert.alert-danger(ng-show="confirmErr") Please confirm that the amounts are correct and the checkbox is checked before continuing.
			.col-sm-6.middle-option.hidden-xs
				.row
					.col-xs-12
						h3 No, show me somethin' else...
					.col-xs-12
						p.option-body I decided not to buy those spots. Show me other options.
		.row.actions
			.col-xs-6
				button#bought-parking-button.btn.btn-primary.btn-sm.form-control(ng-click="boughtParking()") Continue
			.col-xs-6
				button.btn.btn-danger.btn-sm.form-control(ng-click="removeParking()") Cancel

