#parking-frame(ng-controller="ParkingCtrl")
	#map-background
		#parking-map-container.parking-map.map-container(lat="#{lat}",lng="#{lon}",zoom="13",draggable="true",map-type-id="ROADMAP")
	#parking.addons-list.pull-right
		.event-data(ng-cloak, event-id="{{eventId}}",direction="1")
		.event-social-links
		.continue-controls
			a.btn.btn-orange.btn-large(ng-hide="backToPlan",href="{{eventOptionsLink}}",direction="1") Continue to Invite Friends
			a.btn.btn-orange.btn-large(ng-show="backToPlan",href="/plan#section3",direction="1") Back To The Plan

		- if (typeof parkingPurchased[0] !== "undefined")
			include parking/purchased-parking
		- else
			//- plan says split first
			- if (req.session.plan.preferences.payment === 'split-first')
				//- plan says split first but parking is split after (override)
				- if (req.session.plan.preferences.parking.payment === 'split-after')
					include parking/buy-now
				- else
					//- supposed to split first check if rsvp is complete
					- if (req.session.plan.rsvpComplete)
						//- add to plan but don't buy
						include parking/add-to-plan
					- else
						//- split first and rsvp is not complete
						include parking/read-only
			- else if (req.session.plan.preferences.payment === 'split-after')
				//- plan says split first but parking is split after (override)
				- if (req.session.plan.preferences.parking.payment === 'split-first')
					//- supposed to split first check if rsvp is complete
					- if (req.session.plan.rsvpComplete)
						//- add to plan but don't buy
						include parking/add-to-plan
					- else
						//- split first and rsvp is not complete
						include parking/read-only
				- else if (req.session.plan.preferences.parking.payment === 'split-after')
					include parking/buy-now
			- else
				include parking/buy-now
			.no-results
				.notify-email(ng-show="notFound",type="parking")
					.collect-email(ng-hide="emailCollected")
						p Aww shucks! We haven't got any parking listings to show you.  Enter your email below if you'd like to be notified when parking becomes available.
						fieldset
							input#email
						button.btn.btn-primary.pull-right(ng-click="collectEmail()") Notify Me!
					.collected-email(ng-show="emailCollected")
						p OK! We'll let you know if any parking spots become available!
