- var nav = planNav(req.session.visitor.context, req.session.plan.preferences.payment)
#plan-frame.init-plan-nav.clearfix(sections="#{nav.length}")
	#left.affix
		plan-nav
	#middle.plan-dashboard
		- if (req.session.visitor.context === 'organizer')
			#plan-dashboard.organizer-plan-dashboard
				//- no split has no pony up
				- console.log('plan payment preference: '+ req.session.plan.preferences.payment)
				- if (req.session.plan.preferences.payment === 'no-split')
					organizer-itinerary-section
					organizer-rsvp-section
					organizer-cart-section
					section#section4.organizer-chatter-section.chatter-section.plan-section
						.header
							h1.pull-left Chatter
						.body
							h3 Use this space to comment and share conversations about your upcoming event!
							plan-chatter
				- else
					organizer-itinerary-section
					organizer-rsvp-section
					organizer-cart-section
					organizer-pony-up-section
					section#section5.organizer-chatter-section.chatter-section.plan-section
						.header
							h1.pull-left Chatter
						.body
							h3 Use this space to comment and share conversations about your upcoming event!
							plan-chatter
		- if (req.session.visitor.context === 'friend')
			#plan-dashboard.friend-plan-dashboard
				- if (req.session.plan.preferences.payment === 'no-split')
					friend-itinerary-section
					friend-rsvp-section
					friend-vote-section
					friend-invitees-section
					section#section5.friend-chatter-section.chatter-section.plan-section.even
						.header
							h1.pull-left Chatter
						.body
							h3 Use this space to comment and share conversations about your upcoming event!
							plan-chatter
				- else
					friend-itinerary-section
					friend-rsvp-section
					friend-vote-section
					friend-invitees-section
					friend-pony-up-section
					section#section6.friend-chatter-section.chatter-section.plan-section.even
						.header
							h1.pull-left Chatter
						.body
							h3 Use this space to comment and share conversations about your upcoming event!
							plan-chatter
