- var qty = ticket.TicketQuantity
- if (typeof ticket.selectedQty != "undefined") 
	- qty = ticket.selectedQty
- var qtyStr = qty
- qtyStr += (parseInt(qty) > 1) ? " tickets " : " ticket "
//- span.ticket-quantity!= qtyStr 
span.ticket-price(style="margin-top:8px;")!= '$'+ticket.ActualPrice
span (each)
