#dashboard
	#dashboard-header
		.welcome-message.helvetica.pull-left {{welcomeMessage}}
		a#start-now.pull-right.btn.btn-primary.btn-large.segoe.wembli-sequence-link(href="/search")
			span START A NEW PLAN&nbsp;
			i.icon-double-angle-right
	#dashboard-body
		.dashboard-row
			a#planning.btn.dashboard-button(href="#planning-modal",data-toggle="modal")
				h3 Events You're Planning
				i.icon-beaker.icon-4x
			a#invited.btn.dashboard-button(href="#invited-modal",data-toggle="modal")
				h3 Events You're Invited To
				i.icon-group.icon-4x
		.dashboard-row
			a#contacts.btn.dashboard-button(href="#contacts-modal",data-toggle="modal")
				h3 Your Little Black Book
				i.icon-book.icon-4x
			a#archive.btn.dashboard-button(href="#archive-modal",data-toggle="modal")
				h3 Past Events
				i.icon-list-alt.icon-4x
