#dashboard
	#dashboard-header
		.dropdown.pull-left
			a.toggle-selected.dropdown-toggle(data-toggle="dropdown", role="button",href="#")
				.cog-wrapper.pull-left
					i.icon-cog.icon-2x
				.welcome-message.helvetica.pull-left {{welcomeMessage}}
				.caret-wrapper.pull-left
					i.icon-caret-down
			ul.dropdown-menu(role="menu")
				li
					a.dashboard-link(href="#dashboard") Dashboard
					a.dashboard-link(href="#settings") Account Settings
					//- a.dashboard-link(href="#preferences") Plan Preferences
					a.dashboard-link(href="#payment-information") Payment Information
					a(href="/logout", ng-click="facebook.logout()") Log out

		.start-now.pull-right
			a#start-now.pull-left.btn.btn-primary.btn-large.segoe.wembli-sequence-link(href="/search")
				span START A NEW PLAN&nbsp;
				i.icon-double-angle-right
	#dashboard-body(ng-show="showDashboard")
		.alert(ng-show="needPaymentInfo")
			div You must provide payment information if you want to be paid back.
			a.dashboard-link(href="#payment-information") Click here to provide payment information.
		.dashboard-row
			a#planning.btn.dashboard-button(href="#planning-modal",data-toggle="modal")
				h3 Events You're Planning
				i.icon-beaker.icon-3x
			a#invited.btn.dashboard-button(href="#invited-modal",data-toggle="modal")
				h3 Events You're Invited To
				i.icon-group.icon-3x
		.dashboard-row
			a#contacts.btn.dashboard-button(href="#contacts-modal",data-toggle="modal")
				h3 Your Little Black Book
				i.icon-book.icon-3x
			a#archive.btn.dashboard-button(href="#archive-modal",data-toggle="modal")
				h3 Past Events
				i.icon-list-alt.icon-3x
	#settings.settings(ng-show="showSettings")
		#settings-wrapper
			h3 Account Settings
			#change-password.change-password
				form#change-password-form(novalidate, name="changePasswordForm")
					fieldset
						#error
							.error-text(ng-show="changePasswordForm.mismatch") Doh! Your passwords don't match
							.error-text(ng-show="changePasswordForm.tooShort") Doh! Your password must be at least 4 characters.
						#success
							.success-text(ng-show="changePasswordForm.success") Yes! You successfully changed your password.
						#password-group.control-group
							input(ng-model="changePassword.password",placeholder="NEW PASSWORD", type="password",value="",name="password",required)
						.control-group
							input(ng-model="changePassword.password2",placeholder="CONFIRM NEW PASSWORD", type="password",value="",name="password2",required)
					button.btn.btn-primary(ng-click="changePassword()") Change Password
	#preferences.preferences(ng-show="showPreferences") preferences

	#payment-information.payment-information(ng-show="showPaymentInformation")
		.payment-information-wrapper(ng-show="customer.balancedAPI.customerAccount")
			#view-customer-account
				.header.clearfix
					//- might want this to be the customer.name
					h3.pull-left Account Holder: {{customer.balancedAPI.customerAccount.name}}
					a.btn.btn-mini.pull-right.update-customer-info-button(href="#edit-customer-account",data-toggle="modal") Edit
				.body
					p Address: {{customer.balancedAPI.customerAccount.address.line1}}, {{customer.balancedAPI.customerAccount.address.city}}, {{customer.balancedAPI.customerAccount.address.state}} {{customer.balancedAPI.customerAccount.address.postal_code}}
					p Phone: {{customer.balancedAPI.customerAccount.phone}}
					p Birth Month: {{customer.balancedAPI.customerAccount.dob}}
					.bank-accounts(ng-show="customer.balancedAPI.customerAccount.bank_accounts")
						.body-header.clearfix
							h4.pull-left Bank Accounts:
						.no-bank-account(ng-show="noValidBankAccounts")
							.alert.alert-info.clearfix
								p You do not currently have a bank account associated with your wembli account.
								p If you want to be able to collect money from friends, please provide your bank account information.
								a.btn.btn-primary.btn-small.pull-right(href="#add-bank-account",data-toggle="modal") Add Account
						.bank-account(ng-show="ba.is_valid",ng-repeat="ba in customer.balancedAPI.customerAccount.bank_accounts.items")
							.row
								.name.pull-left {{customer.balancedAPI.customerAccount.bank_accounts.items[0].name}} - {{ba.type}} ({{ba.bank_name}})
								.account-number.pull-right {{ba.account_number}}
							.row
								.status-valid.green.pull-left(ng-show="ba.is_valid")
									i.icon-ok-sign
										span APPROVED
							.row
								a.btn.btn-mini.btn-danger.pull-right.delete-bank-account-button(uri="{{ba.uri}}",href="#delete-bank-account",data-toggle="modal") Delete
		.payment-information-wrapper(ng-hide="customer.balancedAPI.customerAccount")
			#new-merchant-account
				.alert.alert-info.clearfix
					.pull-left Wembli is 100% safe and secure. In order to collect money from your friends, you will need to provide your bank account information.
					a.btn.btn-info.btn-small.pull-right(href="#pony-up-info",data-toggle="modal") Learn More
				form#create-merchant-account-form.form-horizontal(novalidate, name="createMerchantAccountForm")
					fieldset
						#error
							.error-text(ng-show="createMerchantAccount.error") {{createMerchantAccount.error}}
						legend Account Holder Information:
						.control-group
							label.control-label Full Name
							.controls
								input(ng-model="createMerchantAccount.accountHolderName",value="",placeholder="Account Holder Name",name="accountHolderName",required)
						.control-group
							label.control-label Date Of Birth
							.controls
								input(ng-model="createMerchantAccount.dob",value="",placeholder="MM-DD-YYYY",name="dob",required)
						.control-group
							label.control-label Phone Number
							.controls
								input(ng-model="createMerchantAccount.phoneNumber", value="",name="phoneNumber", placeholder="Phone Number",required)
						.control-group
							label.control-label Street Address
							.controls
								input(ng-model="createMerchantAccount.streetAddress", value="",name="streetAddress", placeholder="Street Address",required)
						.control-group
							label.control-label Postal Code
							.controls
								input(ng-model="createMerchantAccount.postalCode", value="",name="postalCode", placeholder="Postal Code",required)
						legend Bank Account Information:
						.control-group
							label.control-label Account Name
							.controls
								input(ng-model="createMerchantAccount.accountName", name="accountName", placeholder="Account Name",required)
						.control-group
							label.control-label Routing Number
							.controls
								input(ng-model="createMerchantAccount.routingNumber", name="routingNumber", placeholder="Routing Number",required)
						.control-group
							label.control-label Account Number
							.controls
								input(ng-model="createMerchantAccount.accountNumber", name="accountNumber", placeholder="Account Number",required)
						.control-group
							label.control-label Account Type
							.controls
								span.nullable
									select(ng-model="createMerchantAccount.accountType",name="accountType",required)
										option(value="") Select Account Type
										option(value="checking") CHECKING
										option(value="savings") SAVINGS
						.control-group
							.controls
								button.btn.btn-primary(ng-click="createMerchantAccount()") Create Account



