#dashboard
	#dashboard-header
		.dropdown.pull-left
			a.toggle-selected.dropdown-toggle(data-toggle="dropdown", role="button",href="#")
				i.icon-cog.icon-2x
				span.welcome-message.helvetica {{welcomeMessage}}
				i.icon-caret-down
			ul.dropdown-menu(role="menu")
				li
					a(href="#") Profile Settings
					a(href="#") Plan Preferences
					a(href="#") Payment Information
					a(href="/logout", ng-click="facebook.logout()") Log out

		.pull-right
			a#start-now.pull-left.btn.btn-primary.btn-large.segoe.wembli-sequence-link(href="/search")
				span START A NEW PLAN&nbsp;
				i.icon-double-angle-right
	#dashboard-body
		.alert.hide
			span You must provide payment information if you want to be paid back.
			a(href="#") Click here to provide payment information.
		.dashboard-row
			a#planning.btn.dashboard-button(href="#planning-modal",data-toggle="modal")
				h3 Events You're Planning
				i.icon-beaker.icon-3x
			a#invited.btn.dashboard-button(href="#invited-modal",data-toggle="modal")
				h3 Events You're Invited To
				i.icon-group.icon-3x
		.dashboard-row
			a#contacts.btn.dashboard-button(href="#contacts-modal",data-toggle="modal")
				h3 Your Little Black Book
				i.icon-book.icon-3x
			a#archive.btn.dashboard-button(href="#archive-modal",data-toggle="modal")
				h3 Past Events
				i.icon-list-alt.icon-3x
