- var lastSearch = req.session.lastSearch ? req.session.lastSearch : '';
.event-date-box.pull-left(ng-cloak)
	span.day {{event.eventDate| date:'EEE'}}
	span.event-date {{event.eventDate| date:'MMM d'}}
	span.time {{event.eventDate| date:'h:mm a'}}
.info(ng-cloak)
	span.name.block {{event.eventName}}
	span.venue.block {{ event.eventVenue || event.eventVenue }}
		span.location.block {{event.eventCity+', '+event.eventState}}
	- if (req.session.visitor.context === 'organizer')
		span.change-event.block.pull-left
			a#change-event.wembli-sequence-link(href="/search?search=#{lastSearch}") Change Event
		span.block.pull-left &nbsp;-&nbsp;
		span.change-event.block.pull-left
			a#event-options.wembli-sequence-link(href="/event/#{req.session.eventId}/#{req.session.eventName}") Event Options

