#interactive-venue-map(ng-controller="VenueMapCtrl")
	#map-background
		#map-container
		//- #groups-container
	#tickets.pull-right
		.event-data(ng-cloak, event-id="{{eventId}}",direction="1")
		.event-social-links
		- console.log('context is '+visitor.context+' and preferences is '+plan.preferences.payment)
		- if (plan.preferences.payment === 'split-first')
			- if (visitor.context === "organizer")
				include interactive-venue-map/organizer-read-only
			- if (visitor.context === "friend")
				include interactive-venue-map/friend-read-only
		- else
			- if (visitor.context === "organizer")
				include interactive-venue-map/organizer-buy-now
			- if (visitor.context === "friend")
				include interactive-venue-map/friend-read-only

