- plan = req.session.plan
#interactive-venue-map.clearfix(ng-controller="VenueMapCtrl")
	- console.log('visitor context: '+visitor.context)
	- var include = 'buy-now';

	//- if they already have tickets in the plan, just display the tickets
	- if (typeof ticketsPurchased[0] !== "undefined")
		- include = 'purchased-tickets'
		- header = 'Your Tickets'
	- else
		- var split = 'split-first';
		- if (typeof plan.preferences.tickets.payment !== "undefined")
			- split = plan.preferences.tickets.payment;
		- else
			- split = plan.preferences.payment;
		- if (visitor.context === 'organizer')
			- if (split === 'split-first')
				- if (!plan.rsvpComplete)
					- include = 'invite-friends'
					- header = "See What's Available Then Invite Friends";
				- else
					- include = 'add-to-plan'
					- header = "Add Tickets To Your Cart"
			- else
				- include = 'buy-now'
				- header = "Choose Tickets To Buy"
		- else if(visitor.context === 'friend')
			- header = "See What Tickets Are Available";
			- include = 'read-only'
		- else
			- header = "See What Tickets Are Available";
			- include = 'invite-friends'
	section
		.header.clearfix
			h1.pull-left #{header}
		.sub-header
			span.blue &nbsp;{{plan.event.eventName}}
			span &nbsp;on {{getDate(plan.event.eventDate)| date:'EEEE, MMMM d, y - h:mm a'}}
			span &nbsp;at {{plan.event.eventVenue}}&nbsp;
	#map-background
		#venue-map-container
		//- #groups-container
	#tickets.addons-list.pull-right
		- if (include == 'purchased-tickets')
			include interactive-venue-map/tickets/purchased-tickets
		- if (include == 'invite-friends')
			include interactive-venue-map/tickets/invite-friends
		- if (include == 'add-to-plan')
			include interactive-venue-map/tickets/add-to-plan
		- if (include == 'buy-now')
			include interactive-venue-map/tickets/buy-now
		- if (include == 'read-only')
			include interactive-venue-map/tickets/read-only
		.no-results
			.notify-email(ng-show="notFound",type="tickets")
				.collect-email(ng-hide="emailCollected")
					p Aww shucks! We haven't got any parking listings to show you.  Enter your email below if you'd like to be notified when parking becomes available.
					fieldset
						input#email
					button.btn.btn-primary.pull-right(ng-click="collectEmail()") Notify Me!
				.collected-email(ng-show="emailCollected")
					p OK! We'll let you know if any parking spots become available!	#tickets.addons-list.pull-right



