#interactive-venue-map(ng-controller="VenueMapCtrl")
	#map-background
		#map-container
		//- #groups-container
	#tickets.pull-right
		.event-data(ng-cloak, event-id="{{eventId}}",direction="1")
		.event-social-links
		- if (plan.preferences.payment === 'group')
			include interactive-venue-map/group
		- else
			include interactive-venue-map/self

