- plan = req.session.plan
#interactive-venue-map.clearfix(ng-controller="VenueMapCtrl")
	- console.log('visitor context: '+visitor.context)
	- var include = 'buy-now';

	//- if they already have tickets in the plan, just display the tickets
	- if (typeof ticketsPurchased[0] !== "undefined")
		- include = 'purchased-tickets'
		- header = 'Your Tickets'
	- else
		- var split = 'split-first';
		- if (typeof plan.preferences.tickets.payment !== "undefined")
			- split = plan.preferences.tickets.payment;
		- else
			- split = plan.preferences.payment;

		- if (visitor.context === 'organizer')
			- console.log('SPLIT: '+split);
			- if (split === 'split-first')
				- if (!plan.rsvpComplete)
					//- TODO - if they have friends invited - give them a read only list of tix
					- include = 'invite-friends'
					- header = "See What's Available Then Invite Friends";
				- else
					- include = 'add-to-plan'
					- header = "Add Tickets To Your Cart"
			- else
				- include = 'buy-now'
				- header = "Choose Tickets To Buy"
		- else if(visitor.context === 'friend')
			- console.log('visitor context is friend - SPLIT: '+split);
			- header = "See What Tickets Are Available";
			- include = 'read-only'
		- else
			- console.log('visitor context is not friend or organizer - SPLIT: '+split);
			- header = "See What Tickets Are Available";
			- include = 'invite-friends'
	section
		.header.clearfix
			h1.pull-left #{header}
		.sub-header
			span.blue &nbsp;{{plan.event.eventName}}
			span &nbsp;on {{getDate(plan.event.eventDate)| date:'EEEE, MMMM d, y - h:mm a'}}
			span &nbsp;at {{plan.event.eventVenue}}&nbsp;
	#map-background
		#venue-map-container
			#static-map-image.hide(ng-mouseover="showTicketsPopover=true") Foo
		- if (include == 'invite-friends')
			#static-popover-content.hide(ng-mouseover="showTicketsPopover=true")
				.tickets-popover-arrow
				#tickets-popover-filters.filter-container.clearfix
					.qty-filter.pull-left
						strong Qty:
						select.quantity-filter
							option --
							option(value="1") 1
							option(value="2") 2
							option(value="3") 3
							option(value="4") 4
							option(value="5") 5+
					.price-filter.pull-right
						p
							label(for="amount") Price range:
							input.amount(type="text")
						#tickets-popover-price-slider.price-slider
				#tickets-popover-header-container.ticket-list-header-container.list-header-container
					a.qty-header(href="#",ng-click="predicate='maxSplit';reverse=!reverse;") Qty
					a.section-header(href="#",ng-click="predicate='Section';reverse=!reverse;") Section
					a.price-header(href="#",ng-click="predicate='ActualPrice';reverse=!reverse;") Price
				ul#tickets-popover-container.ticket-list-container.list-container
					li.ticket-row.row(ng-repeat="ticket in tickets | sortNumeric:predicate:reverse")
						.ticket-price.hide
							.actual-price ${{ticket.ActualPrice}}
						.ticket-section.hide {{ticket.Section}}
						.seat-row.hide {{ticket.Row}}
						.bottom.clearfix
							.qty.pull-left
								strong
									span.max-seats-together up to {{ticket.maxSplit}}&nbsp;
									br
									span.end {{ticket.maxSplit | pluralize:'seat'}} together
								.ticket-quantity.hide(ng-repeat="split in ticket.ValidSplits.int") {{split}}
							.ticket-info.pull-left
								.seats
									div
										strong Section:&nbsp;
										span {{ticket.Section}}&nbsp;
									div
										strong Row:&nbsp;
										span {{ticket.Row}}&nbsp;
									div
										strong Seats:&nbsp;
										span(ng-show="{'\*':true}[ticket.LowSeat]") *
										span(ng-hide="{'\*':true}[ticket.LowSeat]") {{ticket.LowSeat}} - {{ticket.HighSeat}}
							.price.pull-left
								.value ${{ticket.ActualPrice}}
								.header per ticket



		//- #groups-container
	#tickets.addons-list.pull-right
		- if (include == 'purchased-tickets')
			include interactive-venue-map/tickets/purchased-tickets
		- if (include == 'invite-friends')
			include interactive-venue-map/tickets/invite-friends
		- if (include == 'add-to-plan')
			include interactive-venue-map/tickets/add-to-plan
		- if (include == 'buy-now')
			include interactive-venue-map/tickets/buy-now
		- if (include == 'read-only')
			include interactive-venue-map/tickets/read-only
		.no-results
			.notify-email(ng-show="notFound",type="tickets")
				.collect-email(ng-hide="emailCollected")
					p Aww shucks! We haven't got any ticket listings to show you.  Enter your email below if you'd like to be notified when tickets become available.
					fieldset
						input#email
					button.btn.btn-primary.pull-right(ng-click="collectEmail()") Notify Me!
				.collected-email(ng-show="emailCollected")
					p OK! We'll let you know if any parking spots become available!	#tickets.addons-list.pull-right
				.back-to-search
					a(href="/search") << Perform a new search


