#interactive-venue-map(ng-controller="VenueMapCtrl")
	#map-background
		#map-container
		//- #groups-container
	#tickets.pull-right
		.event-data(ng-cloak, event-id="{{eventId}}",direction="1")
		.event-social-links
		- console.log('plan prefs in interactive venuemap');
		- console.log(plan.preferences);
		- if (plan.preferences.groupPayment === 'never')
			include interactive-venue-map/self
		- else
			include interactive-venue-map/group

