- plan = req.session.plan
#interactive-venue-map(ng-controller="VenueMapCtrl")
	- var include = 'buy-now';
	- if (visitor.context === 'organizer')
		- if (plan.preferences.payment === 'split-first')
			- if (!plan.rsvpComplete)
				- include = 'invite-friends'
				- header = "See What's Available Then Invite Friends";
			- else
				- include = 'add-to-plan'
				- header = "Add Tickets To Your Cart"
		- else
			- include = 'buy-now'
			- header = "Choose Tickets To Buy"
	- else
		- include = 'invite-friends'
		- header = "See What Tickets Are Available";
	section.clearfix
		.header
			h1.pull-left #{header}
		.sub-header
			span.orange &nbsp;{{plan.event.eventName}}
			span &nbsp;on {{getDate(plan.event.eventDate)| date:'EEEE, MMMM d, y - h:mm a'}}
			span &nbsp;at {{plan.event.eventVenue}}&nbsp;
	#map-background
		#venue-map-container
		#groups-container
	#tickets.pull-right
		- if (include == 'invite-friends')
			include interactive-venue-map/tickets/invite-friends
		- if (include == 'add-to-plan')
			include interactive-venue-map/tickets/add-to-plan
		- if (include == 'buy-now')
			include interactive-venue-map/tickets/buy-now



