#payment-type-modal.modal.hide(ng-controller="PaymentTypeModalCtrl")
	#payment-type
		.modal-header
			h2 {{eventName}}
		.modal-body
			p Share the cost with your friends or pay for it all on your own?
			form#payment-type-form(name="payment-type-form")
				label.radio
					input#option-split-first(ng-model="paymentType",type="radio",name="payment_type",value="split-first",ng-init="paymentType='split-first'")
					.option-content
						h3 Everyone Pays Up Front
						p Tired of getting stuck with the bill? Breathe easy, just pick an event, invite friends, and have them pony up before shelling out any cash.
				label.radio
					input#option-split-after(ng-model="paymentType",type="radio",name="payment_type",value="split-after")
					.option-content
						h3 I'll Pay First, Then Collect Later
						p Want to guarantee you all get seats together?  Buy the tickets now then use Wembli to split the bill later. Better safe than sitting solo!
				label.radio
					input#option-no-split(ng-model="paymentType", type="radio",name="payment_type",value="no-split")
					.option-content
						h3 I Want To Buy Tickets Now
						p Search for your event, buy your tickets and you're on your way!
		.modal-footer
			button.btn.btn-primary.btn-large(ng-hide="submitInProgress", ng-click="startPlan()")
				span(ng-show="{'split-first':true}[paymentType]") Invite Friends!&nbsp;
				span(ng-show="{'split-after':true}[paymentType]") See Tickets!&nbsp;
				span(ng-show="{'no-split':true}[paymentType]") See Tickets!&nbsp;
			button.btn.btn-primary.btn-large.mute(ng-disabled="submitInProgress", ng-show="submitInProgress",ng-click="startPlan()")
				.icon.icon-cog.icon-spin.pull-left
				span(ng-show="{'split-first':true}[paymentType]") Invite Friends!&nbsp;
				span(ng-show="{'split-after':true}[paymentType]") See Tickets!&nbsp;
				span(ng-show="{'no-split':true}[paymentType]") See Tickets!&nbsp;
