.aside(tabindex="-1", role="dialog")
	.aside-dialog
		.aside-content.clearfix
			button.close.pull-left(type="button", ng-click="$hide()") &times;
		.aside-body
			form#header-search-form.navbar-form.navbar-left.clearfix(role="search", method="GET", action="//#{app.settings.host}.wembli.com/search/events")
				i.fa.fa-search.pull-left(ng-hide="searchInProgress")
				input.pull-left(type="text", name="search", placeholder="Search")
		.aside-footer
			button.btn.btn-warning(type="button", ng-click="$hide()") Close
