#tickets-offsite-modal.modal.hide
	#tickets-offsite
		.modal-header
			h2 How'd It Go?
		.modal-body
			p Before we take you to your planning dashboard we need to know:
			form#tickets-offsite-form(name="tickets-offsite-form")
				label.radio
					input#option-group-bought(ng-model="ticketsOffsite",type="radio",name="tickets_offsite",value="bought",ng-init="ticketsOffsite='bought'")
					.option-content
						h3 Got My Tix!
						p I just bought
				label.radio
					input#option-group-skip(ng-model="ticketsOffsite",type="radio",name="tickets_offsite",value="skip")
					.option-content
						h3 Show Me Somethin' Else
						p I decided not to buy those stinkin' tickets. Show me other options.
		.modal-footer
			a.btn.btn-primary.btn-large.wembli-sequence-link(ng-click="submitForm()",href="/event-options/{{plan.event.eventId}}/{{plan.event.eventName}}") !
