block hero-left
	#event-options-hero-left.hero-left
		.event-data(ng-cloak, event-id="#{eventId}",direction="-1")
		#copy.architect Customize your plan by choosing your payment, add-ons & invite preferences.
		#cartoon-man
		#dotted-line
