block hero-left
	#event-options-hero-left.hero-left
		.event-data(event-id="#{eventId}")
		#copy.architect Customize your plan by choosing your payment, add-ons & invite preferences.
		#cartoon-man
		#dotted-line
