.container 
  .dashboard
    h4!= email+", for security reasons, please supply your password: "
    .generalError.error.yellow
      - if((typeof errors !== 'undefined') && (errors.general) )
        | Incorrect Password.
    form#passwordForm.stdForm.clearfix(method="post",action="/confirm",enctype="application/x-www-form-urlencoded")
      input#emailHidden(name="email",value=email,type="hidden")
      input#tokenHidden(name="token",value=token,type="hidden")
      fieldset
        label(for="password") Password:
        input(type="password",value="",name="password")
      button#passwordSubmitButton.btn.btn-primary.btn-large(type="submit") Submit