.col-sm-2.col-xs-12
	.event-date-box
		span.day {{getDate(plan.event.data.Date)| date:'EEE'}}
		span.event-date {{getDate(plan.event.data.Date)| date:'MMM d'}}
		span.time {{getDate(plan.event.data.Date)| date:'h:mm a'}}
.col-sm-7.col-xs-12
	.info.text-center
		strong.name.block {{plan.event.data.Name}}
		span.venue.block {{ plan.event.data.Venue || plan.event.eventVenue }}
		span.location.block {{plan.event.data.City+', '+plan.event.data.StateProvince}}
