- if (typeof session.message != "undefined")
	- if (typeof session.message.status == 'success')
		.alert.alert-success session.message.message
.container 
	.dashboard#dashboard This is the dashboard: 
		.email!= session.customer.email
