#dashboardContainer.row
	include ../includes/dashboard/sidebar
	#mainContainer
		msg = req.flash('dashboard-msg')[0];
		- if (typeof msg != "undefined")
			#mainAlert.alert.alert-success!= msg;
				a.close(data-dismiss="alert") x
		#center.span6
			include ../includes/dashboard/events-planning
			include ../includes/dashboard/events-attending
		#right.span4
			#friendStack.module!= partial("../includes/dashboard/friend-stack",{})

