#dashboardContainer.row
	include ../includes/dashboard/sidebar
	#mainContainer
		msg = req.flash('dashboard-msg')[0];
		- if (typeof msg != "undefined")
			#mainAlert.alert.alert-success!= msg;
				a.close(data-dismiss="alert") x
		#center.span6
			#search.module
				h3 Plan a new event
				.body
					.input-append
						input#eventSearch(placeholder="Search for an event",type="text")
						button#searchButton.btn.btn-large.btn-success(type="button") Go!
			include ../includes/dashboard/events-planning
			include ../includes/dashboard/events-attending
		#right.span4
			include ../includes/dashboard/activity-feed

