- if (typeof session.message != "undefined")
	- if (typeof session.message.status == 'success')
		.alert.alert-success session.message.message
.container 
	#dashboard.dashboard.clearfix
		aside
			ul#sideNav
				li.active
					a#myEventsTab(href="#myEvents") My Events
				li.last
					a#newEventsTab(href="#newEvents") New Event
		section
			#myEvents.content
				h2 Manage your events
				- if(session.eventplan.event)
					p #{session.eventplan.event.Name}
					table.events
						thead
							tr
								th Where you going
						tbody
							tr
								td My first event
							tr.shade
								td Event #2
							tr
								td because I'm awesome event 3
				- else
					div.alert.alert-info
						h3 Hey There!
						p We noticed you don't any events to manage that. Wembli makes planning the perfect out simple. Just go to your "New Event" tab any time to get started.
						p.tc
							a.btn.btn-primary.navTrigger(href="#newEventsTab") Let's do it!
			#newEvents.content.hidden
				h2 Start a new experience
				#newEventContainer.clearfix
					ul#newEvent.clearfix
						li#event.opt.empty You Event
						li#park.opt.empty Park
						li#eat.opt.empty Eat
					#searchContainer
						form#search.clearfix
							input.example.default(type="text", name="query", id="query", value="Start planning")
							input.btn.blue(type="submit", value="Go!")
						h4 You Results:
						ul#searchResults
							li 
								span Result one is right here
							li 
								span Result one is right here			
							li 
								span Result one is right here
							li 
								span Result one is right here								
							li 
								span Result one is right here
							li 
								span Result one is right here								
							li 
								span Result one is right here
							li 
								span Result one is right here								
							li 
								span Result one is right here
							li 
								span Result one is right here								
					#mapContainer
						#map map goes here
			// span.email!= session.customer.email
