.settings-detail-header.row
	.col-md-8.col-md-offset-2.col-xs-12
		ol.breadcrumb
			li
				a(href="#",ng-click="showDetail=false") Settings
			li.active
				i.fa(class="#{icon}")
				span #{activeBreadcrumb}
