
#planning-modal, #invited-modal, #contacts-modal, #archived-modal {
	.no-plans {
		.clearfix();
		text-align:center;

		.start-now {
			width:230px;
			margin:20px;
		}
	}
	.modal-body {
		max-height:400px;
		overflow:auto;
	}
	.info {
		.name, .venue,.location {
			width:275px;
		}
	}

	.contacts-list {
		margin:4px 20px;

		.dashboard-contact {
			.clearfix();
			.contact-info {
				margin-left:10px;
			}
			i {
				margin-top:3px;
			}
		}
	}
}

#dashboard-wrapper {
	.clearfix();
	height:100%;

	#left {
		width:80%;

		#dashboard-header {
			.clearfix();
			width:600px;
			margin:auto;
			padding:20px 50px;

			.dropdown-menu {
				left:8px;
				min-width:230px;
			}
			.dropdown {
				margin-top:10px;
				line-height:26px;
				vertical-align: middle;
				text-transform: capitalize;
				text-align:left;
				color:@grayDark;
				a {
					.clearfix();
					color:@grayDark;
					.border-radius(4px);
					display:block;
					padding:9px;
				}
				a.selected, a:hover {
					background:@grayDark;
					color:@white;
				}

				.welcome-message {
					font-size:12px;
					padding:0 10px;
					width:230px;
				}
				.icon-cog {
					float:left;
				}
				.icon-caret-down {

				}
			}
			#start-now {
				margin-top:10px;
				width:200px;
			}

		}

		#payment-information-wrapper, #settings-wrapper, #dashboard-body {
			padding:50px;
			margin: auto;
			border:3px solid @grayDark;
			width:600px;

			.dashboard-row {
				.clearfix();

				.dashboard-button {
					width:230px;
					height:90px;
					margin:20px;
					display:block;
					float:left;
				}

				.dashboard-button:hover {
					color:@orange;
				}

				#planning {

				}

				#invited {

				}

				#contacts {

				}

				#archive {

				}

			}

		}

		#payment-information-wrapper, #settings-wrapper {
			text-align:left;
			p {
				padding:10px;
			}
		}

	}

	#right {
		width:20%;
		height:100%;
		#activity-feed {
			background-color: @grayLighter;
			height:100%;
		}
	}
}
