.hero {

	#event-options-hero-left {
		#copy {
			top:230px;
		}

		#cartoon-man {
			background: transparent url('/images/event-options.png') no-repeat center center;
			margin: 340px 0 0 90px;
			width:180px;
		}

		#dotted-line {
			top:575px;
			z-index:2;
		}

	}
	#event-options-hero-right {
		.clearfix();
		text-align:left;

		.event-data {
			height:95px;
		}

		fieldset {
			border:none;
			background:transparent;
			width:525px;
			min-height:400px;

			.options-group {
			}

			.control-group {
				.clearfix();
				margin:5px;

				input {
					float:left;
				}
				label {
					margin-left:20px;

					span {
						font-size:1.25em;
						line-height:25px;
						vertical-align: middle;
					}
				}
			}

			button {
				margin:20px;
			}
		}

		.arrow {
			top:550px;
			width:110px;
		}
	}
}
