#event-list-wrapper {
	margin:0;
	background:transparent !important;


	h3 {
  	padding:16px 10px 0px 10px;
	}

	ul {

		li > * {
			position: static;
		}
	}

	.no-results {
		text-align:center;
		width:100%;
	}
}
