.hero {

	#event-options-hero-left {
		#copy {
			top:210px;
		}

		#cartoon-man {
			margin-top: 340px;
		}

		#dotted-line {
			top:520px;
			z-index:2;
		}

	}
	#event-options-hero-right {
		.clearfix();
		text-align:left;

		.event-data {
			height:95px;
		}

		fieldset {
			border:none;
			background:transparent;
			width:525px;
			min-height:400px;

			.options-group {
				margin-top:20px;

			}

			.control-group {
				.clearfix();
				margin:5px;

				input {
					float:left;
				}
				label {
					margin-left:20px;
				}
			}

			button {
				margin:20px;
			}
		}

		.arrow {
			top:500px;
			width:110px;
		}
	}
}
