#footer {
  position: fixed;
  bottom:-300px;
	@navHeight:60px;
  z-index: 4000;
  width:100%;

  #nav-arrow {
		width: 0;
		height: 0;
		border-top: 15px solid @orange;
		border-right: 15px solid transparent;
		border-left: 15px solid transparent;
		position:relative;
		top:8px;
		@shadow:0 -4px 2px -2px rgba(0,0,0,.25);
		.box-shadow(@shadow);

  }

  .center-search { display:none;}
  .center- { left:185px; }
  .center-tickets { left:272px; }
  .center-invitation { left:362px; }
  .center-parking { left:455px; }
  .center-restaurants { left:576px; }
  .center-hotels { left:690px; }
  .center-login { left:782px; }
  .center-dashboard {left:795px;}
  .center-signup { left:873px; }

  ul#nav {
		.clearfix();
		height:@navHeight;
		@shadow:0 -4px 4px 0 rgba(0,0,0,.25);
		.box-shadow(@shadow);
		#gradient > .vertical(@gray, @grayDarker);

  	li {
  		line-height:@navHeight;
      a {
        text-transform: uppercase;
        float:left;
        font-size:18px;
        padding:0 15px 0;
        color:@grayLighter;
        text-align:center;
      }
      a:link, a:visited {color:@grayLighter;}
      a:hover {color:@orange;}
      a.active:link, a.active:hover, a.active:visited {color:@white;}

      a#nav-search {
				width:150px;
 				padding:0 10px 0 0;

  			#search-title {
  				color:@orange;
  				font-size:20px;
  				float:left;
  				padding-left: 10px;
  				text-transform: none;
  				padding:right:0;
  				background-color:@white;
  				width:110px;
  			}

 				.arrow-right {
					width: 0;
					height: 0;
					border-top: 30px solid transparent;
					border-bottom: 30px solid transparent;
					border-left: 30px solid @white;
					float:right;
					position:relative;
					left:-1px;
				}
			}

			a#nav-search:hover, a#nav-search.active {
				#search-title {
					color:@white;
					background-color:@orange;
				}
				.arrow-right {
					border-left: 30px solid @orange;
				}
			}
  	}

    li#index { a {width:50px;} }
    li#tickets { a {width:60px;} }
    li#invitation { a { width:60px;} }
    li#parking { a {width:70px;} }
    li#restaurants { a {width:110px;} }
    li#hotels { a {width:60px;} }
    li#signup { a { width:70px;} }
    li#login { a {width:60px;} }
    li#dashboard { a { width:100px;} }
    li#logout { a {width:80px;} }

    li#handle {
      margin:20px;
      a {
        display:block;
        height:19px;
        width:37px;
        background:transparent url('/images/handle.png') no-repeat 0 center;
      }
    }
  }

  #info {
    position:relative;
  	height:300px;
    overflow:hidden;
  	background-color: @white;
  }

}
