#index {
	text-align:center;

	section {
		position:relative;
		text-align:center;
	}

	h1 {
		font-weight:bold;
	}

	h1, h2 {
		color:@black;
	}

	p {
		font-size: 1.2em;
	}

	/* Extra Small (phones) */
	@media (max-width: @screen-xs-max) {
		h1 {
			font-size:19px;
		}
		h2 {
			font-size:17px;
		}
	}

	/* Small devices (tablets, 768px and up) */
	@media (min-width: @screen-sm-min) {
		text-align:center;
	}
	.section1 {
		margin:0px;
	}

	.section2 {
		width:100%;

		.tag-line {
			margin:10px 0 4px 0;
			text-align:center;
		}


		/* Small devices (tablets, 768px and up) */
		@media (min-width: @screen-sm-min) {
			position:relative;
			top:-230px;
			margin-bottom:-200px;

			.tag-line {
				text-shadow: #000 4px 4px 10px;
				font-weight: normal;
				font-size:42px;

			}

			.copy, .tag-line {
				color:@white;
			}

			.search-box {
				width:65%;
			}
		}

		/* Medium devices (desktops, 992px and up) */
		@media (min-width: @screen-md-min) {
			top:-300px;
			margin-bottom:-170px;
		}

		/* Large devices (large desktops, 1200px and up) */
		@media (min-width: @screen-lg-min) {
			top:-330px;
			margin-bottom:-200px;
		}

	}

	.section3 {
		padding-bottom: 50px;
		margin:auto;

		h1 {
			width:100%;
			margin:20px 0;
		}

		strong {
			display:block;
			margin:15px;
			font-size: 1.2em;
		}

		h2 {
			font-weight:bold;
		}

		.info-boxes {

			.box {
				@media (min-width: @screen-sm-min) {
					text-align:left;
				}



				max-width:275px;
				margin:20px auto;
				color:@black;
				padding:0 20px;

				.fa-plus {
					color:#FFF;
				}

				.circle-small {
					border-radius: 50%;
					border:4px solid @yellow;
					width:40px;
					height:40px;
					margin:auto;
					background-color: #FFF;

					i {
						margin:9px;
					}

				}

				.circle-black {
					border-radius: 50%;
					background-color: #000;
					border:4px solid #000;
					width:100px;
					height:100px;
					margin:auto;

					i {
						margin:20px 24px;

					}

				}

				.circle {
					border-radius: 50%;
					border:4px solid @yellow;
					width:100px;
					height:100px;
					margin:auto;

					i {
						margin:18px;

					}
				}

				h2 {
					text-align:center;
					font-size:1.3em;
					font-weight:bold;
					padding:0;
					margin:20px;
				}

				p {
					font-size: 1em;
				}
			}

			.box.two {
				position:relative;
				.circle-small.one {
					position: absolute;
					top:2%;
					left:25%;

				}

				.circle-small.two {
					position: absolute;
					top:-8%;
					left:42%;

				}
				.circle-small.three {
					position: absolute;
					top:2%;
					right:25%;
				}
			}
		}

	}

	.section4 {
		background-color:@gray;
		position:relative;


		h1 {
			padding:6px 0;
		}

		.video-container {
			color:@black;

			.video-text {
				text-align:left;
				margin:auto;
				padding:40px 0;
				p {
					padding:4px;
				}
			}

			.video {
				padding:40px 0;

				iframe {
					height:180px;
					width:240px;
					margin:auto;
					display:block;
				}
			}
		}

		.wembli-man-transparent {
			position:absolute;
			bottom:0;
			left:20px;
			height:147px;
			width:108px;

			background: transparent url("/images/wembliman-home.png") no-repeat left bottom;
		}

		/* Small devices (tablets, 768px and up) */
		@media (min-width: @screen-sm-min) {

			.video-container {
				padding:20px 0px;

				.video-text {
					margin:auto;
					padding:40px 0;
					p {
						padding:4px;
					}
				}

				.video {
					padding:40px 0;

					iframe {
						height:360px;
						width:480px;
					}
				}
			}
		}
	}

	.section5 {
		background-color:@blueDark;
		padding:0 10px 60px 10px;
		padding-bottom:60px;
		position:relative;
		text-align:left;

		/* (tablets) */
		@media (max-width: @screen-sm-max) {
			h2 {
				font-size:1.6em;
			}

			.performers {
				font-size:1.4em;
			}
		}


		.top-events-arrow {
			position:absolute;
			img {
				margin:60px 0 0 120px;
			}
		}

		.header {
			background-color:#000;
			h1 {
				font-weight:normal;
				margin:40px 0;
				color:#FFF;
			}
		}

		.left, .middle, .right {
			min-height:350px;
			.performers {
				padding:6px;
				max-width:300px;
			}
		}

		/* Small devices (tablets, 768px and up) */
		@media (min-width: @screen-sm-min) {
			text-align:center;
			.top-lists {
				margin-top:50px;
				h2 {
					font-size:20px;
				}
				li:hover {
					background-color: @blueLight;
				}
				li {
					padding:10px;
					.event-date-box {

					}

					.info {
						color:@black;
					}
				}
			}
		}

	}

	.section6 {
		background: transparent url("/images/index-car.png") no-repeat left bottom;
		padding:65px 0 100px 0;

		.container {
			.left {
				.twitter-widget {
					position:relative;
					margin-top:25px;
					color:@white;
					.twitter-right-arrow {
						border-top: 30px solid transparent;
						border-bottom: 30px solid transparent;
						border-left: 40px solid @grayDarker;
						position:absolute;
						top:114px;
						right:-40px;
					}
				}
			}
			.right {
				margin-top:20px;
				.row {
					a {
						display:block;
						height:85px;
						margin-top:10px;
					}

					.blog-link {
						background: transparent url("/images/index-social-icons.png") no-repeat 0px 0px
					}
					.gplus-link {
						background: transparent url("/images/index-social-icons.png") no-repeat 0px -85px;
					}
					.twitter-link {
						background: transparent url("/images/index-social-icons.png") no-repeat 0px -170px;
					}
					.facebook-link {
						background: transparent url("/images/index-social-icons.png") no-repeat 0px -255px;
					}
					h2 {
						padding:0px;
					}
				}
				.message {
					margin:40px 0;
					text-align:left;
				}
			}
		}
	}

	.section7 {
		min-height:30px;
		border-top:2px solid #AAA;
		padding:20px;
		background-color:@grayLight;
		color:@black;

		.container {
			.footer-social-button {

			}

			.links {
				margin:20px 0;

				.footer-link {
					color:@white;
				}
				a:hover {
					color:@yellowDark;
				}
			}
		}
	}

}


