.modal {
	textarea {
		width:520px;
		height:80px;
	}

	.char-count {
		display:inline-block;
		vertical-align:middle;
		background: none repeat scroll 0 0 #F5F5F5;
		border: 0 none;
		color: @grayDark;
		margin-right: 5px;
		text-align: center;
		width: 2em;
		font-size:12px;
	}
}

#invitation-modal.modal {
	width:775px;
	margin:-200px 0 0 -375px !important;
	#invite-friends-wizard {
		.modal-body {
			.clearfix();
			padding:0;
			max-height:650px;

			#left {
				background-color:@grayLight;
				width:30%;
				height:450px;
				font-size:16px;

				a.wizard-step-nav {
					display:block;
					color:@grayDark;
					line-height:30px;
					height:30px;
					vertical-align:center;
					padding:6px;

					div {
						margin-left:40px;

						i {
							float:right;

						}
					}

					i {
						float:left;
						margin:6px;
					}
				}

				a:hover, a.active {
					color:@white;
					background-color:@blueLight;
				}
			}


			#right {
				height:350px;
				width:500px;
				overflow-y:auto;
				padding:5px 20px;

				.invite-wizard-step1-form {

					.switch-login, .or, .facebook-login {
						width:100%;
						text-align:center;
						margin-top:30px;
					}

				}

				#facebook-login-button {
					margin:0;
				}

				#invite-wizard-rsvp-form {
					.datepicker-container {
						position:relative;
						margin:20px auto;
						width:260px;


					}
				}

				.wizard-step {
					width:485px;
				}

				p {
					margin: 10px 0;
				}

				textarea {
					width:475px;
					height:60px;
				}

				input[type=text],input[type=password] {
					width:320px;
				}

				form {
					fieldset {
						.clearfix();
					}
				}

				.name-group {
					input {
						width:475px;
					}
					input.first-name {
						width:180px;
						margin-right:6px;
					}
					input.last-name {
						width:275px;
					}
				}

				.form-status {
					color: @green;
					width:145px;
					text-align:center;
					margin-top:5px;
				}

				.form-controls {
					position:absolute;
					bottom:26px;
					right:30px;
					width:485px;
					text-align: right;
					border-top:thin solid @grayLight;
					padding:10px;

					.skip-step {
						margin-right:20px;
					}
				}

				#invite-wizard-step5-form {
					fieldset {
						.alert {
							i {
								display:block;
								float:left;
								margin-right:10px;
							}
							.error-text {
								width:400px;
								float:left;
								font-size: 18px;
							}
						}
					}
				}


				#step5-friends-list {
					.friend-controls {
						color:@blueLight;
					}
				}

				.friends-list-container {
					.spinner {
						height:30px;
						width:30px;
						margin:50px auto;
					}

					.friend-filter {
						width:448px;
					}

					.friends-list {
						margin-left:2px;

						.friend:hover {
							background-color:lighten(@blueLight,30%);
						}

						.friend {


							.clearfix();
							padding:6px 0;
							width:100%;

							.friend-controls {
								text-align:center;
								padding:5px 10px;

							}

							.friend-img {
								.clearfix();
								width:45px;
								text-align:center;

								i.icon-user {
									font-size:29px;
									margin:0;
								}
								.picture {
									float:left;
									width:30px;
								}
							}

							.friend-name {

								.name {
									padding:4px 0;
									font-size:14px;
									height:24px;
									line-height:24px;
									vertical-align:middle;
								}
							}
							.friend-status {
								padding:5px 10px 5px 5px;
								width:80px;
								text-align:right;

								.icon-question-sign {
									color:@blue;
								}
								.icon-ok-circle {
									color:@green;
								}
								.icon-remove-circle {
									color:@orange;
								}
							}
						}
					}
				}
			}
		}
	}
}
