/* this applies to login and signup */
#login {
	margin-top: 20px;

	#login-left {
		.copy, .wembliman, .search-arrow {
			margin:25px auto;
		}

		.search-arrow {
			margin-left:125px;
		}

		.copy {
			.rotate(-4deg);
			width:220px;
			text-align:center;
			font-size:1.2em;
		}
	}


	#login-right {
		margin-top:40px;

		#confirm-password-form, #signup-form, #forgot-password-form, #login-form {
			fieldset {
				border-radius: 4px;
				border: thin solid @grayDark;
				padding:20px;
				margin:20px 0;

				.form-group {
					position:relative;

					label {
						font-weight:bold;
						padding:4px 0;
					}

					input {

					}
					i {
						position:absolute;
						top:35px;
						left:95%;
						font-size:1.4em;
					}
				}

				#forgot-password-link {
					font-size:0.9em;
					margin:10px 0;
					display:block;
				}
			}
			#login-link, #signup-link {
				font-size: .9em;
				margin:10px 0;
				display:block;
			}
		}
		.facebook-login {
			width:100%;
			margin:20px 0;
			padding:20px 0;
			display: block;
		}
	}
}




a#facebook-login:hover {
	color:@orange;
}

/* facebook button */
a#facebook-login-button {
	margin:30px auto 0;
	line-height:39px;
	vertical-align:middle;
}

#or {
	font-size:18px;
	padding:10px;
	width:40px;
	margin:10px auto;
}

.hero {

	#login-hero-right {

		.clearfix();

		#login-right {

			#remember-label {
				margin-left: 10px;
			}

			#email-group,#password-group {
				margin-top:0px;
			}

			#remember-group {
				margin-bottom:30px;
			}

			#signup-link {
				margin:20px;
				display:block;
			}

			#check-email {
				text-align:left;
				margin:100px auto;
				width:400px;
			}
			#confirm-password-form {
				margin-top:80px;

				button {
					margin-top:10px;
				}
			}
		}
	}
}
