/* this applies to login and signup */

/* this is the old facebook login with the image */
a#facebook-login {
	background: transparent url('/images/facebook-login.png') no-repeat center center;
	display:block;
	margin:30px auto 0;
	height:82px;
	width:258px;
	color:white;
	font-size:14px;

	span {
		display:block;
		width:196px;
		position:relative;
		top:30px;
		left:61px;
	}
}

a#facebook-login:hover {
	color:@orange;
}

/* facebook button */
a#facebook-login-button {
	margin:30px auto 0;
	line-height:39px;
	vertical-align:middle;
}

#or {
	font-size:18px;
	padding:10px;
	width:40px;
	margin:10px auto;
}

.hero {

	#login-hero-right {

		.clearfix();

		#login-right {

			#remember-label {
				margin-left: 10px;
			}

			#email-group,#password-group {
				margin-top:0px;
			}

			#remember-group {
				margin-bottom:30px;
			}

			#signup-link {
				margin:20px;
				display:block;
			}

			#check-email {
				text-align:left;
				margin:100px auto;
				width:400px;
			}
			#confirm-password-form {
				margin-top:80px;

				button {
					margin-top:10px;
				}
			}
		}
	}
}
