/* xs and larger devices */
#plan-frame {
	margin-bottom: 100px;

	.add-on-offsite {
		#qty {
			width:60px;
		}
	}

	/* customer image */
	.img-container {
		position:relative;
		box-shadow: 0 1px 2px -1px;
		border: thin solid @grayLight;

		img {
			margin:auto;
		}

		.no-image-overlay {
			position:absolute;
			top:0;
			bottom:0;
			left:0;
			right:0;
			background-color: @white;
			opacity: .5;
			z-index: 1;

			i {
				font-size:1.5em;
				margin: 33%;
				display: block;
			}

		}
		.rsvp-for {
			font-size: .8em;
		}
	}

	/* bottom nav for xs devices */
	#nav-container {
		/* xs and sm get a bottom nav */
		width:100%;
		height:60px;
		bottom:0;
		left:0;
		z-index:3;

		text-align:center;
		background-color: @blueDark;

		border-top:thin solid @blueDarker;


		#plan-nav {
			width:100%;
			.clearfix();

			a.plan-section-nav {
				position:relative;
				color:@blueDarker;
				display:block;
				padding:10px 0;

				float:left;
				width:20%;
				height:60px;

				.fa {
					font-size: 1.75em;
				}

				.notification {
					display:none;
					background-color: red;
					height: 15px;
					width: 15px;
					position: absolute;
					border-radius:4px;
					font-size: 12px;
					line-height: 16px;
					vertical-align: middle;
					color:@white !important;
					top: 10%;
					right: 23%;

				}


				.notification {
					display: none;
				}
			}

			a.active {
				color:@white;
				background-color:@blue;
			}

		}

		/* md and larger devices get a side nav */
		@media (min-width: @screen-md-min) {
			height:100%;
			top:0;
			bottom:0;
			width:160px;
			border:none;
			#plan-nav {
				margin-top:60px;
				height:100%;
				font-size:18px;

				.nav-arrow {
					position:absolute;
					top:0px;
					left:150px;
					width: 0;
					height: 0;
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					border-right: 10px solid @white;
				}

				a.plan-section-nav {
					border-radius:5px;
					padding:10px;
					width:120px;
					margin:10px auto;

					height:initial;
					float:none;

					&:hover {
						color:@white;
						background-color:@blue;
					}

					div {
						text-align:center;
					}

					.fa {
						font-size:3em;
					}

					.notification-fa-envelope-o {
					}


				}
			}
		}
	}

	/* dashboard for xs devices */
	#plan-dashboard-container {
		height:100%;
		text-align:left;

		#plan-dashboard {

			.plan-section > .header {
				h1 {
					padding:10px 0px 0px;
					margin:10px 0;
					font-weight:bold;
					color:@grayDarker;
					border-bottom:4px solid @grayDarker;
				}
			}


			/* css for all plan sections here */
			.plan-section {

				.notification {

				}

				.alert-danger {
					text-shadow:none;
				}

				.alert {
					.fa-2x {
						margin:6px 8px;
						font-size:1.5em;
					}
					.close {
						position:absolute;
						top:1px;
						right:25px;
					}

					a:hover {
						color:@blueDark;
					}

				}

				i.fa-square-o {
					margin-right:13px;
				}


				.plan-section-note {
					padding:20px 0;
				}


				.text-muted .price-slider {

					.ui-slider-range {
						background: lighten(@blue, 30%);
						border-color: lighten(@gray, 30%)
					}
					.ui-slider-handle {
						background-color: lighten(@gray, 30%);
						border-color: lighten(@grayDark, 30%)
					}

				}

				.price-slider {
					height:12px;

					.ui-slider-range {
						background: @blue;
					}
					.ui-slider-handle {
						height:18px;
						width:18px;
					}
				}

				.preference-dropdown {
					position:relative;
				}

				@import "plan/invitees.less";
				@import "plan/event-info.less";

			}

			/* individual section specific css */
			@import "plan/rsvp.less";
			@import "plan/cart.less";
			@import "plan/vote.less";
			@import "plan/pony-up.less";
			@import "plan/itinerary.less";
			@import "plan/chatter.less";

		}

		/*
		.plan-section-off {


			.body {
				.clearfix();

				.block1 {
					.clearfix();

					.firstRow {
						h3 {
							font-size:1.2em;
							padding:10px 0;
						}
					}
				}

				.row {
					margin:0 -15px;
					.clearfix();


				}

			}
			.section-bottom {
				.clearfix();
				margin-top:30px;

				.total-coming {
					color:@grayDark;
					width:230px;
					.header {
						border-radius:6px;
						background-color: @grayLight;
						padding:10px;

						.rsvp-count {
							font-size:26px;
						}
					}
					.friend-coming {
						margin:5px 10px;
					}
				}

				.next-wrapper {
					button {
						font-weight: bold;
						width:200px;
					}
				}
			}
		}

		.itinerary-section-off {
			.body {

				.itinerary-data {
					.left {
						width:200px;
						height:104px;
						background: transparent url('/images/cartoon-man-megaphone-150.png') no-repeat center top;
					}
					.right {


						.event-container {
							.event-info {
								.text {
									padding-right:10px;
								}
							}
						}
						.hotel-container, .restaurant-container, .parking-container, .tickets-container {
							margin-bottom:20px;
							h2 {
								font-family:'Arial';
								font-size:20px;
								line-height:30px;
								color:@grayDark;
							}
							.row {
								color:@grayDark !important;
								padding:6px 0;
								font-size:14px;
								border-bottom:2px solid @gray;

								.info {
									margin-left:0;
									margin-top:0;
									margin:0;
									span {
										display:inline;
									}
									.col {
										width:400px;
									}
								}
							}
						}

						.tickets-container {

						}

						.parking-container {

						}

						.hotel-container {
						}

						.restaurant-container {

						}

						.notes-container {
							padding:10px;
							textarea {
								font-size:16px;
								color:@black;
								width:98%;
								height:200px;
								border-radius:5px;
								border:2px solid @gray;
							}
						}
					}
				}
				.google-map-container {
					background-color: @white;
					height:700px;

					.itinerary-map {
						height:600px;
						.info-window {
							height:100px;
							width:350px;
							color:@black;
							h3 {
								line-height:14px;
								font-size:14px;
							}
						}
					}
				}
			}
		}

		.chatter-section-off {
			.body {
				margin-bottom:60px;
			}
			#plan-chatter {
				margin:20px 30px;
				#chatter {
					#new-chatter {
						width:760px;
						textarea {
							margin:0 0 0 20px;
							height:75px;
							width:650px;
						}
						button {
							margin:10px 0;
						}
					}
				}
				#chatters {
					width:760px;
					margin-top:20px;
					border-top:thin solid @grayLight;

					.upvote {
						display:inline;
						padding:2px;
						text-align:center;
					}

					.chatter {
						margin-top:20px;
						.actor-image-container {

						}
						.chatter-container {
							margin-left:95px;
							.actor-name-container {
								height:20px;
								.actor-name {
									font-weight:bold;
									.icon-asterisk {
										font-weight:normal;
										font-size:.6em;
										line-height:20px;
										vertical-align:middle;
										margin:0 6px;
										color:@grayLight;
									}
								}
							}
							.chatter-body {
								min-height: 45px;
							}
							.controls {
								.chatter-reply {
								}
							}
							.new-chatter-comment {
								margin-top:20px;
								width:665px;
								.actor-image-container {
									img {
										width:60%;
									}
								}
								textarea {
									height:50px;
									width:575px;
								}
								button {
									margin:10px 0;
								}
							}
							.chatter-comments {
								margin-top:20px 0 20px 95px;
								.chatter-comment {
									margin-top:20px;
									.actor-image-container {
										img {
											max-width:60%;
										}
									}
									.comment-container {

									}
								}
							}
						}
					}
				}
			}
		}
		*/

	}

	/* md and larger have nav on the left */
	@media (min-width: @screen-md-min) {
		#plan-dashboard-container {
			margin-left:160px;
		}
	}
}
