#search {
	#search-left {
		.copy, .wembliman, .search-arrow {
			margin:25px auto;
		}

		.search-arrow {
			margin-left:125px;
		}

		.copy {
			.rotate(-4deg);
			width:220px;
			text-align:center;
			font-size:1.2em;
		}
	}

	#search-right {
		.results {
			background:@grayLighter;

			.loading-more-events {
				background-color: lighten(@blueLight, 20%);
				font-size:1.6em;
				.icon {
					i {
						margin:0 30px
					}
				}
				.message {
					text-align:left;
					span {
						line-height:50px;
					}
				}
			}

			#event-list-wrapper > h3 {
			 	color:@black;
			 	font-weight:bold;
			 	font-size:2em;
			}

			#event-list-wrapper {
				.no-results {
					text-align:center;
					width:100%;
				}

				ul {
					li {
						padding:10px;

						//- this may need to be global
						.event-date-box {

							span {
								text-align: center;
								display:block;
								margin:0 2px;
							}

							.day {
								padding:2px;
								border: 1px solid @grayDark;
								border-top-left-radius: 3px;
								border-top-right-radius: 3px;
								background-color:@white;
								text-transform: uppercase;
							}

							.event-date {
								padding-top:6px;
								font-weight:bold;
								font-size:1.2em;
								border-left: 1px solid @grayDark;
								border-right: 1px solid @grayDark;
								background-color: @grayLight;
							}

							.time {
								padding-bottom: 6px;
								border-left: 1px solid @grayDark;
								border-right: 1px solid @grayDark;
								border-bottom: 1px solid @grayDark;
								background-color: @grayLight;
								border-bottom-right-radius: 3px;
								border-bottom-left-radius: 3px;
							}
						}

						.info {
							.name {
								font-size:1.5em;
								font-weight:bold;
							}
						}
						.cta {
							text-align:center;
						}
						.ticket-range {
							padding:6px;
							text-align:center;
							font-size:.9em;
						}
					}
				}

				ul > li:hover {
					background-color: lighten(@blueLight, 20%);
					cursor:pointer;
				}

			}

		}

		.no-results {
			margin-bottom:60px;
			color:@black;

			.collected-email, .collect-email {
				//#translucent > .background(@gray,0.9);
				padding:20px 40px 80px 40px;

				p {
					padding:20px;
				}
				#email {
					height:25px;
					width:300px;
				}
				button {
					font-size:12px;
					margin:10px 34px;
				}
			}

			.clearfix {
				padding: 20px;
				//#translucent > .background(@gray,0.9);

			}

			.back-to-search {
				text-align:left;
			}
		}
	}
}


