#content {
	#search-frame {

		.container {
			#search-left.left {
				position:relative;
				min-width:330px;

				.search-arrow {
					background: transparent url('/images/search-arrow.png') no-repeat center right;
					width:100%;
					height:250px;
				}

				.copy {
					.rotate(-4deg);
					width:220px;
					text-align:center;
					font-size:16px;
					margin:auto;
					height:50px;
				}

				.wembliman {
					background: transparent url('/images/question.png') no-repeat center center;
					height: 175px;
					width:272px;
				}
			}

			#search-right.right {
				max-width:690px;

				.search {
					margin:40px 0 20px 0;

					form {
						background-color:@yellow;
						width:675px;
						margin:auto;
						padding:6px;
						.border-radius(3px);
						i {
							.border-top-left-radius(3px);
							.border-bottom-left-radius(3px);
							position:absolute;
							color:@grayLight;
							display: block;
							background-color: transparent;
							width: 50px;
							height: 50px;
							line-height:50px;
							margin:0px;
						}

						input {
							.border-top-left-radius(3px);
							.border-bottom-left-radius(3px);

							height: 30px;
							border: none;
							padding: 10px 10px 10px 50px;
							margin: 0px;
							width:500px;
							color:@grayDarker;
							font-size: 22px;
							line-height: 26px;
							vertical-align: middle;
							font-style: italic;
						}

						input:focus {
							border:none;
						}
						button:hover {
							#gradient > .vertical(lighten(@yellow, 20%), @yellow);
						}

						button {
							font-size:22px;
							color:@black;
							.border-top-right-radius(3px);
							.border-bottom-right-radius(3px);
							.border-top-left-radius(0px);
							.border-bottom-left-radius(0px);
	  					#gradient > .vertical(@yellow, @yellow);
							.box-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
							width:105px;
							height:50px;
							border:none;
							padding:0px;
							margin:0px;
						}
					}
				}

				.results {
					background:@grayLighter;

					.loading {
						padding: 4px;
						text-align:center;
					}


					a#more-events {
						display:block;
						background-color: @grayLight;
						text-align:center;
						height:30px;
						line-height: 30px;
						vertical-align: middle;

						i {
							margin:1px 0px 0px 8px;
						}
					}
				}
			}
		}
	}
}

