.hero {
	#signup-hero-left {
		#copy {
			top:260px;
		}

		#cartoon-man {
			margin-top: 380px;
		}

		#dotted-line {
			top:550px;
		}

	}
	#signup-hero-right {
		.clearfix();

		#first-name-group {
			margin-top:0;
		}

		#login-link {
			margin:20px;
			display:block;
		}

		.arrow {
			top:520px;
		}
	}
}
