/* GET FONT-AWESOME:
  cd /wembli/Font-Awesome/
  git pull;
  cp /wembli/Font-Awesome/build/assets/font-awesome/less/* /wembli/website/public/less/font-awesome/

  GET TWITTER BOOTSTRAP:
  cd /wembli/bootstrap/
  git pull
  cp -R /wembli/bootstrap/less/* /wembli/website/less/bootstrap/
*/

@import url('/css/bootstrap-modal.css');
@import url('/css/plugins/pikaday.css');
@import url('/css/plugins/jquery.multiselect.css');
@import url('/css/plugins/jquery.multiselect.filter.css');
@import url('/css/plugins/jquery.slidepanel.css');

@import "../bower_components/bootstrap/less/bootstrap.less";
@import "../bower_components/components-font-awesome/less/font-awesome.less";
/* @import "../plugins/bootstrap-3.0.2/less/bootstrap.less"; */
/* @import "../plugins/font-awesome-4.0.3/less/font-awesome.less"; */
@import "wembli-variables.less";  // Modify this for custom colors, font-sizes, etc
@import "wembli-mixins.less";     // Modify this for custom colors, font-sizes, etc
@import "wembli-fonts.less";      // wembli fonts
@import "wembli-style.less";      // global wembli styles



/* old bootstrap overrides */
/* buttons - old bootstrap
.btn-primary, .btn-primary:hover {
  .buttonBackground(@blue,@blueDarker, @white);
}

.btn-secondary, .btn-orange, .btn-secondary:hover, .btn-orange:hover {
  .buttonBackground(@orange, @orangeDarker, @black);
}
*/
/*
.module {
  .clearfix();
  border-radius: 4px;
  .box-shadow(inset 0 2px 2px rgba(0,0,0,.05));

  padding:0px;
  min-height: 20px;
  margin-bottom: 20px;
  background-color: @white;
  border: 1px solid @grayLight;
  border: 1px solid rgba(0,0,0,.05);

  blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }

  .alert {
    border-radius: 0px;
  }

  h3 {
    border-radius: 4px;
    background-color:lighten(@blue,20%);
    padding:0px 19px;
    border-bottom:thin solid @grayLight;

    i {
      margin-top:7px;
    }
  }

  .oddRow {
    background-color:@grayLighter;
  }

  .body {

  }

}
*/

/* end old bootstrap overrides */
@import "layout.less";
@import "header.less";
@import "search-box.less";

//@import "stars.less";

//- search results no longer uses this...does anything else?
//@import "event.less";

//@import "landing-page.less";
/* specific landing page layout css */
//@import "landing-pages/search/1.less";

@import "index.less";
@import "about-us.less";
@import "search.less";
@import "login.less";

//@import "addons.less";
//@import "tickets.less";
//@import "signup.less";
//@import "confirm.less";
//@import "event-options.less";
//@import "plan.less";
//@import "invite-friends-wizard.less";
//@import "dashboard.less";

