#no-tickets {
	.modal-body {
		.btn {
			margin:30px auto;
			width:130px;
			display:block;
		}
	}
}
#hotels-login-modal, #restaurants-login-modal, #parking-login-modal, #rsvp-login-modal, #tickets-login-modal {

	.modal-body {
		max-height: 450px;
		color:@black;
	}

	.not-friend {
		text-align:center;
	}

	form {
		margin:20px;
		label.radio {
			padding:0 20px;
			input[type=radio] {
				margin:45px 25px 45px 0;
			}

			input#facebook-login {
				visibility: hidden;
			}

			.option-content {
				padding:10px;
				h3 {
					color:@blueLight;
				}

				.first-name {
					width:100px;
				}
				.last-name {
					margin-left: 10px;
					width:200px;
				}
				.password, .email {
					width: 320px;
				}
				.facebook-login {
					width:400px;
					#facebook-login-button {
						margin:0 auto;
					}
				}
			}
		}
		/*
		label.radio.selected,label.radio:hover {
			#translucent > .background(@blue,0.25);
		}
		*/
	}
}

#hotels-offsite-modal, #restaurants-offsite-modal, #parking-offsite-modal, #tickets-offsite-modal {
	form {
		margin:20px;
		label.radio {
			padding:0 30px;
			input[type=radio] {
				margin-top:20px;
			}
			.option-content {
				padding:10px;
				h3 {
					color:@blueLight;
				}
			}
		}
		/*
		label.radio.selected,label.radio:hover {
			#translucent > .background(@blue,0.25);
		}
		*/
	}
}

.back-to-plan-container {
	text-align: right;
	padding:20px;
	font-size: 1.2em;
}

.addons-container {
	@media (min-width: @screen-md-min) {
		position:absolute;
		top:58px;
		bottom:0;
		left:0;
		right:0;
		overflow: hidden;
	}

	.addons-list-loading,.addons-content-loading {
		display:block;
		width:60%;
		margin:100px auto;
		height:1000px;
		text-align: center;
		overflow-y: hidden;
	}

	.header {
		position:relative;
		padding:10px;
		background-color:@blue;

		/* Extra small devices (phones, less than 768px) */
		/* No media query since this is the default in Bootstrap */
		h1 {
			color:@white;
		  font-size: 1.3em;
		  margin:4px 0;
		  letter-spacing: 1px;
		}
		h2 {
			color:lighten(@blue,50%);
		  font-size: 1.2em;
			margin:4px 0;
			font-weight:100;
			font-family: "Helvetica Neue", "Helvetica";
			letter-spacing: 1px;
		}
		h3 {
		  font-size: 20px;
		}

		.venue-address {
			color:lighten(@blue,50%);
			font-weight:100;
			font-family: "Helvetica Neue", "Helvetica";
			letter-spacing: 1px;
		}

		.navigation {
			padding-top:7px;
			text-align:right;
			color:@white;
			a {
				color:@white;
			}
			a:hover {
				color:@yellow;
			}
		}


		/* Small devices (tablets, 768px and up) */
		@media (min-width: @screen-sm-min) {
		  h1 {
		    font-size: 1.2em;
		  }
		  h2 {
		    font-size: 1.1em;
		  }
		  h3 {
		    font-size: 20px;
		  }
		}

		/* Medium devices (desktops, 992px and up) */
		@media (min-width: @screen-md-min) {
		  h1 {
		    font-size: 1.3em;
		  }
		  h2 {
		    font-size: 1.2em;
		  }
		  h3 {
		    font-size: 22px;
		  }
		}
		/* Large devices (desktops, 1200px and up) */
		@media (min-width: @screen-lg-min) {
		  h1 {
		    font-size: 1.3em;
		  }
		  h2 {
		    font-size: 1.2em;
		  }
		  h3 {
		    font-size: 22px;
		  }
		}
	}

	.addons-list-header {

	}
	.addons-list {
		@media (min-width: @screen-md-min) {
			height:100%;
			overflow-x: hidden;
			overflow-y: auto;
		}
	}
}

#tickets {

	#tickets-confirm {
		.tickets-confirm-body {
			padding:20px 0;

			.left {
				margin-bottom:10px;
			}

			.right {
				.fa-exclamation-triangle {
					margin-top:7px;
				}

				.ticket-info {
					padding:0 0 10px 0;
				}

				.notes {
					padding:10px 0;
				}
				.next-step-text {
					padding:10px 0;
				}

			}
		}
	}


	#tickets-offsite {

		#qty {
			width:50px;
			text-align: center;
			margin: 0 6px;
		}

		#confirm-price-qty-container {
			padding:10px;
		}

		#amount-paid-input-group {
			width:133px;
			margin:0 10px;
		}

		#amount-paid-prepend {
			margin: 0 6px;
		}

		#amount-paid {
			width:100px;
			text-align: center;
			margin:0;
		}


	}

	#tickets-right {

		#tickets-list-header {

			.popover-container {
				margin:10px 0 0 10px;
			}

			.display-popover {
				margin-left:2px;
				font-size:18px;
				padding:0;
				top:3px;
			}

			.filters {
				padding: 10px 0 20px 0;
				border-bottom: 4px solid @blue;

				.qty-filter {
					margin-top:12px;
					label {
						padding:6px 6px 0 0;
					}
					select {
						width:60%
					}
				}
				.price-filter {
					.price-range {
						line-height: 40px;
						vertical-align: middle;
						width:190px;
						margin:auto;
						height:40px;
						label {
							font-size: 14px;
						}

						input {
							margin-left: 10px;
							border:0;
							color:@blue;
							font-weight:bold;
							background:transparent;
							width:100px;
							.box-shadow(0 0 0 0);
							border-radius:0;
						}
					}

					.price-slider {
						height:6px;
						border:thin solid @gray;

						.ui-slider-range {
							background-color:@blueDark;
						}

						.ui-slider-handle {
							height:13px;
							width:12px;
							background-color:@gray;
							font-family: FontAwesome;
							border-radius: 2px;
							border:thin solid @grayDark;
							/*
							filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
							-webkit-transform: rotate(270deg);
							-moz-transform: rotate(270deg);
							-ms-transform: rotate(270deg);
							-o-transform: rotate(270deg);
							transform: rotate(270deg);
							*/
						}
						.ui-slider-handle:before {
							/* content: "\f0dc"; */
						}
					}
				}
			}
		}

		.ticket-list-header-container {
			padding:10px;
			margin-top:2px;

			h4 {
				font-weight:bold;
				font-size:16px;
				text-align:left;
				margin:10px 0;
			}


			a {
				display:block;
				color:@grayDarker;
				font-weight:bold;
				text-decoration:underline;
			}
		}

		#tickets-list > div {
			padding:0;
		}
		#tickets-list {
			.ticket-list-container {
				.ticket-row:hover {
					background-color: lighten(@blue,40%);
				}
				.ticket-row {
					padding:10px;
					padding-bottom:10px;
					border-bottom:thin solid @grayLight;

					a {

					}
					.price {
						strong {
							font-size: 1.6em;
						}
						.qty {
							color:@gray;
							font-size:.85em;
						}
					}
					.seats, .controls {
						margin-top:5px;
					}
					.controls {
						.actions {
							width:100%;
							text-align: center;
						}
						.qty {
							width:100%;
							text-align: center;
						}
					}
				}
			}
		}
	}

	#tickets-left {
		position:relative;

		@media (min-width: @screen-sm-min) {
			#venue-map-row {
				overflow: hidden;
				height:100%;
				#venue-map-container {
					overflow: visible;
					.tuMapContainer {
						overflow:visible !important;
					}

				}
			}
		}

		.tuMapTooltip {
			background: none repeat scroll 0 0 #FCF1BD;
			border: 1px solid #666666;
			border-radius: 5px;
			.box-shadow(1px 1px 3px rgba(0, 0, 0, 0.5));
			font-size: 12px;
			padding: 5px;
			left:0;
		}


		.ZoomControls {
			z-index:100;
			position:absolute;
			top:15px;
			left:15px;

			.ZoomIn {
				font-family: FontAwesome;
				padding: 8px;
				border: thin solid @gray;
				width: 30px;
				border-top-left-radius: 3px;
				border-top-right-radius: 3px;
				background-color: @white;
			}
			.ZoomIn:before {
				content: "\f067"
			}

			.ZoomOut {
				font-family: FontAwesome;
				padding: 8px;
				border: thin solid @gray;
				width: 30px;
				border-bottom-left-radius: 3px;
				border-bottom-right-radius: 3px;
				cursor: pointer;
				background-color: @white;
			}
			.ZoomOut:before {
				content: "\f068";
			}
			.ZoomIn:hover,.ZoomOut:hover {
				background-color: @yellow;
			}
		}

		.tuMapControl {
			display:none;
		}
	}
}



#static-popover-content {
	@bgColor:@white;
	@boxColor:@white;
	position:absolute;
	top:20px;
	left:20px;
	padding:0;
	.box-shadow(1px 1px 2px rgba(0, 0, 0, 0.5));
	border-radius: 5px;
	max-width:350px;
	background-color:@bgColor;
	color:@black;

	.tickets-popover-arrow {
		position:absolute;
		top:118px;
		left:338px;
		width: 0;
		height: 0;
		border-top: 20px solid transparent;
		border-bottom: 20px solid transparent;
		border-left: 20px solid @bgColor;
	}

	.filter-container {
		position:relative;
		text-align:left;
		border-bottom:2px solid @white;

		.qty-filter {
			margin: 10px 10px 5px 25px;
			strong {
				margin-right:4px;
			}
			select {
				margin-top:6px;
				width:50px;
			}
		}
		.price-filter {
			margin:5px;
			width:200px;
			p {
				label {
					float:left;
					font-size: 11px;
					margin: 4px 0 0 15px;
				}

				input {
					border:0;
					color:@blueDark;
					font-weight:bold;
					background:transparent;
					width:100px;
					.box-shadow(0 0 0 0);
					border-radius:0;
				}
			}

			.price-slider {
				width:180px;
				height:6px;

				.ui-slider-handle {
					height:12px;
					width:12px;
				}
			}
		}
	}
	.list-header-container {
		padding:10px;
		margin-top:2px;
		border-bottom: 2px solid @white;

		.clearfix();
		a {
			display:block;
			float:left;
			color:@grayDarker;
			font-weight:bold;
			text-decoration:underline;
			text-align:left;
			width:80px;
			padding:0 15px;
		}
		a:hover {
			color:@black;
		}
		a.section-header {
			width:105px;
			padding-left: 24px;
		}

		a.qty-header {
			width:64px;
			text-align: center;
		}
		a.price-header {
			text-align:center;
			padding:0;
		}
	}
	.list-container {
		overflow-y: auto;

		/*
		.row:hover {
			#translucent > .background(@gray,.9);
		}
		*/
		.row {
			padding:0;
			margin:2px 0 0 0;
			text-align:left;
			border-bottom: 2px solid @white;

			.bottom {
				width:100%;

				.qty, .ticket-info, .price {
					font-weight:bold;
					width:90px;
					text-align:left;
					padding:20px 6px 6px;
					line-height:14px;
					vertical-align: middle;
					height:60px;
					font-size:12px;

					.header {
						line-height:20px;
					}
					.value {
						line-height:14px;
						vertical-align: middle;
						font-size:16px;

					}

				}

				.qty, .price {
					text-align:center;
				}

				.ticket-info {
					padding:0 10px;

					.seats {
						font-size: 14px;
						line-height: 16px;
						margin-top: 12px;
					}
				}

				.qty {
					background-color: @boxColor;
					text-align:center;
					strong {
						.max-seats-together {
							font-size:16px;
						}
					}
				}
			}

			a {
				margin-top:6px;
			}
		}
	}
}


	#tickets-invite-friends {
		margin-top:100px;
		text-align:left;
		p {
			padding:6px 50px 6px 0;

		}
		img {
			margin:10px 0;
		}
		.controls {
			a {
				display:block;
			}
			a.invite-friends-button {
				width:30%;
				margin:auto;
			}
			a.change-payment-preference {
				width:50%;
				margin:0 20px;
				text-align:center;
			}
		}

	}


	#tickets-off {
		position:absolute;
		right:0;
		width:32%;
		overflow-y:auto;
		overflow-x:hidden;

		#read-only-filters {

			#price-range-form {
				.clearfix();

				fieldset {

					label.checkbox {
						margin:6px;
						padding:10px;
						color:@grayDark;
					}
					label.checkbox:hover {
						/* #translucent > .background(@blue,0.25); */
						color:@orange;
					}
				}

				a {
					margin: 6px;
				}
			}
		}

		#buy-now-filters {
			.h3 {
				margin:15px 10px 10px 10px;
				float:left;
			}
		}

		#add-to-plan-filters {

		}

		#purchased-tickets-filters {

		}

		#read-only-header-container {
			#read-only-header {
				.clearfix();
			}
			.popover {
				font-weight:normal;
			}
			.popover-container {
				margin:10px 0 0 10px;
			}

			a#range-header {
				width:65px;
			}
			a#section-header {
				text-align:left;
				width:180px;
			}
			a#qty-header {
				width:100px;
			}
			a#price-header {
				width:65px;
			}
		}

		#purchased-tickets-header-container, #add-to-plan-header-container, #buy-now-header-container {
			a.price-header {
				width:65px;
			}
			a.section-header {
				width:195px;
				text-align:left;
				margin-left:5px;
			}
			a.qty-header {
				width:100px;
				text-align:left;
			}

		}

		#add-to-plan-header-container {

		}

		#read-only-container-off {
			.ticket-price {
				margin-top:6px;

				.actual-price {
					margin-top:6px;
				}
			}
			/*
			.ticket-row:hover {
				#translucent > .background(@grayLight,0.25);
			}
			*/
		}

		#purchased-tickets-container, #add-to-plan-container, #buy-now-container {
			.ticket-info {
				margin-top:0;
			}

			.ticket-row {
				.ticket-price {
					margin:0 10px;
				}

			}
		}

		#add-to-plan-container {

		}

	}

