// Variables.less
// Variables to customize the look and feel of Bootstrap
// -----------------------------------------------------



// GLOBAL VALUES
// --------------------------------------------------

// Accent colors
/* old colors
@green:                 #46a546;
@red:                   #F72400;
@yellow:                rgb(255,255,98);
@yellowDark:						darken(@yellow, 25%);
@orange:                #FF6700;
@orangeDark:						#E55B00;
@orange:								#FFCC00;
@orangeDark:
@pink:                  #c3325f;
@purple:                #7a43b6;

@gray:                  #767676;
@grayDarker:            #333;
@grayDark:              #524F45;
@grayLight:             #D8D6D7;
@grayLighter:           #F0F0F0;

@linkColor:             @blue;
@linkColorHover:        darken(@linkColor, 15%);
@linkColorVisited:      #524F45;

*/

@blue:                  #4380b8;
@blueDark:              #426799;
@blueDarker:            #214478;
@blueLight:             #6DA1B7;
// @blueLighter:						#F7FEFE;
@blueLighter:						#d3e3ea;
/* yellow is the new orange */
@yellow:								#FFCC00;
@yellowDark:            darken(@yellow, 5%);
@yellowDarker:          darken(@yellow, 10%);
@yellowLight:           lighten(@yellow, 5%);
@yellowLighter:         lighten(@yellow, 10%);

@orange:								@yellow;
@orangeDark:            @yellowDark;
@orangeDarker:          @yellowDarker;
@orangeLight:           @yellowLight;
@orangeLighter:         @yellowLighter;

@green:                 #46a546;
@red:                   #F72400;

// Grays
@black:                 #000;
@white:                 #FFF;
@grayLight:             #CCC;
@gray:									darken(@grayLight, 20%);
@grayDark:              darken(@gray, 20%);
@grayDarker:            darken(@grayDark, 20%);
@grayLighter:           lighten(@grayLight, 20%);

// Links
@linkColor:             @blue;
@linkColorHover:        @blueDark;
@linkColorVisited:      @orangeDark;

// Typography
@baseFontSize:          16px;
@baseFontFamily:        Calibri, Arial, "Helvetica Neue", Helvetica, sans-serif;
@baseLineHeight:        18px;
@textColor:             @grayDark;

// Buttons
@btnPrimaryBackground:    @linkColor;
@btnPrimaryBackgroundHighlight:     spin(@btnPrimaryBackground, 15%);

// Input placeholder text color
@placeholderText:       @grayLight;

// Navbar
@navbarHeight:                    40px;
@navbarBackground:                @grayDarker;
@navbarBackgroundHighlight:       @grayDark;

@navbarText:                      @grayLight;
@navbarLinkColor:                 @grayLight;
@navbarLinkColorHover:            @white;
