//- split-after
.container.parking-container.clearfix
	include ../parking-icon
	.pull-left
		include ../parking-header
		include ../no-parking
		include ../parking-not-chosen
		include ../chosen-parking
		include ../purchased-parking
