//- split-after
.container.hotel-container.clearfix.border-bottom
	include ../hotels-icon
	.pull-left
		include ../hotels-header
		include ../no-hotels
		include ../hotels-not-chosen
		include ../chosen-hotels
		include ../purchased-hotels
