- var actionArgs = {};
- if (typeof buttonText != "undefined")
	- actionArgs.buttonText = buttonText;
#eventBuilder.block(href="#eventBuilder")
	#event!= partial("includes/event",{cta:false,rating:false,link:false,event:session.currentPlan.event});
	#split &nbsp;
	#stepInfo
		#summary
			h5 Itinerary Summary: 
			#summaryContent Nothing added yet...
		#actions!= partial("includes/event-builder-actions",actionArgs);
#howDoesItWorkModal.modal.hide.fade
	.modal-header
		a.close(data-dismiss="modal") x
		h3 How It Works
	.modal-body
		p this is how it works...
	.modal-footer
		a.btn(data-dismiss="modal") Close
include ../includes/modals/signup
