a.block(href="#eventBuilder").hide
#event!= partial("includes/event",{cta:false,rating:false,link:false,event:event});
#split
#stepInfo
	#info
		h3 1. Choose Ticket Options
		span.block Select 1 or more ticket options to share with your friends.
		#summary
			h5 Itinerary Summary: 
			span#summaryContent Nothing added yet...
	#actions
		a#continue.btn.btn-success.btn-large(href="#") Continue
		#links
			a#howDoesItWork(data-toggle="modal",href="#howDoesItWorkModal") How Does It Work
			span  | 
			a.saveForLater(data-toggle="modal",href="#signupModal") Save For Later
#eventBuilderAlert.alert.hide
#howDoesItWorkModal.modal.hide.fade
	.modal-header
		a.close(data-dismiss="modal") x
		h3 How It Works
	.modal-body
		p this is how it works...
	.modal-footer
		a.btn(data-dismiss="modal") Close
include ../includes/modals/signup