#searchBox
	form#searchForm.form-search(method="GET", action="/events/search/")
		input.search-query.span10(id="q",value="Enter an event, team, performer, city, venue")
		a#go(href="#").segoeBold Go!
