#searchBoxContainer
	#searchFrame.span14
		form#searchForm.clearfix(method="GET", action="/events/search/")
			div
				input(id="q",value="Enter an event, team, performer, city, venue").span11
			a#go(href="#").segoeBold Go!
