#hotels-price-range.price-range
	.popover-container.pull-left
		i#help1.icon-question-sign.display-popover(placement="right",trigger="hover",animation="true",title="Pick A Price Range",content="Choose a price range to give your friends an idea of how much they can expect to pay for hotels.  Mouse over the dollar signs to see each price range then use the checkboxes to pick your options.")
	h3.pull-left PICK YOUR PRICE RANGE:
	form#hotels-price-range-form.price-range-form.form-inline
		fieldset.pull-left
			label.checkbox(ng-click="handlePriceRange()",title="LOW: Under $20")
				input#low(type="checkbox",ng-model="priceRange.low")
				span.dollar-sign(ng-class="{true:'orange'}[priceRange.low]") $
			label.checkbox(ng-click="handlePriceRange()",title="MEDIUM: From $20 to $50")
				input#med(type="checkbox",ng-model="priceRange.med")
				span.dollar-sign(ng-class="{true:'orange'}[priceRange.med]") $$
			label.checkbox(ng-click="handlePriceRange()",title="Above $50")
				input#high(type="checkbox",ng-model="priceRange.high")
				span.dollar-sign(ng-class="{true:'orange'}[priceRange.high]") $$$
		a.btn.btn-primary.btn-large.wembli-sequence-link.pull-left(ng-hide="backToPlan",href="{{eventOptionsLink}}",direction="1") Continue to Invite Friends
		a.btn.btn-primary.btn-large.wembli-sequence-link.pull-left(ng-show="backToPlan",href="/plan",direction="1") Back To The Plan
#hotels-list-header-container.hotels-list-header-container.list-header-container
	#hotels-list-header.list-header
		h4.pull-left Preview hotels options in your price range
		.popover-container.pull-left
			i.icon-question-sign.display-popover(placement="bottom",trigger="hover",animation="true",title="Preview hotels",content="Get a sneak peak at the kind of hotels your price range will get you. Once you know how many people are coming, you'll be able to reserve hotels.")
	a.range-header(href="#",ng-click="sortByPrice()") Range
	a.section-header(href="#",ng-click="sortBySection()") Location
	a.qty-header(href="#",ng-click="sortByQty()") Spots Available
	a.distance-header(href="#",ng-click="sortByDistance()") Distance
	a.price-header(href="#",ng-click="sortByPrice()") Price
ul#hotels-list-container.hotels-list-container.list-container
	li.hotels-row.row.bounce-map-marker(lat="{{hotels.lat}}",lng="{{hotels.lng}}",ng-repeat="hotels in hotelsReservations.hotels_listings",ng-hide="hotels.hide")
		.hotels-range
			.dollar-sign {{determineRange(hotels.price)}}
		.hotels-info
			.hotels-location-name {{hotels.location_name}}
			.hotels-address
				div {{hotels.address}}
				div {{hotels.city}}, {{hotels.state}}
		.hotels-available {{hotels.available_spots}} spots
		.hotels-distance {{determineDistance(hotels.distance)}} mi.
		.hotels-price
			.actual-price ${{hotels.price}}
			.each (each)
	li.hotels-row.bounce-map-marker(lat="{{hotels.geometry.location.lat()}}",lng="{{hotels.geometry.location.lng()}}",ng-repeat="hotels in googlehotels",ng-hide="hotels.hide")
		.hotels-range
			.dollar-sign N/A
		.hotels-info
			.hotels-location-name {{hotels.name}}
			.hotels-address {{hotels.vicinity}}
		.no-reservations-available Online reservations are not available.



