/* global invitees lists */
.invitees-container {
	.add-on-header-container {
		border-bottom: 1px solid @grayLight;
		margin:0;
	}

	.invitee {
		margin-top:10px;
		border-bottom:1px solid @grayLight;
		padding-bottom:10px;

		.invitee-info {

			.rsvp-status {
				margin-top:10px;

				.rsvp-status-header {
					text-transform:uppercase;
					color:@gray;
					font-style: italic;
					font-size:20px;
				}
			}

			.invitee-prefs {
				text-align:left;
				padding:10px;

				.invitee-prefs-header {
					font-weight: bold;
					font-size: .9em;
					border-bottom: 1px solid @grayDark;
				}

				.invitee-prefs-row {
					margin-top:5px;

					.invitee-pref-value {
						text-align: right;

						.price-level {
							color:@yellow;
							letter-spacing: -8px;
						}
					}

				}

				.invitee-pref-row {
					.fa {
					}
					.dollar-sign {
						font-size: 30px;
					}
					.prefs-list {
						text-align:left;
					}
				}

				.invitee-pref.muted {
					color:@grayLight !important;
				}
			}

			.invitee-name {
				/* height: 24px; */
				.name {
					font-size:20px;
				}
				.guests {
					font-weight:bold;
				}
				.message-status-container {
					text-align: right;
				}
			}
		}

	}
}

/* md and larger have nav on the left */
@media (min-width: @screen-md-min) {

	/* global invitees lists */
	.invitees-container {
		.invitee {
			.invitee-info {
				.invitee-prefs-container {
					.invitee-pref {
						text-align:center;

						.invitee-pref-header {
							font-size: 14px;
							line-height: 14px;

						}
					}
				}
			}

			.history-container {
				.history {
					.history-item {

					}
					.outside-payment-form {

					}
				}
			}
		}
	}
}
