.google-map-container {
	height:400px;
	padding:10px;
	.itinerary-map {
		height:380px;
		.info-window {
			height:50px;
			width:150px;
			color:@black;
			h3 {
				line-height:14px;
				font-size:14px;
			}
		}
	}
}
