extends layout
block content

	#login(ng-controller="LoginCtrl")
		.container
			.row
				#login-left.col-md-4.hidden-xs.hidden-sm
					img(src="/images/search-arrow.png").img-responsive.search-arrow
					.copy.segoe Did you know your plan is automatically saved when you're logged in?
					img(src="/images/question.png").img-responsive.wembliman
				#login-right.col-md-6.col-xs-12
					h1
						i.fa.fa-lock
						span &nbsp;Recover Password

					form#forgot-password-form.row(novalidate, role="form", name="forgotPasswordForm", ng-submit="submitForgotPasswordForm()")
						input.redirect-url(ng-model="redirectUrl", type="hidden",name="redirectUrl",value="")
						fieldset
							.error(ng-show="forgotPasswordForm.noCustomer") There is no customer account for that email address.
							.error(ng-show="forgotPasswordForm.success") Successfully sent you an email to reset your password.
							.error(ng-show="forgotPasswordForm.fatalError") Error trying to recover password - click feedback and support below to let us know!
							.form-group
								label(for="email") Enter your email address:
								input#email.form-control(ng-model="email",placeholder="EMAIL ADDRESS",type="email",name="email", required)
								i.fa.fa-check-circle.green(ng-show="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$valid")
								i.fa.fa-exclamation-circle.gray-light(ng-show="forgotPasswordForm.email.$dirty && forgotPasswordForm.email.$invalid")

							.col-md-4.col-md-offset-8
								a#forgot-password-link.pull-right(href="/login") Back to login
						.col-md-7
							button(type="submit").btn.btn-primary.btn-lg
								span Send Password Email&nbsp;
								i.fa.fa-lock(ng-hide="forgotPasswordInProgress")
								i.fa.fa-cog.fa-spin(ng-show="forgotPasswordInProgress")
						.col-md-5.col-lg-4.col-lg-offset-1
							a#signup-link(href="/signup")
								span New to Wembli?&nbsp;
								br.hidden-xs.hidden-sm
								span Click here to Sign Up.
					a.facebook-login(target="_self", href="/auth/facebook")
						i.fa.fa-facebook-square
						span &nbsp;Login with Facebook instead.


