#planViewFriendContainer.planViewContainer
	- if (action == 'collectVote')
		#rsvpContainer.alert.alert-success.alert-block!= partial("includes/plan-view/rsvp-alert",{})
	#mainContainer.row
		#eventDetails!= partial("includes/event",{cta:false,rating:false,link:false,event:session.currentPlan.event});
		#left.span8
			#votingContainer.module!= partial("includes/plan-view/voting",{})
		#right.span4
			#friendStack.module!= partial("includes/plan-view/friend-stack",{})

