#eventBuilderContainer!= partial("widgets/event-builder",{actionArgs:{step:'friends'}});
#breadcrumbsContainer!= partial("includes/event-builder-breadcrumbs",{});
#friendsContent.row
	#gmail.module
		h3 Add Friends Using Gmail
		.body
			span Find friend contact info quickly using your Gmail contact list. 
			strong This feature is not available for beta.
			hr
		.footer
			a.btn.btn-success.btn-large.disable Connect to Gmail
	#facebook.module.center
		h3 Add Friends Using Facebook
		.body
			span Click below to easily add friends from Facebook to your plan. 
			strong This feature is not available for beta.
			hr
		.footer
			a.btn.btn-success.btn-large.disable Connect to Facebook
	#manual.module
		h3 Add Friends Manually
		.body
			form#manualForm(method="POST",action="#")
				#error.alert.alert-error.hide
				#manualName
					input#firstName(name="firstName",placeholder="First Name",type="text")
					input#lastName(name="lastName",placeholder="Last Name",type="text")
				#manualEmail
					input#email(name="email",placeholder="Email Address",type="text")
					button#addToPlan.btn.btn-success(type="submit") Add To Plan
				hr
			#friendStack

