include includes/modals/vote-by
#eventBuilderContainer!= partial("widgets/event-builder",{});
#breadcrumbsContainer!= partial("includes/event-builder-breadcrumbs",{});
#friendsContent.row
	#gmail.module
		h3 Add Friends Using Gmail
		.body
			span Use your Gmail contact list to add friends.
			strong This feature is in the works!
			hr
		.footer
			a.btn.btn-success.btn-large.disable Connect to Gmail
	#facebook.module.center
		h3 Add Friends Using Facebook
		img.spinner(src="/images/ajax-loader-small.gif")
		.body.hide
			span Click below to easily add friends from Facebook to your plan. 
			hr
		.footer.hide
			a.btn.btn-success.btn-large.disable Connect to Facebook
	#manual.module
		h3 Add Friends Manually
		.body
			form#manualForm(method="POST",action="#")
				#error.alert.alert-error.hide
				#manualName
					input#firstName(name="firstName",placeholder="First Name",type="text")
					input#lastName(name="lastName",placeholder="Last Name",type="text")
				#manualEmail
					input#email(name="email",placeholder="Email Address",type="text")
					button#addToPlan.btn.btn-success(type="submit") Add To Plan
				hr
			#friendStack

