extends layout
block append backgrounds
	#blue-tall.stripe

block content
	#homeContent
		include includes/index/circles
		include includes/big-search-box
		#belowFold
			include includes/index/event-list
			include includes/index/quotes
			hr
			include includes/index/twitter-feed
			include includes/index/mobile-ad
