#homeContent
	h1 You're only 4 steps away from planning your perfect outing!
	#circles
		#step1Circle.homeCircle
			#step1Icon.stepIcon
		#step2Circle.homeCircle
			#step2Icon.stepIcon
		#step3Circle.homeCircle
			#step3Icon.stepIcon
		#step4Circle.homeCircle
			#step4Icon.stepIcon
	#steps
		section#step1
			h3 Buy Tickets
			#step1Info.tunga.hidden We don't compete with the big guys, we aggregate them all like Kayak so you can get the best bang for your buck.
		section#step2
			h3 Reserve Parking
			#step2Info.tunga.hidden You can reserve a parking spot right here so you never have to deal with the dreaded parking search again.
		section#step3
			h3 Book A Restaurant
			#step3Info.tunga.hidden Go ahead and book your reservations with us - we'll even hook you up with great deals to top off the outing!
		section#step4
			h3 Coordinate W Friends
			#step4Info.tunga.hidden Let's face it - entertainment is a social sport so we make it easy for you to coordinate with your friends!
	include widgets/search-box
	#belowFold
		.event-list.span6.offset1!= partial("widgets/event-list",{heading: 'Upcoming Events in '+session.ipinfo.cityName,events:events});
			a#seeMore(href="/events/search/"+session.ipinfo.cityName+"/"+Date.today().format("mm-dd-yy"))
				span see more events in 
				span.lowercase!= session.ipinfo.cityName
		a.mobileAd.offset8(href="#")
			span.btn.btn-primary Get Mobile