#homeContent
	article
		h1.myriad It's a new day for event-goers
		p Wembli is your one-stop-shop for planning the perfect outing. We scour the internet for the best tickets, prices and deals on concerts and sporting events so you don't have to.  No more bouncing from site to site trying to put all the pieces together with Wembli as your event concierge. 
	section All sorts of amazing stuff here!!!