!!!
html.trigger-partial(ng-app="wembliApp",xmlns:ng="http://angularjs.org",id="ng-app")
  head
    meta(name="globalsign-domain-verification", content="rcFg9PG3S-b6loqjhIzM6gBswzZdJiA923i9pEY6L7")
    include includes/head
  body(ng-controller="MainCtrl")
    include includes/facebook-sdk
    #empty-modal.modal.hide
    include includes/header
    include includes/modals
    - if (typeof fixedHeight !== "undefined")
      #content.fixed-height
        ul
          li
            #frame1.frame1
              block frame1
          li
            #frame2.frame2
              block frame2
    - else
      #content
        ul
          li
            #frame1.frame1
              block frame1
          li
            #frame2.frame2
              block frame2
  include includes/js-includes
  script
    (function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/KFPEQb0ORSNrSLxnkolQ.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>
  script
    UserVoice = window.UserVoice || [];
    UserVoice.push(['showTab', 'classic_widget', {
    mode: 'full',
    primary_color: '#cc6d00',
    link_color: '#007dbf',
    default_mode: 'support',
    forum_id: 169652,
    tab_label: 'Feedback & Support',
    tab_color: '#07578c',
    tab_position: 'bottom-left',
    tab_inverted: false
    }]);

