!!!
html#html(ng-app="wembliApp",xmlns:ng="http://angularjs.org",id="ng-app")
  head
    meta(name="globalsign-domain-verification", content="rcFg9PG3S-b6loqjhIzM6gBswzZdJiA923i9pEY6L7")
    include includes/head
  body#body
    #overlay(wembli-overlay)
      .overlay-loading.hide
        i.fa.fa-cog.fa-spin.fa-4x
    include includes/facebook-sdk
    include includes/header
    #content
      block content
  include includes/js-includes


