!!!
html
  head
    title= title
    meta(charset="utf-8")
    meta(name="description",content="")
    meta(name="author",content="")
    link(type="image/x-icon", rel="icon",href="/favicon.ico")
    link(type="image/png", rel="icon",href="/favicon.png")
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/style.css')

    | 
    | <!--[if lt IE 9]>
    |   <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    | <![endif]-->
    | 
 
    // TODO: remove this when we get a separate layout for our maps page
    - if ("undefined" !== typeof cssIncludes)
      - each file in cssIncludes
        link(rel="stylesheet", href=file)
    script(type="text/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js")
    - if ("undefined" !== typeof jsIncludes)
      - each file in jsIncludes
        script(type="text/javascript", src=file)
    - if ("production" == environment()) 
      script(type="text/javascript")
         var _gaq = _gaq || [];
         _gaq.push(['_setAccount', 'UA-27420261-1']);
         _gaq.push(['_trackPageview']);
         (function() {
           var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
           ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
         })();
  // TODO: remove once we get a separate layout for our maps page...
  body
    .topbar
      .fill
        .container
          a.brand(href="#") Wembli
          ul.nav
            li.active
              a(href="#") Home
            li
              a(href="#about") About    
            li
              a(href="#contact") Contact
          form.pull-right(action="")
            input.input-small(type="text",placeholder="Username")
            input.input-small(type="text",placeholder="Password")
            button.btn(type="submit") Submit
    .container
      .content!= body
      footer
        p &copy; Wembli 2011