!!!
html.trigger-partial(ng-app="wembliApp")
  head
    include includes/head
  body(ng-controller="MainCtrl")
    include includes/facebook-sdk
    include includes/header
    #page-loading-modal.modal.hide
      .modal-header
        h2 WEMBli Quick Tip:
      .modal-body
        p You can share your favorite ticket options with your friends before you decide what to buy...
      .modal-footer
        .progress.progress-striped.active
          .bar(style="width:100%")
    - if (typeof fixedHeight !== "undefined")
      #content.fixed-height
        ul
          li
            #frame1.frame1
              block frame1
          li
            #frame2.frame2
              block frame2
    - else
      #content
        ul
          li
            #frame1.frame1
              block frame1
          li
            #frame2.frame2
              block frame2
    include includes/footer
  include includes/js-includes
