!!!
html.trigger-partial(ng-app="wembliApp")
  head
    include includes/head
  body(ng-controller="MainCtrl")
    include includes/facebook-sdk
    #empty-modal.modal.hide
    include includes/header
    include includes/modals
    - if (typeof fixedHeight !== "undefined")
      #content.fixed-height
        ul
          li
            #frame1.frame1
              block frame1
          li
            #frame2.frame2
              block frame2
    - else
      #content
        ul
          li
            #frame1.frame1
              block frame1
          li
            #frame2.frame2
              block frame2
  include includes/js-includes
