extends layout
block content
	#restaurant.addons-container(ng-controller="RestaurantsCtrl")
		#restaurant-confirm.addon-confirm.slide-in-down(ng-show="restaurantConfirm")
			.restaurant-confirm-header.addon-confirm-header.slide-in-down-header
				a(href="#")
					i.fa.fa-times.fa-2x(ng-click="removeDeal(currentDeal._id)").pull-right
				h2.modal-title Confirm Adding Deal To Your Plan
				h4.modal-subtitle
			.restaurant-confirm-body.addon-confirm-body.slide-in-down-body.row
				.left.section-view.col-md-4.col-xs-12
					img.img-responsive.center-block(ng-hide="currentDeal.images.image_smart",src="/images/wembliman-restaurant.png")
					img.img-responsive.center-block(ng-show="currentDeal.images.image_smart",ng-src="{{currentDeal.images.image_smart}}")
				.right.col-md-8.col-xs-12
					.alert.alert-warning
						.row
							.col-xs-2.text-center
								i.fa.fa-exclamation-triangle.fa-2x
							.col-xs-10
								span You are&nbsp;
								strong not&nbsp;
								span purchasing this deal, you are only adding it to your plan.  Once your friends pony up, you can buy this deal.
					.row
						.col-xs-12
							h3 {{currentDeal.title}}
					.row
						.col-xs-12
							p {{currentDeal.description}}
					.addon-info.row(ng-show="{'yipit':true}[currentDeal.service]")
						.col-xs-12
							.row
								.col-xs-12
									strong.name {{currentDeal.business.name}}
									span(ng-show="currentDeal.business.url") &nbsp;(&nbsp;
									a.website(ng-show="currentDeal.business.url", target="_blank", ng-href="{{currentDeal.business.url}}") website
									span(ng-show="currentDeal.business.url") &nbsp;)
							.row(ng-show="currentDeal.price.formatted")
								.col-xs-12
									span.price {{currentDeal.price.formatted}}
									span(ng-show="currentDeal.discount.formatted") ,
									span.yellow(ng-show="currentDeal.discount.formatted") &nbsp;{{currentDeal.discount.formatted}} discount!
							.row(ng-show="currentDeal.end_date")
								.col-xs-12
									i.end-date Offer expires:
										strong &nbsp;{{parseDate(currentDeal.end_date) | date: 'longDate'}}


					.addon-info.row(ng-show="{'google':true}[currentDeal.service]")
						.col-xs-12
							.row
								.col-xs-12
									strong.name {{currentDeal.name}}
							.row(ng-show="currentDeal.vicinity")
								.col-xs-12
									strong.address {{currentDeal.vicinity}}
							.row(ng-show="restaurantDetails.formatted_phone_number")
								.col-xs-12
									strong.phone-number {{restaurantDetails.formatted_phone_number}}
							.row(ng-show="restaurantDetails.website")
								.col-xs-12
									a.website-link(href="{{restaurantDetails.website}}", target="_blank") {{restaurantDetails.website}}
							.row(ng-show="restaurant.rating")
								.col-xs-12
									span.star-rating(rating="currentDeal.rating")
									span(ng-show="restaurantDetails.user_ratings_total") &nbsp;-&nbsp;
									a.reviews-link(target="_blank",ng-show="restaurantDetails.user_ratings_total", href="restaurantDetails.url") {{restaurantDetails.user_ratings_total}} Reviews
					.next-step-text.row(ng-hide="backToPlan")
						.col-xs-12
							p Next step, choose your plan settings and invite friends.  Once your friends are invited, you'll ask them to pony up for their share of the cost.
					.row
						.col-xs-12
							a.btn.btn-primary.btn-sm.form-control(href="{{nextLink}}") {{nextText}}

		include includes/restaurant-offsite

		.container-fluid(style="height:100%")
			.header.row(ng-cloak)
				.col-md-2.col-sm-3.col-xs-12
					.event-date-box
						span.day(ng-cloak) {{plan.event.eventDate| date:'EEE'}}
						span.event-date(ng-cloak) {{plan.event.eventDate| date:'MMM d'}}
						span.time(ng-cloak) {{getDate(plan.event.eventDate)| date:'h:mm a'}}
				.col-md-10.col-sm-9.col-xs-12
					.row
						.col-xs-12.col-md-8
							.info
								h1.name.block {{plan.event.eventName}}
								h2.helvetica.venue-name {{ plan.event.eventVenue || plan.event.eventVenue }}
								.venue-address(ng-show="plan.venue.data.geocode.formatted_address") {{plan.venue.data.geocode.formatted_address}}
								.venue-address(ng-hide="plan.venue.data.geocode.formatted_address") {{plan.venue.data.Street1+', '+plan.event.eventCity+', '+plan.event.eventState}}
						.col-xs-12.col-md-4
							.navigation(ng-show="ticketsChosen || backToPlan")
								a(href="{{nextLink}}") {{nextText}}&nbsp;
								i.fa.fa-level-down.fa-rotate-270


			.row(style="height:100%")
				#restaurant-left.col-md-8.col-xs-12.addons-content-container(style="height:100%")
					#map-background.row(style="height:100%")
						.col-xs-12(style="height:100%;margin:0;padding:0")
							#restaurant-map-container.addons-map.map-container(style="height:100%",lat="#{lat}",lng="#{lon}",zoom="13",draggable="true",map-type-id="ROADMAP")

				#restaurant-right.col-md-4.col-xs-12.addons-list-container
					#restaurant-list-header.addons-list-header
					#restaurant-list.row
						.col-xs-12.addons-list-col
							ul.restaurant-list-container.list-container.addons-list
								li.addons-list-row.restaurant-row.bounce-map-marker(lat="{{deal.business.locations[0].lat}}",lng="{{deal.business.locations[0].lon}}",ng-repeat="deal in deals track by $index | filter:{hide:false}",ng-hide="deal.hide")
									.row
										.col-xs-12
											i.fa.fa-cutlery
											strong.title &nbsp;{{deal.title}}
									.row(ng-show="deal.inPlan")
										.col-xs-12
											i This deal has been added to your plan:
									.row
										.col-xs-3.price
											.value
												strong {{deal.price.formatted}}
											.qty
												i {{deal.discount.formatted}} savings
										.col-xs-4.content
												div
													span {{deal.business.name}}
												div
													span {{deal.business.locations[0].address}}
										.col-xs-5.controls
											//- if its split first then they only add to plan and buy later
											.actions(ng-show="{'split-first':true}[plan.preferences.payment]")
												a.btn.btn-primary(ng-click="addDeal($index)", ng-hide="deal.inPlan") Add Deal
												a.btn.btn-warning.btn-sm(ng-click="removeDeal(deal._id)",ng-href="#",ng-show="deal.inPlan && !deal.purchased") Remove From Plan
												button.btn.btn-warning.btn-sm(ng-show="deal.inPlan && deal.purchased") Purchased
											//- not split first - add to plan and buy now
											.actions(ng-hide="{'split-first':true}[plan.preferences.payment]")
												a.btn.btn-primary(ng-click="addDeal($index)", ng-href="{{deal.url}}", target="_blank", ng-hide="deal.inPlan") Buy Deal
												a.btn.btn-warning.btn-sm(ng-click="removeDeal(deal._id)",ng-href="#",ng-show="deal.inPlan && !deal.purchased") Remove From Plan
												button.btn.btn-warning.btn-sm(ng-show="deal.inPlan && deal.purchased") Purchased
								li.text-center
									a(ng-show="filteredList", ng-click="filterNone()", href="#") Back to list

							//- google
								li.addons-list-row.restaurant-row.bounce-map-marker(lat="{{p.geometry.location.lat()}}",lng="{{p.geometry.location.lng()}}",ng-repeat="p in googlerestaurant track by $index",ng-hide="p.hide")
									.row(ng-show="p.inPlan")
										.col-xs-12
											i This restaurant has been added to your plan:
									.row
										.col-xs-12
											i.fa.fa-truck
											strong.title &nbsp;{{p.name}}
									.row
										.col-xs-7
											div
												span {{p.vicinity}}
											div
												i Online reservations are not available.
										.col-xs-5.controls
											//- if just adding to plan - throw an overly to confirm and then send them on their way
											.actions
												button.btn.btn-primary(ng-click="addGooglerestaurant($index)", ng-show="!p.inPlan") Add restaurant
												button.btn.btn-warning(ng-click="removerestaurant(p._id)",ng-show="p.inPlan") Remove

