#restaurantsContent
	div.letterbox
		h1.myriad  &nbsp;
	section.clearfix 
		div#searchWidget
			ul.widget-tabs
				li.active Reservations
			div#searchContainer
				span.marker
				form.active(method="get", name="find-tickets", method="/tickets/search")
					ul
						li 
							label(for="term") Find restaurants
							input.default.example(name="term", id="term", type="text", value="City, restaurant or attraction")
						li.clearfix 
							label(form="date1") For this time
							input.default.example.date.first(name="date", id="date", type="text", value="Date")
							input.default.example.time(name="time", id="time", type="text", value="Time")
						li.clearfix
							label(for="adults") For this many people
							select.half.first(name="adults", id="adults")
								option(value="") Adults
								-for(var i = 0; i <= 9; i++)
									option(value="#{i}") #{i}
								option.last(value="10plus") 10 +
							select.half(name="children", id="children")
								option(value="") Children
								-for(var i = 0; i <= 9; i++)
									option(value="#{i}") #{i}
								option.last(value="10plus") 10 +						
						li.last 
							input.btn.primary(value="Search For Restaurants")
		div#parkingResults.searchResults
			h2 Don't miss out on great deals at local restaurants
			ul.sort.clearfix
				li.label Sort by:
				li
					a.active(href="#") Cuisine
				li
					a(href="#") Rating
				li
					a(href="#") # of People					
			div.filters
				span.filter	 Filters <strong>+</strong>
				ul.filtered
			ul.results
				li
					a.title(href="#") Result 1 Name
					span.rating
						span.stars 3.5
						span &nbsp;(25 reviews)
					p 123 this st
					p 1-619-555-1234
					a.btn.danger(href="") Reserve			
				li
					a.title(href="#") Result 1 Name
					span.rating
						span.stars 3.5
						span &nbsp;(25 reviews)
					p 321 that ave
					p 1-619-555-1234
					a.btn.danger(href="") Reserve		
		article#signupCta.clearfix
			h3 Sign Up and Get Insider Deals
			p Sign up and and you'll get deals directly to your dashboard. You choose the foods you like, the atmoshphere you prefer and the types of deals that are important to you. We keep the info on hand so it's always available at your fingertips.
			a(href="#") Sign In							