#signupContainer
  #signupWrapper
    h1 Signup For Wembli
    form#signupForm.form-horizontal(method="post",action="/signup",enctype="application/x-www-form-urlencoded")
      .generalError.error.yellow
      #formWrapper
        #formFields
          fieldset
            label(for="signupEmail") Email:
            input#signupEmail(type="text",value=(session.remember ? params.email : null),name="email")
          fieldset
            label(for="signupPassword") Password:
            input#signupPassword(type="password",value="",name="password")
          fieldset
            label(for="signupPassword2") Confirm Password:
            input#signupPassword2(type="password",value="",name="password2")
    #signupFormFooter
      #termsText.finePrint
        span *By signing up you agree to our 
        a(href="/terms-policies") Terms of Service
        span!= ' and our '
        a(href="/terms-policies") Privacy Policy
      #loginLink
        h3 Already a member?
        a(href="/login") Click here to login
      button#signupSubmitButton.btn.btn-primary.btn-large SignUp
script(type="text/javascript")
  console.log('setting click event for signup');
  $('#signupSubmitButton').click(function(e) {
    console.log('started submit');
    e.preventDefault();
    console.log($('#signupEmail').val());
    console.log($('#signupPassword').val());
    console.log($('#signupPassword2').val());

    if (
        ($('#signupEmail').val() == '')    ||
        ($('#signupPassword').val() == '') ||
        ($('#signupPassword2').val() == '')
       ) {
      $('#signupForm .generalError').html('Please make sure all fields are entered');
      $('#signupForm .generalError').show();
      return false;
    }

    if ($('#signupPassword').val() != $('#signupPassword2').val() ) {
      $('#signupForm .generalError').html('Your passwords do not match.');
      return false;
    }

    wembli.customer.exists({email:$('#signupEmail').val()},function(err,exists) {
      if(!err && !exists) {
        console.log('submitting signup form');
        $('#signupForm').submit();
        return false;
      } else {
        $('#signupForm .generalError').html('That email address is already used.<br/>  Perhaps you are already a member?');
        return false;
      }

      if (err) {
        $('#signupForm .generalError').html('We are unable to sign you up at this time.<br/>  Please try again later. ' + err);
      }
    });
    return false;
  });
