extends layout
block frame1
	style p {margin:20px}
	div(style="text-align:left;padding:50px")
		h1 This is an H1 tag
		h2 This is an H2 tag
		h3 This is an H3 tag
		h4 This is an H4 tag
		h5 This is an H5 tag
		h6 This is an H6 tag
		p
			button.btn.btn-primary Button Primary
		p
			button.btn.btn-info Button Info
		p
			button.btn.btn-success Button Success
		p
			button.btn.btn-warning Button Warning
		p
			button.btn.btn-danger Button Danger

