extends layout
block content
	#login(ng-controller="SupplyPasswordCtrl")
		.container
			.row
				#login-left.col-md-4.hidden-xs.hidden-sm
					img(src="/images/search-arrow.png").img-responsive.search-arrow
					.copy.segoe I hear ginseng does wonders for your memory :)
					img(src="/images/question.png").img-responsive.wembliman
				#login-right.col-md-6.col-xs-12
					h1
						i.fa.fa-lock
						span &nbsp;Set Your Password
					form#confirm-password-form.row(novalidate, role="form", name="confirmPasswordForm", ng-submit="submitConfirmPasswordForm()")
						input#token(ng-model="token", type="hidden",name="token",value=token)
						input#email(ng-model="email", type="hidden",name="email",value=email)
						if (typeof redirectUrl !== "undefined")
							input(ng-init="redirectUrl=#{redirectUrl}", ng-model="redirectUrl", type="hidden", name="redirectUrl", value=redirectUrl)
						fieldset
							.error(ng-show="confirmPasswordForm.passwordMismatch") Doh! Your passwords don't match
							.error(ng-show="confirmPasswordForm.expired") Unable to save your password: token expired.  Try requesting a new forgot password email.
							.error(ng-show="confirmPasswordForm.tokenMismatch") Unable to save your password: token mismatch.  Try requesting a new forgot password email.
							.error(ng-show="confirmPasswordForm.fatalError") Error saving password - click feedback and support below to let us know!
							.form-group
								label(for="password") Password
								input#password.form-control(ng-model="password",placeholder="PASSWORD",type="password",name="password",required)
								i.fa.fa-check-circle.green(ng-show="confirmPasswordForm.password.$dirty && confirmPasswordForm.password.$valid")
								i.fa.fa-exclamation-circle.gray-light(ng-show="confirmPasswordForm.password.$dirty && confirmPasswordForm.password.$invalid")
							.form-group
								label(for="password2") Confirm Password
								input#password2.form-control(ng-model="password2",placeholder="CONFIRM PASSWORD", type="password",value="",name="password2",required)
								i.fa.fa-check-circle.green(ng-show="confirmPasswordForm.password2.$dirty && confirmPasswordForm.password2.$valid && (password == password2)")
								i.fa.fa-exclamation-circle.gray-light(ng-show="confirmPasswordForm.password2.$dirty && ((password !== password2) || confirmPasswordForm.password2.$invalid)")
						.col-md-6
							button(type="submit").btn.btn-primary.btn-lg
								span Save Password&nbsp;
								i.fa.fa-lock(ng-hide="confirmPasswordInProgress")
								i.fa.fa-cog.fa-spin(ng-show="confirmPasswordInProgress")
