#termsPolicies
  h3 PayPal™ Acceptable Use Policy
  a(href="https://cms.paypal.com/us/cgi-bin/?cmd=_render-content&content_ID=ua/AcceptableUse_full",target="_blank") Click Here To See The PayPal™ Acceptable Use Policy
  hr
  h3 Ticketing Terms Of Use and Privacy Policy
  script(type="text/javascript")
    var bid = 5006
    var site = 0
    document.write('<script language="javascript" src="http://tickettransaction.com/?bid='+bid+'&sitenumber='+site+'&tid=600" ></' + 'script>')