#termsPolicies
  script(type="text/javascript")
    var bid = 5006
    var site = 0
    document.write('<script language="javascript" src="http://tickettransaction.com/?bid='+bid+'&sitenumber='+site+'&tid=600" ></' + 'script>')