!!!
html.trigger-partial
	head
		include includes/head
	body
		include includes/facebook-sdk
		include includes/header
		#content
			#map-container
		include includes/footer
		include includes/js-includes
		script(type="text/javascript")
			$(document).ready(function() {
				$('#map-container').tuMap({
					ServiceUrl: "https://imap.ticketutils.com",
					MapId:"#{mapId}",
					MapSet: "#{mapType}",
					ColorScheme: 1,
					AutoSwitchToStatic: true,
					ControlsPosition: "Outside",
					ZoomLevel: 2,
					GroupsContainer: "#groups-container",

					RowSelector: ".ticketRow",
					SectionSelector: ".ticketSection",
					PriceSelector: ".ticketPrice",
					QuantitySelector: ".ticketQuantity",
					eTicketSelector: ".eTicket",

					OnMouseover: function(e, Section) {
					console.log(Section);
					if(Section.Active) {
					console.log("Section " + Section.Name + " in Group " + Section.Group.Name);
					} else {
					console.log('no tickets');
					}
					},

					OnError: function(e, Error) {
					console.log(Error);
					},

					OnMouseout: function(e, Section) {
					if(Section.Active) {
					console.log("Section " + Section.Name + " in Group " + Section.Group.Name);
					}
					},

					OnClick: function(e, Section) {
					if(Section.Active && Section.Selected) {
					console.log("Selected Section " + Section.Name + " in Group " + Section.Group.Name);
					}
					},

					OnControlClick: function(e, Data) {
					if(Section.Selected) {
					console.log("Selected Button " + Data.Name);
					}
					},

					OnGroupClick: function(e, Group) {
					if(Group.Selected) {
					console.log("Selected Group " + Group.Name);
					}
					},

					OnTicketSelected: function(e, Ticket) {
					console.log("TicketId:" + Ticket.Id + ", Quantity:" + Ticket.Quantity);
					},

					OnReset: function(e) {
					console.log('they want to reset');
					},
					});
				});

