extends layout
block content
	//- include includes/modals/tickets/no-tickets
	//- include includes/modals/tickets/tickets-login
	//- include includes/modals/tickets/tickets-offsite
	#tickets.addons-container(ng-controller="TicketsCtrl")
		#tickets-confirm.slide-in-down(ng-show="ticketsConfirm")
			.tickets-confirm-header.slide-in-down-header
				a(href="#")
					i.fa.fa-times.fa-2x(ng-click="removeTicketGroup()").pull-right
				h2.modal-title Confirm Adding Tickets To Your Plan
				h4.modal-subtitle
			.tickets-confirm-body.slide-in-down-body.row
				.left.section-view.col-md-4.col-xs-12
					img.img-responsive.center-block(ng-src="{{activeSection.SectionViewUrl}}")

				//-
					.option-content
						h3 Yes, I bought my tickets!
						form#tickets-offsite-form.form-inline.option-body(name="tickets-offsite-form")
							.form-group
								span I just bought
								select#qty.form-control(ng-model="selectedQty",name="selectedQty",ng-options="q for q in tickets[currentTicketIdx].ValidSplits.int")
								span tix for a total of
							.form-group
								#amount-paid-input-group.input-group
									span.input-group-addon $
									input#amount-paid.form-control(type="text",name="amount_paid",ng-model="amountPaid")
									span .
							br
							.form-group
								label#confirm-price-qty-container
									input#confirm-price-qty.hide.form-control(name="confirmPriceQty",type="checkbox",ng-model="confirmPriceQty")
									i.fa.fa-check-square-o(ng-show="confirmPriceQty")
									i.fa.fa-square-o(ng-hide="confirmPriceQty")
									span Check this box if its correct. Otherwise, please update the info above.
						button#bought-tickets-button.btn.btn-primary.btn-sm.form-control(ng-click="boughtTickets()") Continue
				.right.col-md-8.col-xs-12
					.alert.alert-warning
						.row
							.col-xs-2.text-center
								i.fa.fa-exclamation-triangle.fa-2x
							.col-xs-10
								span You are&nbsp;
								strong not&nbsp;
								span purchasing or holding these tickets. You are only adding them to your plan. Click here to&nbsp;
								a(href="#") purchase these tickets now&nbsp;
								span if you want to secure them before collecting payment from friends.

					.row
						.col-xs-12
							h3 Tickets Info
					.ticket-info.row
						.col-xs-12
							strong Section:&nbsp;
							span {{tickets[currentTicketIdx].Section}}
							strong , Row:&nbsp;
							span {{tickets[currentTicketIdx].Row}}
							i , up to {{tickets[currentTicketIdx].maxSplit}} {{tickets[currentTicketIdx].maxSplit | pluralize:'ticket'}}.
					.notes.row(ng-show="tickets[currentTicketIdx].Notes")
						.col-xs-12
							{{tickets[currentTicketIdx].Notes}}
					.next-step-text.row(ng-hide="backToPlan")
						.col-xs-12
							p Next step, choose your plan settings and invite friends.  Once your friends are invited, you'll ask them to pony up for their share of the ticket price.
					.row
						.col-xs-12
							a.btn.btn-primary.btn-sm.form-control(href="{{nextLink}}") {{nextText}}

		include includes/tickets-offsite

		.container-fluid
			.header.row(ng-cloak)
				.col-md-2.col-sm-3.col-xs-12
					.event-date-box
						span.day(ng-cloak) {{plan.event.eventDate| date:'EEE'}}
						span.event-date(ng-cloak) {{plan.event.eventDate| date:'MMM d'}}
						span.time(ng-cloak) {{getDate(plan.event.eventDate)| date:'h:mm a'}}
				.col-md-10.col-sm-9.col-xs-12
					.row
						.col-xs-12.col-md-8
							.info
								h1.name.block {{plan.event.eventName}}
								h2.helvetica.venue-name {{ plan.event.eventVenue || plan.event.eventVenue }}
								.venue-address(ng-show="plan.venue.data.geocode.formatted_address") {{plan.venue.data.geocode.formatted_address}}
								.venue-address(ng-hide="plan.venue.data.geocode.formatted_address") {{plan.venue.data.Street1+', '+plan.event.eventCity+', '+plan.event.eventState}}
						.col-xs-12.col-md-4
							.navigation(ng-show="ticketsChosen || backToPlan")
								a(href="{{nextLink}}") {{nextText}}&nbsp;
								i.fa.fa-level-down.fa-rotate-270
			.row
				#tickets-left.col-md-8.col-xs-12.addons-content-container
					#venue-map-row.row
						.col-xs-12.col-md-10.col-lg-8.col-md-offset-1.col-lg-offset-2
							#venue-map-loading.addons-content-loading
								.loading-icon
									i.fa.fa-cog.fa-spin.fa-3x
								.loading-text Loading Map...

							#venue-map-container
					//-#groups-container
				#tickets-right.col-md-4.col-xs-12.addons-list-container
						#tickets-list-header.addons-list-header
							.filters.row
								.col-xs-4.col-xs-offset-1
									.qty-filter
										label.pull-left(for="qty") Qty:
										select.quantity-filter.form-control(name="qty")
											option --
											option(value="1") 1
											option(value="2") 2
											option(value="3") 3
											option(value="4") 4
											option(value="5") 5+
								.col-xs-6
									.price-filter
										.price-range
											label(for="amount") Price range:
											input.amount(type="text")
										.price-slider
						//-
							.ticket-list-header-container.list-header-container.row
								.col-xs-2
									a.price-header(href="#",ng-click="sortByPrice()") Price
								.col-xs-8
									a.section-header(href="#",ng-click="sortBySection()") Section
								.col-xs-2
									a.qty-header(href="#",ng-click="sortByQty()") Qty
						#tickets-list.row
							.col-xs-12
								ul.ticket-list-container.list-container.addons-list
									li.tickets-loading.addons-list-loading(ng-hide="tickets[0]")
										.loading-icon
											i.fa.fa-cog.fa-spin.fa-3x
										.loading-text Finding Tickets...
									li.ticket-row.display-popover(ng-repeat="ticket in tickets track by $index", placement="left",trigger="hover",animation="true",title="Notes:",content="{{ticket.Notes}}")
										//- hidden fields that tuMap needs for its sorting/filtering
										.row.hide
											.col-xs-12
												.ticket-price
													.actual-price ${{ticket.ActualPrice}}
												.ticket-section {{ticket.Section}}
												.seat-row {{ticket.Row}}
												.ticket-quantity.hide(ng-repeat="split in ticket.ValidSplits.int") {{split}}
												.header qty
										.row
											.col-xs-12
												.row(ng-show="ticket.ticketsInPlan")
													.col-xs-12
														i These tickets have been added to your plan:
												.row
													.col-xs-3.price
														.value
															strong ${{ticket.ActualPrice}}
															span /ea
														.qty
															i {{ticket.maxSplit}} {{ticket.maxSplit | pluralize:'ticket'}}
													.col-xs-4.seats
															div
																strong Section:&nbsp;
																span {{ticket.Section}}&nbsp;
															div
																strong Row:&nbsp;
																span {{ticket.Row}}&nbsp;
															//-
																div
																	strong Seats:&nbsp;
																	span(ng-show="{'\*':true}[ticket.LowSeat]") *
																	span(ng-hide="{'\*':true}[ticket.LowSeat]") {{ticket.LowSeat}} - {{ticket.HighSeat}}
													.col-xs-5.controls
														.actions(ng-show="{'split-first':true}[plan.preferences.payment]")
															a.btn.btn-primary.btn-lg(ng-click="buyTicket($index)",ng-href="#", ng-hide="ticket.ticketsInPlan") Add Tix
															a.btn.btn-warning.btn-sm(ng-click="removeTicketGroup($index)", ng-href="#", ng-show="ticket.ticketsInPlan && !ticket.purchased") Remove From Plan
															button.btn.btn-warning.btn-sm(ng-show="ticket.purchased", disabled) Purchased

														.actions(ng-hide="{'split-first':true}[plan.preferences.payment]")
															a.btn.btn-primary.btn-lg(ng-click="buyTicket($index)",ng-href="{{tnUrl}}&tgid={{ticket.ID}}&evtid={{ticket.EventID}}&price={{ticket.ActualPrice}}&treq={{ticket.selectedQty}}&req.sessionId={{ticket.sessionId}}",target="_blank", ng-hide="ticket.ticketsInPlan") Buy Tix
															a.btn.btn-warning.btn-sm(ng-click="removeTicketGroup($index)", ng-href="#", ng-show="ticket.ticketsInPlan && !ticket.purchased") Remove From Plan
															button.btn.btn-warning.btn-sm(ng-show="ticket.purchased", disabled) Purchased

					//-
						.purchased-tickets-list
						.invite-friends-list
						.add-to-plan-list
						.buy-now-list
							include partials/interactive-venue-map/tickets/buy-now
						.read-only-list
						.no-results

