body {
	position:absolute;
	left:0;
	right:0;
	top:0;
	bottom:0;
}

@media (min-width: 970px) {
	body {
		overflow:hidden;
	}
}

.navbar-fixed-top {
	position:inherit !important;
}

.navbar {
	min-height:initial;
	margin-bottom: initial;
}

#content {
	padding-top:0;
}

#content > div {

}
