.navbar-fixed-top {
	position:inherit !important;
}

#content {
	position:relative;
	position:absolute;
	padding-top:0;
	top:0;
	left:0;
	right:0;
	bottom:0;
	z-index: -1;
}

#content > div {
	position:initial;
	top:initial;
	left:initial;
	right:initial;
	bottom:initial;
	padding-top:58px;
}

