@import url('/css/plugins/jquery-ui-1.8.16.custom.css');
@font-face {
  font-family: 'SegoeScriptRegular';
  src: url('/font/segoesc-webfont.eot');
  src: url('/font/segoesc-webfont.eot?#iefix') format('embedded-opentype'), url('/font/segoesc-webfont.woff') format('woff'), url('/font/segoesc-webfont.ttf') format('truetype'), url('/font/segoesc-webfont.svg#SegoeScriptRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'TungaRegular';
  src: url('/font/tunga-webfont.eot');
  src: url('/font/tunga-webfont.eot?#iefix') format('embedded-opentype'), url('/font/tunga-webfont.woff') format('woff'), url('/font/tunga-webfont.ttf') format('truetype'), url('/font/tunga-webfont.svg#TungaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SegoeScriptBold';
  src: url('/font/segoescb-webfont.eot');
  src: url('/font/segoescb-webfont.eot?#iefix') format('embedded-opentype'), url('/font/segoescb-webfont.woff') format('woff'), url('/font/segoescb-webfont.ttf') format('truetype'), url('/font/segoescb-webfont.svg#SegoeScriptBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
.myriad {
  font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif;
}
.arialBlack {
  font-family: Arial Black, Arial, Helvetica, Tahoma, sans-serif;
}
.segoe {
  font-family: "SegoeScriptRegular";
}
.segoeBold {
  font-family: "SegoeScriptBold";
}
.tunga {
  font-family: "TungaRegular";
}
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
label {
  margin: 0;
  font-weight: normal;
}
h2, h3 {
  text-transform: uppercase;
}
a:hover {
  text-decoration: none;
}
fieldset {
  border: none;
}
ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
dl {
  margin-bottom: 0;
}
dd {
  margin-left: 0;
}
.hidden {
  display: none;
}
.bold {
  font-weight: bold;
}
.seo {
  text-indent: -9999px;
  overflow: hidden;
}
.lowercase {
  text-transform: lowercase;
}
.finePrint, .small {
  font-size: .7em;
}
.normalSize {
  font-size: 0.5em;
}
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tb {
  text-align: block;
}
* {
  outline: none !important;
}
.block {
  display: block;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
section#content {
  *zoom: 1;
}
section#content:before, section#content:after {
  display: table;
  content: "";
}
section#content:after {
  clear: both;
}
.modal {
  max-height: 600px;
}
#backgrounds {
  position: absolute;
  width: 100%;
  *zoom: 1;
}
#backgrounds:before, #backgrounds:after {
  display: table;
  content: "";
}
#backgrounds:after {
  clear: both;
}
#backgrounds #stripe {
  position: relative;
  margin-left: 24%;
  margin-top: 70px;
  height: 30px;
  background-color: #ff6700;
  z-index: -1;
  -webkit-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.25);
}
header {
  *zoom: 1;
  position: relative;
  z-index: 3;
}
header:before, header:after {
  display: table;
  content: "";
}
header:after {
  clear: both;
}
header #flashContainer {
  position: absolute;
  top: 100px;
}
header .flash {
  width: 890px;
}
header .navbar-inner .container nav ul.nav {
  margin-top: 75px;
  text-transform: uppercase;
  text-shadow: 0 1px #ff8533, 0 -1px #803400;
  font-size: 17px;
}
header .stripeShadow {
  float: left;
  height: 30px;
  margin-top: 70px;
  width: 3px;
}
header #stripeShadowLeft {
  -webkit-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}
header #stripeShadowRight {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.25);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.25);
}
header #logo {
  float: left;
  display: block;
  height: 100px;
  width: 230px;
  background: url('/images/layout/wembli-logo.png') #ffffff center center no-repeat;
}
header #utility {
  float: right;
  margin-top: 30px;
}
header #utility li {
  display: inline-block;
  text-align: right;
  margin-right: 6px;
  padding-right: 6px;
}
header #utility li #fbIcon {
  display: block;
  height: 27px;
  width: 26px;
  background-image: url('/images/icons/social-icons.png');
  background-repeat: no-repeat;
  background-position: -6px -6px;
}
header #utility li #twitterIcon {
  display: block;
  height: 27px;
  width: 30px;
  background-image: url('/images/icons/social-icons.png');
  background-repeat: no-repeat;
  background-position: -41px -6px;
}
header #utility li#followUs {
  color: #2A2651;
  font-size: 20px;
  display: block;
  margin-top: 4px;
  float: left;
}
header #nav ul li a {
  font-size: 15px;
  padding: 0 10px 0;
  color: #f2f2f2;
}
header #nav ul li a:link, header #nav ul li a:visited {
  color: #f2f2f2;
}
header #nav ul li a:hover {
  color: #ffffff;
}
header #nav ul li a.active:link, header #nav ul li a.active:hover, header #nav ul li a.active:visited {
  color: #ffffff;
}
.navbar {
  margin-bottom: 0px;
}
footer {
  text-align: center;
  border-top: thin solid #d8d6d7;
  padding: 10px 0;
  margin-top: 10px;
  font-size: 10px;
}
#index #maincontentWrapper footer {
  margin-top: 410px;
}
/* Stars */
.stars {
  display: inline-block;
  margin-top: -1px;
  margin-left: 5px;
  height: 14px;
  width: 66px;
  overflow: hidden;
  text-indent: -9999px;
}
.stars span {
  display: block;
  margin-top: 1px;
  float: left;
  background-image: url('/images/icons/star-icons-sprite.png');
  height: 13px;
  width: 13px;
}
.stars span.whole-star {
  background-position: 0 0;
}
.stars span.half-star {
  background-position: -14px 0;
}
.stars span.empty-star {
  background-position: -27px 0;
}
.event-list {
  background-color: #f2f2f2;
  padding: 15px;
  border-bottom: 1px solid #CCC;
}
.event-list h3 {
  text-shadow: 1px 1px #b4b4b4;
  margin-bottom: 25px;
}
.event-list ul li {
  *zoom: 1;
  font-size: 11px;
  padding: 0 0 25px 0;
  border-bottom: 1px solid #a4a4a4;
  margin-bottom: 15px;
  position: relative;
}
.event-list ul li:before, .event-list ul li:after {
  display: table;
  content: "";
}
.event-list ul li:after {
  clear: both;
}
.event-list ul li p {
  font-size: 11px;
}
.event-list ul li p.info {
  float: left;
  margin: 0 10px 0 75px;
  line-height: 15px;
}
.event-list.span4 ul li p.info {
  width: 125px;
}
.event-list.span5 ul li p.info {
  width: 205px;
}
.event-list.span6 ul li p.info {
  width: 285px;
}
.event-list.span7 ul li p.info {
  width: 365px;
}
.event-list.span8 ul li p.info {
  width: 445px;
}
.event-list.span9 ul li p.info {
  width: 525px;
}
.event-list.span10 ul li p.info {
  width: 605px;
}
.event-list.span11 ul li p.info {
  width: 685px;
}
.event-list.span12 ul li p.info {
  width: 765px;
}
.event-list ul li p.cta {
  float: right;
  text-align: right;
}
.event-list ul li p.cta em {
  display: block;
  margin-top: 5px;
}
.event-list #seeMore {
  display: block;
  width: 200px;
  margin: auto;
}
/* the event date box */
.event-date-box {
  background-color: #d8d6d7;
  text-transform: uppercase;
  text-align: center;
  display: block;
  height: 60px;
  width: 55px;
  position: absolute;
  border-radius: 10px;
  color: #524f45;
  padding: 5px;
}
.event-date-box span {
  display: block;
}
.event-date-box span.event-date {
  font-size: 17px;
  line-height: 18px;
  margin-bottom: 2px;
  text-transform: capitalize;
}
.ticket-list {
  background-color: #f2f2f2;
  padding: 15px;
  border-bottom: 1px solid #CCC;
}
.ticket-list h3 {
  text-shadow: 1px 1px #b4b4b4;
  margin-bottom: 25px;
}
.ticket-list ul li {
  *zoom: 1;
  font-size: 11px;
  padding: 0 0 25px 0;
  border-bottom: 1px solid #a4a4a4;
  margin-bottom: 15px;
  position: relative;
}
.ticket-list ul li:before, .ticket-list ul li:after {
  display: table;
  content: "";
}
.ticket-list ul li:after {
  clear: both;
}
.ticket-list ul li p {
  font-size: 11px;
}
.ticket-list ul li p.info {
  float: left;
  margin: 0 10px 0 75px;
  line-height: 15px;
}
.ticket-list ul li p.info a {
  font-size: 12px;
}
.ticket-list.span4 ul li p.info {
  width: 125px;
}
.ticket-list.span5 ul li p.info {
  width: 190px;
}
.ticket-list.span6 ul li p.info {
  width: 285px;
}
.ticket-list.span7 ul li p.info {
  width: 365px;
}
.ticket-list.span8 ul li p.info {
  width: 445px;
}
.ticket-list.span9 ul li p.info {
  width: 525px;
}
.ticket-list.span10 ul li p.info {
  width: 605px;
}
.ticket-list.span11 ul li p.info {
  width: 685px;
}
.ticket-list.span12 ul li p.info {
  width: 765px;
}
.ticket-list ul li p.info #ticketSeat {
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
.ticket-list ul li p.cta {
  float: right;
  text-align: right;
}
.ticket-list ul li p.cta a {
  font-size: 12px;
}
.ticket-list ul li p.cta em {
  display: block;
  margin-top: 5px;
}
.ticket-list #seeMore {
  display: block;
  width: 200px;
  margin: auto;
}
/* the ticket price box */
.ticket-price-box {
  background-color: #d8d6d7;
  text-align: center;
  display: block;
  height: 50px;
  width: 50px;
  position: absolute;
  border-radius: 10px;
  color: #524f45;
  padding: 5px;
}
.ticket-price-box span {
  display: block;
}
.ticket-price-box .ticket-quantity {
  font-size: 11px;
  line-height: 11px;
  margin-top: 1px;
}
.ticket-price-box .ticket-price {
  font-size: 17px;
  line-height: 17px;
  margin-top: 2px;
}
#searchBox {
  z-index: 10;
  position: relative;
  height: 80px;
  margin: 20px auto 0;
  border: 4px solid #FFF;
  background-color: #524f45;
  -webkit-box-shadow: 2px 5px 9px #767676;
  -moz-box-shadow: 2px 5px 9px #767676;
  box-shadow: 2px 5px 9px #767676;
}
#searchBox #searchForm {
  margin: 12px 25px 0;
  *zoom: 1;
}
#searchBox #searchForm:before, #searchBox #searchForm:after {
  display: table;
  content: "";
}
#searchBox #searchForm:after {
  clear: both;
}
#searchBox #searchForm input#q {
  height: 45px;
  font-size: 24px;
  -webkit-box-shadow: 2px 5px 9px #333333;
  -moz-box-shadow: 2px 5px 9px #333333;
  box-shadow: 2px 5px 9px #333333;
}
#searchBox #searchForm a#go {
  background: url('/images/widgets/go-circle.png') 0 0 no-repeat;
  height: 60px;
  width: 60px;
  display: block;
  float: right;
  color: #FFF;
  font-size: 26px;
  text-align: center;
  vertical-align: middle;
  line-height: 60px;
}
#searchBox #searchForm a#go:hover {
  color: #ff6700;
}
#backgrounds {
  -webkit-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.25);
}
#eventBuilderAlert {
  position: absolute;
  z-index: 3;
  text-align: center;
  top: 150px;
  left: 40%;
  background-color: rgba(222, 239, 215, 0.85);
}
#eventBuilderContainer {
  padding: 10px;
  min-height: 70px;
  *zoom: 1;
  background-color: #3f78ad;
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f5980), color-stop(25%, #4380b8), to(#2f5980));
  background-image: -webkit-linear-gradient(#2f5980, #4380b8 25%, #2f5980);
  background-image: -moz-linear-gradient(top, #2f5980, #4380b8 25%, #2f5980);
  background-image: -ms-linear-gradient(#2f5980, #4380b8 25%, #2f5980);
  background-image: -o-linear-gradient(#2f5980, #4380b8 25%, #2f5980);
  background-image: linear-gradient(#2f5980, #4380b8 25%, #2f5980);
  background-repeat: no-repeat;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2f5980', endColorstr='#2f5980', GradientType=0);
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
}
#eventBuilderContainer:before, #eventBuilderContainer:after {
  display: table;
  content: "";
}
#eventBuilderContainer:after {
  clear: both;
}
#eventBuilderContainer #eventBuilder {
  *zoom: 1;
  margin: auto;
  max-width: 1200px;
}
#eventBuilderContainer #eventBuilder:before, #eventBuilderContainer #eventBuilder:after {
  display: table;
  content: "";
}
#eventBuilderContainer #eventBuilder:after {
  clear: both;
}
#eventBuilderContainer #eventBuilder #event {
  *zoom: 1;
  font-size: 11px;
  position: relative;
  width: 50%;
  float: left;
}
#eventBuilderContainer #eventBuilder #event:before, #eventBuilderContainer #eventBuilder #event:after {
  display: table;
  content: "";
}
#eventBuilderContainer #eventBuilder #event:after {
  clear: both;
}
#eventBuilderContainer #eventBuilder #event p {
  font-size: 11px;
}
#eventBuilderContainer #eventBuilder #event p.info {
  float: left;
  margin: 2px 2px 0 75px;
  line-height: 16px;
  vertical-align: middle;
  min-width: 280px;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.25);
  color: #000000;
}
#eventBuilderContainer #eventBuilder #event p.info .name {
  font-size: 16px;
  font-weight: bold;
}
#eventBuilderContainer #eventBuilder #event p.info .venue, #eventBuilderContainer #eventBuilder #event p.info .location {
  font-size: 14px;
}
#eventBuilderContainer #eventBuilder #split {
  width: 1px;
  height: 70px;
  float: left;
  border-right: thin solid rgba(255, 255, 255, 0.25);
}
#eventBuilderContainer #eventBuilder #stepInfo {
  *zoom: 1;
  color: #ffffff;
  border-left: 1px solid rgba(0, 0, 0, 0.25);
  margin-left: 50%;
  min-height: 70px;
}
#eventBuilderContainer #eventBuilder #stepInfo:before, #eventBuilderContainer #eventBuilder #stepInfo:after {
  display: table;
  content: "";
}
#eventBuilderContainer #eventBuilder #stepInfo:after {
  clear: both;
}
#eventBuilderContainer #eventBuilder #stepInfo #summary {
  margin-left: 10px;
  float: left;
}
#eventBuilderContainer #eventBuilder #stepInfo #summary h5 {
  text-transform: uppercase;
  text-shadow: 1px 1px rgba(255, 255, 255, 0.25);
  color: #000000;
  font-size: 14px;
  display: inline;
}
#eventBuilderContainer #eventBuilder #stepInfo #actions {
  color: #ffffff;
  float: right;
  text-align: center;
  margin: 0 20px 0 0;
}
#eventBuilderContainer #eventBuilder #stepInfo #actions #links {
  margin-top: 10px;
}
#eventBuilderContainer #eventBuilder #stepInfo #actions #links a.saveForLater, #eventBuilderContainer #eventBuilder #stepInfo #actions #links a#howDoesItWork {
  color: #ffffff;
  font-size: 10px;
  padding: 4px;
}
#eventBuilderContainer #eventBuilder #stepInfo #actions #links a.saveForLater:hover, #eventBuilderContainer #eventBuilder #stepInfo #actions #links a#howDoesItWork:hover {
  color: #ff6700;
}
#breadcrumbsContainer {
  *zoom: 1;
  margin: 10px 0;
}
#breadcrumbsContainer:before, #breadcrumbsContainer:after {
  display: table;
  content: "";
}
#breadcrumbsContainer:after {
  clear: both;
}
#breadcrumbsContainer .line {
  position: relative;
  background-color: #d8d6d7;
  height: 8px;
  margin: 0 auto;
  top: -41px;
}
#breadcrumbsContainer ul#breadcrumbs {
  *zoom: 1;
  max-width: 1200px;
  margin: auto ;
}
#breadcrumbsContainer ul#breadcrumbs:before, #breadcrumbsContainer ul#breadcrumbs:after {
  display: table;
  content: "";
}
#breadcrumbsContainer ul#breadcrumbs:after {
  clear: both;
}
#breadcrumbsContainer ul#breadcrumbs li {
  float: left;
  line-height: 20px;
  vertical-align: middle;
  font-family: "SegoeScriptBold";
  text-transform: capitalize;
  font-size: 20px;
  display: inline;
  padding: 4px 0;
}
#breadcrumbsContainer ul#breadcrumbs li .circle {
  width: 100px;
  text-align: center;
}
#breadcrumbsContainer ul#breadcrumbs li .circle a {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  width: 30px;
  height: 30px;
  background-color: #d8d6d7;
  display: block;
  color: #ff6700;
  margin: auto;
  position: relative;
  z-index: 1;
}
#breadcrumbsContainer ul#breadcrumbs li .circle a:hover {
  background-color: #ff6700;
}
#breadcrumbsContainer ul#breadcrumbs li .circle p {
  color: #d8d6d7;
}
#breadcrumbsContainer ul#breadcrumbs li a, #breadcrumbsContainer ul#breadcrumbs li a:visited {
  color: #d8d6d7;
}
#breadcrumbsContainer ul#breadcrumbs li.active {
  color: #ff6700;
}
#breadcrumbsContainer ul#breadcrumbs li.active .circle a {
  color: #ff6700;
  background-color: #ff6700;
}
#breadcrumbsContainer ul#breadcrumbs li.active .circle p, #breadcrumbsContainer ul#breadcrumbs li.active .circle a:hover {
  color: #ff6700;
}
#eventplanOptionsModal .form-actions button.btn {
  margin-right: 10px;
}
#signupModal #login {
  float: left;
  margin-right: 10px;
  width: 130px;
  text-align: center;
  font-size: 11px;
}
#loginWrapper {
  *zoom: 1;
}
#loginWrapper:before, #loginWrapper:after {
  display: table;
  content: "";
}
#loginWrapper:after {
  clear: both;
}
#loginWrapper #loginLeft {
  float: left;
}
#loginModal #loginForm #rememberInput {
  float: left;
}
#loginModal #loginForm #rememberLabel {
  padding: 1px;
  margin-left: 20px;
}
#loginModal #loginForm #forgotPasswordLink {
  margin-right: 20px;
}
/* Home Page */
#index section#content {
  padding-top: 50px;
}
#index #backgrounds #blue {
  position: relative;
  height: 450px;
  z-index: -2;
  background-color: #4380b8;
  background-image: -moz-linear-gradient(left, #2a2651, #4380b8);
  background-image: -ms-linear-gradient(left, #2a2651, #4380b8);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#2a2651), to(#4380b8));
  background-image: -webkit-linear-gradient(left, #2a2651, #4380b8);
  background-image: -o-linear-gradient(left, #2a2651, #4380b8);
  background-image: linear-gradient(left, #2a2651, #4380b8);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2a2651', endColorstr='#4380b8', GradientType=1);
}
#homeContent {
  *zoom: 1;
  background: url('/images/pages/index/four-steps-bg.png') 30px 80px no-repeat;
}
#homeContent:before, #homeContent:after {
  display: table;
  content: "";
}
#homeContent:after {
  clear: both;
}
#homeContent h1 {
  text-align: center;
  color: #F7FEFE;
  font-size: 28px;
  text-shadow: 4px 7px 7px #000;
}
#homeContent #circles {
  position: relative;
  *zoom: 1;
}
#homeContent #circles:before, #homeContent #circles:after {
  display: table;
  content: "";
}
#homeContent #circles:after {
  clear: both;
}
#homeContent #circles .homeCircle {
  position: absolute;
  top: 15px;
  background: url('/images/pages/index/home-circle.png') 0 0 no-repeat;
  height: 234px;
  width: 236px;
  background-position: 0px -266px;
}
#homeContent #circles .homeCircle .stepIcon {
  position: absolute;
  top: 15px;
  background: url('/images/pages/index/step-icons.png') 0 0 no-repeat;
}
#homeContent #circles #step1Circle {
  left: -30px;
}
#homeContent #circles #step1Icon {
  left: 75px;
  top: 82px;
  background-position: 0px 0px;
  height: 51px;
  width: 73px;
}
#homeContent #circles #step2Circle {
  left: 212px;
}
#homeContent #circles #step2Icon {
  left: 76px;
  top: 82px;
  background-position: -78px 0px;
  height: 51px;
  width: 73px;
}
#homeContent #circles #step3Circle {
  left: 445px;
}
#homeContent #circles #step3Icon {
  left: 82px;
  top: 73px;
  background-position: -97px -82px;
  height: 66px;
  width: 73px;
}
#homeContent #circles #step4Circle {
  left: 680px;
}
#homeContent #circles #step4Icon {
  left: 91px;
  top: 73px;
  background-position: -5px -78px;
  height: 88px;
  width: 47px;
}
#homeContent #steps {
  margin-top: 180px;
  color: #FFF;
  font-size: 1.2em;
  *zoom: 1;
}
#homeContent #steps:before, #homeContent #steps:after {
  display: table;
  content: "";
}
#homeContent #steps:after {
  clear: both;
}
#homeContent #steps > section {
  width: 225px;
  height: 100px;
  float: left;
}
#homeContent #steps h3 {
  font-family: "SegoeScriptBold";
  color: #FF6600;
  font-size: 14px;
  text-shadow: 3px 3px 4px #000;
}
#homeContent #steps #step1 h3 {
  margin-left: 30px;
}
#homeContent #steps #step1 #step1Info {
  width: 200px;
  margin-left: 0px;
}
#homeContent #steps #step2 h3 {
  margin-left: 24px;
}
#homeContent #steps #step2 #step2Info {
  width: 200px;
  margin-left: 10px;
}
#homeContent #steps #step3 h3 {
  margin-left: 20px;
}
#homeContent #steps #step3 #step3Info {
  width: 200px;
  margin-left: 16px;
}
#homeContent #steps #step4 h3 {
  margin-left: 18px;
}
#homeContent #steps #step4 #step4Info {
  width: 200px;
  margin-left: 20px;
}
#homeContent #belowFold {
  *zoom: 1;
}
#homeContent #belowFold:before, #homeContent #belowFold:after {
  display: table;
  content: "";
}
#homeContent #belowFold:after {
  clear: both;
}
.teaserResults {
  background-color: #f2f2f2;
  padding: 15px;
  border-bottom: 1px solid #CCC;
}
.teaserResults h2 {
  text-shadow: 1px 1px #b4b4b4;
  margin-bottom: 25px;
}
.teaserResults ul li {
  *zoom: 1;
  font-size: 11px;
  padding: 0 0 25px 0;
  border-bottom: 1px solid #a4a4a4;
  margin-bottom: 15px;
  position: relative;
}
.teaserResults ul li:before, .teaserResults ul li:after {
  display: table;
  content: "";
}
.teaserResults ul li:after {
  clear: both;
}
.teaserResults ul li p {
  font-size: 11px;
}
.teaserResults ul li p.info {
  float: left;
  margin: 0 10px 0 75px;
  line-height: 15px;
  width: 195px;
}
.teaserResults ul li p.cta {
  width: 100px;
  float: right;
  text-align: right;
}
.teaserResults ul li p.cta em {
  display: block;
  margin-top: 5px;
}
.mobileAd {
  display: block;
  width: 134px;
  padding-top: 258px;
  background: url('/images/widgets/mobile.png') center top no-repeat;
  text-align: center;
  margin-top: 38px;
}
#eventsContent {
  *zoom: 1;
}
#eventsContent:before, #eventsContent:after {
  display: table;
  content: "";
}
#eventsContent:after {
  clear: both;
}
#ticketsContent {
  *zoom: 1;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.25);
}
#ticketsContent:before, #ticketsContent:after {
  display: table;
  content: "";
}
#ticketsContent:after {
  clear: both;
}
.ticket-list {
  position: absolute;
  right: 0px;
  margin: 0;
  z-index: 2;
  height: 570px;
  overflow: scroll;
}
#fvmap, #staticMap {
  margin-right: 420px;
  height: 600px;
}
#staticMap {
  padding-right: 420px;
  width: 600px;
  margin: auto;
  text-align: center;
}
#thumbnail {
  background-color: #d8d6d7;
  -webkit-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 10px;
  z-index: 2;
}
#friendsContent {
  margin: auto;
  width: 100%;
}
#manual, #gmail, #facebook {
  *zoom: 1;
  width: 30%;
  padding: 10px;
  float: left;
}
#manual:before,
#gmail:before,
#facebook:before,
#manual:after,
#gmail:after,
#facebook:after {
  display: table;
  content: "";
}
#manual:after, #gmail:after, #facebook:after {
  clear: both;
}
#friendsContent h3 {
  padding: 4px;
}
#manual {
  *zoom: 1;
}
#manual:before, #manual:after {
  display: table;
  content: "";
}
#manual:after {
  clear: both;
}
#manual #friendStack {
  margin-left: 20px;
  margin-top: 380px;
  width: 340px;
}
#manual #friendStack .friend {
  background-color: #f2f2f2;
  padding: 15px;
  border-bottom: 1px solid #CCC;
}
#manual #friendStack .friend .data {
  float: left;
  width: 240px;
}
footer {
  margin-top: 0;
}
#dashboard {
  position: relative;
  background: url('/images/pages/dashboard/dash-bg.jpg') 0 0 repeat-y;
  margin-top: -4px;
}
aside {
  width: 168px;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 600px;
}
aside ul {
  padding: 10px 0;
}
aside ul li a {
  padding: 5px 0 5px 10px;
  width: 154px;
  display: block;
  font-weight: bold;
  font-size: 12px;
  border-top: 1px solid #cdcdcd;
}
aside ul li.last a {
  border-bottom: 1px solid #cdcdcd;
}
aside ul li.active {
  width: 169px;
  background-color: #fff;
}
aside ul li.active a {
  color: #666;
  padding-right: 4px;
}
.dashboard section {
  margin: 0 0 15px 168px;
  min-height: 600px;
  padding: 10px;
}
.dashboard div.content {
  padding: 15px 0 0 43px;
}
.dashboard div.content h2 {
  margin-bottom: 20px;
}
table.events {
  border: 1px solid #cdcdcd;
  color: #999;
  border-left: 1px solid #cdcdcd;
  border-radius: 5px;
  width: 600px;
}
table.events th, table.events td {
  color: #333;
  padding: 3px 5px;
}
table.events th {
  background-color: #ddd;
  border-bottom: 1px solid #cdcdcd;
}
table.events tr.shade td {
  background-color: #eee;
}
.alert h3 {
  color: #3A87AD;
  border-bottom: 1px solid #3A87AD;
}
.alert p {
  margin-top: 15px;
}
#newEvent {
  border-radius: 20px;
  margin-bottom: 20px;
  background-color: #eee;
  border: 1px solid #cdcdcd;
  padding: 20px;
  box-shadow: 0 0 14px #cdcdcd inset;
}
#newEvent .opt {
  padding: 10px;
  cursor: pointer;
  float: left;
  font-size: 11px;
  width: 184px;
  border-radius: 10px;
  border: 1px solid #a9a9a9;
  color: #666;
  text-align: center;
}
#newEvent .opt:hover {
  box-shadow: 0 0 5px #008000 inset;
}
#newEvent .opt.empty {
  color: #999;
  border-style: dashed;
}
#newEvent .opt.empty:hover {
  box-shadow: 0 0 5px #0000ff inset;
}
#newEvent #park {
  margin: 0 20px;
}
#searchContainer {
  width: 390px;
  float: left;
}
#searchContainer h4 {
  font-weight: bold;
  color: #999;
  border-bottom: 1px solid #999;
  font-size: 12px;
  margin-bottom: 10px;
}
#searchContainer #query {
  width: 328px;
  margin-right: 10px;
}
ul#searchResults li {
  border-bottom: 1px dotted #cdcdcd;
  font-size: 11px;
}
ul#searchResults li span {
  border-radius: 10px;
  display: block;
  cursor: pointer;
  padding: 3px;
}
ul#searchResults li span:hover {
  box-shadow: 0 0 5px blue inset;
}
#mapContainer {
  width: 300px;
  float: right;
}
#mapContainer #map {
  border: 1px solid #cdcdcd;
  background-color: #eee;
  height: 150px;
}
