@import url('./plugins/jquery-ui-1.8.16.custom.css');

@font-face {
  font-family: 'BradleyHandITCRegular';
  src: url('/font/bradhitc-webfont.eot');
  src: url('/font/bradhitc-webfont.eot?#iefix') format('embedded-opentype'), url('/font/bradhitc-webfont.woff') format('woff'), url('/font/bradhitc-webfont.ttf') format('truetype'), url('/font/bradhitc-webfont.svg#BradleyHandITCRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSansStdLight';
  src: url('/font/JosefinSansStd-Light-webfont.eot');
  src: url('/font/JosefinSansStd-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/font/JosefinSansStd-Light-webfont.woff') format('woff'), url('/font/JosefinSansStd-Light-webfont.ttf') format('truetype'), url('/font/JosefinSansStd-Light-webfont.svg#JosefinSansStdLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlabThin';
  src: url('/font/JosefinSlab-Thin-webfont.eot');
  src: url('/font/JosefinSlab-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('/font/JosefinSlab-Thin-webfont.woff') format('woff'), url('/font/JosefinSlab-Thin-webfont.ttf') format('truetype'), url('/font/JosefinSlab-Thin-webfont.svg#JosefinSlabThin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlabThinItalic';
  src: url('/font/JosefinSlab-ThinItalic-webfont.eot');
  src: url('/font/JosefinSlab-ThinItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/font/JosefinSlab-ThinItalic-webfont.woff') format('woff'), url('/font/JosefinSlab-ThinItalic-webfont.ttf') format('truetype'), url('/font/JosefinSlab-ThinItalic-webfont.svg#JosefinSlabThinItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlabLight';
  src: url('/font/JosefinSlab-Light-webfont.eot');
  src: url('/font/JosefinSlab-Light-webfont.eot?#iefix') format('embedded-opentype'), url('/font/JosefinSlab-Light-webfont.woff') format('woff'), url('/font/JosefinSlab-Light-webfont.ttf') format('truetype'), url('/font/JosefinSlab-Light-webfont.svg#JosefinSlabLight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlabLightItalic';
  src: url('/font/JosefinSlab-LightItalic-webfont.eot');
  src: url('/font/JosefinSlab-LightItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/font/JosefinSlab-LightItalic-webfont.woff') format('woff'), url('/font/JosefinSlab-LightItalic-webfont.ttf') format('truetype'), url('/font/JosefinSlab-LightItalic-webfont.svg#JosefinSlabLightItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlabRegular';
  src: url('/font/JosefinSlab-Regular-webfont.eot');
  src: url('/font/JosefinSlab-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('/font/JosefinSlab-Regular-webfont.woff') format('woff'), url('/font/JosefinSlab-Regular-webfont.ttf') format('truetype'), url('/font/JosefinSlab-Regular-webfont.svg#JosefinSlabRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlabItalic';
  src: url('/font/JosefinSlab-Italic-webfont.eot');
  src: url('/font/JosefinSlab-Italic-webfont.eot?#iefix') format('embedded-opentype'), url('/font/JosefinSlab-Italic-webfont.woff') format('woff'), url('/font/JosefinSlab-Italic-webfont.ttf') format('truetype'), url('/font/JosefinSlab-Italic-webfont.svg#JosefinSlabItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlabSemiBold';
  src: url('/font/JosefinSlab-SemiBold-webfont.eot');
  src: url('/font/JosefinSlab-SemiBold-webfont.eot?#iefix') format('embedded-opentype'), url('/font/JosefinSlab-SemiBold-webfont.woff') format('woff'), url('/font/JosefinSlab-SemiBold-webfont.ttf') format('truetype'), url('/font/JosefinSlab-SemiBold-webfont.svg#JosefinSlabSemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlabSemiBoldItalic';
  src: url('/font/JosefinSlab-SemiBoldItalic-webfont.eot');
  src: url('/font/JosefinSlab-SemiBoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/font/JosefinSlab-SemiBoldItalic-webfont.woff') format('woff'), url('/font/JosefinSlab-SemiBoldItalic-webfont.ttf') format('truetype'), url('/font/JosefinSlab-SemiBoldItalic-webfont.svg#JosefinSlabSemiBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlabBold';
  src: url('/font/JosefinSlab-Bold-webfont.eot');
  src: url('/font/JosefinSlab-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('/font/JosefinSlab-Bold-webfont.woff') format('woff'), url('/font/JosefinSlab-Bold-webfont.ttf') format('truetype'), url('/font/JosefinSlab-Bold-webfont.svg#JosefinSlabBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'JosefinSlabBoldItalic';
  src: url('/font/JosefinSlab-BoldItalic-webfont.eot');
  src: url('/font/JosefinSlab-BoldItalic-webfont.eot?#iefix') format('embedded-opentype'), url('/font/JosefinSlab-BoldItalic-webfont.woff') format('woff'), url('/font/JosefinSlab-BoldItalic-webfont.ttf') format('truetype'), url('/font/JosefinSlab-BoldItalic-webfont.svg#JosefinSlabBoldItalic') format('svg');
  font-weight: normal;
  font-style: normal;
}

* {outline:none !important;}
body {background-color:#FFF; font-family: "Trebuchet MS", "Helvetica Nueue", Arial, sans-serif; color:#000; font-size:13px; line-height:1;}
header, footer, nav, section, article {display:block;}

h1, h2, h3, h4, h5, p, ul, ol, label {margin:0; font-weight:normal;}
h2, h3 {text-transform:uppercase;}

a img {border:0;}
a{color:#6ea1b7;}
a:visited {color:#524F45;}
a:hover {color:#1a4c65; text-decoration:none;}

fieldset {border:none;}
ul {list-style-type:none; padding:0; margin:0;}
dl {margin-bottom:0;}
dd {margin-left:0;}

/* generic layout stuff */
.block {display:block;}
.leftBlock  {float:left;}
.rightBlock {float:right;}
.wrapper  {width:750px;margin:auto;}
.container {width:960px; margin:0 auto;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.finePrint, .small {font-size:.7em;}
.normalSize {font-size:.5em}
.hidden {display:none;}
.white {color:#FFF !important}
.black {color:#000 !important;}
.red {color:#F72400;}
.orange {color:#FF6700;}
.bold {font-weight:bold}
.seo {text-indent:-9999px; overflow:hidden;}
.lowercase {text-transform:lowercase;}

/* Gradients */
.grayFade {
  background: #cedce7; /* Old browsers */
  background: -moz-linear-gradient(top, #cedce7 0%, #596a72 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cedce7), color-stop(100%,#596a72)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cedce7 0%,#596a72 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cedce7 0%,#596a72 100%); /* IE10+ */
  background: linear-gradient(top, #cedce7 0%,#596a72 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */
}

/* forms and stuff */
.generalError {}
.error {font-size:11pt; text-align:left;}
fieldset {text-align:left;margin:0;padding:10px 0;}
fieldset label,fieldset input {display:block;}

.myriad {font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif;}
.arialBlack {font-family:Arial Black, Arial, Helvetica, Tahoma, sans-serif;}
.bradley {font-family: "BradleyHandITCRegular";}
.josefinsans {font-family: "JosefinSansStdLight";}

/* error page */
#notFound {padding:20px 0;}

/* Layout */
#maincontentWrapper {margin-top:10px; overflow:visible;}

/* Header */
header {height:90px; position:relative; margin-bottom:3px;}
header #logo {display:block; height:100px; width:300px; background:url('/images/layout/wembli-logo.png') 0 0 no-repeat; float:left;}	
header #utility {float:right; margin-top:30px;}	
header #utility li {display:inline-block; text-align:right; margin-right:6px; padding-right:6px; border-right:1px solid #6DA1B7;}
header #utility li.last {border:0;}

/* Nav */
header nav {height:18px; z-index:9; font-weight:bolder; text-transform:uppercase; text-shadow: 0 1px #ff8533, 0 -1px #803400; font-size:19px; padding:7px 40px; background-color:#FF6700; width:650px; position:absolute; bottom:0; right:0; box-shadow:-1px 3px 4px 2px #666666;top:60px;}
header nav ul li {display:inline-block; margin-right:30px;}
header nav ul li a:link, header nav ul li a:visited {color:#bf4d00;}
header nav ul li a:hover {color:#f7fefe;}
header nav ul li a.active:link, header nav ul li a.active:hover, header nav ul li a.active:visited {color:#fff;}

/* Footer */
footer {padding:40px 280px 40px 40px; min-height:100px; background:#000 url('/images/layout/wembli-logo.png') 720px center no-repeat;}
footer dl {float:left; width:25%;}
footer dt {text-transform:uppercase; font-size:12px; font-weight:normal;}
footer dl dd {margin:0 0 3px; margin-left:0;}
footer dl dd a {font-size:11px;}
footer dl dd a:link {color:#f7fefe;}
footer dl dd a:visited {color:#eee;}
footer dl dd a:hover {text-decoration:underline;}

footer .connect dd a {padding:1px 0 2px 25px; display:block; background-image:url('/images/icons/sm-icons-sprite-small.png'); background-repeat:no-repeat;}
footer .connect dd.twitter a {background-position:0 1px;}
footer .connect dd.facebook a {background-position:0 -24px;}

/* Widgets */
/* Search */
#searchWidget {color:#f7fefe; width:300px; float:left;}
#searchWidget ul.widget-tabs {height:30px; position:relative; z-index:9;}
#searchWidget ul.widget-tabs li {font-size:13px; font-weight:bold; float:left; color:#f7fefe; text-transform:uppercase; cursor:pointer; padding:3px 10px 2px; width:115px; margin-top:7px; text-align:center; background-color:black; border-radius:10px 10px 0 0;}
#searchWidget ul.widget-tabs li:hover {color:#6ea1b7;}
#searchWidget ul.widget-tabs li.active {color:#6ea1b7; font-size:15px; padding-top:6px; padding-bottom:6px; margin-top:0;}

#searchWidget #searchContainer {background-color:black; min-height:290px; position:relative; box-shadow:2px 5px 16px #565656; border-radius:0 20px 20px 20px; padding:40px 20px 20px;}
#searchWidget #searchContainer span.marker {display:block; width:137px; height:58px; z-index:10; position:absolute; top:-13px; left:0; background:url('/images/layout/widget-active.png') 0 0 no-repeat;}
#searchWidget #searchContainer form {display:none; position:absolute; top:40px; left:20px;}
#searchWidget #searchContainer form.active {display:block;}
#searchWidget #searchContainer form ul li {border-bottom:2px solid #292929; padding-bottom:3px; margin-bottom:5px;}
#searchWidget #searchContainer form ul li.last {border:0; padding-bottom:0; margin-bottom:0;}
#searchWidget #searchContainer form ul li.last span {display:block; width:259px;line-height:10px;margin-top:4px;text-align:center;}
#searchWidget #searchContainer form ul li label {color:#f7fefe; display:block; width:100%; text-align:left; font-weight:bold; float:none; margin-bottom:2px; text-transform:uppercase; font-size:12px; font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif;}
#searchWidget #searchContainer form ul li input[type="text"], #searchWidget #searchContainer form ul li select {color:#f7fefe; background-color:#292929; font-size:12px; border:0; display:block;}
#searchWidget #searchContainer form ul li input[type="text"] {width:242px; border-radius:5px; padding:8px;}
#searchWidget #searchContainer form ul li input[type="text"]:focus {box-shadow:inset 2px 2px 5px #999;}
#searchWidget #searchContainer form ul li input.date, #searchWidget #searchContainer form ul li input.time {padding-right:24px; width:92px; float:right;}
#searchWidget #searchContainer form ul li input.date {background:#292929 url('/images/icons/calendar.png') 102px center no-repeat;}
#searchWidget #searchContainer form ul li input.first, #searchWidget #searchContainer form ul li select.first {float:left;}
#searchWidget #searchContainer form ul li input.btn {text-align:center; font-weight:bold; text-transform:uppercase; margin-top:10px; width:229px;}
#searchWidget #searchContainer form ul li select {width:124px; float:right; padding-top:8px; height:32px; padding-bottom:8px;}
#searchWidget #searchContainer form ul li select option {border:0; border-bottom:1px dotted #666; padding:2px 10px;}
#searchWidget #searchContainer form ul li select option.last {border-bottom:0; padding-bottom:0;}

/* Info Blocks */
#infoBlocks {margin-top:51px; box-shadow:2px 5px 9px #565656; height:149px; width:573px; border:1px solid #f7fefe; background:url('/images/widgets/info-blocks-bg.jpg') 0 0 no-repeat;}
#infoBlocks li {float:left; position:relative; padding-top:119px; cursor:pointer; width:143px;}
#infoBlocks li:hover {background-color:rgba(247, 254, 254, 0.3);}
#infoBlocks li.second {width:142px;}
#infoBlocks li.third {width:146px;}
#infoBlocks li.last {width:142px;}
#infoBlocks li span.toggler {display:block; border-right:1px solid #aca8a5; height:16px; font-size:16px; padding:6px 0 8px; text-align:center; color:#f7fefe; text-transform:uppercase;}
#infoBlocks li.last span.toggler {border-right:0;} 
#infoBlocks li:hover span.toggler {color:#666;}
#infoBlocks li span.bubble {display:none;}

/* Mobile Ad */
.mobileAd {display:block; width:134px; padding-top:220px; background:url('/images/widgets/mobile.png') center top no-repeat; text-align:center;}

/* Results Teaser */
.teaserContainer {width:400px;}
.teaserResults {background-color:#f2f2f2; padding:10px; width:400px; border-bottom:1px solid #CCC;}
.teaserResults h2 {font-weight:bold; text-shadow:1px 1px #b4b4b4; margin-bottom:25px;}
.teaserResults ul {margin-left:15px;}
.teaserResults ul li {margin-left:80px; font-size:11px; padding:0 10px 25px 0; border-bottom:1px solid #a4a4a4; margin-bottom:15px; position:relative;}
.teaserResults ul li span.when {background-color:#d8d6d7; text-transform:uppercase; text-align:center; display:block; height:57px; width:53px; position:absolute; top:0; left:-80px; border-radius:10px; color:#767676; padding:5px;}
.teaserResults ul li span.when span {display:block;}
.teaserResults ul li span.when span.event-date {font-size:16px; line-height:14px; margin-bottom:2px; text-transform:capitalize;}
.teaserResults ul li p {font-size:11px;}
.teaserResults ul li p.info {float:left; margin-right:10px; line-height:15px;padding-top:5px;width:185px;}
.teaserResults ul li p.info a {display:block;}
.teaserResults ul li p.info span.rating em {position:relative; top:-2px;}
.teaserResults ul li p.cta {width:100px; float:right; text-align:right;}
.teaserResults ul li p.cta em {display:block; margin-top:5px;}

.seeMore {text-align:center; background-color:#ECECEC; padding:10px; width:400px; border-top:1px solid #FFF}
.seeMore a {display:block;}

/* Search Results */
.searchResults {background-color:#f2f2f2; width:615px; box-shadow:2px 5px 9px #565656; float:right;}
.searchResults h2 {padding:10px 20px; font-family: Myriad Pro, Arial, Helvetica, Tahoma, sans-serif; color:#524f45; line-height:20px; font-size:20px;}
.searchResults ul.sort {background-color:#999; padding:3px 20px; margin-right:20px; margin-bottom:10px;}
.searchResults ul.sort li {float:left; width:110px; margin-right:20px; font-size:11px;}
.searchResults ul.sort li.label {background-color:inherit; color:#000; width:80px; text-transform:uppercase; font-size:12px;}
.searchResults ul.sort li a {color:black;}
.searchResults ul.sort li a:hover {text-decoration:underline;}
.searchResults ul.sort li a.active, .searchResults ul.sort li a.active:hover {text-decoration:none; color:#f7fefe; cursor:default;}

.searchResults .filters {width:105px; padding:0 0 0 20px; float:left; clear:left;}
.searchResults .filters span.filter { font-weight:bold; display:block; padding-bottom:1px; margin-bottom:10px; cursor:pointer; color:#444; border-bottom:1px solid #a5a5a5;}
.searchResults .filters span.filter:hover {color:#666;}
.searchResults .filters ul.filtered {margin-right:5px;}

.searchResults ul.results {margin-left:125px; border-left:1px solid #a5a5a5; padding-left:15px; font-size:11px;}
.searchResults ul.results li {position:relative; padding:0 100px 20px 0; margin:0 35px 20px 0; border-bottom:1px solid #a5a5a5;}
.searchResults ul.results li a.title, .searchResults ul.results li a.title:link {font-size:12px;}
.searchResults ul.results li p {margin:0; font-size:11px; line-height:15px;}
.searchResults ul.results li a.btn {display:block; width:90px; position:absolute; top:0; right:0; text-align:center;}

.searchResults ul.results li span.when {background-color:#d8d6d7; text-transform:uppercase; text-align:center; display:block; height:57px; width:53px; position:absolute; top:0; left:-100px; border-radius:10px; color:#767676; padding:5px;}
.searchResults ul.results li span.when span {display:block;}
.searchResults ul.results li span.when span.event-date {font-size:16px; line-height:14px; margin-bottom:2px; text-transform:capitalize;}


/* Stars */
.stars {display:inline-block; margin-top:-1px; margin-left:5px; height:14px; width:66px; overflow:hidden; text-indent:-9999px;}
.stars span {display:block; margin-top:1px; float:left; background-image:url('/images/icons/star-icons-sprite.png'); height:13px; width:13px;}
.stars span.whole-star {background-position:0 0;}
.stars span.half-star {background-position:-14px 0;}
.stars span.empty-star {background-position:-27px 0;}

/* Sign Up Pitch */
article#signupCta {width:275px; float:left; clear:left; margin:40px 0; padding:0 20px;}
article#signupCta h3 {color:#6da1b7; margin-bottom:10px;}
article#signupCta p {color:#524f45; font-size:14px;}
article#signupCta a {display:block; margin:10px 20px 0 0; padding-right:20px; float:right; background:url('/images/icons/down-icon.png') right center no-repeat;}

/* Content */
#content {min-height:730px; padding:15px 15px 0; }
#content .letterbox {margin:75px 0;}
#content .letterbox h1 {color:#f7fefe; font-size:30px; margin-left:70px;}
#content #searchWidget {margin-top:55px;}

/* Background images */
#index #content {background:url('/images/pages/index/petco-park.png') 0 0 no-repeat; padding-left:30px; padding-right:30px;padding-top:75px;}
#parking #content {background:url('/images/pages/parking/parking-bg.jpg') 0 0 no-repeat;padding-top:75px;}
#restaurants #content {background:url('/images/pages/restaurants/restaurants-bg.jpg') 0 0 no-repeat;padding-top:75px;}
#tickets #content {background:url('/images/pages/tickets/tickets-bg.jpg') 0 0 no-repeat;padding-top:75px;}

/* Home Page */
#homeContent article.letterbox {color:#f7fefe; width:498px; margin:0 0 115px 35px; font-size:14px;}
#homeContent article.letterbox h1 {margin-bottom:3px; margin-left:0;}
#homeContent #searchWidget {margin-top:0;}
#homeContent #infoBlocks {float:right; position:relative; z-index:9;}
#homeContent #belowFold {width:575px; margin-top:10px; float:right;}

/* Tickets Page */
#ticketsContent #thumbnail {position:absolute;top:360px;left:794px;}
#ticketsContent h2, #ticketsContent h3 {font-weight:bold; text-shadow:1px 1px #b4b4b4; margin-bottom:25px;}
#ticketResults {width:360px; background-color:#f2f2f2; padding:10px; border-bottom:1px solid #CCC;}
#ticketResults ul {margin-left:15px;}
#ticketResults ul li {font-size:11px; padding:0 10px 25px 0; border-bottom:1px solid #a4a4a4; margin-bottom:15px; position:relative;}
#ticketResults ul li p {font-size:11px;}
#ticketResults ul li p.info {float:left; margin-right:10px; line-height:15px;padding-top:5px;width:275px;}
#ticketResults ul li p.info a {display:block;font-size:12px;}
#ticketResults ul li p.info span.rating em {position:relative; top:-2px;}
#ticketResults ul li p.cta {width:50px; float:right; text-align:right;}
#ticketResults ul li p.cta em {display:block; margin-top:5px;margin-right:20px;}



/* map styling */
#fvmap { width:560px; }

/* section styling */
#fvmap .section.focus { display: none; color: #cc3300; opacity:0.5; filter:alpha(opacity=50);/* opacity for IE */ }
#fvmap .section.available { display:none; color: #ff9900; opacity:0.25; filter:alpha(opacity=25);/* opacity for IE */ }
#fvmap .section.selected { display:none; color: #006699; opacity:0.50; filter:alpha(opacity=50);/* opacity for IE */ }

/* map buttons styling */
#fvmap .zoomList { padding:10px; }
#fvmap .actionList { padding:10px; }
#fvmap .zoomList li { list-style:none; padding:3px; margin-bottom:2px; font-size:10px; font-family:Arial,sans-serif; text-align:center;}
#fvmap .actionList li { list-style:none; padding:3px; margin-bottom:2px; font-size:10px; font-family:Arial,sans-serif; text-align:center;}
#fvmap .zoomList li:hover { cursor:pointer; cursor:hand; }
#fvmap .actionList li:hover { cursor:pointer; cursor:hand; }

/* map price slider styling */
#fvmap .priceFilter { padding-bottom:10px; padding-left:25px; width:180px; height:10px; }
#fvmap .priceFilter p { font-family:Arial,sans-serif; font-size:10px; padding:0; margin:0; }
#fvmap .priceSlider{ width:150px; height:5px; }
#fvmap .priceSliderAmount { font-size:10px; width:80px; border:0; color:#f6931f; font-weight:bold; }

/* ticket list styling (DIV-based ticket list)*/
#tixlist li.tixListRow.active { color:#ffffff; background-color: #d5896a; }
#tixlist li.tixListRow.active:hover { cursor:pointer; cursor:hand; }

/* no border on event results */
#eventResults ul.results {border: none;}
#eventResults .seeMore {width:auto;}