@import "/public/css/fonts.less";

body {background-color:#FFF; font-family: "Trebuchet MS", "Helvetica Nueue", Arial, sans-serif; color:#000; text-align:center; font-size:12px; line-height:1;}
header, footer, nav, section, article {display:block;}

h1, h2, h3, h4, h5, p, ul, ol, label {margin:0; font-family:"JosefinSansStdLight"; font-weight:normal;}

a img {border:0;}
a:link {color:#33ccff;}
a:visited {color:#524F45;}
a:hover {color:#FF6700;text-decoration:none;}

fieldset {border:none;}

/* generic layout stuff */
.leftBlock  {float:left;}
.rightBlock {float:right;}
.wrapper  {width:750px;margin:auto;}
.container { background-color:#000000; width:960px; margin:0 auto;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.finePrint, .small {font-size:.7em;}
.normalSize {font-size:.5em}
.hidden {display:none;}
.white {color:#FFF !important}
.black {color:#000;}
.red {color:#F72400;}
.orange {color:#FF6700;}
.bold {font-weight:bold}

/* forms and stuff */
.generalError {}
.error {font-size:11pt; text-align:left;}
fieldset {text-align:left;margin:0;padding:10px 0;}
fieldset label,fieldset input {display:block;}

/* error page */
#notFound {padding:20px 0;}

/* Layout */
#maincontentWrapper {width:960px; margin:10px auto;}

/* Header */
header {height:100px;}
#logo {display:block; height:100px; width:300px; background:url('/images/wembli_logo_300x100_tx.png') 0 0 no-repeat; float:left;}	

