#parking-list-header-container.parking-list-header-container.list-header-container
	#parking-list-header.list-header
		h4.pull-left Parking options near your event
		.popover-container.pull-left
			i.icon-question-sign.display-popover(placement="bottom",trigger="hover",animation="true",title="Preview Parking",content="Choose parking for the event.  Not all parking is available for online reservations, but you can add parking to your plan no matter what.")
ul#parking-list-container.parking-list-container.list-container
	//- parkwhiz parking
	li.parking-row.row.bounce-map-marker(lat="{{parking.lat}}",lng="{{parking.lng}}",ng-repeat="parking in parkingReservations.parking_listings | filter:{hide:false}",ng-hide="parking.hide")
		.top.clearfix
			.icon.pull-left
				i.icon-truck.icon-flip-horizontal.icon-2x
			.title.pull-left {{parking.location_name}}
		.bottom.clearfix
			.price.pull-left
				.header price
				.value ${{parking.price}}
			.contact.pull-left.clearfix
				.business.pull-left
					.address
						div {{parking.address}}
						div {{parking.city}}, {{parking.state}}
						div {{determineDistance(parking.distance)}} mi.
			.discount.pull-right
				.value {{parking.available_spots}}
				.header spots
			.controls.pull-right
				.actions
					a.btn.btn-primary.btn-large.add-parking-to-plan(ng-show="customer && backToPlan && !parking.parkingInPlan", service="pw", parking="{{parking}}", ng-href="/plan") Add
					button.btn.btn-primary.btn-large.add-parking-to-plan(parking="{{parking}}", service="pw", ng-hide="!customer || backToPlan || parking.parkingInPlan") Add
					a.btn.btn-orange.btn-large(ng-click="removeParking(parking._id)",ng-href="/plan",ng-show="backToPlan && parking.parkingInPlan") Remove
					button.btn.btn-orange.btn-large(ng-click="removeParking(parking._id)",ng-show="!backToPlan && parking.parkingInPlan") Remove
	//- google parking
	li.parking-row.row.bounce-map-marker(lat="{{parking.geometry.location.lat()}}",lng="{{parking.geometry.location.lng()}}",ng-repeat="parking in googleParking",ng-hide="parking.hide")
		.top.clearfix
			.icon.pull-left
				i.icon-truck.icon-flip-horizontal.icon-2x
			.title.pull-left {{parking.name}}
		.bottom.clearfix
			.price.pull-left
				.header price
				.value N/A
			.contact.pull-left.clearfix
				.business.pull-left
					.address
						div {{parking.vicinity}}
				.message Online reservations are not available.
				.details
					a.btn.btn-small.parking-more-info(parking="{{parking}}",href="#parking-info-modal") view details
			.controls.pull-right
				.actions
					a.btn.btn-primary.btn-large.add-parking-to-plan(ng-show="customer && backToPlan && !parking.parkingInPlan", service="google", parking="{{parking}}", ng-href="/plan") Add
					button.btn.btn-primary.btn-large.add-parking-to-plan(parking="{{parking}}", service="google", ng-hide="!customer || backToPlan || parking.parkingInPlan") Add
					a.btn.btn-orange.btn-large(ng-click="removeParking(parking._id)",ng-href="/plan",ng-show="backToPlan && parking.parkingInPlan") Remove
					button.btn.btn-orange.btn-large(ng-click="removeParking(parking._id)",ng-show="!backToPlan && parking.parkingInPlan") Remove





