#no-tickets.modal.hide
	.modal-header
		h2 No Tickets Available :(
	.modal-body
		p There aren't any tickets available for this event.
		a.btn.btn-large.btn-orange.wembli-sequence-link(href="/search") Start A New Plan
	.modal-footer
