//- this is the organizer invitees list - the following friend page functionality needs to be added
//- filter out friend that is viewing the page
//- hide change rsvp functionality
//- make the invitees list respect the preferences for the friend plan
.invitees-container
	.row.add-on-header-container
		.col-xs-12.col-sm-6
			h3.add-on-header
				i.fa.fa-users
				span &nbsp;Who's Invited
	.row
		.col-xs-12
			h4 There are {{totalComing}} {{totalComing | pluralize:'person'}} coming.


	//- show the organizer if she's going
	.invitee(ng-show="plan.organizer.rsvp.decision")
		.row
			.col-xs-2
				.img-container
					.no-image-overlay(ng-hide="organizer.imageUrl")
						i.fa.fa-question-circle
					img.img-polaroid.img-responsive(ng-hide="organizer.imageUrl",src="/images/cartoon-man-head.png")
					img.img-polaroid.img-responsive(ng-show="organizer.imageUrl",ng-src="{{customer.imageUrl}}")

			.invitee-info.col-xs-10
				.row.invitee-name
					.invitee-name-container.col-xs-12
						strong.name {{organizer.firstName}} {{organizer.lastName}} (organizer)&nbsp;
						span.guests(ng-show="plan.organizer.rsvp.decision") + {{plan.organizer.rsvp.guestCount}} {{plan.organizer.rsvp.guestCount | pluralize:'guest'}}
				.row.rsvp-status
					.col-xs-10
						.rsvp-status-header RSVP STATUS
					.col-xs-2
						.rsvp-status-value.text-right
							i.fa.fa-2x.fa-check-circle-o.green(ng-show="{true:true}[plan.organizer.rsvp.decision]")
							i.fa.fa-2x.fa-ban.red(ng-show="{false:true}[plan.organizer.rsvp.decision]")
							i.fa.fa-2x.fa-question.invitee-rsvp-decision(ng-show="{null:true}[plan.organizer.rsvp.decision]")


	//- still need to figure out how this should look for xs screen sizes
	.invitee(ng-repeat="friend in friends | filter:{inviteStatus:true} | filterInvitees")
		.row
			.col-xs-2
				.img-container
					.no-image-overlay(ng-hide="friend.contactInfo.imageUrl")
						i.fa.fa-question-circle
					img.img-polaroid.img-responsive(ng-hide="friend.contactInfo.imageUrl",src="/images/cartoon-man-head.png")
					img.img-polaroid.img-responsive(ng-show="friend.contactInfo.imageUrl",ng-src="{{friend.contactInfo.imageUrl}}")
					//- taking this out for now because if the organizer rsvp's for a friend that came in through facebook or twitter
					//- we will never have that person's email address and not be able to send pony up requests...
					//- we should collect email for friend if organizer is rsvping for them and actually create a customer account for them
					//- a.rsvp-for(ng-show="{'organizer':true}[context]",href="#",friend="{{friend}}") change rsvp for {{friend.contactInfo.name}}
			.invitee-info.col-xs-10
				.row.invitee-name
					.invitee-name-container.col-xs-8
						.row
							.col-xs-12
								strong.name {{friend.contactInfo.name}}&nbsp;
								span.guests(ng-show="friend.rsvp.decision") + {{friend.rsvp.guestCount}} {{friend.rsvp.guestCount | pluralize:'guest'}}
						- if (req.session.visitor.context === 'organizer')
							.row
								.col-xs-12
									i.email(ng-show="{'wemblimail':true}[friend.contactInfo.service]") {{friend.contactInfo.serviceId}}
					.col-xs-4.text-right.rsvp-email-actions(ng-show="{'wemblimail':true}[friend.contactInfo.service]")
						- if (req.session.visitor.context === 'organizer')
							a.btn.btn-xs.btn-warning.resend-rsvp-email.clearfix(ng-hide="rsvpEmailSent", href="#",friend-id="{{friend._id}}") Resend RSVP
							a.btn.btn-xs.btn-success(disabled, ng-show="rsvpEmailSent") Email Sent

				.row.rsvp-status
					.col-xs-10
						.rsvp-status-header RSVP STATUS
					.col-xs-2
						.rsvp-status-value.text-right
							i.fa.fa-check-circle-o.fa-2x.green.invitee-rsvp-decision(ng-show="{true:true}[friend.rsvp.decision]")
							i.fa.fa-ban.fa-2x.red.invitee-rsvp-decision(ng-show="{false:true}[friend.rsvp.decision]")
							i.fa.fa-question.fa-2x.invitee-rsvp-decision(ng-show="{null:true}[friend.rsvp.decision]")

				.row.invitee-prefs
					.col-xs-12(ng-show="friend.rsvp.decision")
						.row.invitee-prefs-header
							.col-xs-12 Preferences:
						.row.invitee-prefs-row(ng-show="friend.rsvp.decision && friend.rsvp.tickets")
							.col-xs-10.invitee-pref-header Ticket Vote
							.col-xs-2.invitee-pref-value
								i.fa.fa-minus(ng-hide="friend.rsvp.tickets.decision")
								span.price-level(ng-show="friend.rsvp.tickets.decision", level="{true:1}[friend.rsvp.tickets.priceGroup.low]+{true:1}[friend.rsvp.tickets.priceGroup.med]+{true:1}[friend.rsvp.tickets.priceGroup.high]")
						.row.invitee-prefs-row(ng-class="{false:'muted'}[plan.preferences.addOns.parking]", ng-show="friend.rsvp.decision && friend.rsvp.parking")
							.col-xs-10.invitee-pref-header Parking Vote
							.col-xs-2.invitee-pref-value
								i.fa.fa-minus(ng-hide="friend.rsvp.parking.decision")
								span.price-level(ng-show="friend.rsvp.parking.decision", level="{true:1}[friend.rsvp.parking.priceGroup.low]+{true:1}[friend.rsvp.parking.priceGroup.med]+{true:1}[friend.rsvp.parking.priceGroup.high]")

						.row.invitee-prefs-row(ng-class="{false:'muted'}[plan.preferences.addOns.restaurants]", ng-show="friend.rsvp.decision && friend.rsvp.restaurant")
							.col-xs-10.invitee-pref-header Restaurant Vote
							.col-xs-2.invitee-pref-value
								i.fa.fa-minus(ng-hide="friend.rsvp.restaurant.decision")
								span.price-level(ng-show="friend.rsvp.restaurant.decision", level="{true:1}[friend.rsvp.restaurant.priceGroup.low]+{true:1}[friend.rsvp.restaurant.priceGroup.med]+{true:1}[friend.rsvp.restaurant.priceGroup.high]")
							.col-xs-12.pref-details(ng-show="friend.rsvp.restaurant.preference.length")
								strong Food Preference:&nbsp;
								span {{friend.rsvp.restaurant.preference.join(', ')}}

						.row.invitee-prefs-row(ng-class="{false:'muted'}[plan.preferences.addOns.hotels]", ng-show="friend.rsvp.decision && friend.rsvp.hotel")
							.col-xs-10.invitee-pref-header Hotel Vote
							.col-xs-2.invitee-pref-value
								i.fa.fa-minus(ng-hide="friend.rsvp.hotel.decision")
								span.price-level(ng-show="friend.rsvp.hotel.decision", level="{true:1}[friend.rsvp.hotel.priceGroup.low]+{true:1}[friend.rsvp.hotel.priceGroup.med]+{true:1}[friend.rsvp.hotel.priceGroup.high]")
							.col-xs-12(ng-show="friend.rsvp.hotel.preference.length")
								strong Hotel Preference:&nbsp;
								span {{friend.rsvp.hotel.preference.join(', ').substring(0,30)}}


				//- make sure this is appropriate for friend plan view
				- if (req.session.visitor.context === 'organizer')
					.message-status-container
						.row.rsvp-email-status(ng-show="{'wemblimail':true}[friend.contactInfo.service]")
							.col-xs-12.message-status
								span.label.label-info(title="Delivered on {{friend.email.rsvp.deliveredLastDate | date:'short'}}",ng-show="friend.email.rsvp.delivered") &nbsp;rsvp delivered({{friend.email.rsvp.delivered}})
								span &nbsp;
								span.label.label-info(title="Opened on {{friend.email.rsvp.openLastDate | date:'short'}}", ng-show="friend.rsvp.open") &nbsp;rsvp opened ({{friend.email.rsvp.open}})
								span &nbsp;
						//- TODO: pony up email status
	- if (req.session.visitor.context === 'organizer')
		.row
			.col-xs-12
				a.btn.btn-sm.btn-warning.view-on-map.form-control(href="/invitation/{{plan.event.eventId}}/{{plan.event.eventName}}#/step3") Invite More People

