//- this is the organizer invitees list - the following friend page functionality needs to be added
//- filter out friend that is viewing the page
//- hide change rsvp functionality
//- make the invitees list respect the preferences for the friend plan
.invitees-container(ng-show="friends")
	h2 Here's Who's Invited:
	h4 There are {{totalComing}} {{totalComing | pluralize:'person'}} coming.
	//- show the organizer if she's going
	.invitee(ng-show="plan.organizer.rsvp.decision")
		.row
			.col-xs-1.hidden-xs
				.img-container
					.no-image-overlay(ng-hide="organizer.imageUrl")
						i.fa.fa-question-circle
					img.img-polaroid.img-responsive(ng-hide="organizer.imageUrl",src="/images/cartoon-man-head.png")
					img.img-polaroid.img-responsive(ng-show="organizer.imageUrl",ng-src="{{customer.imageUrl}}")

			.invitee-info.col-sm-11.col-xs-12
				.invitee-name.row
					.invitee-name-container.col-xs-12
						span.name.orange {{organizer.firstName}} {{organizer.lastName}} (organizer)&nbsp;
						span.guests(ng-show="plan.organizer.rsvp.decision") + {{plan.organizer.rsvp.guestCount}} {{plan.organizer.rsvp.guestCount | pluralize:'guest'}}
				.invitee-prefs-container.row
					.invitee-pref.first.col-md-2.col-xs-12
						.row
							.col-md-12.col-xs-9
								.invitee-pref-header RSVP STATUS
							.col-md-12.col-xs-3
								.invitee-pref-value
									i.fa.fa-check.fa-3x.green.invitee-rsvp-decision(ng-show="{true:true}[plan.organizer.rsvp.decision]")
									i.fa.fa-ban.fa-3x.invitee-rsvp-decision(ng-show="{false:true}[plan.organizer.rsvp.decision]")
									i.fa.fa-question.fa-3x.invitee-rsvp-decision(ng-show="{null:true}[plan.organizer.rsvp.decision]")

	//- still need to figure out how this should look for xs screen sizes
	.invitee(ng-repeat="friend in friends | filter:{inviteStatus:true} | filterInvitees")
		.row
			.col-sm-1.hidden-xs
				.img-container
					.no-image-overlay(ng-hide="friend.contactInfo.imageUrl")
						i.fa.fa-question-circle
					img.img-polaroid.img-responsive(ng-hide="friend.contactInfo.imageUrl",src="/images/cartoon-man-head.png")
					img.img-polaroid.img-responsive(ng-show="friend.contactInfo.imageUrl",ng-src="{{friend.contactInfo.imageUrl}}")
					//- taking this out for now because if the organizer rsvp's for a friend that came in through facebook or twitter
					//- we will never have that person's email address and not be able to send pony up requests...
					//- we should collect email for friend if organizer is rsvping for them and actually create a customer account for them
					//- a.rsvp-for(ng-show="{'organizer':true}[context]",href="#",friend="{{friend}}") change rsvp for {{friend.contactInfo.name}}
			.invitee-info.col-sm-11.col-xs-12
				.invitee-name.row
					.invitee-name-container.col-xs-12.col-md-6
						span.name.orange {{friend.contactInfo.name}}&nbsp;
						span.guests(ng-show="friend.rsvp.decision") + {{friend.rsvp.guestCount}} {{friend.rsvp.guestCount | pluralize:'guest'}}
					//- make sure this is appropriate for friend plan view
					.message-status-container.col-xs-12.col-md-6(ng-show="{'organizer':true}[context]")
						.message-status
							.rsvp-email(ng-hide="rsvpComplete")
								label.rsvp-email-label(ng-show="{'wemblimail':true}[friend.contactInfo.service]")
									span RSVP Email:&nbsp;
									span.label.label-info(title="Delivered on {{friend.email.rsvp.deliveredLastDate | date:'short'}}",ng-show="friend.email.rsvp.delivered") &nbsp;delivered({{friend.email.rsvp.delivered}})
									span &nbsp;
									span.label.label-info(title="Opened on {{friend.email.rsvp.openLastDate | date:'short'}}", ng-show="friend.rsvp.open") &nbsp;opened ({{friend.email.rsvp.open}})
									span &nbsp;
									a.resend-rsvp-email(ng-hide="rsvpEmailSent || rsvpEmailInProgress", href="#",friend-id="{{friend._id}}") Resend
									i.fa.fa-cog.fa-spin(ng-show="rsvpEmailInProgress")
									span.label.label-success(ng-show="rsvpEmailSent") Sent
							.ponyup-email(ng-show="rsvpComplete")
				.invitee-prefs-container.row
					.invitee-pref.first.col-md-2.col-xs-12
						.row
							.col-md-12.col-xs-9
								.invitee-pref-header RSVP STATUS
							.col-md-12.col-xs-3
								.invitee-pref-value
									i.fa.fa-check.fa-3x.green.invitee-rsvp-decision(ng-show="{true:true}[friend.rsvp.decision]")
									i.fa.fa-ban.fa-3x.invitee-rsvp-decision(ng-show="{false:true}[friend.rsvp.decision]")
									i.fa.fa-question.fa-3x.invitee-rsvp-decision(ng-show="{null:true}[friend.rsvp.decision]")
					.invitee-pref.col-md-2.col-xs-12(ng-show="friend.rsvp.tickets")
						.row
							.col-md-12.col-xs-9
								.invitee-pref-header Ticket Vote
							.col-md-12.col-xs-3
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.tickets.decision")
										i.fa.fa-minus.fa-2x
									.dollar-sign.orange(ng-show="friend.rsvp.tickets.decision")
										span(ng-show="friend.rsvp.tickets.priceGroup.low") $
										span(ng-show="friend.rsvp.tickets.priceGroup.med") $
										span(ng-show="friend.rsvp.tickets.priceGroup.high") $
					.invitee-pref.col-md-3.col-xs-12(ng-class="{false:'muted'}[plan.preferences.addOns.parking]", ng-show="friend.rsvp.parking")
						.row
							.col-md-12.col-xs-9
								.invitee-pref-header Parking Vote
							.col-md-12.col-xs-3
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.parking.decision")
										i.fa.fa-minus.fa-2x
									.dollar-sign.orange(ng-show="friend.rsvp.parking.decision")
										span(ng-show="friend.rsvp.parking.priceGroup.low") $
										span(ng-show="friend.rsvp.parking.priceGroup.med") $
										span(ng-show="friend.rsvp.parking.priceGroup.high") $

					.invitee-pref.col-md-3.col-xs-12(ng-class="{false:'muted'}[plan.preferences.addOns.restaurants]", ng-show="friend.rsvp.restaurant")
						.row
							.col-md-12.col-xs-9
								.invitee-pref-header Restaurant Vote
							.col-md-12.col-xs-3
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.restaurant.decision")
										i.fa.fa-minus.fa-2x
									.dollar-sign.orange(ng-show="friend.rsvp.restaurant.decision")
										span(ng-show="friend.rsvp.restaurant.priceGroup.low") $
										span(ng-show="friend.rsvp.restaurant.priceGroup.med") $
										span(ng-show="friend.rsvp.restaurant.priceGroup.high") $
						.row
							.col-xs-12
								#invitee-food-preferences(ng-show="friend.rsvp.restaurant.preference.length")
									.prefs-list.display-popover(placement="bottom",trigger="hover",title="Food Preferences",content="{{friend.rsvp.restaurant.preference.join(', ')}}")
										strong cuisine:&nbsp;
										span {{friend.rsvp.restaurant.preference.join(', ').substring(0,30)}}
										span(ng-show="showEllipses(friend.rsvp.restaurant.preference,30)") ...
					.invitee-pref.col-md-2.col-xs-12(ng-class="{false:'muted'}[plan.preferences.addOns.hotels]", ng-show="friend.rsvp.hotel")
						.row
							.col-md-12.col-xs-9
								.invitee-pref-header Hotel Votes
							.col-md-12.col-xs-3
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.hotel.decision")
										i.fa.fa-minus.fa-2x
									.dollar-sign.orange(ng-show="friend.rsvp.hotel.decision")
										span(ng-show="friend.rsvp.hotel.priceGroup.low") $
										span(ng-show="friend.rsvp.hotel.priceGroup.med") $
										span(ng-show="friend.rsvp.hotel.priceGroup.high") $
						.row
							.col-xs-12
								#invitee-hotel-preferences(ng-show="friend.rsvp.hotel.preference.length")
									.prefs-list.display-popover(placement="bottom",trigger="hover",title="Hotel Preferences",content="{{friend.rsvp.hotel.preference.join(', ')}}")
										strong hotel type:&nbsp;
										span {{friend.rsvp.hotel.preference.join(', ').substring(0,30)}}
										span(ng-show="showEllipses(friend.rsvp.hotel.preference,30)") ...
