@backgroundTopMargin: 65px;
@stripeHeight:        30px;

#backgrounds { 
  position:absolute;
  width:100%;
  .clearfix(); 
}
#backgrounds #stripe {
  position:relative;
  margin-left:24%;
  margin-top:       @backgroundTopMargin;
  height:           @stripeHeight;
  background-color: @orange;
  @shadow: 0 1px 3px rgba(0,0,0,.5), inset 0 1px 0 rgba(0,0,0,.25);
  .box-shadow(@shadow);
  z-index:-1;
}


