#dashboardContainer {

  #dashboardSidebar {
    .border-radius(4px);
    .box-shadow(inset 0 2px 2px rgba(0,0,0,.05));   
    padding:19px;  
    background-color:lighten(@blue,40%);
    border:2px solid @blue;
    width:140px;
    float:left;    

    #sidebarNav {
      margin-top:20px;
      font-size: .9em;
      
      i {padding:2px;}
    }
    #profileImage {
      height:100px;
      width:130px;
      border:3px dashed @grayDark;

      i {
	margin: 43px 58px;
      }
    }
  }


}