
.event-list {
  background-color:@grayLighter; 
  padding:15px; 
  border-bottom:1px solid #CCC;
}

.event-list h3 {
  text-shadow:1px 1px #b4b4b4;
  margin-bottom:25px;
}

.event-list ul li {
  .clearfix();
  font-size:11px;
  padding:0 0 25px 0;
  border-bottom:1px solid #a4a4a4;
  margin-bottom:15px;
  position:relative;
}

.event-list ul li p {font-size:11px;}

.event-list ul li p.info {
  float:left; margin:0 10px 0 75px;
  line-height:15px;
}

.event-list.span4 ul li p.info { width:125px; }
.event-list.span5 ul li p.info { width:205px; }
.event-list.span6 ul li p.info { width:285px; }
.event-list.span7 ul li p.info { width:365px; }
.event-list.span8 ul li p.info { width:445px; }
.event-list.span9 ul li p.info { width:525px; }
.event-list.span10 ul li p.info { width:605px; }
.event-list.span11 ul li p.info { width:685px; }
.event-list.span12 ul li p.info { width:765px; }

.event-list ul li p.cta {float:right; text-align:right;}
.event-list ul li p.cta em {display:block; margin-top:5px;}

.event-list #seeMore {display:block;width:200px;margin:auto;}

/* the event date box */
.event-date-box {
  background-color:@grayLight;
  text-transform:uppercase;
  text-align:center;
  display:block;
  height:60px;
  width:55px;
  position:absolute;
  border-radius:10px; 
  color:@grayDark; 
  padding:5px;
}

.event-date-box span { display:block; }

.event-date-box span.event-date {
  font-size:17px;
  line-height:18px;
  margin-bottom:2px;
  text-transform:capitalize;
}
