footer {
  text-align:left;
  border-top:40px solid #524F45;
  padding:10px 0;
  font-size:14px;
  min-height:100px;
  .body {
    .clearfix();
    width:720px;
    margin:auto;
  }

  .span3 {
    div {
      margin:auto;
      text-align:left;
      height:26px;
    }
  }

}

#index #maincontentWrapper footer {
}