footer {
  text-align:left;
  border-top:40px solid #524F45;
  padding:10px 0;
  font-size:14px;
  min-height:100px;
  
  .span3 {
    div {
      height:26px;
    }
  }

}

#index #maincontentWrapper footer {
}