#friendsContent {margin:auto;width:100%;}
#manual,#gmail,#facebook {.clearfix(); width:30%;padding:10px; float:left;}
#friendsContent h3 {padding:4px;}

#manual {
  .clearfix();
  #friendStack {
    margin-left:20px;
    margin-top:380px;
    width:340px;

    .friend {
      background-color:@grayLighter; 
      padding:15px; 
      border-bottom:1px solid #CCC;
      
      .data {
	float:left;
	width:240px;
      }

    }
  }
}
