#header {
	position:fixed;
	z-index:4000;
	top:0;
	left:0;

	#logo {
    display:block;
    margin:20px;
    height:85px;
    width:200px;
    background: url('/images/layout/wembli-orange-beta-small.png') @white center center no-repeat;
	}
}
