p.note {
  padding:5px;
}

#voteByModal {

  #respondBy {margin:auto;}

  #respondBy,.sendEmailCheckBoxContainer {
    padding:10px;


    .controls {
      margin:20px 0 0 100px;
    }
    input {
      margin-left:23px;
      margin-right:10px;
    }
  }   

  #voteByAction {
    width:475px;
    margin:auto;
    text-align:center;
    button {
      margin:10px;
    }
  }
}

#collectPaymentModal {
  #finalTicketOption {
    .clearfix();
    position:relative;
    padding:10px 0;
    min-height:70px;
    background-color:@white;
    margin-top:10px;

    .info {
      font-size:12px;
      margin-left:90px;
      float:left;
      width:200px;
      min-height:60px;
    }
	
    .progress {
      margin-bottom:1px;
    }
    
    .ticket-price-box {
      left:20px;
      margin:0px;
    }

  }
  
  .sendEmailCheckBoxContainer {
    padding:10px;
    
    input {
      margin-left:23px;
      margin-right:10px;
    }
  }   

  #collectPaymentActions {
    width:475px;
    margin:auto;
    text-align:center;
    button {
      margin:10px;
    }
  }
  
}

.planViewContainer {
  margin:10px 0;		

  #eventDetails {
    .clearfix();
    height:70px;
    margin:10px 20px;

    .info {
      font-size:11px;
      margin-left:75px;float:left;
      .name {
	font-weight:bold;
	font-size:14px;
      }
    }
  }

  #checkoutContainer {
    #ticketsContainer .ticket-price-box {
      left:20px;
    }
  }
  
  .planOptions {
    .checkoutMsg, .paymentMsg, .votingMsg {
      margin-bottom:1px;
    }
    
    #ticketsContainer {
      .header {
	.clearfix();
	padding:5px;
	
	h4 {
	  font-weight:bold;
	  width:200px;
	}
	.ticketActions {
	  .clearfix();
	  font-size:11px;
	}
      }
      
      .ticketOption:hover {
	background-color:lighten(@yellow,20%);
      }
      
      .ticketOption {
	.clearfix();
	position:relative;
	padding:10px 0;
	min-height:70px;
	display:block;
	
	.costBreakdown {
	  table tr td {
	    font-size:10px;
	  }
	  table tr td.amt {
	    text-align:right;
	  }
	  table tr td.total {
	    font-weight:bold;
	    text-align:right;
	  }
	}
	
	input {
	  float:right;
	  margin-right:70px;
	  margin-top:30px;
	}
	
	.infoContainer {
	  .clearfix();
	  position:relative;
	}


	.info {
	  font-size:12px;
	  margin-left:100px;
	  float:left;
	  width:200px;
	  min-height:60px;
	  margin-top:4px;
	}
	
	.progress {
	  margin-bottom:1px;
	}
	
	.ticket-price-box {
	  left:20px;
	  margin:0px;
	}
      }
    }
    
    .form-footer {
      text-align:center;
      padding:19px;
    }
  }

  .friendContainer {
    .friend {
      padding:10px;
      .info {
	.name {
	  margin-left:4px;
	  font-weight:bold;
	  font-size:14px;
	}
      }
    }
  }	  
  
}

#planViewOrganizerContainer {
  
  #organizerSidebar {
    .border-radius(4px);
    .box-shadow(inset 0 2px 2px rgba(0,0,0,.05));   
    padding:19px;  
    background-color:lighten(@blue,40%);
    border:2px solid @blue;
    width:140px;
    float:left;    

    #sidebarNav {
      margin-top:20px;
      font-size: .9em;
      
      i {padding:2px;}
    }
    #profileImage {
      height:100px;
      width:130px;
      border:3px dashed @grayDark;

      i {
	margin: 43px 58px;
      }
    }
  }

  #mainContainer {
    .clearfix();
    margin-left: 180px;
    
    #mainAlert {
      margin:10px 20px;
    }

    #center {
      #planOptionsContainer {
	#ticketsContainer {
	  #ticketsTotal {
	    .clearfix();
	    margin:0 10px;
	  }
	  .ticketOption {
	    .cta {
	      button {
		margin:20px 0 0 20px;
	      }
	    }
	  }
	}
      }
    }

    #right {
      #friendStack {
	.friendContainer {
	  .friend {
	    .paymentEmailStatus,.invitationEmailStatus {
	      font-size:12px;
	      .emailType { margin-right:4px; }
	      .emailAction {font-size:12px;}
	    }

	    .paymentAmountStatus {
	      .border-radius(4px);
	      background-color:@grayLight;
	      margin:4px 0;
	      padding:10px;
	      font-size:12px;

	      .label {
		font-size:14px;
		float:right;
	      }
	    }	    
	    
	  }
	}

	#inviteMoreContainer {
	  text-align:center;
	  padding:19px;
	}
      }
    }
  }
}

#planViewFriendContainer {
  #rsvpContainer {
    .clearfix();
    
    .message {
      width:755px;
      margin-right:20px;
      font-size:16px;
    }
    
    .buttons {
      width:114px;
      
      #rsvpYes {
	margin-right:10px;
      }
    }
  }

  #left {
    #paymentContainer {
      #makePayment {
	#content {
	  .clearfix();

	  #costBreakdown {
	    width:259px;
	    padding:10px;
	  }

	  #paymentOptionsContainer {
	    padding:10px;

	    .form-footer {
	      float:left;
	      width:329px;
	      text-align:center;
	      #contributionText {
		.clearfix();
		font-size:16px;
		text-align:right;
		margin-bottom:10px;

	      }
	      #contributionText > div {
		margin:10px;
	      }

	    }

	    #paymentOptions {
	      width:289px;
	      margin:10px 0;
	      .paymentOption {
		.clearfix();

		label {
		  .clearfix();
		  
		}
		
		label > div {
		  height:30px;
		  line-height:26px;
		  vertical-align:middle;
		  font-size:16px;
		  margin:0 10px;
		}
		
		input[name=amount] {
		  margin:7px 0;
		  
		}
		
		input#arbitraryAmount {
		  width:100px;
		}
		
		select#amountQty {
		  font-size:12px;
		  width:40px;
		}
	      }
	    }
	  }
	}
      }
    }

    #ticketsContainer {
      .ticketOption {
	.clearfix();

	.info {
	  float:left;
	}
	.votingProgress {
	  float:right;
	  margin-right:20px;
	  min-width:200px;

	  .cta {
	    width:200px;
	    text-align:center;
	    button {
	      margin-top:10px;
	    }
	  }
	}
	.ticket-price-box {
	  left:20px;
	}
      }
    }
  }

  #right {

  }
  
}

