#summaryContainer {
  margin:auto;
  width:100%;
  max-width:1200px;

  h3 {
    padding:4px;
  }

  
  .well {
    .clearfix(); 
    width:350px;
    padding:10px; 
    float:left;
  }

  .center {
    margin:0 40px;
  }
}