//- scenarios:
//- brand new customer - will have to signup and confirm before moving to step 2
//- not logged in, existing customer without a password - must send forgot password email and provide password and confirm
//- not logged in, existing customer with password - must just login to continue
//- logged in - should skip this step and start on step 2
form#invite-wizard-signup-form.invite-wizard-step1-form(name="signup",ng-show="showSignupForm",ng-init="initSignupForm()")
	fieldset
		h2 Who Is The Invitation From?
		.alert(ng-show="signup.formError") All fields are required.
		.alert(ng-show="signup.firstName.$error.required && !signup.firstName.$pristine") First Name is required.
		.alert(ng-show="signup.lastName.$error.required && !signup.lastName.$pristine") Last Name is required.
		.alert(ng-show="signup.email.$error.required && !signup.email.$pristine") Email Address is required.
		.alert(ng-show="signup.noContinue") Hey - we need your name and email before we can really do anything here.
		p Enter your name and email address so your friends know who this invitaiton is from.

		//- if they are logged in, this will be prefilled and they will start on step-2
		.name-group.control-group
			input.first-name.pull-left(required, ng-model="customer.firstName", placeholder="YOUR FIRST NAME",type="text",name="firstName")
			input.last-name.pull-left(required, ng-model="customer.lastName",placeholder="YOUR LAST NAME",type="text",name="lastName")
			input.email(required, type="email",ng-model="customer.email",placeholder="YOUR EMAIL ADDRESS",name="email")
		.switch-login
			i.icon-question-sign
				a(ng-click="showForm('showLoginForm','showSignupForm')",href="#",ng-hide="customer.id") Already have an account? Click here to log in.

#invite-wizard-signup-view(ng-show="showSignupView")
	fieldset
		h2 The Invitation Is From:
		.alert.alert-info(ng-show="signup.success") Successfully saved your info.
		.alert.alert-info(ng-show="login.success") Successfully logged you in.
		p.already-logged-in
			i.icon-ok-sign.green &nbsp;You're already logged in.  We'll use the the contact info you already gave us.
		p
			strong Name:&nbsp;
			span {{customer.firstName}} {{customer.lastName}}
		p
			strong Email:&nbsp;
			span {{customer.email}}

//- this account exists but they never set a password and did not confirm the email address
form#invite-wizard-login-unconfirmed-form.invite-wizard-step1-form(name="loginUnconfirmed",ng-show="showLoginUnconfirmedForm")
	fieldset
		h2 Check Your Email
		.alert(ng-hide="forgotPasswordEmailSent") An email has been sent to you. Follow the instructions to set your password.
		.alert(ng-show="forgotPasswordEmailSent") Successfully resent password email. Follow the instructions in the email to set your password.
		a#fp-link1.send-forgot-password-email(email="{{customer.email}}",next="{{next}}",href="#") Resend password email.
		.switch-login
			a(ng-click="showForm('showSignupForm','showLoginUnconfirmedForm')",href="#",ng-hide="customer.id") Don't have an account or password yet? Click Here.

//- login form - existing account with a password - they just need to supply credentials to continue
form#invite-wizard-login-form.invite-wizard-step1-form(name="login",ng-show="showLoginForm")
	fieldset
		h2 Login To Invite Friends
		.alert(ng-show="forgotPasswordEmailSent && !forgotPasswordEmailError") Successfully resent password email. Follow the instructions in the email to set your password.
		.alert(ng-show="forgotPasswordEmailError") Shoot! Looks like that email address doesn't exist.  Make sure you've entered a valid email address (you can leave the password field blank).
		.alert(ng-show="login.invalidCredentials") Shoot! We were not able to log you in using this email and password.
		.alert(ng-show="login.accountExists") An account already exists for {{customer.email}}. Please, provide your password to login.
		.name-group.control-group
			input.focus-on-click.email(type="email",ng-model="customer.email",placeholder="EMAIL ADDRESS",name="login_email",required)
			input.focus-on-click.password(type="password",ng-model="customer.password",placeholder="PASSWORD",name="password", required)
		.or(ng-hide="customer.id || facebook.service.getAuth()")
			span OR
		.facebook-login(ng-hide="customer.id || facebook.service.getAuth()")
			a#facebook-login-button.btn.btn-primary(target="_self",href="/auth/facebook?redirectUrl=/invitation/{{plan.event.eventId}}/{{plan.event.eventName}}")
				i.icon-facebook.icon-2x.pull-left
				span Login with Facebook
		.switch-login
			i.icon-question-sign
				a#fp-link2.send-forgot-password-email(email="{{customer.email}}",next="{{next}}",href="#") Forgot your password? Click here.

		.switch-login
			i.icon-question-sign
				a(ng-click="showForm('showSignupForm','showLoginForm')",href="#",ng-hide="customer.id") Don't have an account or password yet? Click Here.
