form#invite-wizard-step5-form(name="wemblimailForm")
	fieldset()
		h2 Go old skool and send an eMail
		.alert.alert-block.fade.in.clearfix(ng-show="error")
			i.icon-info-sign.icon-2x
			.error-text(ng-show="formError") All fields are required.
		.alert.alert-block.fade.in.clearfix(ng-show="isOrganizer")
			i.icon-info-sign.icon-2x
			.error-text You don't have to invite yourself :)
		.alert.alert-info.alert-block.fade.in.clearfix(ng-show="successConfirmed")
			i.icon-info-sign.icon-2x
			.error-text Invitation email successfully sent to {{wemblimail.lastSentEmail}}!
		.alert.alert-info.alert-block.fade.in.clearfix(ng-show="successUnconfirmed")
			i.icon-info-sign.icon-2x
			.error-text Invitation email to {{wemblimail.lastSentEmail}} will be sent as soon as you confirm your email address (hint: check your email!).
		p Email friends to let them know they're invited.  Supply a name, email address and a note and we'll send out an email for you.
		.name-group.control-group.pull-left
			input#step5-name.name(ng-model="wemblimail.name", placeholder="GUEST'S FULL NAME",type="text",name="name",required)
			input#step5-email(ng-model="wemblimail.email",placeholder="GUEST'S EMAIL ADDRESS",type="email",name="email",required)
			textarea#step5-message-text(placeholder="Include a personalized message...",ng-model="wemblimail.messageText", name="step5_message_text", required)
			button.btn.btn-primary.pull-right(ng-click="sendWemblimail()") Send WembliMail Now
		#step5-friends-list.friends-list-container(ng-show="wemblimail.friends[0]")
			.friends-list(ng-show="wemblimail.friends[0]")
				.friend.pull-left(title="{{friend.contactInfo.serviceId}}",ng-repeat="friend in wemblimail.friends")
					.friend-img.pull-left
						i.friend-no-img.icon-user
					.friend-name.pull-left
						.name {{friend.contactInfo.name}}
					.friend-status.pull-right(ng-show="friend.checked && rsvpUndecided(friend)")
						span.label.label-info undecided
					.friend-status.pull-right(ng-show="friend.checked && rsvpAccepted(friend)")
						span.label.label-success accepted
					.friend-status.pull-right(ng-show="rsvpDeclined(friend)")
						span.label.label-important declined
	.form-controls()
		a.skip-step(data-dismiss="modal",ng-show="loggedIn", ng-click="finished()") Skip this step
		button.submit-step.btn.btn-primary.btn-large(ng-disabled="{true:'disabled'}[!loggedIn]",ng-click="finished()") Finished!
