form#invite-wizard-rsvp-form.invite-wizard-rsvp-form(name="rsvp")
	h2 Choose The RSVP Date:
	p OK! Your plan is to go to {{plan.event.eventVenue}} in {{plan.event.eventCity}} on {{plan.event.eventDate| date:'MMM d, yyyy'}}.  When should your guests RSVP?
	.alert.alert-info
		strong Note:&nbsp;
		span The sooner your friends rsvp, the sooner you'll be able to lock-in and purchase your tickets.
	.datepicker-container
		.pikaday.datepicker
	.form-controls
		a.submit-step.btn.btn-primary.btn-large(ng-click="submitRsvp()") Continue
