.social-loader(ng-hide="facebook.loginStatusLoaded") Loading...
form#invite-wizard-step3-form(name="step3",ng-cloak,ng-show="facebook.loginStatusLoaded", novalidate)
	fieldset
		h2 Select Facebook Friends To Invite
		p Post a message on your friends' wall to let them know they're invited. You can post a message on the wall of each facebook friend you invite and it will include a link to your Wembli plan so they can RSVP.
		#facebook-need-login(ng-hide="facebook.service.getAuth()")
			p Connect with Facebook to view your friends.
			button#facebook-login.btn.btn-primary(ng-click="facebook.service.login()")
				i.icon-facebook.pull-left
				span &nbsp;Connect With Facebook
		#facebook-friends-list.friends-list-container(ng-show="facebook.service.getAuth()")
			.control-group
				.input-append
					input.friend-filter(type="text",placeholder="Enter friend name to filter",on-keyup="facebook.filterFriends",ng-model="facebook.friendFilterKey"))
					span.add-on
						i.icon-search
			.spinner(ng-hide="facebook.friends")
				i.icon-spinner.icon-spin.icon-2x(ng-hide="facebook.friends")
			.friends-list(ng-show="facebook.friends")
				.friend(ng-repeat="friend in facebook.friends",ng-click="facebook.handleFriendClick(friend,$event)")
					.friend-controls.pull-left
						input(id="{{friend.contactInfo.serviceId}}",type="checkbox",ng-model="friend.checked")
					.friend-img.pull-left
						img.picture(ng-src="https://graph.facebook.com/{{friend.id}}/picture?height=30&width=30")
					.friend-name.pull-left
						.name {{friend.name}}
					.friend-status.pull-right(ng-show="friend.checked && rsvpUndecided(friend)")
						span.label.label-info undecided&nbsp;
					.friend-status.pull-right(ng-show="friend.checked && rsvpAccepted(friend)")
						span.label.label-success accepted&nbsp;
					.friend-status.pull-right(ng-show="rsvpDeclined(friend)")
						span.label.label-important declined&nbsp;
	.form-controls
		a.skip-step(ng-click="skipStep('step3')") Skip this step
		button.submit-step.btn.btn-primary.btn-large(ng-click="skipStep('step3')") Continue
