form#invite-wizard-step1-form(name="step1")
	fieldset(ng-show="step1.accountExists")
		h2 Provide your password
		#error.alert.alert-block.fade.in(ng-show="step1.error")
			.error-text Please provide a password to log in.
			.error-text(ng-show="step1.invalidCredentials") Shoot! We were not able to log you in using this email and password.
		.name-group.control-group
			input.email(type="email",ng-model="customer.email",placeholder="EMAIL ADDRESS",name="email")
			input.password(type="password",ng-model="customer.password",placeholder="PASSWORD",name="password")
	fieldset(ng-hide="step1.accountExists")
		h2 Enter Your Info
		#error.alert.alert-block.fade.in(ng-show="step1.error")
			.error-text(ng-show="step1.formError") All fields are required.
			.error-text(ng-show="step1.noCustomer")
				p Please provide your info so we can save your plan and invite people. Or
				a.btn.btn-warning.wembli-sequence-link(href="/login") Click Here to Log In
		p We'll use this info to let your guests know who the invitation is from.
		.name-group.control-group
			input.first-name.pull-left(ng-model="customer.firstName", placeholder="FIRST NAME",type="text",name="firstName",required)
			input.last-name.pull-left(ng-model="customer.lastName",placeholder="LAST NAME",type="text",name="lastName",required)
			input.email(type="email",ng-model="customer.email",placeholder="EMAIL ADDRESS",name="email",required)
	.form-controls()
		//- a.skip-step(ng-click="skipStep('step1')") Skip this step
		button.submit-step.btn.btn-primary.btn-large(ng-click="submitForm('step1')") Continue
a.wembli-sequence-link(href="/login",ng-hide="customer.id") Already have an account? Log in here.&nbsp;
span(ng-hide="customer.id || facebook.service.getAuth()") Or...
.facebook-login(ng-hide="customer.id || facebook.service.getAuth()")
	a#facebook-login-button.btn.btn-primary(target="_self",href="/auth/facebook")
		i.icon-facebook.icon-2x.pull-left
		span Login with Facebook
