//- have tickets but not purchased
.body.add-on-included(ng-show="tickets[0] && !tickets[0].purchased")
	.alert.alert-warning.pull-left
		.icon-warning-sign.icon-2x.pull-left
		.text.pull-left These tickets have not been purchased.  There is no guarantee that tickets will be available until they are purchased.

	ul.ticket-list-container.add-on-container
		li.ticket-row.add-on-row(ng-repeat="ticket in tickets")
			.ticket-container.display-popover(title="Tickets Cost Breakdown",placement="right",html="true",content-id="{{ticket._id}}-tickets-popover-content",trigger="hover")
				div.popover-content(id="{{ticket._id}}-tickets-popover-content").hide
					.row.clearfix
						strong.pull-left Ticket Price (ea.)&nbsp;
						.pull-right {{ticket.costBreakdown.price | currency}}
					.row.clearfix.border-bottom
						strong.pull-left  Ticketnetwork Service Fee (ea.)&nbsp;
						.pull-right {{ticket.costBreakdown.serviceFee | currency}}
					.row.clearfix
						strong.pull-left  Cost Per Person&nbsp;
						.pull-right {{ticket.costBreakdown.totalEach | currency}}
					.row.clearfix
						strong.pull-left  Est. Delivery Fee* Per Invitee&nbsp;
						.pull-right {{ticket.costBreakdown.deliveryFeeEach | currency}}
					.row.clearfix
						strong.pull-left  Total (x{{ticket.ticketGroup.selectedQty}} {{ticket.ticketGroup.selectedQty | pluralize:'ticket'}}):&nbsp;
						strong.pull-right {{ticket.costBreakdown.total | currency}}
					.row.disclaimer
						small
							strong *
							span Delivery fee varies depending on the delivery method you choose when you purchase the tickets.
				.ticket-info.clearfix
					.left.pull-left
						.ticket-section
							strong SECTION/AISLE:
							span {{ticket.ticketGroup.Section}}&nbsp;
						.ticket-row
							strong ROW/BOX:
							span {{ticket.ticketGroup.Row}}
						.ticket-seat
							strong SEATS:
							span(ng-show="{'*':true}[ticket.ticketGroup.LowSeat]") {{ticket.ticketGroup.LowSeat}}
							span(ng-hide="{'*':true}[ticket.ticketGroup.LowSeat]") {{ticket.ticketGroup.LowSeat}} - {{ticket.ticketGroup.HighSeat}}
					.pull-right
						a.btn.btn-primary.btn-small(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") View On Map

				.ticket-notes(ng-show="ticket.ticketGroup.Notes")
					span NOTES:&nbsp;
					span {{ticket.ticketGroup.Notes}}
				.ticket-payment.clearfix
					.per-person.pull-left
						strong Total cost for
					.qty-container.pull-left
						select(id="qty-{{ticket.ticketGroup.ID}}",ng-model="ticket.ticketGroup.selectedQty",name="qty-{{ticket.ticketGroup.ID}}",ng-options="q for q in ticket.ticketGroup.ValidSplits.int")
					.pull-left
						strong {{ticket.ticketGroup.selectedQty | pluralize:'ticket'}}:
					.ticket-total.pull-left
						{{ticket.costBreakdown.total | currency}}
			.controls.clearfix
				a.btn.btn-orange.btn-large.buy-tickets-offsite.pull-left(ng-hide="{'split-after':true}[plan.preferences.tickets.payment]",ticket="{{ticket.ticketGroup}}",back-to-plan="true",ng-href="{{tnUrl}}&tgid={{ticket.ticketGroup.ID}}&evtid={{ticket.ticketGroup.EventID}}&price={{ticket.ticketGroup.ActualPrice}}&treq={{ticket.ticketGroup.selectedQty}}&req.sessionId={{ticket.ticketGroup.sessionId}}",target="_blank") Buy Tickets Now
				- if (req.session.plan.preferences.payment === 'split-first')
					a.btn.btn-orange.btn-large.pull-left.scroll-to(ng-click="gotoSection('#section4')",href="#section4", id="btn-section4") Request Pony Up!
				a.change-tickets-link.change-add-on-link.pull-left(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") Change Tickets

