.body.add-on-included(ng-show="plan.preferences.addOns.parking && parking[0] && !parking[0].purchased")
	//- parking is chosen and its parkwhiz
	//- parking is chosen and its google parking
	ul.parking-list-container
		li.parking-row(ng-repeat="p in parking")
			.parking-container.display-popover(title="Parking Cost Breakdown",placement="right",html="true",content-id="{{parking._id}}-parking-popover-content",trigger="hover")
				div(id="{{parking._id}}-parking-popover-content").hide
					.row.clearfix
						strong.pull-left  parking Price
						.pull-right {{parking.parkingGroup.costBreakdown.parkingPrice | currency}}
					.row.clearfix.border-bottom
						strong.pull-left  parkingnetwork Service Fee&nbsp;
						.pull-right {{parking.parkingGroup.costBreakdown.serviceFee | currency}}
					.row.clearfix
						strong.pull-left  Cost Per Person&nbsp;
						.pull-right {{parking.parkingGroup.costBreakdown.totalEach | currency}}
					.row.clearfix
						strong.pull-left  Est. Delivery Fee* Per Invitee&nbsp;
						.pull-right {{parking.parkingGroup.costBreakdown.deliveryFeeEach | currency}}
					.row.clearfix
						strong.pull-left  Total (x{{parking.parkingGroup.selectedQty}} {{parking.parkingGroup.selectedQty | pluralize:'parking'}}):&nbsp;
						strong.pull-right {{parking.parkingGroup.costBreakdown.total | currency}}
					.row.disclaimer
						small
							strong *
							span Delivery fee varies depending on the delivery method you choose when you purchase the parking.
				.parking-info.clearfix
					.parking-section.pull-left
						strong SECTION/AISLE:
						span {{parking.parkingGroup.Section}}&nbsp;
					.parking-row.pull-left
						strong ROW/BOX:
						span {{parking.parkingGroup.Row}}
					.parking-seat.pull-left
						strong SEATS:
						span(ng-show="{'*':true}[parking.parkingGroup.LowSeat]") {{parking.parkingGroup.LowSeat}}
						span(ng-hide="{'*':true}[parking.parkingGroup.LowSeat]") {{parking.parkingGroup.LowSeat}} - {{parking.parkingGroup.HighSeat}}
				.parking-notes
					span NOTES:&nbsp;
					span {{parking.parkingGroup.Notes}}
				.parking-payment.clearfix
					.per-person.pull-left
						strong Total cost for
					.qty-container.pull-left
						select(id="qty-{{parking.parkingGroup.ID}}",ng-model="parking.parkingGroup.selectedQty",name="qty-{{parking.parkingGroup.ID}}",ng-options="q for q in parking.parkingGroup.ValidSplits.int")
					.pull-left
						strong {{parking.parkingGroup.selectedQty | pluralize:'parking'}}:
					.parking-total.pull-left
						{{parking.parkingGroup.costBreakdown.total | currency}}
			.controls.clearfix
				- if (req.session.plan.preferences.payment === 'split-first')
					a.btn.btn-orange.btn-large.pull-left.scroll-to(ng-click="gotoSection('#section4')",href="#section4", id="btn-section4") Request Pony Up!
				- else
					//- TODO: make this a parkwhiz offsite link
					a.btn.btn-orange.btn-large.buy-parking-offsite.pull-left(ng-hide="{'split-after':true}[plan.preferences.parking.payment]",parking="{{parking.parkingGroup}}",ng-href="{{tnUrl}}&tgid={{parking.parkingGroup.ID}}&evtid={{parking.parkingGroup.EventID}}&price={{parking.parkingGroup.ActualPrice}}&treq={{parking.parkingGroup.selectedQty}}&req.sessionId={{parking.parkingGroup.sessionId}}",target="_blank") Buy parking Now
				a.change-parking-link.pull-left(href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") Change parking
