//- have not yet chosen tix and they are not splitting
.body(ng-show="{'no-split':true}[plan.preferences.payment]")
	h3 Footing the bill eh? nice...
	include no-split/tickets
	include no-split/parking
	include no-split/restaurants
	include no-split/hotels
	include totals
