//- have parking and purchased
.body.add-on-included(ng-show="parking[0] && parking[0].payment && parking[0].payment.receipt")
	ul.parking-list-container.add-on-container
		li.parking-row.add-on-row(ng-repeat="p in parking")

			.parking-container.add-on-container(ng-show="{'google':true}[p.service]")
				.parking-info.add-on-info.clearfix
					.parking-name
						strong NAME:
						span {{p.parking.name}}&nbsp;
					.parking-location
						strong LOCATION:
						span {{p.parking.vicinity}}

			//- TODO: show a parkwhiz logo? add notes field to keep track of order info from parkwhiz?
			.parking-container.add-on-container(ng-show="{'pw':true}[p.service]")
				.parking-info.add-on-info.clearfix
					.parking-name.pull-left
						strong NAME:&nbsp;
						span {{p.parking.location_name}}&nbsp;
					.parking-location.pull-left
						strong LOCATION:&nbsp;
						span {{p.parking.address}}, {{p.parking.city}}, {{p.parking.state}} {{p.parking.zip}}
				.parking-payment.clearfix
					.per-person.pull-left
						strong Total cost for {{p.payment.receipt.qty}} parking {{p.payment.receipt.qty | pluralize:'spot'}}:&nbsp;
					.parking-total.pull-left
						{{p.payment.receipt.amountPaid | currency}}

			.controls.clearfix
				a.view-parking-link.view-add-on-link.pull-left.btn.btn-large.btn-orange(href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}") View parking On Map
				- if (req.session.plan.preferences.parking.payment !== 'no-split')
					a.btn.btn-orange.btn-large.pull-left.scroll-to(ng-hide="p.payment.receipt['not-available']", ng-click="gotoSection('#section4')",href="#section4", id="btn-section4") Request Pony Up!
