//- have tickets and purchased
.body.add-on-included(ng-show="tickets[0] && tickets[0].payment && tickets[0].payment.receipt")
	ul.ticket-list-container.add-on-container
		li.ticket-row.add-on-row(ng-repeat="ticket in tickets")
			.ticket-container
				.ticket-info
					strong Wembli Order ID:&nbsp;
					span {{ticket._id}}
				.ticket-info.clearfix
					.ticket-section
						strong SECTION/AISLE:
						span {{ticket.ticketGroup.Section}}&nbsp;
					.ticket-row
						strong ROW/BOX:
						span {{ticket.ticketGroup.Row}}
					.ticket-seat
						strong SEATS:
						span(ng-show="{'*':true}[ticket.ticketGroup.LowSeat]") {{ticket.ticketGroup.LowSeat}}
						span(ng-hide="{'*':true}[ticket.ticketGroup.LowSeat]") {{ticket.ticketGroup.LowSeat}} - {{ticket.ticketGroup.HighSeat}}
				.ticket-notes(ng-show="ticket.ticketGroup.Notes")
					span NOTES:&nbsp;
					span {{ticket.ticketGroup.Notes}}
				.ticket-payment.clearfix
					.per-person.pull-left
						strong Total cost for {{ticket.payment.qty}} {{ticket.payment.amount | pluralize:'ticket'}}:
					.ticket-total.pull-left
						{{ticket.payment.sale_total | currency}}
			.controls.clearfix
				a.view-tickets-link.view-add-on-link.pull-left.btn.btn-large.btn-orange(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") View Tickets On Map
				- if (req.session.plan.preferences.payment === 'split-after')
					a.btn.btn-orange.btn-large.pull-left.scroll-to(ng-click="gotoSection('#section4')",href="#section4", id="btn-section4") Request Pony Up!
