//- have not yet chosen tix and they are splitting first
.body(ng-show="{'split-first':true,null:true}[plan.preferences.payment]")
	include split-first/tickets
	include split-first/parking
	include split-first/restaurants
	include split-first/hotels
	include totals
