.header
	label.tickets-label
		h3 Tickets
.alert.alert-warning.clearfix(ng-show="ticketCountMismatch")
	.icon-warning-sign.icon-2x.pull-left
	.text.pull-left The number of available tickets in this ticket group do not match the number of confirmed guests.
