- if (req.session.plan.preferences.tickets.payment === 'split-first')
	//- no tickets, rsvp not complete and split-first
	.body.add-on-included(ng-show="!tickets[0] && !plan.rsvpComplete")
		p Now that you made short work of inviting friends you can relax while they RSVP.  Once everyone is accounted for we'll shoot you an email.
		p It's tough to pick tickets until you know how many people are going but feel free to preview what's available during the voting process so you have an idea of what you'll want when it's time to add them to your shopping cart.
		.button-container.clearfix
			a.pull-left.btn.btn-orange.btn-large(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") Preview Tickets
			a.buy-now(ng-click="setPayment('tickets','split-after')",href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") I don't want to wait, I want to buy now

	//- no tickets, rsvp is complete and split-first
	.body.add-on-included(ng-show="!tickets[0] && plan.rsvpComplete")
		p Time to choose tickets and add them to your cart, then we'll prompt you to send a pony up email to your friends.  You don't check out until everyone pays up first.
		p Note:  Adding tickets in your cart does NOT place them on hold.   You don't get dibs on tickets until you buy them.
		.button-container.clearfix
			a.pull-left.btn.btn-orange.btn-large(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") Add Tickets To Cart
			//- a.buy-now.wembli-sequence-link(ng-click="setPayment('tickets','split-after')",href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") I don't want to wait, I want to buy now
- else
	//- no tickets, split after (rsvp doesn't matter)
	.body.add-on-included(ng-show="!tickets[0]")
		p Time to choose tickets and add them to your cart, then we'll prompt you to send a pony up email to your friends.  You don't check out until everyone pays up first.
		p Note:  Adding tickets in your cart does NOT place them on hold.   You don't get dibs on tickets until you buy them.
		.button-container.clearfix
			a.pull-left.btn.btn-orange.btn-large(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") Add Tickets To Cart
			//- a.buy-now.wembli-sequence-link(ng-click="setPayment('tickets','split-after')",href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") I don't want to wait, I want to buy now

