!!!
html#html(ng-app="wembliDirectoryApp",xmlns:ng="http://angularjs.org",id="ng-app")
  head
    meta(name="globalsign-domain-verification", content="rcFg9PG3S-b6loqjhIzM6gBswzZdJiA923i9pEY6L7")
    include includes/head
  body#body(ng-controller="MainCtrl")
    #overlay
    include ../../../includes/facebook-sdk
    include includes/header
    #content
      block content
    include includes/footer
  include ../../../includes/js-includes


