#rsvp-for-modal.rsvp-for-modal.modal.hide
	.modal-header
		i.close.icon-remove(data-dismiss="modal")
		h2 RSVP For {{friend.contactInfo.name}}
	.modal-body
		.collect-rsvp-container.pull-left
			h4 Is {{friend.contactInfo.name}} going?
			.collect-rsvp
				a#yes(ng-click="setRsvp(true)",ng-class="{true:'active'}[friend.rsvp.decision]") Yes!
				a#no(ng-click="setRsvp(false)",ng-class="{false:'active'}[friend.rsvp.decision]") No.
			fieldset
				label(ng-show="plan.preferences.inviteOptions.guestFriends")
					input#guest-count.on-keydown.on-keyup(maxlength="2",on-keyup="guestCountKeyUp",on-keydown="guestCountKeyDown",name="guest_count",ng-model="friend.rsvp.guestCount",placeholder="1")
					span(ng-show="guestCountPlural") people&nbsp;
					span(ng-hide="guestCountPlural") person&nbsp;
					span (including yourself).
				label(ng-show="plan.preferences.addOns.parking")
					input#parking-rsvp(type="checkbox",ng-model="friend.rsvp.parking.decision")
					span Include {{friend.contactInfo.name}} in parking plans?
				label(ng-show="plan.preferences.addOns.restaurant")
					input#restaurant-rsvp(type="checkbox",ng-model="friend.rsvp.restaurant.decision")
					span Include {{friend.contactInfo.name}} in restaurant plans?
				label(ng-show="plan.preferences.addOns.hotel")
					input#hotel-rsvp(type="checkbox",ng-model="friend.rsvp.hotel.decision")
					span Include {{friend.contactInfo.name}} in hotel plans?
			a.btn.btn-primary.btn-large(href="#",ng-click="saveRsvp()") Save RSVP
