#create-account-modal.create-account-modal.modal.hide
	form#create-merchant-account-form(ng-submit="createBalancedAccount()", name="createMerchantAccountForm")
		.modal-header
			i.close.icon-remove(data-dismiss="modal")
			h2 What Bank Account Will Friends Deposit Into?
		.modal-body
			#payment-information.payment-information
				.payment-information-wrapper
					#new-merchant-account
						.header
							i.icon-lock.icon-2x.pull-left
							h3 Bank Account Holder
						.account-info-alert.alert.alert-warning.clearfix(ng-show="createMerchantAccount.accountHolderError")
							.icon-warning-sign.pull-left
							.text.pull-left(ng-show="createMerchantAccount.errorDob") Date of Birth should follow this format: MM-DD-YYYY.
							.text.pull-left(ng-show="createMerchantAccount.errorPhoneNumber") Please enter a valid, 10 digit phone number.
						.container.clearfix
							fieldset.pull-left(ng-hide="customer.balancedAPI.customerAccount")
								.control-group
									.controls
										input(type="text",ng-model="createMerchantAccount.accountHolderName",value="",placeholder="Account Holder Name",name="accountHolderName",required)
								.control-group
									.controls
										input(type="text",ng-model="createMerchantAccount.dob",value="",placeholder="Date Of Birth (mm-dd-yyyy)",name="dob",required)
								.control-group
									.controls
										input.format-phone-number(maxlength="10",type="text",ng-model="createMerchantAccount.phoneNumber", value="",name="phoneNumber", placeholder="Phone Number",required)
								.control-group
									.controls
										input(type="text",ng-model="createMerchantAccount.streetAddress", value="",name="streetAddress", placeholder="Street Address",required)
								.control-group
									.controls
										input.format-postal-code(type="text",ng-model="createMerchantAccount.postalCode", value="",name="postalCode", placeholder="Postal Code",required)
							.security-message.pull-left
								.header.clearfix
									i.icon-lock.icon-2x.pull-left
									h4.pull-left Your security is our highest priority!
								.message
									span Wembli uses the latest security technology and has the ultimate safeguards in place to keep your information safe.  We never store bank account information on our servers. Please read our&nbsp;
									a(target="_blank",href="/terms-policies") Terms Of Use &amp; Privacy Policy&nbsp;
									span for more information about how we protect your security on the internet.
						.header
							i.icon-lock.icon-2x.pull-left
							h3 Bank Account Information
						.bank-account-info-alert.alert.alert-warning.clearfix(ng-show="createMerchantAccount.errorRoutingNumber")
							.icon-warning-sign.pull-left
							.text.pull-left Invalid Routing Number.
						.container.clearfix
							fieldset.pull-left(ng-hide="customer.balancedAPI.bankAccounts")
								.control-group
									.controls
										input(type="text",ng-model="createMerchantAccount.accountName", name="accountName", placeholder="Account Name",required)
								.control-group
									.controls
										input(type="text",ng-model="createMerchantAccount.routingNumber", name="routingNumber", placeholder="Routing Number",required)
								.control-group
									.controls
										input(type="text",ng-model="createMerchantAccount.accountNumber", name="accountNumber", placeholder="Account Number",required)
								.control-group
									.controls
										span.nullable
											select(ng-model="createMerchantAccount.accountType",name="accountType",required)
												option(value="") Select Account Type
												option(value="checking") CHECKING
												option(value="savings") SAVINGS
							.security-logos.pull-left.clearfix
								.positive-ssl.pull-left
								.balanced-logo.pull-left
		.modal-footer
			.control-group
				.controls
					button.btn.btn-primary.btn-large(ng-disabled="createMerchantAccountForm.$invalid",type="submit") Create Account
#rsvp-complete-modal.modal.hide
	.modal-header
		i.close.icon-remove(data-dismiss="modal")
		h2 Congratulations!
	.modal-body
		.pull-left.icon.icon-ok-circle.icon-3x.green
		.rsvp-complete-text.pull-left
			p You're 1 step closer to finishing this thing - your RSVP is complete!
			p Now you know how many people are coming so you can choose your tickets, parking, restaurant deals, and hotel - then get your friends to pony up for their part of the bill!
	.modal-footer
		a.btn.btn-primary(href="#",data-dismiss="modal") Sweet!
#rsvp-for-modal.rsvp-for-modal.modal.hide
	.modal-header
		i.close.icon-remove(data-dismiss="modal")
		h2 Is {{friend.contactInfo.name}} going?
	.modal-body.clearfix
		.collect-rsvp-container.pull-left
			.collect-rsvp
				a#yes(ng-click="setRsvp(true)",ng-class="{true:'active'}[friend.rsvp.decision]") Yes!
				a#no(ng-click="setRsvp(false)",ng-class="{false:'active'}[friend.rsvp.decision]") No.
			fieldset
				label(ng-show="plan.preferences.inviteOptions.guestFriends")
					input#guest-count.on-keydown.on-keyup(maxlength="2",on-keyup="guestCountKeyUp",on-keydown="guestCountKeyDown",name="guest_count",ng-model="friend.rsvp.guestCount",placeholder="1")
					span(ng-show="guestCountPlural") people&nbsp;
					span(ng-hide="guestCountPlural") person&nbsp;
					span (including {{friend.contactInfo.name}}).
			fieldset.add-ons
				.control-group
					label(ng-show="plan.preferences.addOns.parking")
						input#parking-rsvp.hide(type="checkbox",ng-model="friend.rsvp.parking.decision")
						i.icon-check.icon-2x.pull-left.green(ng-show="friend.rsvp.parking.decision")
						i.icon-check-empty.icon-2x.pull-left(ng-hide="friend.rsvp.parking.decision")
						span Include {{friend.contactInfo.name}} in parking plans?
				.control-group
					label(ng-show="plan.preferences.addOns.restaurants")
						input#restaurant-rsvp.hide(type="checkbox",ng-model="friend.rsvp.restaurant.decision")
						i.icon-check.icon-2x.pull-left.green(ng-show="friend.rsvp.restaurant.decision")
						i.icon-check-empty.icon-2x.pull-left(ng-hide="friend.rsvp.restaurant.decision")
						span Include {{friend.contactInfo.name}} in restaurant plans?
				.control-group
					label(ng-show="plan.preferences.addOns.hotels")
						input#hotel-rsvp.hide(type="checkbox",ng-model="friend.rsvp.hotel.decision")
						i.icon-check.icon-2x.pull-left.green(ng-show="friend.rsvp.hotel.decision")
						i.icon-check-empty.icon-2x.pull-left(ng-hide="friend.rsvp.hotel.decision")
						span Include {{friend.contactInfo.name}} in hotel plans?
		.where-to-go.pull-left
			img(src="/images/where-to-go.png")
	.modal-footer
		a.btn.btn-primary.btn-large(href="#",ng-click="saveRsvp()",data-dismiss="modal") Save RSVP
include tickets/offsite
include parking/offsite
include restaurants/offsite
