#rsvp-for-modal.rsvp-for-modal.modal.hide
	.modal-header
		i.close.icon-remove(data-dismiss="modal")
		h2 RSVP For {{friend.contactInfo.name}}
	.modal-body
		.collect-rsvp-container.pull-left
			h4 Is {{friend.contactInfo.name}} going?
			.collect-rsvp
				a#yes(ng-click="setRsvp(true)",ng-class="{true:'active'}[friend.rsvp.decision]") Yes!
				a#no(ng-click="setRsvp(false)",ng-class="{false:'active'}[friend.rsvp.decision]") No.
			fieldset(ng-show="plan.preferences.inviteOptions.guestFriends")
				label
					input#guest-count.on-keydown.on-keyup(maxlength="2",on-keyup="guestCountKeyUp",on-keydown="guestCountKeyDown",name="guest_count",ng-model="plan.organizer.rsvp.guestCount",placeholder="1")
					span(ng-show="guestCountPlural") people&nbsp;
					span(ng-hide="guestCountPlural") person&nbsp;
					span (including yourself).
