#rsvp-login-modal.modal.hide(ng-controller="RsvpLoginCtrl")
	.confirm(ng-show="confirm()")
		.modal-header
			h2 Successfully Logged In
		.modal-body
			p Click the blue "See The Plan!" button to view the plan for this event:
			.event-date-box
				span.day {{getDate(event.eventDate)| date:'EEE'}}
				span.event-date {{getDate(event.eventDate)| date:'MMM d'}}
				span.time {{getDate(event.eventDate)| date:'h:mm a'}}
			.info
				.pull-left
					span.name.block {{event.eventName}}
					span.venue.block {{ event.eventVenue }}
					span.location.block {{event.eventCity+', '+event.eventState}}
	.confirm(ng-show="confirm('facebook')")
		.modal-header
			h2 Login With Facebook
		.modal-body
			p Since you were invited via facebook, you need to login with facebook to view your invitation.
			.facebook-login
				a#facebook-login-button.btn.btn-primary(target="_self",ng-href="/auth/facebook?redirectUrl={{next}}")
					i.icon-facebook.icon-2x.pull-left
					span Login with Facebook
	.confirm(ng-show="confirm('twitter')")
		.modal-header
			h2 Login With Twitter
		.modal-body
			p Since you were invited via twitter, you need to login with twitter to view your invitation.
			a#twitter-login.btn.btn-primary(href="/auth/twitter?redirectUrl={{next}}",target="_self")
				i.icon-twitter
				span &nbsp;Connect With twitter
	.login(ng-hide="customer")
		.modal-header
			h2 {{friend}}, View Your Invitation
		.modal-body
			.not-friend
				a(target="_self",href="/event/{{event.eventId}}/{{event.eventName}}") Not {{friend}}? Click Here!
			form#rsvp-login-form(name="rsvp-login")
				p Choose from the options below:
				label.radio
					input#radio-signup(ng-model="authAction",type="radio",name="auth_action",value="signup",ng-init="authAction='signup'")
					.option-content
						h3 1. Create an account:
						p(ng-show="{'wemblimail':true}[service]") *To view the RSVP, please signup using the email address where you received the invitation.
						fieldset()
							#signup-error.alert.alert-block.fade.in(ng-show="signupError")
								.error-text.icon-spinner.icon-spin.icon-2x(ng-show="signupSpinner")
								.error-text(ng-show="formError") Please provide a name and email address.
								.error-text(ng-show="accountExists")
									span Hey! This account already exists. Log in using one of the options below or&nbsp;
									a.send-forgot-password-email(href="#") request a password change email
									span .
								.error-text(ng-show="forgotPasswordEmailSent") An email has been sent to you. Follow the instructions to reset your password.
							.name-group.control-group
								input.focus-on-click.first-name.pull-left(ng-model="firstName", placeholder="FIRST NAME",type="text",name="firstName",required)
								input.focus-on-click.last-name.pull-left(ng-model="lastName",placeholder="LAST NAME",type="text",name="lastName",required)
								input.focus-on-click.email(type="email",ng-model="email",placeholder="EMAIL ADDRESS",name="signup_email",required)
				label.radio
					input#radio-login(ng-model="authAction",type="radio",name="auth_action",value="login")
					.option-content
						h3 2. Login to your existing account:
						fieldset()
							#error.alert.alert-block.fade.in(ng-show="loginError")
								.error-text(ng-show="noPassword") No password was set for this account.  A email has been sent you. Follow the instructions to set your password.
								.error-text(ng-show="invalidCredentials") Woops! Looks like your email or password was incorrect.
							.name-group.control-group
								input.focus-on-click.email(type="email",ng-model="email",placeholder="EMAIL ADDRESS",name="login_email",required)
								input.focus-on-click.password(type="password",ng-model="password",placeholder="PASSWORD",name="password",required)
	.modal-footer
		button.btn.btn-primary.btn-large(ng-click="authActions[authAction]()",ng-hide="customer")
			span(ng-hide="continueSpinner") Continue
			span.icon-spinner.icon-spin(ng-show="continueSpinner")
		a.btn.btn-primary.btn-large.wembli-sequence-link(ng-href="/rsvp/{{guid}}/{{token}}/{{service}}",ng-show="customer") See The Plan!
