#eventplanOptionsModal.modal.hide.fade
	.modal-header
		a.close(data-dismiss="modal") x
		h3 Start Planning!
	.modal-body
		.alert.alert-info Wembli makes it easy to plan the perfect outing.
		form#wembliOptions.well.form-horizontal(method="POST",action="#")
			input(type="hidden",name="setConfig",value="1")
			a.planOption
				input(type="radio",value="group",name="payment",checked="checked")
				.info I'm coordinating this outing with friends and we're splitting the bill.
			hr
			a.planOption
				input(type="radio",checked="",value="self",name="payment")
				.info I'm planning this outing and footing the bill.
			hr
			.comingSoon
				strong COMING SOON:
				br
				span Online Parking and Hotel Reservations, Restaurant Deals, and More...	
			.form-actions
				button.btn.btn-success.btn-large(type="submit") Continue
				button.more-info.btn.btn-info.btn-large(href="/more-info") More Info

