#forgotPasswordModal.modal.hide.fade
	.modal-header
		a.close(data-dismiss="modal") x
		h3 Forgot Password:
	.modal-body
		.generalError.error.yellow
			- if((typeof errors !== 'undefined') && (errors.general) )
				| Incorrect Email or Password.
			- if((typeof errors !== 'undefined') && (errors.facebook) )
				| Unable to login through facebook.
		form#loginForm.form-horizontal.well(method="post",action="/forgot-password",enctype="application/x-www-form-urlencoded")
			fieldset
				.control-group
					label.control-label(for="email") Email:
					.controls
						input#email(type="text",value=(req.session.remember ? params.email : null),name="email")
				.form-actions
					button#loginSubmitButton.btn.btn-primary.btn-large Recover Password

