#noTicketsModal.modal.hide.fade
	.modal-header
		a.close(data-dismiss="modal") x
		h3 No Tickets Available!
	.modal-body
		.alert.alert-info There aren't any tickets available for this event.
		form#notifyMe.well.form-horizontal(method="POST",action="#")
			.comingSoon
				strong COMING SOON:
				br
				span Follow this event and get notified when tickets become available...
			.form-actions
				a.btn.btn-success.btn-large(type="submit",href="#") OK!


