#signupModal.modal.hide.fade
	.modal-header
		a.close(data-dismiss="modal") x
		h3 Sign In To Wembli
	.modal-body
		p 
			span A great plan is always a work in progress.
			br
			span Enter your name, email and a password and we'll save your event plan.
		form#signup.well.form-horizontal(method="POST",action="/signup")
			fieldset
				.control-group
					label.control-label(for="firstName") First Name
					.controls
						input#firstName(name="first_name")
				.control-group
					label.control-label(for="lastName") Last Name
					.controls
						input#lastName(name="last_name")
				.control-group
					label.control-label(for="email") Email Address
					.controls
						input#email(name="email")
				.control-group
					label.control-label(for="password") Password
					.controls
						input#password(type="password",name="password")
				.control-group
					label.control-label(for="password2") Confirm Password
					.controls
						input#password2(type="password",name="password2")
				.form-actions
					a#login(href="/login")
						span Existing Users:
						br
						span Click here to login
					button.btn.btn-primary.btn-large(type="submit").right Sign Up

	
