- var errors = req.flash('signup-error');
#signupModal.modal.hide.fade
	.modal-header
		a.close(data-dismiss="modal") x
		h3 Sign Up For Wembli
	.modal-body
		#message.alert.alert-info.hide
		form#signup.well.form-horizontal(method="POST",action="/signup")
			div(style="text-align:center")
				a#facebookLogin.btn.btn-primary(href="/auth/facebook") Click Here To Sign Up With Facebook 
			hr
			strong Sign Up without Facebook: 
				- if (errors.length > 0)
					span.error #{errors[0]}
			br
			br
			input.redirect-url(type="hidden",name="redirectUrl",value="")
			fieldset
				.control-group
					label.control-label(for="firstName") First Name
					.controls
						input#firstName(name="first_name")
				.control-group
					label.control-label(for="lastName") Last Name
					.controls
						input#lastName(name="last_name")
				.control-group
					label.control-label(for="email") Email Address
					.controls
						input#email(name="email")
				.control-group
					label.control-label(for="password") Password
					.controls
						input#password(type="password",name="password")
				.control-group
					label.control-label(for="password2") Confirm Password
					.controls
						input#password2(type="password",name="password2")
				.form-actions
					a#login(data-toggle="modal",href="#loginModal")
						span Existing Users:
						br
						span Click here to login
					button.btn.btn-primary.btn-large(type="submit").right Sign Up
script(type="text/javascript")
	$(document).ready(function() {
		$('#signup #login').click(function(e) {
			$('#signupModal').modal("hide");
		});
	});
	
