#voteByModal.modal.hide.fade
	.modal-header
		a.close(data-dismiss="modal") x
		h3 Send an RSVP:
	.modal-body
		form#voteByForm.form-horizontal.well(method="post",action="/friends/invite",enctype="application/x-www-form-urlencoded")
			input#friendEmailId(type="hidden",name="friendEmailId",value="")
			fieldset
				p.note Do you want to send your friends an invitation?
				.sendEmailCheckBoxContainer
					label.checkbox
						input(id="sendRSVP",name="sendInvite",type="checkbox",checked="checked")
						span Yes, send an RSVP to the people i've invited.
				hr
				#respondBy
					label.checkbox
						input(id="respondByCheckbox",name="respondByCheckbox",type="checkbox",checked="checked")
						span Ask your friends to respond by a specific date?
					.controls
						input#voteBy(name="voteBy",type="hidden")
						#datepicker
				#voteByAction
					button#sendInviteButton.btn.btn-primary.btn-large Continue
