#tickets-price-range
	.popover-container.pull-left
		i#help1.icon-question-sign.display-popover(placement="right",trigger="hover",animation="true",title="Pick A Price Range",content="Choose a price range to give your friends an idea of how much they can expect to pay for tickets.  Mouse over the dollar signs to see each price range then use the checkboxes to pick your options.")
	h3.pull-left PICK YOUR PRICE RANGE:
	form#price-range-form.form-inline
		fieldset.pull-left
			label.checkbox(ng-click="handlePriceRange()",title="LOW: Under $100")
				input#low(type="checkbox",ng-model="priceRange.low")
				span.dollar-sign(ng-class="{true:'orange'}[priceRange.low]") $
			label.checkbox(ng-click="handlePriceRange()",title="MEDIUM: From $100 to $300")
				input#med(type="checkbox",ng-model="priceRange.med")
				span.dollar-sign(ng-class="{true:'orange'}[priceRange.med]") $$
			label.checkbox(ng-click="handlePriceRange()",title="Above $300")
				input#high(type="checkbox",ng-model="priceRange.high")
				span.dollar-sign(ng-class="{true:'orange'}[priceRange.high]") $$$
		a.btn.btn-primary.btn-large.wembli-sequence-link.pull-right(href="{{eventOptionsLink}}",direction="1") Continue to Invite Friends
#group-ticket-list-header-container.ticket-list-header-container
	#group-ticket-list-header
		h4.pull-left Preview ticket options in your price range
		.popover-container.pull-left
			i.icon-question-sign.display-popover(placement="bottom",trigger="hover",animation="true",title="Preview Tickets",content="Get a sneak peak at the kind of tickets your price range will get you. Once you know how many people are coming, you'll be able to purchase tikets.")
	a#range-header(href="#",ng-click="sortByPrice()") Range
	a#section-header(href="#",ng-click="sortBySection()") Section
	a#qty-header(href="#",ng-click="sortByQty()") Available Tix
	a#price-header(href="#",ng-click="sortByPrice()") Price
ul#group-ticket-list-container.ticket-list-container
	li.ticket-row(ng-repeat="ticket in tickets",ng-hide="ticket.hide")
		.ticket-section.hide {{ticket.Section}}
		.seat-row.hide {{ticket.Row}}
		.ticket-range
			.dollar-sign {{determineRange(ticket.ActualPrice)}}
		.ticket-info
			.ticket-section-name Section: {{ticket.Section}}
			.seat-row-name Row: {{ticket.Row}}
		.tix-available {{determineTixAvailable(ticket.ValidSplits.int)}}
		.qty-container
			.ticket-quantity.hide(ng-repeat="split in ticket.ValidSplits.int") {{split}}
		.ticket-price
			.actual-price ${{ticket.ActualPrice}}
			.each (each)

