@circleTopPosition: -266px;
/* Home Page */
#index {

  section#content {
    padding-top:50px;min-height:400px;

    #homeContent {
      .clearfix();
      background:url('/images/pages/index/three-steps-bg.png') 153px 80px no-repeat;
      margin:auto;
      width:940px;

      h1 {
        text-align:center;
        color:#F7FEFE;
        font-size:22px;
        text-shadow:4px 7px 7px #000;
      }

      #circles {
        position:relative;
        left:123px;
        .clearfix();

        .homeCircle {
          position:absolute;
          top:15px;
          height:234px;
          width:236px;
          background-position:0px @circleTopPosition;

          .stepIcon {
            position:absolute;
            top:15px;
            background:url('/images/pages/index/step-icons.png') 0 0 no-repeat;
          }
        }

        #step1Circle {
          left:-30px;
          background:url('/images/pages/index/step-1-circle.png') 0 0 no-repeat;
        }

        #step2Circle {
          left:212px;
          background:url('/images/pages/index/step-2-circle.png') 0 0 no-repeat;
        }

        #step3Circle {
          left:445px;
          background:url('/images/pages/index/step-3-circle.png') 0 0 no-repeat;
        }
      }

      #steps > section {width:225px;height:100px;float:left;}

      #steps {
        margin:180px 0 0 100px;
        color:#FFF;
        font-size:1.2em;
        .clearfix();

        h3 {font-family:"TungaRegular";color:#FF6600;font-size:20px;text-shadow:3px 3px 4px #000;}

        #step1 h3 {margin-left:30px;}
        #step1 #step1Info {width:200px;margin-left:30px;}
        #step2 h3 {margin-left:35px;}
        #step2 #step2Info {width:200px;margin-left:35px;}
        #step3 h3 {margin-left:70px;}
        #step3 #step3Info {width:200px;margin-left:70px;}
      }

      #belowFold {
        .clearfix();
      }
    }

  }
}

.teaserResults {
  background-color:@grayLighter;
  padding:15px;
  border-bottom:1px solid #CCC;
}

.teaserResults h2 {
  text-shadow:1px 1px #b4b4b4;
  margin-bottom:25px;
}

.teaserResults ul li {
  .clearfix();
  font-size:11px;
  padding:0 0 25px 0;
  border-bottom:1px solid #a4a4a4;
  margin-bottom:15px;
  position:relative;
}

.teaserResults ul li p {font-size:11px;}
.teaserResults ul li p.info {
  float:left; margin:0 10px 0 75px;
  line-height:15px;
  width:195px;
}

.teaserResults ul li p.cta {width:100px; float:right; text-align:right;}
.teaserResults ul li p.cta em {display:block; margin-top:5px;}

.mobileAd {display:block; width:134px; padding-top:258px; background:url('/images/widgets/mobile.png') center top no-repeat; text-align:center;margin-top:38px;}

#homeContent .quoteContainer {
  margin-left:640px;
  margin-top:100px;

  h3 {
    color:@orange;
    font-size:14px;
    font-weight:bold;
  }

  .quote {
    margin-top:20px;
    font-size:14px;
    color:@gray;
  }
}

#homeContent hr {
  margin-top:20px;
  margin-left:40px;
}

#homeContent .twitterContainer {

  margin-left:630px;
  width:300px;

  h3 {
    position:relative;
    width:200px;
    top:30px;
    left:30px;
    color:@orange;
    font-size:14px;
    font-weight:bold;
    z-index:10;
  }

}
