h3 Invitees
	a#inviteesIcon(href="#")
		i.icon-info-sign.pull-right.icon-white
.body
	id           = 'organizer';
	friendName   = req.session.organizer.first_name+' '+req.session.organizer.last_name;
	rowClass     = 'evenRow';
	labelType    = 'label-success';
	labelIcon    = 'icon-ok-sign';
	labelCaption = 'attending';
	.friendContainer: div.friend.clearfix(class="#{rowClass}",id="#{id}")
		include friend/friend-info
	- for (idx in plan.friends)
		friend   = plan.friends[idx];
		include friend
- if (req.session.isOrganizer && (typeof req.session.currentPlan.completed.voting == "undefined"))
	#inviteMoreContainer
		a#inviteMoreFriends.btn.btn-success(href="/plan/friends") Add More Friends
