- var plan = session.currentPlan;
h3 Invitees
	a#inviteesIcon(href="#")
		i.icon-info-sign.pull-right.icon-white
.body
	.friendContainer!= partial('includes/plan-view/friend',{'id':'organizer','rowClass':'evenRow','labelType':'label-success','labelIcon':'icon-ok-sign','labelCaption':'attending','firstName':session.organizer.first_name,'lastName':session.organizer.last_name})
	- var idx = 0;
	- for (email in session.currentPlan.friends)
		- idx++;
		- var rowClass = (idx % 2) ? 'oddRow' : 'evenRow';
		- var friend = session.currentPlan.friends[email]; 
		- labelType = 'label-warning';
		- labelCaption = 'undecided';
		- labelIcon = 'icon-question-sign';
		- var emailAsId = friend.email.replace(/\W+/g,'-');
		- if ((typeof friend.decision != "undefined") && (friend.decision == true))
			- labelType = 'label-success';
			- labelCaption = 'attending';
			- labelIcon = 'icon-ok-sign';
		- if ((typeof friend.decision != "undefined") && (friend.decision == false))
			- labelType = 'label-important';
			- labelCaption = 'declined';
			- labelIcon = 'icon-remove-sign';
		.friendContainer!= partial('includes/plan-view/friend',{'id':emailAsId,'rowClass':rowClass,'labelType':labelType,'labelIcon':labelIcon,'labelCaption':labelCaption,'firstName':friend.firstName,'lastName':friend.lastName,friend:friend})
- if (session.isOrganizer)
	#inviteMoreContainer
		a#inviteMoreFriends.btn.btn-success(href="/plan/friends") Add More Friends