friendName   = friend.firstName+' '+friend.lastName;
htmlId       = (typeof friend.email != "undefined") ? friend.email.replace(/\W+/g,'-') : friend.id;
rowClass     = (idx % 2) ? 'oddRow' : 'evenRow';
labelType    = 'label-warning';
labelCaption = 'undecided';
labelIcon    = 'icon-question-sign';
- if ((typeof friend.decision != "undefined") && (friend.decision == true))
	labelType    = 'label-success';
	labelCaption = 'attending';
	labelIcon    = 'icon-ok-sign';
- if ((typeof friend.decision != "undefined") && (friend.decision == false))
	labelType    = 'label-important';
	labelCaption = 'declined';
	labelIcon    = 'icon-remove-sign';
.friendContainer
	.friend.clearfix(class="#{rowClass}",id="#{htmlId}")
		include friend/friend-info
		- if (session.isOrganizer)
			- if ((typeof friend.addMethod == "undefined") || (friend.addMethod == 'facebook')) 
				include friend/invitation-facebook-status
			- else
				include friend/invitation-email-status
			- if (session.currentPlan.config.payment != 'self')
				- if ((typeof friend.addMethod == "undefined") || (friend.addMethod == 'facebook')) 
					include friend/payment-facebook-status
				- else
					include friend/payment-email-status
			- if (friend.payment && friend.payment.payment)
				include friend/payment-amount
	//- include friend/popover
	