#organizerSidebar.span2
	#profileImage
	#sidebarNav
		ul.nav.nav-list
			li.nav-header Planning Tools
			li
				a(href="#")
					i.icon-book
					span New Event
			li
				a(href="#")
					i.icon-calendar
					span Add to Calendar
			li
				a(href="#")
					i.icon-map-marker
					span Show Map
			li
				a(href="#")
					i.icon-star
					span PayPal
			li
				a(href="#")
					i.icon-envelope
					span Email My Itinerary
