- var title = (session.isOrganizer) ? 'Payment Status' : 'Make Payment';
#paymentContainer.module
	h3 #{title}
		a#paymentIcon(href="#")
			i.icon-star.pull-right.icon-white				
	- if (typeof paymentMsg != "undefined")
		.votingMsg.alert.alert-info!= paymentMsg
	- if (session.isOrganizer)
		include payment-status
	- else
		include make-payment

	