#paymentContainer.module
	h3 Waiting For Payment
		a#paymentIcon(href="#")
			i.icon-shopping-cart.pull-right.icon-white				
	- if (typeof paymentMsg != "undefined")
		.votingMsg.alert.alert-info!= paymentMsg
	- var ticket = finalTicketChoice;
	- var link = (typeof paymentLink != "undefined") ? paymentLink : '';
	#waitingForPayment.body
		p
			span.label.label-warning
				strong Head's Up!
			span &nbsp;You have initiated a payment for $#{session.friend.payment.contribution}, however, it has not been completed.
		h4 You have a few options:
		ul
			li
				span.label.label-success Already Paid
				span &nbsp;No need to do anything, It should just be a few moments until paypal notifies us that the transaction has completed.
			li
				span.label.label-info Continue
				span &nbsp;If you did not complete the payment process and would like to continue, you can&nbsp;
					a(href="#{paymentLink}") Click Here&nbsp;
					span to finish.
			li
				span.label.label-success Change Amount
				span &nbsp;If you want to change your payment amount, you can&nbsp;
					a(href="/plan/reset-payment") Click Here&nbsp; 
					span to pay a different amount.
	- console.log(ticket)
	- console.log(total)
	- console.log(session.friend)
	