block hero-right
	#login-hero-right.hero-right
		#login-right(ng-controller="LoginCtrl")
			#check-email
				h2.architect Check Yer Email!
				.architect A password reset email was sent to #{email}. Check your email for further instruction.

