extends layout
block plan-section
	section#section-cart.organizer-cart-section.cart-section.plan-section.container-fluid.hide(ng-controller="OrganizerCartCtrl")
		.row.visible-xs.visible-sm
			.col-xs-12.event-info-container
				include ../includes/event-info
		.header.row
			.col-xs-12
				h1.segoe Shopping Cart
		.body
			.row
				.col-md-7.col-xs-12
					include notifications
					include tickets
					include parking
					//-include restaurants
					//-include hotels
					.visible-xs.visible-sm
						include ../includes/cart/totals
				.col-md-5.col-xs-12.event-info-container
					.hidden-xs.hidden-sm
						include ../includes/event-info
						.row
							.col-xs-10
								h3 Totals:
						.row(ng-class="{'no-split':'orange'}[plan.preferences.payment]")
							.col-xs-6
								strong Total Bill
							.col-xs-4.text-right {{tickets.total + parking.total + restaurants.total + hotels.total | currency}}
						.row(ng-hide="{'no-split':true}[plan.preferences.payment]")
							.col-xs-6
								strong Total Ponied Up
							.col-xs-4.text-right {{totalPoniedUp/100 | currency}}
						.row.balance.orange(ng-hide="{'no-split':true}[plan.preferences.payment]")
							.col-xs-6
								strong Balance
							.col-xs-4.text-right {{tickets.total + parking.total + restaurants.total + hotels.total - (totalPoniedUp/100) | currency}}


