extends layout
block plan-section
	- var sectionClass = (visitor.context === 'organizer') ? 'organizer-itinerary-section' : 'friend-itinerary-section';
	- var ngController = (visitor.context === 'organizer') ? 'OrganizerItineraryCtrl' : 'FriendItineraryCtrl';
	section#section-itinerary.container-fluid.hide(class="#{sectionClass} itinerary-section plan-section", ng-controller="#{ngController}")
		.row.visible-xs.visible-sm
			.col-xs-12.event-info-container
				include ../includes/event-info

		.header.row
			.col-xs-12
				h1.segoe Itinerary
		.body
			.row.add-on-container
				.col-md-7.col-xs-12
					.row(ng-show="tickets[0]")
						.col-xs-12
							.row
								.col-xs-6
									h3.add-on-header
										i.fa.fa-ticket
										span &nbsp;Tickets
								.col-xs-6.text-right
									a.btn.btn-sm.btn-warning.view-on-map(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") View On Map
					.tickets.add-on-item(ng-repeat="ticket in tickets track by $index")
						.row(ng-show="{'tn':true}[ticket.service]")
							.col-xs-12.add-on-title
								strong {{$index+1}}.&nbsp;
									strong &nbsp;{{ticket.ticketGroup.TicketGroupType}}
							.col-sm-6.col-xs-12.add-on-img
								img.img-responsive(ng-show="ticket.ticketGroup.url",ng-src="{{ticket.ticketGroup.url}}")
								.image-container(ng-hide="ticket.ticketGroup.url")
									.no-image-overlay
										i Photo Not Available
									img.img-responsive.center-block(src="/images/wembliman/100.png")
							.col-sm-6.col-xs-12.add-on-content
								.row
									.col-xs-12
										.row.add-on-header-row
											.col-xs-4.text-left
												strong Section
											.col-xs-4.text-center
												strong Row
											.col-xs-4.text-center
												strong Seats
										.row.add-on-row
											.col-xs-4
												span {{ticket.ticketGroup.Section}}
											.col-xs-4.text-center
												span {{ticket.ticketGroup.Row}}
											.col-xs-4.text-center
												span(ng-show="{'*':true}[ticket.ticketGroup.LowSeat]") {{ticket.ticketGroup.LowSeat}}
												span(ng-hide="{'*':true}[ticket.ticketGroup.LowSeat]") {{ticket.ticketGroup.LowSeat}} - {{ticket.ticketGroup.HighSeat}}

								.row(ng-show="ticket.ticketGroup.Rating")
									.col-xs-12
										strong Rating:&nbsp;
										span.star-rating(rating="ticket.ticketGroup.Rating")
								.row(ng-hide="ticket.purchased")
									.col-xs-12
										strong Qty:&nbsp;
										i.qty-container.text-center Up to {{ticket.ticketGroup.selectedQty}}
								.row(ng-hide="ticket.purchased")
									.col-xs-12
										strong Estimated Total:&nbsp;
										span {{ticket.costBreakdown.total | currency}}
								.row(ng-show="ticket.purchased")
									.col-xs-12
										strong Qty:&nbsp;
										span {{ticket.payment.qty}}
								.row(ng-show="ticket.purchased")
									.col-xs-12
										strong Total Paid:&nbsp;
										span {{ticket.payment.amount | currency}}
								.row(ng-show="ticket.ticketGroup.Notes")
									.col-xs-12
										strong Notes:&nbsp;
										span {{ticket.ticketGroup.Notes}}
						- if (visitor.context === 'organizer')
							.col-xs-12(ng-hide="ticket.purchased")
								a.btn.btn-primary.btn-sm.form-control.buy-now(ng-click="buyTickets($index)", ng-href="{{tnUrl}}&tgid={{ticket.ticketGroup.ID}}&evtid={{ticket.ticketGroup.EventID}}&price={{ticket.ticketGroup.ActualPrice}}&treq={{ticket.ticketGroup.selectedQty}}&req.sessionId={{ticket.ticketGroup.sessionId}}",target="_blank") Buy Tickets Now

					//- parking
					.row.add-on-container(ng-show="parking[0]")
						.col-xs-12
							.row
								.col-xs-6
									h3.add-on-header
										i.fa.fa-car
										span &nbsp;Parking
								.col-xs-6.text-right
									a.btn.btn-sm.btn-warning.view-on-map(href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") View On Map
					.parking.add-on-item(ng-repeat="p in parking track by $index")
						.row(ng-show="{'pw':true}[p.service]")
							.col-xs-12.add-on-title
								strong {{$index+1}}.&nbsp;
								strong &nbsp;{{p.parking.location_name}}
							.col-sm-6.col-xs-12.add-on-img
								img.img-responsive(ng-show="p.parking.url",ng-src="{{p.parking.url}}")
								.image-container(ng-hide="p.parking.url")
									.no-image-overlay
										i Photo Not Available
									img.img-responsive.center-block(src="/images/wembliman/car/150.png")
							.col-sm-6.col-xs-12.add-on-content
								.row
									.col-xs-12
										span {{p.parking.address}}, {{p.parking.city}} {{p.parking.zip}}
								.row(ng-hide="p.purchased")
									.col-xs-12
										i {{p.parking.available_spots}} {{p.parking.available_spots | pluralize: 'spot'}}, &nbsp;
											strong {{p.parking.price | currency}}
											span &nbsp;ea.
								.row(ng-show="p.purchased")
									.col-xs-12
										i Purchased {{p.purchased.qty}} {{p.parking.available_spots | pluralize: 'spot'}}, &nbsp;
											strong for {{p.purchased.amount | currency}}
								.row
									.col-xs-12
										span Distance: {{feetToMiles(p.parking.distance)}} mi. from {{plan.event.eventVenue}}
								.row
									.col-xs-12
										.row.add-on-header-row
											.col-xs-12
												strong Details:
										.row.add-on-row
											.col-xs-10 Indoor
											.col-xs-2
												i.fa.fa-check-circle-o.green(ng-show="{1:true}[p.parking.indoor]")
												i.fa.fa-ban.red(ng-show="{1:false}[p.parking.indoor]")
										.row.add-on-row
											.col-xs-10 Attended
											.col-xs-2
												i.fa.fa-check-circle-o.green(ng-show="{1:true}[p.parking.attended]")
												i.fa.fa-ban.red(ng-show="{0:true}[p.parking.attended]")
										.row.add-on-row
											.col-xs-10 eTicket
											.col-xs-2
												i.fa.fa-check-circle-o.green(ng-show="{1:true}[p.parking.eticket]")
												i.fa.fa-ban.red(ng-show="{0:true}[p.parking.eticket]")
										.row.add-on-row
											.col-xs-10 Restrooms
											.col-xs-2
												i.fa.fa-check-circle-o.green(ng-show="{1:true}[p.parking.restroom]")
												i.fa.fa-ban.red(ng-show="{0:true}[p.parking.restroom]")
										.row.add-on-row
											.col-xs-10 RV Parking
											.col-xs-2
												i.fa.fa-check-circle-o.green(ng-show="{1:true}[p.parking.rv]")
												i.fa.fa-ban.red(ng-show="{0:true}[p.parking.rv]")
										.row.add-on-row
											.col-xs-10 Security
											.col-xs-2
												i.fa.fa-check-circle-o.green(ng-show="{1:true}[p.parking.security]")
												i.fa.fa-ban.red(ng-show="{0:true}[p.parking.security]")
										.row.add-on-row
											.col-xs-10 Tailgate
											.col-xs-2
												i.fa.fa-check-circle-o.green(ng-show="{1:true}[p.parking.tailgate]")
												i.fa.fa-ban.red(ng-show="{0:true}[p.parking.tailgate]")
										.row.add-on-row
											.col-xs-10 Valet
											.col-xs-2
												i.fa.fa-check-circle-o.green(ng-show="{1:true}[p.parking.valet]")
												i.fa.fa-ban.red(ng-show="{0:true}[p.parking.valet]")
							- if (visitor.context === 'organizer')
								.col-xs-12(ng-hide="p.purchased")
									a.btn.btn-primary.btn-sm.form-control.buy-now(ng-click="buyParking($index)",ng-href="{{p.parking.www_reserve_url}}",target="_blank") Buy Parking Now


						.row(ng-show="{'google':true}[p.service]")
							.col-xs-12.add-on-title
								strong {{$index+1}}.&nbsp;
								strong &nbsp;{{p.parking.details.name}}
							.col-sm-6.col-xs-12.add-on-img
								img.img-responsive(ng-show="p.parking.url",ng-src="{{p.parking.url}}")
								.image-container(ng-hide="p.parking.url")
									.no-image-overlay
										i Photo Not Available
									img.img-responsive.center-block(src="/images/wembliman/car/150.png")
							.col-sm-6.col-xs-12.add-on-content
								.row(ng-show="p.parking.details.formatted_address")
									.col-xs-12 {{p.parking.details.formatted_address}}
								.row(ng-show="p.parking.details.formatted_phone_number")
									.col-xs-12 {{p.parking.details.formatted_phone_number}}
								.row(ng-show="p.parking.details.rating")
									.col-xs-12
										strong Rating:&nbsp;
										span.star-rating(rating="p.parking.details.rating")
								.row(ng-show="p.parking.details.website")
									.col-xs-12
										a(ng-href="p.parking.details.website",target="_blank") website
										span(ng-show="p.parking.details.url") &nbsp;-&nbsp;
										a(ng-show="p.parking.details.url", ng-href="p.parking.details.url",target="_blank") directions


					.row.add-on-container(ng-show="restaurants[0]")
						.col-xs-12
							.row
								.col-xs-6
									h3.add-on-header
										i.fa.fa-cutlery
										span &nbsp;Restaurant Deals
								.col-xs-6.text-right
									a.btn.btn-sm.btn-warning.view-on-map(href="/restaurants/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") View On Map
					.restaurants.add-on-item(ng-repeat="r in restaurants track by $index")

						.row(ng-show="{'yipit':true}[r.service]")
							.col-xs-12.add-on-title
								strong {{$index+1}}.&nbsp;
								strong &nbsp;{{r.restaurant.title}}

							.col-sm-6.col-xs-12.add-on-img
								img.img-responsive(ng-show="r.restaurant.images.image_smart",ng-src="{{r.restaurant.images.image_smart}}")
								.image-container(ng-hide="r.restaurant.images")
									.no-image-overlay
										i Photo Not Available
									img.img-responsive.center-block(src="/images/wembliman/restaurant/150.png")
							.col-sm-6.col-xs-12.add-on-content
								.row
									.col-xs-12
										span {{r.restaurant.business.name}} (
										a(href="{{r.restaurant.business.url}}",target="_blank") website
										span )
								.row
									.col-xs-12

								.row(ng-show="r.restaurant.value")
									.col-xs-12
										strong Face Value:&nbsp;
										span {{r.restaurant.value.raw | currency}}
								.row
									.col-xs-12
										strong Discount:&nbsp;
										span {{r.restaurant.discount.formatted}} savings
								.row
									.col-xs-12
										strong Price:&nbsp;
										span {{r.restaurant.price.raw | currency}}
								.row
									.col-xs-12
										strong Expires:&nbsp;
										span {{getDate(r.restaurant.end_date) | date: 'shortDate'}}
								.row(ng-show="r.purchased")
									.col-xs-12
										strong Deal Website:&nbsp;
										a(ng-href="{{r.restaurant.url}}", target="_blank") view deal on {{r.restaurant.service}}
							.col-xs-12.add-on-long-desription(ng-show="r.restaurant.description") {{r.restaurant.description}}
							- if (visitor.context === 'organizer')
								.col-xs-12(ng-hide="r.purchased")
									a.btn.btn-primary.btn-sm.form-control.buy-now(ng-click="buyDeal($index)",ng-href="r.restaurant.url",target="_blank") Buy Deal Now

						//-
							.row(ng-show="{'google':true}[r.service]")
							.col-sm-6.col-xs-12.add-on-img
								img.img-responsive(ng-show="r.restaurant.url",ng-src="{{r.restaurant.url}}")
								.image-container(ng-hide="r.restaurant.url")
									.no-image-overlay
										i Photo Not Available
									img.img-responsive.center-block(src="/images/wembliman/restaurant/150.png")
							.col-sm-6.col-xs-12.add-on-content
								.row
									.col-xs-12.add-on-title
										strong {{$index+1}}.&nbsp;
										strong &nbsp;{{r.restaurant.details.name}}
								.row(ng-show="r.restaurant.details.formatted_address")
									.col-xs-12 {{r.restaurant.details.formatted_address}}
								.row(ng-show="r.restaurant.details.formatted_phone_number")
									.col-xs-12 {{r.restaurant.details.formatted_phone_number}}
								.row(ng-show="r.restaurant.details.rating")
									.col-xs-12
										strong Rating:&nbsp;
										span.star-rating(rating="r.restaurant.details.rating")
								.row(ng-show="r.restaurant.details.website")
									.col-xs-12
										a(ng-href="r.restaurant.details.website",target="_blank") website
										span(ng-show="r.restaurant.details.url") &nbsp;-&nbsp;
										a(ng-show="r.restaurant.details.url", ng-href="r.restaurant.details.url",target="_blank") directions



					//- hotels
					.row.add-on-container(ng-show="hotels[0]")
						.col-xs-12
							.row
								.col-xs-6
									h3.add-on-header
										i.fa.fa-building
										span &nbsp;Hotel
								.col-xs-6.text-right
									a.btn.btn-sm.btn-warning.view-on-map(href="/hotels/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") View On Map
					.hotels.add-on-item(ng-repeat="h in hotels track by $index")
						.row(ng-show="{'google':true}[h.service]")
							.col-xs-12.add-on-title
								strong {{$index+1}}.&nbsp;
								strong &nbsp;{{h.hotel.details.name}}

							.col-sm-6.col-xs-12.add-on-img
								img.img-responsive(ng-show="h.hotel.details.photos",ng-src="{{getPlacePhotoUrl('hotels',$index)}}")
								.image-container(ng-hide="h.hotel.details.photos")
									.no-image-overlay
										i Photo Not Available
									img.img-responsive.center-block(src="/images/wembliman/hotel/150.png")
							.col-sm-6.col-xs-12.add-on-content
								.row(ng-show="h.hotel.details.formatted_address")
									.col-xs-12 {{h.hotel.details.formatted_address}}
								.row(ng-show="h.hotel.details.formatted_phone_number")
									.col-xs-12 {{h.hotel.details.formatted_phone_number}}
								.row(ng-show="h.hotel.details.rating")
									.col-xs-12
										strong Rating:&nbsp;
										span.star-rating(rating="h.hotel.details.rating")
								.row(ng-show="h.hotel.details.website")
									.col-xs-12
										a(ng-href="h.hotel.details.website",target="_blank") website
										span(ng-show="h.hotel.details.url") &nbsp;-&nbsp;
										a(ng-show="h.hotel.details.url", ng-href="h.hotel.details.url",target="_blank") directions

					.row
						.col-xs-12.rsvp-invitees-list
							include ../includes/invitees-list


					//- tickets (get seat view pic url), parking, restaurant deal, hotel, invitees w/pony up requested total and pony up total)
				.col-md-5.col-xs-12.event-info-container
					.hidden-xs.hidden-sm
						include ../includes/event-info
					.google-map-container
						#itinerary-map-container.itinerary-map.map-container(lat="#{lat}",lng="#{lon}",zoom="14",scrollwheel="false",draggable="true",map-type-id="ROADMAP")
					.notes-container
						- if (visitor.context === 'organizer')
							textarea.notes.form-control(placeholder="Notes", ng-model="plan.notes",on-keyup="submitNotes")
						- else
							textarea.notes.form-control(placeholder="Notes", ng-model="plan.notes",disabled="disabled")
