extends layout
block plan-section
	section#section-pony-up.organizer-pony-up-section.pony-up-section.plan-section.container-fluid.hide(ng-controller="OrganizerPonyUpCtrl")
		.row.visible-xs.visible-sm
			.col-xs-12.event-info-container
				include ../includes/event-info
		.header.row
			.col-xs-12
				h1.segoe Request Pony Up!
		.body
			.row
				.col-md-7.col-xs-12
					h4 Use Pony Up requests to ask your friends to send you their share of the cost.  Check the checkbox and specify an amount for each friend that needs to Pony Up. They'll get notified and pay you using their credit card - yay!

					.notification-container.row
						.col-xs-12
					.pony-up(ng-hide="friendsComing[0]")
						.row
							.col-xs-12
								h3 Find Out What It Means To Pony Up
						.row
							.col-xs-12
								p So you're interested to hear all about the Pony Up process?  I like your style.  Here's how this process goes down:
						.row
							.col-xs-12
								p 1. Wait for everyone to submit their RSVP's
						.row
							.col-xs-12
								p 2. When the RSVP due date comes (or everyone responds), you can pick tickets, parking, restaurants and hotel based on everyone's votes.
						.row
							.col-xs-12
								p 3. Before you out any cash, you'll send Pony Up Requests to your invitees so they can pitch in their share for the tickets and chosen add-ons.
					#add-account(ng-show="needBalancedAccount")

						.alert.alert-info
							i.fa.fa-info-circle.fa-2x
							span Provide a bank account where friends will pony up their funds into.

						.security-message
							.header.clearfix
								i.fa.fa-lock.fa-2x.pull-left
								h4.pull-left Security is our highest priority!
							.message
								span Wembli uses the latest security technology and has the ultimate safeguards in place to keep your information safe.  We never store bank account information on our servers. Please read our&nbsp;
								a(target="_blank",href="/terms-policies") Terms Of Use &amp; Privacy Policy&nbsp;
								span for more information about how we protect your security on the internet.

						.add-account-detail.create-balanced-account.row
							form#create-merchant-account-form(ng-submit="createBalancedAccount()", name="createMerchantAccountForm")
								#new-merchant-account.col-xs-12
									.account-holder-info
										.row
											.header.col-xs-12.clearfix
												i.fa.fa-lock.fa-2x.pull-left
												h3.pull-left Bank Account Holder
										.row(ng-show="createMerchantAccount.accountHolderError")
											.col-xs-12
												.account-info-alert.alert.alert-warning
													i.fa.fa-warning
													span.text(ng-show="createMerchantAccount.errorDob") Date of Birth should follow this format: MM-DD-YYYY.&nbsp;
													span.text(ng-show="createMerchantAccount.errorPhoneNumber") Please enter a valid, 10 digit phone number.
										.row
											fieldset.col-xs-12
												.form-group
													input.form-control(type="text",ng-model="createMerchantAccount.accountHolderName",value="",placeholder="Account Holder Name",name="accountHolderName",required)
												.form-group
													input.form-control(type="text",ng-model="createMerchantAccount.dob",value="",placeholder="Date Of Birth (MM-DD-YYYY)",name="dob",required)
												.form-group
													input.format-phone-number.form-control(maxlength="10",type="text",ng-model="createMerchantAccount.phoneNumber", value="",name="phoneNumber", placeholder="Phone Number",required)
												.form-group
													input.form-control(type="text",ng-model="createMerchantAccount.streetAddress", value="",name="streetAddress", placeholder="Street Address",required)
												.form-group
													input.format-postal-code.form-control(type="text",ng-model="createMerchantAccount.postalCode", value="",name="postalCode", placeholder="Postal Code",required)
											.hidden-sm.hidden-xs

									.bank-account-info
										.row
											.header.col-xs-12.clearfix
												i.fa.fa-lock.fa-2x.pull-left
												h3.pull-left Bank Account Information
										.row(ng-show="createMerchantAccount.errorRoutingNumber")
											.col-xs-12
												.bank-account-info-alert.alert.alert-warning
													i.fa.fa-warning
													span.text Invalid Routing Number.
										.row
											fieldset.col-xs-12
												.form-group
													input.form-control(type="text",ng-model="createMerchantAccount.accountName", name="accountName", placeholder="Account Name",required)
												.form-group
													input.form-control(type="text",ng-model="createMerchantAccount.routingNumber", name="routingNumber", placeholder="Routing Number",required)
												.form-group
													input.form-control(type="text",ng-model="createMerchantAccount.accountNumber", name="accountNumber", placeholder="Account Number",required)
												.form-group
													span.nullable
														select.form-control(ng-model="createMerchantAccount.accountType",name="accountType",required)
															option(value="") Select Account Type
															option(value="checking") CHECKING
															option(value="savings") SAVINGS

									.row
										.form-group.col-xs-12
											button.btn.btn-primary.btn-large.form-control(ng-disabled="createMerchantAccountForm.$invalid",type="submit")
												i.fa.fa-cog.fa-spin(ng-show="submitInProgress")
												span Create Account


					//- show the pony up form if they have invited friends and have chosen at least one of tickets, parking, restaurants or hotel
					form.invitees-container(ng-submit="sendPonyUpEmail()",ng-show="friendsComing[0] && !needBalancedAccount")
						.invitee(id="{{friend._id}}",ng-repeat="friend in friends | filter:!{_id:customer._id} | friendComing")
							.row
								.invitee-info.col-xs-12
									//- this is the checkbox and invitee name
									.row
										.col-xs-12
											label.clearfix
												.send-pony-up-label.pull-left(ng-hide="friend.ponyUp.open", ng-click="friend.ponyUp.amount={false:'0.00',true:friend.tickets.suggestedPonyUpAmount}[friend.ponyUp.request]")
													input.friend-pony-up-checkbox.hide(ng-class="{true:'muted'}[friend.ponyUp.open]", type="checkbox",ng-model="friend.ponyUp.request")
													i.fa.fa-check-square-o.fa-2x.green(ng-show="friend.ponyUp.request")
													i.fa.fa-square-o.fa-2x(ng-hide="friend.ponyUp.request")
												.send-pony-up-label.pull-left(ng-show="friend.ponyUp.open", ng-class="{true:'muted'}[friend.ponyUp.open]")
													input.friend-pony-up-checkbox.hide(ng-disabled="friend.ponyUp.open", type="checkbox",ng-model="friend.ponyUp.request")
													i.fa.fa-check-square-o.fa-2x.green(ng-show="friend.ponyUp.request")
													i.fa.fa-square-o.fa-2x(ng-hide="friend.ponyUp.request")
												.invitee-name.pull-left
													strong.name {{friend.contactInfo.name}}&nbsp;
													span.guests(ng-show="friend.rsvp.decision") + {{friend.rsvp.guestCount}} {{friend.rsvp.guestCount | pluralize:'guest'}}

									.row.send-pony-up-control(ng-show="friend.ponyUp.request")
										.col-xs-12.col-md-8.send-pony-up-header SEND PONY UP REQUEST FOR:
										.col-xs-12.col-md-4
											.form-group
												.input-group.text-right(ng-class="{true:'muted'}[friend.ponyUp.open]")
													span.input-group-addon $
													input.friend-pony-up-amount.form-control(type="text",ng-init="friend.ponyUp.amount=friend.suggestedPonyUpAmount",ng-model="friend.ponyUp.amount")

									.row.suggested-amounts-container(ng-show="friend.ponyUp.request")
										.col-xs-12
											.row.suggested-amounts-trigger(ng-click="toggleSuggestedAmounts(friend._id)")
												.col-xs-8.clearfix
													i.fa.fa-caret-right.suggested-amounts-caret.fa-2x.rotate-right-90.pull-left(ng-class="{'rotate-right':showSuggestedAmount[friend._id]}")
													.suggested-amount-header.pull-left Wembli Suggests:
												.col-xs-4.text-right
													strong.suggested-amount-value {{friend.suggestedPonyUpAmount | currency}}

											.row.suggested-amounts.slide-down(ng-show="showSuggestedAmount[friend._id]")
												.col-xs-12
													.row.suggested-amount.suggested-ticket-amount
														.col-xs-9
															strong TICKETS FOR {{friend.rsvp.guestCount + 1}} {{friend.rsvp.guestCount + 1 | pluralize:'person'}}
														.col-xs-3.text-right(ng-show="plan.tickets[0]")
															strong.estimated-total {{friend.tickets.suggestedPonyUpAmount | currency}}
														.col-xs-3.text-right(ng-hide="plan.tickets[0]")
															a(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose

													.row.suggested-amount.suggested-parking-amount(ng-show="plan.preferences.addOns.parking")
														.col-xs-9
															strong PARKING FOR {{friend.rsvp.guestCount + 1}} {{friend.rsvp.guestCount + 1 | pluralize:'person'}}
														.col-xs-3.text-right(ng-show="plan.preferences.addOns.parking && plan.parking[0]")
															strong.estimated-total {{friend.parking.suggestedPonyUpAmount | currency}}
														.col-xs-3.text-right(ng-show="plan.preferences.addOns.parking && !plan.parking[0]")
															a(href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose

													.row.suggested-amount.suggested-restaurant-amount(ng-show="plan.preferences.addOns.restaurants")
														.col-xs-9
															strong RESTAURANT FOR {{friend.rsvp.guestCount + 1}} {{friend.rsvp.guestCount + 1 | pluralize:'person'}}
														.col-xs-3.text-right(ng-show="plan.preferences.addOns.restaurants && plan.restaurants[0]")
															strong.estimated-total {{friend.restaurants.suggestedPonyUpAmount | currency}}
														.col-xs-3.text-right(ng-show="plan.preferences.addOns.restaurants && !plan.restaurants[0]")
															a(href="/restaurants/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose

													.row.suggested-amount.suggested-hotel-amount(ng-show="plan.preferences.addOns.hotels")
														.col-xs-9
															strong HOTEL FOR {{friend.rsvp.guestCount + 1}} {{friend.rsvp.guestCount + 1 | pluralize:'person'}}
														.col-xs-3.text-right(ng-show="plan.preferences.addOns.hotels && plan.hotels[0]")
															strong.estimated-total {{friend.hotels.suggestedPonyUpAmount | currency}}
														.col-xs-3.text-right(ng-show="plan.preferences.addOns.hotels && !plan.hotels[0]")
															a(href="/hotels/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose

									.row.history-container(ng-show="friend.ponyUp.request")
										.col-xs-12
												.row
													.col-xs-12.history-trigger(ng-click="toggleHistory(friend._id)")
														.history-header
															span HISTORY&nbsp;
															span(ng-hide="showHistory[friend._id]") (click to expand)

												.row.history.slide-down(ng-show="showHistory[friend._id]")
													.col-xs-12

														.row.history-item(ng-repeat="history in friend.payment | orderBy:'-date'")
															.col-xs-12
																.divider
															.col-xs-12.type(ng-show="{'outside':true}[history.type]") {{history.date | date:'short'}} - Outside Payment Received ({{history.method}})
															.col-xs-12.type(ng-show="{'request':true}[history.type]") {{history.date | date:'short'}} - Pony Up Requested
															.col-xs-12.type(ng-show="{'response':true}[history.type]") {{history.date | date:'short'}} - Pony Up Received

															.col-xs-12
																.row.history-header-row
																	.col-xs-4.history-header Status
																	.col-xs-3.history-header Amount
																	.col-xs-5.history-header Actions
																.row
																	.col-xs-4 {{history.status | historyStatus}}
																	.col-xs-3 {{history.amount/100 | currency}}
																	.col-xs-5.actions(ng-show="{'request':true}[history.type] && history.open")
																		a.btn.btn-xs.btn-warning(href="#section4",ng-hide="history.error || history.resent || history.resendPonyUpInProgress", ng-click="resendPonyUp(friend._id, history._id)")
																			i.fa.fa-envelope
																			span.text &nbsp;Resend
																		a.btn.btn-xs.btn-warning(href="#",ng-show="!history.error && !history.resent && history.resendPonyUpInProgress", disabled)
																			i.fa.fa-cog.fa-spin
																			span.text &nbsp;Resend
																		a.btn.btn-xs.btn-warning(href="#",ng-show="history.resent", disabled)
																			i.fa.fa-envelope
																			span.text &nbsp;Sent
																		a.btn.btn-xs.btn-warning(href="#",ng-show="history.error", disabled)
																			i.fa.fa-envelope
																			span.text &nbsp;Error
																		a.btn.btn-xs.btn-danger(href="#section4", ,ng-hide="history.error || history.cancelPonyUpRequestInProgress", ng-click="cancelPonyUpRequest(friend._id, history._id)")
																			i.fa.fa-times-circle
																			span.text &nbsp;Cancel
																		a.btn.btn-xs.btn-danger(href="#section4",ng-show="!history.error && history.cancelPonyUpRequestInProgress", disabled)
																			i.fa.fa-cog.fa-spin
																			span.text &nbsp;Cancel
																	.col-xs-5.actions(ng-show="{'outside':true}[history.type]")
																		a.btn.btn-xs.btn-warning(href="#",ng-hide="history.error || history.removeOutsidePaymentInProgress", ng-click="removeOutsidePayment(friend._id, history._id)")
																			i.fa.fa-times-circle
																			span.text &nbsp;Remove
																		a.btn.btn-xs.btn-warning(href="#",ng-show="!history.error && history.removeOutsidePaymentInProgress", disabled)
																			i.fa.fa-cog.fa-spin
																			span.text &nbsp;Remove
																		a.btn.btn-xs.btn-warning(href="#",ng-show="history.error", disabled)
																			i.fa.fa-envelope
																			span.text &nbsp;Error
														.row
															.col-xs-12
																.border-bottom
														.row.total-requested
															.col-xs-4
																.history-header.text-right Total Requested:
															.col-xs-3.amount.text-left {{friend.payment.requested/100 | currency}}
														.row.total-paid
															.col-xs-4.history-header.text-right Total Paid:
															.col-xs-3.amount.text-left {{friend.payment.received/100 | currency}}
														.row.balance
															.col-xs-4.history-header.text-right Balance:
															.col-xs-3.amount.text-left {{friend.payment.balance/100 | currency}}

														.outside-payment-form.row
															.col-xs-12
																h3 Log Payment Made Outside Of Wembli
															.col-md-4.form-group
																select.form-control(ng-init="friend.ponyUp.outsideSourcePaymentMethod='cash'",name="outside_source_payment_method",ng-model="friend.ponyUp.outsideSourcePaymentMethod")
																	option(value="check") Check
																	option(value="cash") Cash
																	option(value="other") Other
															.col-md-4.form-group
																.input-group
																	span.input-group-addon $
																	input.form-control(type="text",ng-model="friend.ponyUp.outsideSourceAmount",name="{{friend._id}}-outside_source_amount",placeholder="0.00")
															.col-md-4.form-group.text-right
																a.btn.btn-primary.btn-sm(href="#section4",ng-click="submitOutsidePayment(friend._id)", ng-hide="friend.ponyUp.submitInProgress")
																	i.fa.fa-share
																	span &nbsp;POST PAYMENT
																a.btn.btn-primary.btn-sm(disabled, href="#section4",ng-show="friend.ponyUp.submitInProgress")
																	i.fa.fa-cog.fa-spin
																	span &nbsp;POST PAYMENT



						.row
							.col-xs-12
								.pony-up-alert.alert.alert-warning(ng-show="error")
									.row
										.col-xs-12
											i.fa.fa-exclamation-triangle.fa-2x
											span.text Shoot! We did something wrong. Try again and if the problem persists, contact us!
								.pony-up-alert.alert.alert-warning(ng-show="formError")
									.row
										.col-xs-12
											i.fa.fa-exclamation-triangle.fa-2x
											span.text Please make sure you've supplied a valid amount for the friends you are requesting to pony up.
								.pony-up-alert.alert.alert-success(ng-show="success")
									.row
										.col-xs-12
											i.fa.fa-check-circle-o.fa-2x
											span.text.one-line Giddyup! We successfully sent yer pony up requests.

						.row.send-pony-up-button-container
							.col-xs-12
								button.btn.btn-warning.btn-lg.send-pony-up-button.form-control(href="#section4",type="submit",ng-hide="sendPonyUpInProgress")
									i.fa.fa-envelope
									span &nbsp;Send Pony Up Request!
								button.btn.btn-warning.btn-lg.send-pony-up-button.form-control(href="#section4",ng-show="sendPonyUpInProgress", disabled)
									i.fa.fa-cog.fa-spin
									span &nbsp;Send Pony Up Request!


				.col-md-5.col-xs-12.event-info-container
					.hidden-xs.hidden-sm
						include ../includes/event-info

					.section-options-container.row
						.col-xs-12
							.row
								.col-xs-10
									h3 Totals:
							.row(ng-class="{'no-split':'orange'}[plan.preferences.payment]")
								.col-xs-6
									strong Total Bill
								.col-xs-6.text-right {{tickets.total + parking.total + restaurants.total + hotels.total | currency}}
							.row(ng-hide="{'no-split':true}[plan.preferences.payment]")
								.col-xs-6
									strong Total Ponied Up
								.col-xs-6.text-right {{totalPoniedUp/100 | currency}}
							.row.balance.orange(ng-hide="{'no-split':true}[plan.preferences.payment]")
								.col-xs-6
									strong Balance
								.col-xs-6.text-right {{tickets.total + parking.total + restaurants.total + hotels.total - (totalPoniedUp/100) | currency}}

					.row.hidden-sm.hidden-xs
						.col-xs-12
							img.wembliman.img-responsive(src="/images/cartoon-man-money-left.png")


