extends layout
block plan-section
	section#section-rsvp.organizer-rsvp-section.rsvp-section.plan-section.container-fluid.hide(ng-controller="OrganizerRsvpCtrl")
		.row.visible-xs.visible-sm
			.col-xs-12.event-info-container
				include ../includes/event-info
		.header.row
			.col-xs-12
				h1.segoe RSVP
		.body
			.row
				.col-md-7.col-xs-12
					.notification-container.row
						.col-xs-12
							#rsvp-complete-notification.notification.alert.alert-danger(ng-cloak, ng-show="rsvpCompleteNotification")
								a(ng-click="acknowledgeNotification('rsvpComplete')",href="#",class="close",data-dismiss="alert")&times;
								.row
									.col-xs-1
										.fa.fa-exclamation-triangle.fa-2x
									.col-xs-11
										span The RSVP period is over :) Your plan organizer should now have a final count of who's coming.&nbsp;

							.confirmed-alert.alert.alert-success(ng-cloak, ng-show="confirmationEmailSent")
								.row
									.col-xs-1
										i.fa.fa-check-circle-o.fa-2x.green
									.col-xs-11
										span OK - we resent your confirmation email. Please follow the instructions to confirm your account.

							#not-confirmed-notification.notification.not-confirmed-warning.alert.alert-danger(ng-cloak, ng-show="!customer.confirmed && !confirmationEmailSent")
								.row
									.col-xs-1
										i.fa.fa-exclamation-triangle.fa-2x
									.col-xs-11
										span Wembli can't send invites to your friends until you confirm your email address.&nbsp;
										a.send-confirmation-email(ng-hide="confirmationEmailInProgress", href="#",next="/plan/{{plan.event.eventId}}/{{plan.event.eventName}}") Click here to resend confirmation email.
										i.fa-cog.fa-spin(ng-show="confirmationEmailInProgress")

					.organizer-rsvp-container.rsvp-container.row
						.col-sm-2.hidden-xs
							.img-container
								.no-image-overlay(ng-hide="customer.imageUrl")
									i.fa.fa-question-circle
								img.img-polaroid.img-responsive(ng-hide="customer.imageUrl",src="/images/cartoon-man-head.png")
								img.img-polaroid.img-responsive(ng-show="customer.imageUrl",ng-src="{{customer.imageUrl}}")
						.collect-rsvp-container.col-sm-10.col-xs-12
							.row
								.col-xs-12
									h4 {{customer.firstName}}, are you going or just planning for others?
							.collect-rsvp.row
								.col-xs-6
									a#yes(ng-click="setRsvp(true)",ng-class="{true:'active'}[plan.organizer.rsvp.decision]",href="#") I'M GOING!
								.col-xs-6
									a#no(ng-click="setRsvp(false)",ng-class="{false:'active'}[plan.organizer.rsvp.decision]",href="#") NOT GOING.
					.guest-count-container.row(ng-show="plan.preferences.inviteOptions.guestFriends")
						.col-sm-offset-2.col-sm-10.col-xs-12
							form.form-inline
								.form-group
									label
										span plus
										input#guest-count.form-control.on-keydown.on-keyup(maxlength="2",on-keyup="guestCountKeyUp",on-keydown="guestCountKeyDown",name="guest_count",ng-model="plan.organizer.rsvp.guestCount",placeholder="1")
										span {{plan.organizer.rsvp.guestCount | pluralize: 'person'}} (spouse, kids, etc..).
					.row
						.col-sm-offset-2.col-sm-10.col-xs-12
							.payment-type-note
								strong ** NOTE:&nbsp;
								span(ng-show="{'split-first':true}[plan.preferences.payment]") &nbsp;After invitees vote on preferences you'll favor a ticket group, then we'll prompt you to send a link for everyone to pony up for their part of the outing before you shell out the cash.&nbsp;
									p &nbsp;
									p
										strong Please be aware that tickets are NOT locked in until they are paid for.
								span(ng-show="{'no-split':true}[plan.preferences.payment]") &nbsp;You have chosen to foot the bill for this plan - w00t!
								span(ng-show="{'split-after':true}[plan.preferences.payment]") &nbsp;Once the RSVP's are in, you will lock in the tickets then send a link for everyone to pay for their portion of the outing.
					.row
						.col-xs-12.rsvp-invitees-list
							include ../includes/invitees-list

				.col-md-5.col-xs-12.event-info-container
					.hidden-xs.hidden-sm
						include ../includes/event-info
					.section-options-container.row
							form#event-options-form.col-xs-12
								fieldset
									#rsvp-date.options-group
										h3 RSVP Date:
										.form-group(ng-show="plan.rsvpComplete") RSVP Is Complete
										.form-group(ng-hide="plan.rsvpDate")
											a.btn.btn-primary.form-control(href="/invitation/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose RSVP Date
										.form-group(ng-hide="plan.rsvpComplete")
											strong(ng-show="plan.rsvpDate") Guests RSVP By: {{getDate(plan.rsvpDate)| date:'MMMM d, yyyy'}}
											.rsvp-days.blue(ng-show="Days") {{rsvpDays}}
										.form-group(ng-show="plan.rsvpDate && !plan.rsvpComplete")
											a.btn.btn-primary.form-control(ng-href="/invitation/{{plan.event.eventId}}/{{plan.event.eventName}}") Change RSVP Date

									#invite-options.options-group
										h3 Invite Preferences:
										.error-text(ng-show="inviteOptionsError") Error with invite preferences...
										.form-group
											label
												input#guest-friends.hide.form-control(type="checkbox", name="guest_friends", ng-model="plan.preferences.inviteOptions.guestFriends")
												i.fa.fa-check-square-o.green(ng-show="plan.preferences.inviteOptions.guestFriends")
												i.fa.fa-square-o(ng-hide="plan.preferences.inviteOptions.guestFriends")
												span My guests can invite their friends/family

										.form-group
											label
												input#over-21.hide.form-control(type="checkbox",name="over_21",ng-model="plan.preferences.inviteOptions.over21")
												i.fa.fa-check-square-o.green(ng-show="plan.preferences.inviteOptions.over21")
												i.fa.fa-square-o(ng-hide="plan.preferences.inviteOptions.over21")
												span This outing is for people over 21 (sorry no kids this time)
									#guest-list-options.options-group(ng-init="guest_list='full'")
										h3 Guest List Preferences:
										.error-text(ng-show="guestListOptionsError") Dude, you need to pick one of these...
										.form-group
											label
												input.hide.form-control(type="radio",name="guest_list",value="full",ng-checked="plan.preferences.guestList=='full'",ng-model="plan.preferences.guestList")
												i.fa.fa-check-square-o.green(ng-show="{'full':true}[plan.preferences.guestList]")
												i.fa.fa-square-o(ng-show="!{'full':true}[plan.preferences.guestList]")
												span My guests can see the full invite list
										.form-group
											label
												input.hide.form-control(type="radio",name="guest_list",value="rsvp",ng-checked="plan.preferences.guestList=='rsvp'",ng-model="plan.preferences.guestList")
												i.fa.fa-check-square-o.green(ng-show="{'rsvp':true}[plan.preferences.guestList]")
												i.fa.fa-square-o(ng-show="!{'rsvp':true}[plan.preferences.guestList]")
												span My guests can only see who's RSVP'd 'yes'
										.form-group
											label
												input.hide.form-control(type="radio",name="guest_list",value="private",ng-checked="plan.preferences.guestList=='private'",ng-model="plan.preferences.guestList")
												i.fa.fa-check-square-o.green(ng-show="{'private':true}[plan.preferences.guestList]")
												i.fa.fa-square-o(ng-show="!{'private':true}[plan.preferences.guestList]")
												span My guests can not see who else is invited
