extends ../layout
block content
	.row
		.col-xs-offset-2.col-xs-8.text-center
			img.wembliman.center-block(src="/images/wembliman/150.png")
	.row
		.col-xs-offset-2.col-xs-8.text-center
			.center-block Oh No! We can't find the page you're looking for!!
	.row
		.col-xs-offset-2.col-xs-8.text-center
			.center-block
				a(href="/search") Click here to perform a search.
