ul.contacts-list
	li.dashboard-plan.wembli-sequence-link(loading-duration="1500",id="{{contact.customerId}}-wrapper",ng-repeat="contact in dashboard.contacts",ng-cloak)
		.info
			span.name.block {{contact.name}}

