ul.event-list
	li.dashboard-plan.wembli-sequence-link(loading-duration="1500",id="{{plan.guid}}-wrapper",ng-repeat="plan in dashboard['#{dashboardPlanCategory}']",ng-cloak)
		.event-date-box
			span.day {{getDate(plan.event.eventDate)| date:'EEE'}}
			span.event-date {{getDate(plan.event.eventDate)| date:'MMM d'}}
			span.time {{getDate(plan.event.eventDate)| date:'h:mm a'}}
		.info
			.pull-left
				span.name.block {{plan.event.eventName}}
				span.venue.block {{ plan.event.eventVenue }}
				span.location.block {{plan.event.eventCity+', '+plan.event.eventState}}
			.pull-right
				.cta
					a.btn.btn-primary(id="{{plan.guid}}",href="/plan/{{plan.guid}}") See Plan
