ul.contacts-list
	li.dashboard-contact(id="{{friend.id}}-wrapper",ng-repeat="friend in dashboard.friends",ng-cloak)
		i.icon-user.pull-left(ng-hide="friend.imageUrl")
		.contact-info.pull-left
			span.name.block {{friend.contactInfo.name}}
		.icon-twitter.pull-right(ng-show="{twitter:true}[friend.contactInfo.service]")
		.icon-facebook.pull-right(ng-show="{facebook:true}[friend.contactInfo.service]")
		.icon-envelope.pull-right(ng-show="{wemblimail:true}[friend.contactInfo.service]")
