ul.contacts-list
	li.dashboard-plan.wembli-sequence-link(loading-duration="1500",id="{{friend.id}}-wrapper",ng-repeat="friend in dashboard.friends",ng-cloak)
		.info
			span.name.block {{friend.contactInfo.name}}

