- var lastSearch = req.session.lastSearch ? req.session.lastSearch : '/search';
- lastSearch += '?updateEvent=1';
- var payment;
- if ((typeof plan !== "undefined") && (typeof plan.preferences !== "undefined"))
	- payment = plan.preferences.payment;
//- a.hide(id="{{event.ID}}",href="/tickets/{{event.ID}}/{{event.Name}}")
.event-date-box
	span.day {{getDate(event.Date)| date:'EEE'}}
	span.event-date {{getDate(event.Date)| date:'MMM d'}}
	span.time {{getDate(event.Date)| date:'h:mm a'}}
.info
	.pull-left
		span.name.block {{event.Name}}
		span.venue.block {{ event.Venue.Name || event.Venue }}
		span.location.block {{event.City+', '+event.StateProvince}}
		- if (typeof changeEvent != "undefined" && changeEvent == true)
			span.changeEvent.block
				a#changeEvent(href="/search/#{lastSearch}") Change Event
	.pull-right
		.cta
			case payment
				when "split-first"
					a.btn.btn-primary.choose-event.next-link.prevent-default.start-plan(event-name="{{event.Name}}",event-id="{{event.ID}}",id="{{event.ID}}",href="/tickets/{{event.ID}}/{{event.Name}}") Start Plan
				when "split-after"
					a.btn.btn-primary.choose-event.next-link.prevent-default.start-plan(event-name="{{event.Name}}",event-id="{{event.ID}}",id="{{event.ID}}",href="/tickets/{{event.ID}}/{{event.Name}}") See Tickets
				when "no-split"
					a.btn.btn-primary.choose-event.next-link.prevent-default.start-plan(event-name="{{event.Name}}",event-id="{{event.ID}}",id="{{event.ID}}",href="/tickets/{{event.ID}}/{{event.Name}}") See Tickets
				default
					a.btn.btn-primary.choose-event.next-link.prevent-default.start-plan(event-name="{{event.Name}}",event-id="{{event.ID}}",id="{{event.ID}}",name="{{event.Name}}",href="/tickets/{{event.ID}}/{{event.Name}}") See Tickets

