- var lastSearch = req.session.lastSearch ? req.session.lastSearch : '/events/search';
- lastSearch += '?updateEvent=1';

.event-date-box.pull-left
	span.day {{getDate(event.Date)| date:'EEE'}}
	span.event-date {{getDate(event.Date)| date:'MMM d'}}
	span.time {{getDate(event.Date)| date:'h:mm a'}}
.info
	span.name.block {{event.Name}}
	span.venue.block {{ event.Venue.Name || event.Venue }}
		span.location.block {{event.City+', '+event.StateProvince}}
		span.change-event.block
			a#change-event(href="/search?search=#{lastSearch}") Change Event
		span.change-event.block
			a#event-options(href="/event-options/#{plan.event.eventId}/#{plan.event.eventName}") Event Options
