//- have restaurants but not purchased
.row(ng-show="restaurants[0]")
	.col-xs-12
		.add-on-included
			.restaurants-list-container.add-on-list-container.row
				.col-xs-12
					.restaurants-row.add-on-row(ng-repeat="r in restaurants track by $index")

						.row(ng-show="{'yipit':true}[r.service]")
							.col-xs-12

								.restaurants-trigger.add-on-trigger(ng-click="toggleRestaurantsPriceDetails(p._id)")
									.row
										.col-xs-12
											strong {{r.restaurant.title}}
									.restaurants-list-header.add-on-list-header
										.row
											.col-xs-4
												.text-left Restaurant
											.col-xs-2
												.text-center % Discount
											.col-xs-2
												.text-center Expires
											.col-xs-2 Total
									.row
										.col-xs-4
											.text-left {{r.restaurant.business.name}}
										.col-xs-2
											.text-center {{r.restaurant.discount.formatted}}
										.col-xs-2
											.text-center {{getDate(r.restaurant.end_date) | date: 'shortDate'}}
										.col-xs-2
											.add-on-total(ng-hide="r.purchased") {{r.restaurant.price.raw | currency}}
											.add-on-total(ng-show="r.purchased") {{r.payment.amount | currency}}
										.col-xs-2.text-center(ng-hide="r.purchased")
											a.btn.btn-primary.btn-sm(ng-click="buyDeal($index)", ng-href="{{r.restaurant.url}}",target="_blank") Buy

						.row(ng-show="{'google':true}[p.service]")
							.col-xs-12
								.restaurants-trigger.add-on-trigger(ng-click="toggleRestaurantPriceDetails(r._id)")
									.row
										.col-xs-5
											.text-left {{$index+1}}. {{r.restaurant.name}}
										.col-xs-3
											.text-center N/A
										.col-xs-2 N/A

