//- have tickets but not purchased
.row(ng-show="tickets[0]")
	.col-xs-12
		.add-on-included

			.ticket-list-container.add-on-list-container.row
				.col-xs-12
					.ticket-list-header.add-on-list-header
						.row
							.col-xs-2
								.text-center Section
							.col-xs-2
								.text-center Row
							.col-xs-2
								.text-center Seats
							.col-xs-2
								.text-center Max # of Tix
							.col-xs-2 Estimated Total

					.ticket-row.add-on-row(ng-repeat="ticket in tickets track by $index")

						.row
							.col-xs-12
								.ticket-trigger.add-on-trigger(ng-click="toggleTicketPriceDetails(ticket._id)")
									.row
										.col-xs-2
											.text-center {{ticket.ticketGroup.Section}}
										.col-xs-2
											.text-center {{ticket.ticketGroup.Row}}
										.col-xs-2
											.text-center
												span(ng-show="{'*':true}[ticket.ticketGroup.LowSeat]") {{ticket.ticketGroup.LowSeat}}
												span(ng-hide="{'*':true}[ticket.ticketGroup.LowSeat]") {{ticket.ticketGroup.LowSeat}} - {{ticket.ticketGroup.HighSeat}}
										.col-xs-2
											.qty-container.text-center {{ticket.ticketGroup.maxSplit}}
												//- select.form-control(id="qty-{{ticket.ticketGroup.ID}}",ng-model="ticket.ticketGroup.SelectedQty", name="qty-{{ticket.ticketGroup.ID}}", ng-options="q for q in ticket.ticketGroup.ValidSplits.int")
										.col-xs-2
											.ticket-total.add-on-total {{ticket.costBreakdown.total | currency}}
										.col-xs-2.text-center(ng-hide="ticket.purchased")
											a.btn.btn-primary.btn-sm(ng-click="buyTickets()", ticket="{{ticket.ticketGroup}}",ng-href="{{tnUrl}}&tgid={{ticket.ticketGroup.ID}}&evtid={{ticket.ticketGroup.EventID}}&price={{ticket.ticketGroup.ActualPrice}}&treq={{ticket.ticketGroup.selectedQty}}&req.sessionId={{ticket.ticketGroup.sessionId}}",target="_blank") Buy
						.row.ticket-price-details.slide-down(ng-show="showTicketPriceDetails[ticket._id]", id="{{ticket._id}}-tickets-slide-down")
							.col-xs-12
								.row
									.col-xs-9
										strong Ticket Price (ea.)&nbsp;
									.col-xs-3.text-right {{ticket.costBreakdown.price | currency}}
								.row.border-bottom
									.col-xs-9
										strong Ticketnetwork Service Fee (ea.)&nbsp;
									.col-xs-3.text-right {{ticket.costBreakdown.serviceFee | currency}}
								.row
									.col-xs-9
										strong Cost Per Person&nbsp;
									.col-xs-3.text-right {{ticket.costBreakdown.totalEach | currency}}
								.row
									.col-xs-9
										strong Est. Delivery Fee* Per Invitee&nbsp;
									.col-xs-3.text-right {{ticket.costBreakdown.deliveryFeeEach | currency}}
								.row
									.col-xs-9.text-right
										strong Total (x{{ticket.ticketGroup.selectedQty}} {{ticket.ticketGroup.selectedQty | pluralize:'ticket'}}):&nbsp;
									.col-xs-3.text-right
										strong {{ticket.costBreakdown.total | currency}}
								.row.disclaimer
									.col-xs-12
										small
											strong *&nbsp;
											span Delivery fee varies depending on the delivery method you choose when you purchase the tickets.
						.row
							.col-xs-12.ticket-notes(ng-show="ticket.ticketGroup.Notes") {{ticket.ticketGroup.Notes}}

