//- have parking but not purchased
.row(ng-show="parking[0]")
	.col-xs-12
		.add-on-included
			.parking-list-container.add-on-list-container.row
				.col-xs-12
					.parking-list-header.add-on-list-header
						.row
							.col-xs-5
								.text-left Parking Name
							.col-xs-3
								.text-center Spots Available
							.col-xs-2 Estimated Total


					.parking-row.add-on-row(ng-repeat="p in parking track by $index")

						.row(ng-show="{'pw':true}[p.service]")
							.col-xs-12
								.parking-trigger.add-on-trigger(ng-click="toggleParkingPriceDetails(p._id)")
									.row
										.col-xs-5
											.text-left {{$index+1}}. {{p.parking.location_name}}
										.col-xs-3
											.text-center(ng-hide="p.purchased") {{p.parking.available_spots}}
											.text-center(ng-show="p.purchased") {{p.payment.qty}}
										.col-xs-2
											.add-on-total(ng-hide="p.purchased") {{p.parking.price * parkingSpotsNeeded | currency}}
											.add-on-total(ng-show="p.purchased") {{p.payment.amount | currency}}
										.col-xs-2.text-center(ng-hide="p.purchased")
											a.btn.btn-primary.btn-sm(ng-click="buyParking($index)", ng-href="{{p.parking.www_reserve_url}}",target="_blank") Buy
						.row(ng-show="{'google':true}[p.service]")
							.col-xs-12
								.parking-trigger.add-on-trigger(ng-click="toggleParkingPriceDetails(p._id)")
									.row
										.col-xs-5
											.text-left {{$index+1}}. {{p.parking.name}}
										.col-xs-3
											.text-center N/A
										.col-xs-2 N/A

			.row
				.col-xs-12.disclaimer
					strong * Wembli estimates the number of parking spots you'll need based on how many people are coming.

