- if (req.session.plan.preferences.hotels.payment === 'split-first')
	//- hotel part of the plan, none chosen, rsvp not complete, split first
	.row(ng-show="plan.preferences.addOns.hotels && !plan.hotels[0] && !plan.rsvpComplete")
		.col-xs-12
			.add-on-included
				p Hotel, Eh? Nice Touch!  It's people like you that know how to plan the perfect outing.  Whether you choose a place with no frills, no budget limit or no paparazzi - your group will love you forever for making this a memorable trip.
				p While you're waiting for the RSVP's to come in - feel free to check out your options.
	.row(ng-show="plan.preferences.addOns.hotels && !plan.hotels[0] && !plan.rsvpComplete")
		.col-xs-6
			a.btn.btn-warning.btn-lg(href="/hotels/{{plan.event.eventId}}/{{plan.event.eventName}}") Preview Hotels

	//- hotels part of the plan, none chosen, rsvp not complete, split after
	.row(ng-show="plan.preferences.addOns.hotels && !plan.hotels[0] && plan.rsvpComplete")
		.col-xs-12
			.add-on-included
				p Your home away from home awaits.  In just a few short steps you'll be choosing the lodging of your dreams.  Happy Travels!
	.row(ng-show="plan.preferences.addOns.hotels && !plan.hotels[0] && plan.rsvpComplete")
		.col-xs-6
			a.btn.btn-warning.btn-lg(href="/hotels/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose Hotel

- else
	//- hotels part of the plan, none chosen, rsvp not complete, split after
	.row(ng-show="plan.preferences.addOns.hotels && !plan.hotels[0]")
		.col-xs-12
			.add-on-included
				p Your home away from home awaits.  In just a few short steps you'll be choosing the lodging of your dreams.  Happy Travels!
	.row(ng-show="plan.preferences.addOns.hotels && !plan.hotels[0]")
		.col-xs-6
			a.btn.btn-warning.btn-lg(href="/hotels/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose Hotel


