.restaurants-container.add-on-container.row
	.col-sm-2.hidden-xs
		include ../../includes/cart/restaurants-icon
	.col-sm-10.col-xs-12
		.row
			.col-xs-6.clearfix
				label.restaurants-label.add-on-label
					.add-on-toggle.pull-left
						i.fa.fa-check-square-o.fa-2x.green(ng-show="plan.preferences.addOns.restaurants")
						i.fa.fa-square-o.fa-2x(ng-hide="plan.preferences.addOns.restaurants")
						input.hide(type="checkbox", ng-model="plan.preferences.addOns.restaurants", ng-disabled="{true:'disabled'}[restaurants[0].purchased]")
					h3.pull-left Restaurant&nbsp;
						a.change-restaurants-link.change-add-on-link(ng-show="restaurants[0]", href="/restaurants/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") (Change Deal)
			.col-xs-6.text-right(ng-show="restaurants[0]")
				a.view-on-map(href="/restaurants/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") View On Map

		.row(ng-hide="plan.preferences.addOns.restaurants")
			.col-xs-12
				.add-on-not-included
					p Sure, you planned this whole outing and you're awesome for taking it on - but studies (somewhere) show that hungry people are grouchy people.  Do you really want to be responsible for a group of grumps walking the streets in search of food before or after the event?  We didn't think so!
					p For the sake of all fan-kind go ahead and choose your restaurant now.
		.row(ng-hide="plan.preferences.addOns.restaurants")
			.col-xs-6
				label
					a.btn.btn-primary.btn-lg(ng-click="plan.preferences.addOns.restaurants=true", href="#") Add Restaurant To Plan

		include restaurants-not-chosen
		//- don't forget to consolidate purchased-restaurants with chosen-restaurants
		include chosen-restaurants
