.social-loader(ng-hide="twitter.loginStatusLoaded") Loading...
form#invite-wizard-step3-form.twitter-widget(name="step3",ng-cloak,ng-show="twitter.loginStatusLoaded", novalidate)
	fieldset
		.row
			.col-xs-12
				h3 Search For Twitter Friends To Invite
		.row
			.col-xs-12
				#twitter-need-login(ng-hide="twitter.service.getAuth()")
					p Connect with twitter to view your friends.
					a#twitter-login.btn.btn-primary(ng-href="/auth/twitter?redirectUrl=/invitation/{{plan.event.eventId}}/{{plan.event.eventName}}#step4",target="_self")
						i.fa.fa-twitter
							span &nbsp;Connect With twitter
		.row
			.col-xs-12
				#twitter-friends-list.friends-list-container(ng-show="twitter.service.getAuth()")
					p Search for twitter friends below and then click the Tweet @ button to send them a personalized invitation to your outing.
					.form-group
						.input-group
							input.friend-filter.form-control(type="text",placeholder="Search for friends on twitter",on-keyup="twitter.searchUsers",ng-model="twitter.friendFilterKey"))
							span.input-group-addon
								i.fa.fa-search
					.search-for-friends(ng-hide="twitter.friends || twitter.spinner") Enter a friend name or twitter @screen_name to find and invite via twitter.
					.spinner(ng-show="twitter.spinner")
						i.fa.fa-cog.fa-spin.fa-2x(ng-show="twitter.spinner")
					.friends-list.row(ng-show="twitter.friends",ng-hide="twitter.spinner" )
						.col-xs-12
							.friend(ng-repeat="friend in twitter.friends")
								.friend-modal.modal.hide(id="modal-{{friend.screen_name}}",data-backdrop="false",data-focus-on="input:first",tabindex="-1")
									.modal-header
										i.fa.fa-times-circle.close.pull-right(type="button",data-dismiss="modal",aria-hidden="true")
										h2 Tweet An Invitation To @{{friend.screen_name}}
									.modal-body
										p Don't worry, Twitter will automatically shorten urls to 20 characters.
										textarea(on-keyup="twitter.countChars",id="twitter-message-{{friend.screen_name}}",name="twitter-message-{{friend.screen_name}}",ng-model="twitter.messageText")
									.modal-footer
										input.char-count(ng-model="twitter.charCount",id="char-count-{{friend.screen_name}}",disabled,ng-class="{true:'red'}[twitter.charCount < 10]")
										a.btn(href="#",data-dismiss="modal") Close
										a.btn.btn-primary(href="#",ng-click="twitter.tweet(friend,$event)")
											i.fa.fa-twitter
											span &nbsp;Tweet
								.row
									.col-xs-1
										.friend-img
											img.picture(ng-src="{{friend.profile_image_url_https}}")
									.col-xs-4
										.friend-name
											.name {{friend.name}}
									.col-xs-3
										.friend-status(ng-show="friend.checked && rsvpUndecided(friend)")
											span.label.label-info undecided&nbsp;
										.friend-status(ng-show="friend.checked && rsvpAccepted(friend)")
											span.label.label-success accepted&nbsp;
										.friend-status(ng-show="rsvpDeclined(friend)")
											span.label.label-important declined&nbsp;
									.col-xs-4
										.friend-controls
											a.btn.btn-mini(ng-click="addTwitterFriend(friend,$event)")
												i.fa.fa-twitter(style="color:#0092BF")
												strong &nbsp;Tweet to @{{friend.screen_name}}
