form#invite-wizard-rsvp-form.invite-wizard-rsvp-form(name="rsvp")
	.row
		.col-xs-12
			h3 Click To Choose RSVP Date:
	.row.message(ng-show="{'split-first':true}[plan.preferences.payment]")
		.col-xs-12
			strong Note:&nbsp;
			span The sooner your friends rsvp, the sooner you'll be able to lock-in and purchase your tickets.
	.row
		.col-xs-12
			.datepicker-container
				.pikaday.datepicker
