#plan-dashboard.friend-plan-dashboard
	//- .event-data(ng-cloak,event-id="req.session.plan.event.eventId")
	section#section1.friend-event-section.event-section.plan-section
		.header
			h1.pull-left Event
		.body
			h3 {{organizer.firstName}} {{organizer.lastName}} is planning an event and you're invited!
			#event-container
				h4 Are you in or out?
				.collect-rsvp-container.pull-left
					.collect-rsvp
						a#yes(ng-click="setRsvp('decision',true)",ng-class="{true:'active'}[me.rsvp.decision]") YES!
						a#no(ng-click="setRsvp('decision',false)",ng-class="{false:'active'}[me.rsvp.decision]") NO.
					fieldset(ng-show="plan.preferences.inviteOptions.guestFriends")
						label
							input#guest-count.on-keydown.on-keyup(maxlength="2",on-keyup="guestCountKeyUp",on-keydown="guestCountKeyDown",name="guest_count",ng-model="me.rsvp.guestCount",placeholder="1")
							span(ng-show="guestCountPlural") people&nbsp;
							span(ng-hide="guestCountPlural") person&nbsp;
							span (including yourself).
				.info-container.pull-right
					.info
						.row.first-row
							h3.pull-left Date:&nbsp;
							.data.pull-left {{getDate(plan.event.eventDate)| date:'EEEE, MMMM d'}}
						.row
							h3.pull-left Event:
							.data.pull-left {{plan.event.eventName}}
						.row
							h3.pull-left Time:
							.data.pull-left {{getDate(plan.event.eventDate)| date:'h:mm a'}}
						.row
							h3.pull-left Location:
							.data.pull-left {{plan.event.eventVenue}} -&nbsp;
							.data.pull-left {{plan.venue.data.Street1+', '+plan.event.eventCity+', '+plan.event.eventState}}
						.row
							h3.pull-left Age Limit:
							.data.pull-left(ng-show="plan.preferences.inviteOptions.over21") 21+
							.data.pull-left(ng-hide="plan.preferences.inviteOptions.over21") All Ages
						.row
							h3.pull-left RSVP Date:
							.data.pull-left {{getDate(plan.rsvpDate)| date:'MMMM d, yyyy'}}
			.payment-type-note
				strong ** NOTE:&nbsp;
				span(ng-show="{'split-first':true}[plan.preferences.payment]") &nbsp;After all invitees vote on preferences, {{organizer.firstName}} will send a link for everyone to pay for their portion of the outing before locking it in.
				span(ng-show="{'no-split':true}[plan.preferences.payment]") &nbsp;{{organizer.firstName}} has chosen to foot the bill for this plan - w00t!
				span(ng-show="{'split-after':true}[plan.preferences.payment]") &nbsp;Once the RSVP's are in, {{organizer.firstName}} will lock in the tickets then send a link for everyone to pay for their portion of the outing.
			.section-bottom
				.total-coming.pull-left
					.header
						span.rsvp-count {{totalComing}}&nbsp
						span(ng-show="totalComingPlural") People are
						span(ng-hide="totalComingPlural") Person is
						span &nbsp;coming
					.friend-coming(ng-show="plan.organizer.rsvp.decision")
						span {{organizer.firstName}} {{organizer.lastName}}&nbsp;
						span(ng-show="plan.organizer.rsvp.guestCount > 1") (+{{plan.organizer.rsvp.guestCount-1}})
					.friend-coming(ng-repeat="friend in friendsComing")
						span {{friend.contactInfo.name}}&nbsp;
						span(ng-show="friend.rsvp.guestCount > 1") (+{{friend.rsvp.guestCount-1}})
				.next-wrapper.pull-right
					.img
						img(src="/images/cartoon-man-megaphone1.png")
					button#next-section2.btn.btn-orange.btn-large.scroll-to NEXT
	section#section2.friend-vote-section.vote-section.plan-section.even
		.header
			h1.pull-left Vote
		.body
			h3 Help {{organizer.firstName}} plan the perfect outing by voting on your preferences
			#vote-container
				.block1
					.left.pull-left
						.row.firstRow
							h3 Pick Your Maximum Price Per Ticket:
							.price-slider-container.pull-left
								#ticket-price-slider.price-slider(min="0",max="500",step="5",value="{{me.rsvp.tickets.price}}",range="min",slide="ticketsPriceSlide",stop="ticketsPriceStop")
								.price-range-group-container
									span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.tickets.priceGroup.low]") $
									span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.tickets.priceGroup.med]") $$
									span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.tickets.priceGroup.high]") $$$
							.price-input-container.pull-right
								.orange.pull-left $
								input#ticket-price-range.pull-left(ng-model="me.rsvp.tickets.price")
								.plus-sign.pull-left(ng-show="me.rsvp.tickets.price==500") +
						.row(ng-show="plan.preferences.addOns.parking")
							label.checkbox
								input(type="checkbox",name="parking_decision",ng-model="me.rsvp.parking.decision",ng-click="toggleInputs('parking',me.rsvp.parking.decision)")
								.calibri Include me in the parking plans:
							.price-slider-container.pull-left(ng-class="{false:'muted'}[me.rsvp.parking.decision]")
								#parking-price-slider.price-slider(min="0",max="100",disable="{{!me.rsvp.parking.decision}}",step="5",value="{{me.rsvp.parking.price}}",range="min",slide="parkingPriceSlide",stop="parkingPriceStop")
								.price-range-group-container
									span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.parking.priceGroup.low]") $
									span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.parking.priceGroup.med]") $$
									span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.parking.priceGroup.high]") $$$
							.price-input-container.pull-right(ng-class="{false:'muted'}[me.rsvp.parking.decision]")
								.orange.pull-left $
								input#parking-price-range.pull-left(ng-model="me.rsvp.parking.price")
								.plus-sign.pull-left(ng-show="me.rsvp.parking.price==100") +
					.right.pull-right
						img(src="/images/cartoon-man-checkboxes.png")
				.block2
					.row(ng-show="plan.preferences.addOns.restaurants")
						label.checkbox
							input.pull-left(type="checkbox",name="restaurant_decision",ng-model="me.rsvp.restaurant.decision",ng-click="toggleInputs('restaurant',me.rsvp.restaurant.decision)")
							.calibri Include me in the restaurant plans:
						.preference-dropdown
							select#food-preference.multiselect(click="foodPreferenceClick",disable="{{!me.rsvp.restaurant.decision}}",append-to="#section2",header="false",min-width="300",none-selected-text="Food Preference",multiple="multiple",ng-model="me.rsvp.restaurant.preference")
								option(value="American (traditional)") American (traditional)
								option(value="Asian Fusion") Asian Fusion
								option(value="Bars") Bars
								option(value="Burgers") Burgers
								option(value="Chinese") Chinese
								option(value="Fast Food") Fast Food
								option(value="Italian") Italian
								option(value="Japanese") Japanese
								option(value="Mediterranean") Mediterranean
								option(value="Mexican") Mexican
								option(value="Pizza") Pizza
								option(value="Steakhouse") Steakhouse
								option(value="Sushi") Sushi
								option(value="Thai") Thai
								option(value="Vegetarian") Vegetarian
								option(value="Vietnamese") Vietnamese
						.price-slider-container.pull-left(ng-class="{false:'muted'}[me.rsvp.restaurant.decision]")
							#restaurant-price-slider.price-slider(min="0",max="100",step="5",disable="{{!me.rsvp.restaurant.decision}}",value="{{me.rsvp.restaurant.price}}",range="min",slide="restaurantPriceSlide",stop="restaurantPriceStop")
							.price-range-group-container
								span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.restaurant.priceGroup.low]") $
								span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.restaurant.priceGroup.med]") $$
								span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.restaurant.priceGroup.high]") $$$
						.price-input-container.pull-right(ng-class="{false:'muted'}[me.rsvp.restaurant.decision]")
							.orange.pull-left $
							input#restaurant-price-range.pull-left(ng-model="me.rsvp.restaurant.price")
							.plus-sign.pull-left(ng-show="me.rsvp.restaurant.price==100") +
					.row(ng-show="plan.preferences.addOns.hotels")
						label.checkbox
							input.pull-left(type="checkbox",name="hotel_decision",ng-model="me.rsvp.hotel.decision",ng-click="toggleInputs('hotel',me.rsvp.hotel.decision)")
							.calibri Include me in the hotel plans.
						.preference-dropdown
							select#hotel-preference.multiselect(click="hotelPreferenceClick",disable="{{!me.rsvp.hotel.decision}}",append-to="#section2",header="false",min-width="300",none-selected-text="Hotel Types",multiple="multiple",ng-model="me.rsvp.hotel.preference")
								option(value="Bed & Breakfast") Bed & Breakfast
								option(value="Boutique") Boutique
								option(value="Budget") Budget
								option(value="Chain") Chain (Marriott, Hyatt, etc.)
								option(value="Luxury") Luxury
						.price-slider-container.pull-left(ng-class="{false:'muted'}[me.rsvp.hotel.decision]")
							#hotel-price-slider.price-slider(min="0",max="500",step="5",disable="{{!me.rsvp.hotel.decision}}",value="{{me.rsvp.hotel.price}}",range="min",slide="hotelPriceSlide",stop="hotelPriceStop")
							.price-range-group-container
								span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.hotel.priceGroup.low]") $
								span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.hotel.priceGroup.med]") $$
								span.dollar-sign(ng-class="{true:'orange'}[me.rsvp.hotel.priceGroup.high]") $$$
						.price-input-container.pull-right(ng-class="{false:'muted'}[me.rsvp.hotel.decision]")
							.orange.pull-left $
							input#hotel-price-range.pull-left(ng-model="me.rsvp.hotel.price")
							.plus-sign.pull-left(ng-show="me.rsvp.hotel.price==500") +
			.section-bottom
				.row.pull-left
					.pull-right
						label#per-person
							h3.pull-left Per Person:
							.pull-right
								.orange.pull-left $
								input.pull-right(ng-model="votePriceTotalPerPerson")
						label#total
							h2.pull-left Total:
							.pull-right
								.orange.pull-left $
								input.pull-right(ng-model="votePriceTotal")
				.next-wrapper.pull-right
					button#next-section3.btn.btn-orange.btn-large.scroll-to NEXT
	section#section3.friend-invitees-section.invitees-section.plan-section
		.header
			h1.pull-left Invitees
		.body
			h3 Find out who else is invited
			#invitees-container
				.row.invitee(ng-repeat="friend in friends | filter:!{_id:me._id}")
					.img-container.pull-left
						img.img-polaroid(ng-hide="friend.contactInfo.imageUrl",src="/images/cartoon-man-head.png")
						img.img-polaroid(ng-show="friend.contactInfo.imageUrl",ng-src="{{friend.contactInfo.imageUrl}}")
					.invitee-info
						.invitee-name
							span.name.orange {{friend.contactInfo.name}}&nbsp;
							span.guests(ng-show="friend.rsvp.decision") + {{friend.rsvp.guestCount-1}} guest(s)
						.invitee-prefs-container
							.invitee-pref.first.pull-left
								.invitee-pref-header RSVP STATUS
								.invitee-pref-value
									i.icon-ok.icon-3x.green.invitee-rsvp-decision(ng-show="{true:true}[friend.rsvp.decision]")
									i.icon-remove.icon-3x.invitee-rsvp-decision(ng-show="{false:true}[friend.rsvp.decision]")
									i.icon-question.icon-3x.invitee-rsvp-decision(ng-show="{null:true}[friend.rsvp.decision]")
							.invitee-pref.pull-left
								.invitee-pref-header Ticket Vote
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.tickets.decision")
										i.icon-minus.icon-2x
									.dollar-sign.orange(ng-show="friend.rsvp.tickets.decision")
										span(ng-show="friend.rsvp.tickets.priceGroup.low") $
										span(ng-show="friend.rsvp.tickets.priceGroup.med") $
										span(ng-show="friend.rsvp.tickets.priceGroup.high") $
							.invitee-pref.pull-left(ng-show="plan.preferences.addOns.parking")
								.invitee-pref-header Parking Vote
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.parking.decision")
										i.icon-minus.icon-2x
									.dollar-sign.orange(ng-show="friend.rsvp.parking.decision")
										span(ng-show="friend.rsvp.parking.priceGroup.low") $
										span(ng-show="friend.rsvp.parking.priceGroup.med") $
										span(ng-show="friend.rsvp.parking.priceGroup.high") $
							.invitee-pref.pull-left(ng-show="plan.preferences.addOns.restaurants")
								.invitee-pref-header Restaurant Votes
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.restaurant.decision")
										i.icon-minus.icon-2x
									.dollar-sign.orange(ng-show="friend.rsvp.restaurant.decision")
										span(ng-show="friend.rsvp.restaurant.priceGroup.low") $
										span(ng-show="friend.rsvp.restaurant.priceGroup.med") $
										span(ng-show="friend.rsvp.restaurant.priceGroup.high") $
									#invitee-food-preferences(ng-show="friend.rsvp.restaurant.preference.length")
										.prefs-list.display-popover(placement="bottom",trigger="hover",title="Food Preferences",content="{{friend.rsvp.restaurant.preference.join(', ')}}")
											strong cuisine:&nbsp;
											span {{friend.rsvp.restaurant.preference.join(', ').substring(0,30)}}
											span(ng-show="showEllipses(friend.rsvp.restaurant.preference,30)") ...
							.invitee-pref.pull-left(ng-show="plan.preferences.addOns.hotels")
								.invitee-pref-header Hotel Votes
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.hotel.decision")
										i.icon-minus.icon-2x
									.dollar-sign.orange(ng-show="friend.rsvp.hotel.decision")
										span(ng-show="friend.rsvp.hotel.priceGroup.low") $
										span(ng-show="friend.rsvp.hotel.priceGroup.med") $
										span(ng-show="friend.rsvp.hotel.priceGroup.high") $
									#invitee-hotel-preferences(ng-show="friend.rsvp.hotel.preference.length")
										.prefs-list.display-popover(placement="bottom",trigger="hover",title="Hotel Preferences",content="{{friend.rsvp.hotel.preference.join(', ')}}")
											strong hotel type:&nbsp;
											span {{friend.rsvp.hotel.preference.join(', ').substring(0,30)}}
											span(ng-show="showEllipses(friend.rsvp.hotel.preference,30)") ...
	section#section4.friend-pony-up-section.pony-up-section.plan-section.even
		.header
			h1.pull-left Pony Up!
		.body
			h3 Find Out What It Means To Pony Up
			#pony-up
				.content.pull-left
					p.calibri So you're interested to hear all about the Pony Up process?  I like your style.  Here's how this process goes down:
					i.icon-circle
						span.calibri You need to RSVP for the event first (the quicker the better).
					i.icon-circle
						span.calibri When the RSVP due date comes around your organizer will use the votes to pick tickets.
					i.icon-circle
						span.calibri Before your organizer shells out any cash, you'll get a Pony Up email to put in your share for your tickets and chosen add-ons.
					p.note.calibri NOTE:  You'll have 24 hrs from the time you get your pony up email to deposit your share because tickets can't be put on hold.
				.img.pull-right
					img(src="/images/cartoon-man-money-left.png")
	section#section5.friend-itinerary-section.itinerary-section.plan-section
		.header
			h1.pull-left Itinerary
		.body
	section#section6.friend-chatter-section.chatter-section.plan-section.even
		.header
			h1.pull-left Chatter
		.body
			h3 Use this space to comment and share conversations about your upcoming event!
			plan-chatter
