#plan-dashboard
	//- .event-data(ng-cloak,event-id="req.session.plan.event.eventId")
	section#section1.plan-section
		.header
			h1.pull-left Event
		.body
			h3 {{organizer.firstName}} {{organizer.lastName}} is planning an event and you're invited! Are you in or out?
			.payment-type-note.alert.alert-info
				strong ** NOTE:&nbsp;
				span(ng-show="{'split-first':true}[plan.preferences.payment]") &nbsp;After all invitees vote on preferences, {{organizer.firstName}} will send a link for everyone to pay for their portion of the outing before locking it in.
				span(ng-show="{'no-split':true}[plan.preferences.payment]") &nbsp;{{organizer.firstName}} has chosen to foot the bill for this plan - w00t!
				span(ng-show="{'split-after':true}[plan.preferences.payment]") &nbsp;Once the RSVP's are in, {{organizer.firstName}} will lock in the tickets then send a link for everyone to pay for their portion of the outing.
			.event-container
				.collect-rsvp-container.pull-left
					.collect-rsvp
						a#yes(ng-click="setRsvp('decision',true)",ng-class="{true:'active'}[me.decision]") YES!
						a#no(ng-click="setRsvp('decision',false)",ng-class="{false:'active'}[me.decision]") NO.
					fieldset
						label
							.input-prepend.input-append.pull-left
								span.add-on # in your party (including yourself):
								input#guest-count.on-keydown.on-keyup(maxlength="2",on-keyup="pluralize",on-keydown="guestCountKeyDown",name="guest_count",ng-model="guestCount",placeholder="1")
								span.add-on(ng-show="plural") people
								span.add-on(ng-hide="plural") person
				.info-container.pull-right
					.info
						.row
							h3.pull-left Date:
							.data.pull-left {{getDate(plan.event.eventDate)| date:'EEEE, MMMM d'}}
						.row
							h3.pull-left Event:
							.data.pull-left {{plan.event.eventName}}
						.row
							h3.pull-left Time:
							.data.pull-left {{getDate(plan.event.eventDate)| date:'h:mm a'}}
						.row
							h3.pull-left Location:
							.data.pull-left {{plan.event.eventVenue}} -&nbsp;
							.data.pull-left {{plan.venue.data.Street1+', '+plan.event.eventCity+', '+plan.event.eventState}}
						.row
							h3.pull-left Age Limit:
							.data.pull-left(ng-show="plan.preferences.inviteOptions.over21") 21+
							.data.pull-left(ng-hide="plan.preferences.inviteOptions.over21") All Ages
			.total-coming
				.header
					span.rsvp-count {{friends.length}}&nbsp;
					span Invited,&nbsp;
					span.rsvp-count {{totalComing}}&nbsp
					span(ng-show="peopleComingPlural") People are
					span(ng-hide="peopleComingPlural") Person is
					span &nbsp;coming
	section#section2.plan-section.even
		.header
			h1.pull-left Vote
		.body
	section#section3.plan-section
		.header
			h1.pull-left Invitees
		.body
	section#section4.plan-section.even
		.header
			h1.pull-left Pony Up!
		.body
	section#section5.plan-section
		.header
			h1.pull-left Itinerary
		.body
	section#section6.plan-section.even
		.header
			h1.pull-left Chatter
		.body
