section#section1.friend-rsvp-section.rsvp-section.plan-section
	.header.clearfix
		h1.pull-left RSVP
	.body
		h3 {{organizer.firstName}} {{organizer.lastName}} Is Planning An Event And You're Invited!
		.organizer-rsvp-container.rsvp-container.clearfix
			.img-container.pull-left
				img.img-polaroid(ng-hide="customer.imageUrl",src="/images/cartoon-man-head.png")
				img.img-polaroid(ng-show="customer.imageUrl",ng-src="{{customer.imageUrl}}")
			.collect-rsvp-container.pull-left
				h4 Are You In Or Out?
				.collect-rsvp
					a#yes(ng-click="setRsvp(true)",ng-class="{true:'active'}[me.rsvp.decision]",href="#no-slide") Yes!
					a#no(ng-click="setRsvp(false)",ng-class="{false:'active'}[me.rsvp.decision]", href="#no-slide") No.
				fieldset(ng-show="plan.preferences.inviteOptions.guestFriends")
					label
						input#guest-count.on-keydown.on-keyup(maxlength="2",on-keyup="guestCountKeyUp",on-keydown="guestCountKeyDown",name="guest_count",ng-model="me.rsvp.guestCount",placeholder="1")
						span(ng-show="guestCountPlural") People&nbsp;
						span(ng-hide="guestCountPlural") Person&nbsp;
						span (including yourself).
				.payment-type-note
					strong ** Note:&nbsp;
					span(ng-show="{'split-first':true}[plan.preferences.payment]") &nbsp;After all invitees vote on preferences, {{organizer.firstName}} will send a link for everyone to pay for their portion of the outing before locking it in.
					span(ng-show="{'no-split':true}[plan.preferences.payment]") &nbsp;{{organizer.firstName}} has chosen to foot the bill for this plan - W00t!
					span(ng-show="{'split-after':true}[plan.preferences.payment]") &nbsp;{{organizer.firstName}} has already locked in the tickets as soon as all the RSVPs are in you'll get a Pony Up email so you can pay your share of the bill.
			.info-container.pull-right
				.info
					.row.first-row
						h3.pull-left Date:&nbsp;
						.data.pull-left {{getDate(plan.event.eventDate)| date:'EEEE, MMMM d'}}
					.row
						h3.pull-left Event:
						.data.pull-left {{plan.event.eventName}}
					.row
						h3.pull-left Time:
						.data.pull-left {{getDate(plan.event.eventDate)| date:'h:mm a'}}
					.row
						h3.pull-left Location:
						.data.pull-left {{plan.event.eventVenue}} -&nbsp;
						.data.pull-left {{plan.venue.data.Street1+', '+plan.event.eventCity+', '+plan.event.eventState}}
					.row
						h3.pull-left Age Limit:
						.data.pull-left(ng-show="plan.preferences.inviteOptions.over21") 21+
						.data.pull-left(ng-hide="plan.preferences.inviteOptions.over21") All Ages
					.row
						h3.pull-left Rsvp Date:
						.data.pull-left(ng-show="plan.rsvpDate") {{getDate(plan.rsvpDate)| date:'MMMM d, yyyy'}}
						.data.pull-left(ng-hide="plan.rsvpDate") TBD
		.section-bottom
			.total-coming.pull-left
				.header
					span.rsvp-count {{totalComing}}&nbsp
					span(ng-show="totalComingPlural") people are
					span(ng-hide="totalComingPlural") person is
					span &nbsp;coming
				.friend-coming(ng-show="plan.organizer.rsvp.decision")
					span {{organizer.firstName}} {{organizer.lastName}}&nbsp;
					span(ng-show="plan.organizer.rsvp.guestCount > 1") (+{{plan.organizer.rsvp.guestCount-1}})
				.friend-coming(ng-repeat="friend in friendsComing")
					span {{friend.contactInfo.name}}&nbsp;
					span(ng-show="friend.rsvp.guestCount > 1") (+{{friend.rsvp.guestCount-1}})
			.next-wrapper.pull-right
				.img
					img(src="/images/cartoon-man-megaphone1.png")
				button#next-section3.btn.btn-orange.btn-large.scroll-to Next
