section#section5.me-pony-up-section.pony-up-section.plan-section.even
	.header.clearfix
		h1.pull-left Pony Up!
	.body(ng-hide="me.payment[0]")
		h3 Find Out What It Means To Pony Up
		.pony-up
			.content.pull-left
				p.calibri So you're interested to hear all about the Pony Up process?  I like your style.  Here's how this process goes down:
				i.icon-circle
					span.calibri You need to RSVP for the event first (the quicker the better).
				i.icon-circle
					span.calibri When the RSVP due date comes around your organizer will use the votes to pick tickets.
				i.icon-circle
					span.calibri Before your organizer shells out any cash, you'll get a Pony Up email to put in your share for your tickets and chosen add-ons.
				p.note.calibri NOTE:  You'll have 24 hrs from the time you get your pony up email to deposit your share because tickets can't be put on hold.
			.img.pull-right
				img(src="/images/cartoon-man-money-left.png")
	.body(ng-show="me.payment[0]")
		h3 It's Time To Pony Up For Your Part Of The Bill
		.invitees-container
			.row.invitee.clearfix(id="{{me._id}}")
				.img-container.pull-left
					img.img-polaroid(ng-hide="me.contactInfo.imageUrl",src="/images/cartoon-man-head.png")
					img.img-polaroid(ng-show="me.contactInfo.imageUrl",ng-src="{{me.contactInfo.imageUrl}}")
				.invitee-info.pull-left
					.invitee-name
						.invitee-name-container
							span.name.orange {{me.contactInfo.name}}&nbsp;
							span.guests(ng-show="me.rsvp.decision") + {{me.rsvp.guestCount-1}} {{me.rsvp.guestCount-1 | pluralize:'guest'}}
					.requested-amounts-container
						label.requested-amounts-label.clearfix
							.requested-amount-header.pull-left Requested Pony Up Amount:
							.pull-right.input-prepend(ng-class="{false:'muted'}[ponyUpRequest.open]")
								span.add-on $
								input.me-pony-up-amount(type="text",ng-model="ponyUp.amountFormatted")
					.transaction-fee-container.display-popover.clearfix(title="Explanation of Costs",placement="right",,content="Hey - we gotta keep the lights on and the servers running somehow?!  Wembli charges $2.50 plus 2.9% of the amount you pony up.",trigger="hover")
						label.transaction-fee-label.clearfix
							.transaction-fee-header.pull-left Wembli Pony Up Transaction Cost:
							.value.pull-right {{ponyUp.transactionFee/100 | currency}}
					.send-pony-up-control.clearfix
						label.send-pony-up-label.clearfix
							.header.pull-left TOTAL AMOUNT:
							.total.pull-right {{ponyUp.total/100 | currency}}
				.history-container.pull-left
					label.history-label.info-slide-down-label.clearfix(friend-id="{{me._id}}",key="history")
						i.icon.icon-caret-right.history-caret.icon-2x.pull-left
						.header.pull-left HISTORY
					.history.hide
						table
							tr.history-item(ng-repeat="history in me.payment | orderBy:'-date'")
								td.type(ng-show="{'outside':true}[history.type]") Outside payment ({{history.method}}):
								td.type(ng-show="{'request':true}[history.type]") Pony Up Request:
								td.type(ng-show="{'response':true}[history.type]") Pony Up Payment:
								td.date {{history.date | date:'short'}}
								td.history-header Status:
								td.status() {{history.status | historyStatus}}
								td.history-header(ng-show="{'outside':true}[history.type]") Amt Received:
								td.history-header(ng-show="{'request':true}[history.type]") Amt Requested:
								td.history-header(ng-show="{'response':true}[history.type]") Amt Received:
								td.amount {{history.amount/100 | currency}}
							tr.border-bottom
								td(colspan="7")
							tr.total-requested
								td.history-header(colspan="5") Total Requested:
								td.amount {{me.payment.requested/100 | currency}}
							tr.total-requested
								td.history-header(colspan="5") Total Paid:
								td.amount {{me.payment.received/100 | currency}}
							tr.balance
								td.history-header.orange(colspan="5") Balance:
								td.amount.orange {{me.payment.balance/100 | currency}}
			.send-pony-up-button-container.clearfix
				button.btn.btn-orange.btn-large.send-pony-up-button.pull-left(ng-disabled="{false:true}[ponyUpRequest.open] || !ponyUp.amountFormatted", ng-click="showPonyUpModal()",ng-hide="sendPonyUpInProgress")
					.icon.icon-money.pull-left
					span &nbsp;Send Pony Up!

