- var nav = planNav(req.session.visitor.context, req.session.plan.preferences.payment)
#plan-nav.affix
	//- .wembli-logo
	//- .spacer
	a.logo-35(href="/dashboard")
	each navItem in nav
		a(class="plan-section-nav scroll-to",href="#{navItem.href}",id="#{navItem.id}")
			i(class="#{navItem.icon}").icon-2x
			div
				span #{navItem.text}
				i.icon-double-angle-right.pull-right

