section#section5.friend-pony-up-section.pony-up-section.plan-section.even
	.header
		h1.pull-left Pony Up!
	.body
		h3 Find Out What It Means To Pony Up
		#pony-up
			.content.pull-left
				p.calibri So you're interested to hear all about the Pony Up process?  I like your style.  Here's how this process goes down:
				i.icon-circle
					span.calibri You need to RSVP for the event first (the quicker the better).
				i.icon-circle
					span.calibri When the RSVP due date comes around your organizer will use the votes to pick tickets.
				i.icon-circle
					span.calibri Before your organizer shells out any cash, you'll get a Pony Up email to put in your share for your tickets and chosen add-ons.
				p.note.calibri NOTE:  You'll have 24 hrs from the time you get your pony up email to deposit your share because tickets can't be put on hold.
			.img.pull-right
				img(src="/images/cartoon-man-money-left.png")
