section#section3.organizer-cart-section.cart-section.plan-section
	.header
		h1.pull-left Shopping Cart
		-if (req.session.plan.preferences.payment === 'split-first')
			include includes/cart/split-first
		-if (req.session.plan.preferences.payment === 'split-after')
			include includes/cart/split-after
		-if (req.session.plan.preferences.payment === 'no-split')
			include includes/cart/no-split

