section#section3.organizer-cart-section.cart-section.plan-section
	.header
		h1.pull-left Shopping Cart
	//- have not yet chosen tix and they are splitting first
	.body(ng-show="{'split-first':true}[plan.preferences.payment]")
		h3 HERE'S WHERE YOU'LL MAKE FUN CHOICES AND GET MONEY FROM YOUR FRIENDS
		.container.tickets-container.clearfix
			.cartoon-man.pull-left
				image(src="/images/wembliman/50.png")
			.pull-left
				.header
					label.tickets-label
						h3 Tickets
				//- no tickets, rsvp not complete and split-first
				.body.add-on-included(ng-show="!plan.tickets[0] && !plan.rsvpComplete && {'split-first':true,null:true}[plan.preferences.tickets.payment]")
					p Now that you made short work of inviting friends you can relax while they RSVP.  Once everyone is accounted for we'll shoot you an email.
					p It's tough to pick tickets until you know how many people are going but feel free to preview what's available during the voting process so you have an idea of what you'll want when it's time to add them to your shopping cart.
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") Preview Tickets
						a.buy-now.wembli-sequence-link(ng-click="setPayment('tickets','split-after')",href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") I don't want to wait, I want to buy now

				//- no tickets, rsvp not complete and split-after
				.body.add-on-included(ng-show="!plan.tickets[0] && !plan.rsvpComplete && {'split-after':true}[plan.preferences.tickets.payment]")
					p Ok! Add tickets to your cart and then you can check out right away.  Don't worry, you can still have your friends pony up after you've bought the tickets.
					.button-container.clearfix(ng-show="{'split-after':true}[plan.preferences.tickets.payment]")
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") Add Tickets To Cart
						a.buy-now(ng-click="setPayment('tickets','split-first')",href="#") I changed my mind, I want to know who's coming first

				//- no tickets, rsvp is complete and split-first
				.body.add-on-included(ng-show="!plan.tickets[0] && plan.rsvpComplete && {'split-first':true,null:true}[plan.preferences.tickets.payment]")
					p Time to choose tickets and add them to your cart, then we'll prompt you to send a pony up email to your friends.  You don't check out until everyone pays up first.
					p Note:  Adding tickets in your cart does NOT place them on hold.   You don't get dibs on tickets until you buy them.
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") Add Tickets To Cart
						//- a.buy-now.wembli-sequence-link(ng-click="setPayment('tickets','split-after')",href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") I don't want to wait, I want to buy now

				//- no tickets, rsvp is complete and split-after
				.body.add-on-included(ng-show="!plan.tickets[0] && plan.rsvpComplete && {'split-after':true}[plan.preferences.tickets.payment]")
					p Time to choose tickets and add them to your cart, then we'll prompt you to send a pony up email to your friends.  You don't check out until everyone pays up first.
					p Note:  Adding tickets in your cart does NOT place them on hold.   You don't get dibs on tickets until you buy them.
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") Buy Tickets Now
						a.buy-now(ng-click="setPayment('tickets','split-first')",href="#") I changed my mind, I want my friends to pony up

				//- have tickets rsvp is not complete, split first
				.body.add-on-included(ng-show="plan.tickets[0] && !plan.rsvpComplete")
					p show ticket details but can't pony up until rsvp is complete..let them buy now which should change tickets.payment to split-after

				//- have tickets rsvp complete
				.body.add-on-included(ng-show="plan.tickets[0] && plan.rsvpComplete")
					.alert.alert-warning.clearfix(ng-show="ticketCountMismatch")
						.icon-warning-sign.icon-2x.pull-left
						.text.pull-left The number of available tickets in this ticket group do not match the number of confirmed guests.
					ul.ticket-list-container
						li.ticket-row(ng-repeat="ticket in tickets | ticketTotals")
							.ticket-container.display-popover(title="Tickets Cost Breakdown",placement="right",html="true",content-id="{{ticket._id}}-tickets-popover-content",trigger="hover")
								div(id="{{ticket._id}}-tickets-popover-content").hide
									.row.clearfix
										strong.pull-left  Ticket Price
										.pull-right {{ticket.ticketGroup.costBreakdown.ticketPrice | currency}}
									.row.clearfix.border-bottom
										strong.pull-left  Ticketnetwork Service Fee&nbsp;
										.pull-right {{ticket.ticketGroup.costBreakdown.serviceFee | currency}}
									.row.clearfix
										strong.pull-left  Cost Per Person&nbsp;
										.pull-right {{ticket.ticketGroup.costBreakdown.totalEach | currency}}
									.row.clearfix
										strong.pull-left  Est. Delivery Fee* Per Invitee&nbsp;
										.pull-right {{ticket.ticketGroup.costBreakdown.deliveryFeeEach | currency}}
									.row.clearfix
										strong.pull-left  Total (x{{ticket.ticketGroup.selectedQty}} {{ticket.ticketGroup.selectedQty | pluralize:'ticket'}}):&nbsp;
										strong.pull-right {{ticket.ticketGroup.costBreakdown.total | currency}}
									.row.disclaimer
										small
											strong *
											span Delivery fee varies depending on the delivery method you choose when you purchase the tickets.
								.ticket-info.clearfix
									.ticket-section.pull-left
										strong SECTION/AISLE:
										span {{ticket.ticketGroup.Section}}&nbsp;
									.ticket-row.pull-left
										strong ROW/BOX:
										span {{ticket.ticketGroup.Row}}
									.ticket-seat.pull-left
										strong SEATS:
										span(ng-show="{'*':true}[ticket.ticketGroup.LowSeat]") {{ticket.ticketGroup.LowSeat}}
										span(ng-hide="{'*':true}[ticket.ticketGroup.LowSeat]") {{ticket.ticketGroup.LowSeat}} - {{ticket.ticketGroup.HighSeat}}
								.ticket-notes
									span NOTES:&nbsp;
									span {{ticket.ticketGroup.Notes}}
								.ticket-payment.clearfix
									.per-person.pull-left
										strong Total cost for
									.qty-container.pull-left
										select(id="qty-{{ticket.ticketGroup.ID}}",ng-model="ticket.ticketGroup.selectedQty",name="qty-{{ticket.ticketGroup.ID}}",ng-options="q for q in ticket.ticketGroup.ValidSplits.int")
									.pull-left
										strong {{ticket.ticketGroup.selectedQty | pluralize:'ticket'}}:
									.ticket-total.pull-left
										{{ticket.ticketGroup.costBreakdown.total | currency}}
							//- .remove
								button.btn.btn-orange(ng-click="removeTicketGroup(ticket._id)") Remove From Plan
							.controls.clearfix
								a.btn.btn-orange.btn-large.buy-tickets-offsite.pull-left(ng-hide="{'split-after':true}[plan.preferences.tickets.payment]",ticket="{{ticket.ticketGroup}}",ng-href="{{tnUrl}}&tgid={{ticket.ticketGroup.ID}}&evtid={{ticket.ticketGroup.EventID}}&price={{ticket.ticketGroup.ActualPrice}}&treq={{ticket.ticketGroup.selectedQty}}&req.sessionId={{ticket.ticketGroup.sessionId}}",target="_blank") Buy Tickets Now
								a.change-tickets-link.wembli-sequence-link.pull-left(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") Change Tickets
		.container.parking-container.clearfix
			.cartoon-man.pull-left
				image(src="/images/wembliman/car/100.png")
			.pull-left
				.header
					label.parking-label.clearfix
						i.icon-check.icon-3x.green.pull-left(ng-show="plan.preferences.addOns.parking")
						i.icon-check-empty.icon-3x.pull-left(ng-hide="plan.preferences.addOns.parking")
						input.pull-left.hide(type="checkbox",ng-model="plan.preferences.addOns.parking", ng-click="savePrefs()")
						h3 Parking
				//- parking is not part of the plan
				.body.add-on-not-included(ng-hide="plan.preferences.addOns.parking")
					p So you figured it would be no big deal to find parking near the event until you realized that all the other fans probably had the same thought.  Now throwing caution to the wind seems a little less adventurous and a lot more annoying.
					p No worries!  You can add parking to your plan now.
					label
						.btn.btn-primary.btn-large(href="#") Add Parking To Plan
						input.hide(type="checkbox",ng-model="plan.preferences.addOns.parking", ng-click="savePrefs()")

				//- parking is part of the plan, parking not chosen, rsvp is not complete and they want to split first
				.body.add-on-included(ng-show="plan.preferences.addOns.parking && !plan.parking[0] && !plan.rsvpComplete && {'split-first':true,null:true}[plan.preferences.parking.payment]")
					p Hit the breaks there, sonic. Once your frineds all RSVP and you have a final headcount, WEMbli will prompt you to choose parking.
					p If you don't want to wait for those slow-pokes go ahead and pick now.
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}") Preview Parking
						a.buy-now.wembli-sequence-link(ng-click="setPayment('parking','split-after')",href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}") Forget RSVP's - I want to pick now

				//- parking is part of the plan, parking is not chosen, rsvp is not complete and they want to split after
				.body.add-on-included(ng-show="plan.preferences.addOns.parking && !plan.parking[0] && !plan.rsvpComplete && {'split-after':true}[plan.preferences.parking.payment]")
					p Go ahead and choose your parking.  If there's no option to pre-purchase parking for your event, you can still pick a lot and we'll forward the info on to your pals so they know where to park also.
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose Parking
						a.buy-now(ng-click="setPayment('parking','split-first')",href="#") I changed my mind, I want to know who's coming first

				//- parking is part of the plan, parking is not chosen, rsvp is complete and split first
				.body.add-on-included(ng-show="plan.preferences.addOns.parking && !plan.parking[0] && plan.rsvpComplete && {'split-first':true,null:true}[plan.preferences.parking.payment]")
					p Go ahead and choose your parking.  If there's no option to pre-purchase parking for your event, you can still pick a lot and we'll forward the info on to your pals so they know where to park also.
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose Parking

				//- parking is part of the plan, parking is not chosen, rsvp is complete and split after
				.body.add-on-included(ng-show="plan.preferences.addOns.parking && !plan.parking[0] && plan.rsvpComplete && {'split-after':true}[plan.preferences.parking.payment]")
					p Go ahead and choose your parking.  If there's no option to pre-purchase parking for your event, you can still pick a lot and we'll forward the info on to your pals so they know where to park also.
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose Parking

				//- parking is part of the plan, parking is chosen but rsvp is not complete and split first
				//- we can't make them pony up until we know who's going
				.body.add-on-included(ng-show="plan.preferences.addOns.parking && plan.parking[0] && !plan.rsvpComplete")
					//- parking is chosen and its parkwhiz
					//- parking is chosen and its google parking

				//- parking is part of the plan, parking is chosen but rsvp is not complete and split after
				//- we can buy now and send pony up after rsvp completes
				.body.add-on-included(ng-show="plan.preferences.addOns.parking && plan.parking[0] && !plan.rsvpComplete")
					//- parking is chosen and its parkwhiz
					//- parking is chosen and its google parking

				//- parking is part of the plan, parking is chosen and split first
				.body.add-on-included(ng-show="plan.preferences.addOns.parking && plan.parking[0] && plan.rsvpComplete && {'split-first':true,null:true}[plan.preferences.parking.payment]")
					//- parking is part of the plan, parking is chosen and its parkwhiz and split first (pony up now, buy after)

					//- parking is part of the plan, parking is chosen and its google parking
					//- and split doesn't matter cause there's no pay up front but we can still request pony up?? not sure about that..

				//- parking is part of the plan, parking is chosen and split after
				.body.add-on-included(ng-show="plan.preferences.addOns.parking && plan.parking[0] && plan.rsvpComplete && {'split-after':true}[plan.preferences.parking.payment]")
					//- parking is part of the plan, parking is chosen and its parkwhiz and split after (buy now, pony up later)

					//- parking is part of the plan, parking is chosen and its google parking
					//- and split doesn't matter cause there's no pay up front but we can still request pony up?? not sure about that..

		.container.restaurant-container.clearfix
			.cartoon-man.pull-left
				image(src="/images/wembliman/restaurant/100.png")
			.pull-left
				.header
					label.restaurant-label.clearfix
						i.icon-check.icon-3x.pull-left.green(ng-show="plan.preferences.addOns.restaurants")
						i.icon-check-empty.icon-3x.pull-left(ng-hide="plan.preferences.addOns.restaurants")
						input.pull-left.hide(type="checkbox",ng-model="plan.preferences.addOns.restaurants", ng-click="savePrefs()")
						h3 Restaurant

				//- restaurants are not part of the plan
				.body.add-on-not-included(ng-hide="plan.preferences.addOns.restaurants")
					p Sure, you planned this whole outing and you're awesome for taking it on - but studies (somewhere) show that hungry people are grouchy people.  Do you really want to be responsible for a group of grumps walking the streets in search of food before or after the event?  We didn't think so!
					p For the sake of all fan-kind go ahead and book your restaurant now.
					label
						.btn.btn-primary.btn-large(href="#") Add Restaurant To Plan
						input.hide(type="checkbox",ng-model="plan.preferences.addOns.restaurants", ng-click="savePrefs()")

				//- restaurants part of the plan, none chosen, rsvp not complete, split first
				.body.add-on-included(ng-show="plan.preferences.addOns.restaurants && !plan.restaurants[0] && !plan.rsvpComplete && {'split-first':true,null:true}[plan.preferences.restaurants.payment]")
					p Soon you'll be able to cook up a great restaurant plan but first you'll have to wait for your friends to RSVP.  Once votes are in it'll be easy as apple pie to find great eats.
					p In the meantime why not whet your appetite by looking through some restaurants near your event?
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/restaurants/{{plan.event.eventId}}/{{plan.event.eventName}}") Preview Restaurants
						a.buy-now.wembli-sequence-link(ng-click="setPayment('restaurants','split-after')",href="/restaurants/{{plan.event.eventId}}/{{plan.event.eventName}}") Forget RSVP's - I want to pick now

				//- restaurants part of the plan, none chosen, rsvp not complete, split after
				.body.add-on-included(ng-show="plan.preferences.addOns.restaurants && !plan.restaurants[0] && !plan.rsvpComplete && {'split-after':true}[plan.preferences.restaurants.payment]")
					p Go ahead and pick a restaurant before getting feedback from your friends - you can always change it later!
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/restaurants/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose Restaurant
						a.buy-now(ng-click="setPayment('restaurants','split-first')",href="#") I changed my mind, I want to know who's coming first

				//- restaurants part of the plan, none chosen, rsvp is complete, split first
				.body.add-on-included(ng-show="plan.preferences.addOns.restaurants && !plan.restaurants[0] && plan.rsvpComplete")
					p Now that you know your friends dining preferences you can go ahead and pick a restaurant the fits the group pallete (and pocketbook).  Bon Apetite!
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/restaurants/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose Restaurant

				//- restaurants part of the plan, restaurant chosen, rsvp not complete, split first - must wait for rsvp complete
				.body.add-on-included(ng-show="plan.preferences.addOns.restaurants && plan.restaurants[0] && !plan.rsvpComplete")
					p Nice choice in restaurant, as soon as everyone rsvp's you'll be able to ask them to pony up if you want
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/restaurants/{{plan.event.eventId}}/{{plan.event.eventName}}") Change Restaurant

				//- restaurants part of the plan, restaurant chosen, rsvp is complete, split doesn't matter cause there's nothing to buy yet
				.body.add-on-included(ng-show="plan.preferences.addOns.restaurants && plan.restaurants[0] && plan.rsvpComplete")
					p Restaurant details and pony up checkbox

		.container.hotel-container.clearfix.border-bottom
			.cartoon-man.pull-left
				image(src="/images/wembliman/hotel/100.png")
			.pull-left
				.header
					label.hotel-label.clearfix
						i.icon-check.icon-3x.pull-left.green(ng-show="plan.preferences.addOns.hotels")
						i.icon-check-empty.icon-3x.pull-left(ng-hide="plan.preferences.addOns.hotels")
						input.pull-left.hide(type="checkbox",ng-model="plan.preferences.addOns.hotels", ng-click="savePrefs()")
						h3 Hotel
				//- hotel not part of this plan
				.body.add-on-not-included(ng-hide="plan.preferences.addOns.hotels")
					p If you live close enough to the venue to go home and get your beauty rest then by all means sleep tight.  But if you're going to be out of town or far enough away to risk  having to pull over and sleep at a truck-stop on the way home - then click the button below and lock in a comfy bed at the diggs of your choice.
					p You can thank us later.
					label
						.btn.btn-primary.btn-large(href="#") Add Hotel To Plan
						input.hide(type="checkbox",ng-model="plan.preferences.addOns.hotels", ng-click="savePrefs()")

				//- hotel part of the plan, none chosen, rsvp not complete, split first
				.body.add-on-included(ng-show="plan.preferences.addOns.hotels && !plan.hotels[0] && !plan.rsvpComplete && {'split-first':true,null:true}[plan.preferences.hotels.payment]")
					p Hotel, Eh? Nice Touch!  It's people like you that know how to plan the perfect outing.  Whether you choose a place with no frills, no budget limit or no paparazzi - your group will love you forever for making this a memorable trip.
					p While you're waiting for the RSVP's to come in - feel free to check out your options.
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/hotels/{{plan.event.eventId}}/{{plan.event.eventName}}") Preview Hotels
						a.buy-now.wembli-sequence-link(ng-click="setPayment('hotels','split-after')",href="/hotels/{{plan.event.eventId}}/{{plan.event.eventName}}") Forget RSVP's - I want to pick now

				//- hotels part of the plan, none chosen, rsvp not complete, split after
				.body.add-on-included(ng-show="plan.preferences.addOns.hotels && !plan.hotels[0] && !plan.rsvpComplete && {'split-after':true}[plan.preferences.hotels.payment]")
					p Your home away from home awaits.  In just a few short steps you'll be choosing the lodging of your dreams.  Happy Travels!
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/hotels/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose Hotel
						a.buy-now(ng-click="setPayment('hotels','split-first')",href="#") I changed my mind, I want to know who's coming first

				//- hotels part of the plan, none chosen, rsvp is complete, split first
				.body.add-on-included(ng-show="plan.preferences.addOns.hotels && !plan.hotels[0] && plan.rsvpComplete")
					p Your home away from home awaits.  In just a few short steps you'll be choosing the lodging of your dreams.  Happy Travels!
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/hotels/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose Restaurant

				//- hotels part of the plan, hotel chosen, rsvp not complete, split first - must wait for rsvp complete
				.body.add-on-included(ng-show="plan.preferences.addOns.hotels && plan.hotels[0] && !plan.rsvpComplete && {'split-first':true,null:true}[plan.preferences.hotels.payment]")
					p Nice choice in hotel, as soon as everyone rsvp's you'll be able to ask them to pony up if you want
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/hotels/{{plan.event.eventId}}/{{plan.event.eventName}}") Change Hotel

				//- hotels part of the plan, hotel chosen, rsvp not complete, split after - buy now and collect pony up after rsvps
				.body.add-on-included(ng-show="plan.preferences.addOns.hotels && plan.hotels[0] && !plan.rsvpComplete && {'split-after':true}[plan.preferences.hotels.payment]")
					p Your home away from home awaits.  In just a few short steps you'll be choosing the lodging of your dreams.  Happy Travels!
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/hotels/{{plan.event.eventId}}/{{plan.event.eventName}}") Change Hotel
						a.pull-left.btn.btn-orange.btn-large(href="#book-hotel-modal") Book Hotel

				//- hotels part of the plan, hotel chosen, rsvp is complete, split first
				.body.add-on-included(ng-show="plan.preferences.addOns.hotels && plan.hotels[0] && plan.rsvpComplete && {'split-first':true,null:true}[plan.preferences.hotels.payment]")
					p Hotel details and pony up checkbox

				//- hotels part of the plan, restaurant chosen, rsvp is complete, split after
				.body.add-on-included(ng-show="plan.preferences.addOns.hotels && plan.hotels[0] && plan.rsvpComplete && {'split-after':true}[plan.preferences.hotels.payment]")
					p Hotel details and Buy now button - include pony up checkbox too though

		.totals.pull-left
			.total-bill Total Bill = {{tickets.total + parking.total + restaurants.total + hotels.total | currency}}
			.total-ponied-up Total Ponied Up = {{totalPoniedUp | currency}}
			.balance.orange Balance = {{tickets.total + parking.total + restaurants.total + hotels.total - totalPoniedUp | currency}}
	//- TODO: this can be in a different view partial
	//- if they are splitting after, they have already bought tix by the time they get here so just need some add ons
	.body(ng-show="{'split-after':true}[plan.preferences.payment]")
		h3 Take care of the rest of your plan then ask friends to pony up
		.container.tickets-container.clearfix
			.cartoon-man.pull-left
				image(src="/images/wembliman/50.png")
			.pull-left
				.header
					label.tickets-label
						h3 Tickets
				//- already bought tickets
				.body.add-on-included
					ul.ticket-list-container
						li.ticket-row(ng-repeat="ticket in tickets")
							.ticket-info.pull-left
								.ticket-price
									.actual-price Price: ${{ticket.ticketGroup.ActualPrice}} (each)
								.ticket-info
									.ticket-section-name Section: {{ticket.ticketGroup.Section}}
									.seat-row-name Row: {{ticket.ticketGroup.Row}}
								.qty-container
									strong Qty: {{ticket.ticketGroup.selectedQty}}
							.remove.pull-right
								button.btn.btn-orange(ng-click="removeTicketGroup(ticket._id)") Remove From Plan
					a.btn.btn-orange.btn-large.wembli-sequence-link(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") Add More Tickets

		.container.parking-container.clearfix
			.cartoon-man.pull-left
				image(src="/images/wembliman/car/100.png")
			.pull-left
				.header
					label.parking-label
						i.icon-check.icon-3x.green.pull-left(ng-show="plan.preferences.addOns.parking")
						i.icon-check-empty.icon-3x.pull-left(ng-hide="plan.preferences.addOns.parking")
						input.pull-left.hide(type="checkbox",ng-model="plan.preferences.addOns.parking", ng-click="savePrefs()")
						h3 Parking
				//- parking is not part of the plan
				.body.add-on-not-included(ng-hide="plan.preferences.addOns.parking")
					p So you figured it would be no big deal to find parking near the event until you realized that all the other fans probably had the same thought.  Now throwing caution to the wind seems a little less adventurous and a lot more annoying.
					p No worries!  You can add parking to your plan now.
					label
						.btn.btn-primary.btn-large(href="#") Add Parking To Plan
						input.hide(type="checkbox",ng-model="plan.preferences.addOns.parking", ng-click="savePrefs()")

				//- parking is part of the plan, parking is not chosen, rsvp is not complete and they want to split after
				.body.add-on-included(ng-show="plan.preferences.addOns.parking && !plan.parking[0] && !plan.rsvpComplete && {'split-after':true, null:true}[plan.preferences.parking.payment]")
					p Go ahead and choose your parking.  If there's no option to pre-purchase parking for your event, you can still pick a lot and we'll forward the info on to your pals so they know where to park also.
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}") Choose Parking
						a.buy-now(ng-click="setPayment('parking','split-first')",href="#") I changed my mind, I want to know who's coming first

				//- parking is part of the plan, parking not chosen, rsvp is not complete and they want to split first
				.body.add-on-included(ng-show="plan.preferences.addOns.parking && !plan.parking[0] && !plan.rsvpComplete && {'split-first':true}[plan.preferences.parking.payment]")
					p Hit the breaks there, sonic. Once your frineds all RSVP and you have a final headcount, WEMbli will prompt you to choose parking.
					p If you don't want to wait for those slow-pokes go ahead and pick now.
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}") Preview Parking
						a.buy-now.wembli-sequence-link(ng-click="setPayment('parking','split-after')",href="/parking/{{plan.event.eventId}}/{{plan.event.eventName}}") Forget RSVP's - I want to pick now


		.container.restaurant-container.clearfix
			p restaurant split after
		.container.hotel-container.clearfix
			p hotels split after
	//- have not yet chosen tix and they are not splitting
	.body(ng-hide="!plan.tickets[0]", ng-show="{'no-split':true}[plan.preferences.payment]")
		h3 Footing the bill eh? nice...
		.container.tickets-container.clearfix
			.cartoon-man.pull-left
				image(src="/images/wembliman/50.png")
			.pull-left
				.header
					label.tickets-label
						h3 Tickets
				.body
					p this should never happen they should have already bought their tix
					.button-container.clearfix
						a.pull-left.btn.btn-orange.btn-large.wembli-sequence-link(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") Buy Tickets Now

	//- have chosen tix and they are not splitting
	.body(ng-show="plan.tickets[0] && {'no-split':true}[plan.preferences.payment]")
		p ticket receipt
