#plan-dashboard.organizer-plan-dashboard
	organizer-event-section
	organizer-invitees-section
	organizer-cart-section
	organizer-itinerary-section
	section#section5.organizer-chatter-section.chatter-section.plan-section
		.header
			h1.pull-left Chatter
		.body
			h3 Use this space to comment and share conversations about your upcoming event!
			plan-chatter
