#plan-dashboard.organizer-plan-dashboard
	//- .event-data(ng-cloak,event-id="req.session.plan.event.eventId")
	section#section1.plan-section
		.header
			h1.pull-left RSVP (organizer)
		.body
	section#section2.plan-section.even
		.header
			h1.pull-left Vote
		.body
	section#section3.plan-section
		.header
			h1.pull-left Invitees
			button.btn.btn-primary.btn-large.invite-friends-wizard.pull-right
				span Manage Invitees&nbsp;
				i.icon-double-angle-right
		.body
	section#section4.plan-section.even
		.header
			h1.pull-left Pony Up!
		.body
	section#section5.plan-section
		.header
			h1.pull-left Itinerary
		.body
	section#section6.plan-section.even
		.header
			h1.pull-left Chatter
		.body
