- var sectionClass = (visitor.context === 'organizer') ? 'organizer-itinerary-section' : 'friend-itinerary-section';
section#section1(class="#{sectionClass} itinerary-section plan-section")
	.header
		h1.pull-left Itinerary
	.body
		.background.clearfix
			- var images = ['01','02','03','04','05','06','07','08','09','10','11','12','13','14','15','16','17','18','19','20','21','22','23','24','25','26','27','28','29','30','31','32','33','34','35','36']
			- each id in images
				img.pull-left(src="/images/itinerary/itinerary-background_#{id}.png")
		.itinerary-data.clearfix
			.event-container.clearfix
				.event-name.clearfix.text
					i.icon-quote-left.blue
					span.blue &nbsp;{{plan.event.eventName}}
					span &nbsp;on {{getDate(plan.event.eventDate)| date:'EEEE, MMMM d, y - h:mm a'}}
					span &nbsp;at {{plan.event.eventVenue}}&nbsp;
					i.icon-quote-right
			//- have tickets rsvp complete
			.tickets-container
					h2 Tickets
					.alert.alert-warning.clearfix(ng-show="ticketCountMismatch")
						.icon-warning-sign.icon-2x.pull-left
						.text.pull-left The number of available tickets in this ticket group do not match the number of confirmed guests.
					.row
						.info.clearfix
							.event-name
								strong EVENT:&nbsp;
								span {{plan.event.eventName}}
							.venue-name
								strong VENUE:&nbsp;
								span {{plan.event.eventVenue}}
							.venue-address
								strong ADDRESS:&nbsp;
								span {{plan.venue.data.Street1+', '+plan.event.eventCity+', '+plan.event.eventState}}
							.ticket-section
								strong SECTION/AISLE:&nbsp;
								span(ng-show="tickets[0].ticketGroup.Section") {{tickets[0].ticketGroup.Section}}&nbsp;
								span(ng-hide="tickets[0].ticketGroup.Section") TBD&nbsp;
							.ticket-row
								strong ROW/BOX:&nbsp;
								span(ng-show="tickets[0].ticketGroup.Row") {{tickets[0].ticketGroup.Row}}
								span(ng-hide="tickets[0].ticketGroup.Row") TBD
							.ticket-seat(ng-show="tickets[0].ticketGroup.LowSeat")
								strong SEATS:&nbsp;
								span(ng-show="{'*':true}[tickets[0].ticketGroup.LowSeat]") {{tickets[0].ticketGroup.LowSeat}}
								span(ng-hide="{'*':true}[tickets[0].ticketGroup.LowSeat]") {{tickets[0].ticketGroup.LowSeat}} - {{tickets[0].ticketGroup.HighSeat}}
							.ticket-seat(ng-hide="tickets[0].ticketGroup.LowSeat")
								strong SEATS:&nbsp;
								span TBD
							.ticket-notes(ng-show="tickets[0].ticketGroup.Notes")
								strong NOTES:&nbsp;
								span {{tickets[0].ticketGroup.Notes}}
							.ticket-payment.clearfix(ng-show="tickets[0].ticketGroup.costBreakdown.total")
								.per-person.pull-left
									strong Total cost for&nbsp;
								.qty-container.pull-left
									{{tickets[0].ticketGroup.selectedQty}}&nbsp;
								.pull-left
									strong {{tickets[0].ticketGroup.selectedQty | pluralize:'ticket'}}:&nbsp;
								.ticket-total.pull-left
									{{tickets[0].ticketGroup.costBreakdown.total | currency}}
			.parking-container
				h2 Parking
				.row
					.info.clearfix(ng-hide="parking[0].parking")
						.parking-name
							strong NAME:&nbsp;
							span TBD
						.parking-location
							strong LOCATION:&nbsp;
							span TBD
					.info.clearfix(ng-show="parking[0].parking && {'pw':true}[parking[0].service]")
						.parking-name
							strong NAME:&nbsp;
							span {{parking[0].parking.location_name}}
						.parking-location
							strong LOCATION:&nbsp;
							span {{parking[0].parking.address}}, {{parking[0].parking.city}}, {{parking[0].parking.state}} {{parking[0].parking.zip}}
					.info.clearfix(ng-show="parking[0].parking && {'google':true}[parking[0].service]")
						.parking-name
							strong NAME:&nbsp;
							span {{parking[0].parking.name}}
						.parking-location
							strong LOCATION:&nbsp;
							span {{parking[0].parking.vicinity}}

			.hotel-container
				h2 Hotel
				.row
					.info.clearfix
			.restaurant-container
				h2 Restaurant
				.row
					.info.clearfix
			.google-map-container
				h2 Map
				#itinerary-map-container.itinerary-map.map-container(lat="#{lat}",lng="#{lon}",zoom="14",scrollwheel="false",draggable="true",map-type-id="ROADMAP")
			.notes-container
				h2 Notes
				- if (visitor.context === 'organizer')
					textarea.notes(ng-model="plan.notes",on-keyup="submitNotes")
				- else
					textarea.notes(ng-model="plan.notes",disabled="disabled")
