section#section7.organizer-money-section.money-section.plan-section.even
	.header
		h1.pull-left Money
	.body
		h3 Have friends pony up for their part of the bill and payments and pay the bills
		.left.pull-left
			p Once you choose your tix you'll be able to pony up for their part
			p If you have add-ons, you might want to wait
			p rewrite this
		.right
			image(src="/images/cartoon-man-money-left.png")
