#plan-dashboard.organizer-plan-dashboard
	section#section1.organizer-event-section.event-section.plan-section
		.header
			h1.pull-left Event
		.body
			h3 Hey {{organizer.firstName}}! You're on your way to planning the perfect outing!
			#event-container
				.collect-rsvp-container.pull-left
					h4 Are you going or just planning for others?
					.collect-rsvp
						a#yes(ng-click="setRsvp(true)",ng-class="{true:'active'}[plan.organizer.rsvp.decision]") GOING!
						a#no(ng-click="setRsvp(false)",ng-class="{false:'active'}[plan.organizer.rsvp.decision]") NOT GOING.
					fieldset(ng-show="plan.preferences.inviteOptions.guestFriends")
						label
							input#guest-count.on-keydown.on-keyup(maxlength="2",on-keyup="guestCountKeyUp",on-keydown="guestCountKeyDown",name="guest_count",ng-model="plan.organizer.rsvp.guestCount",placeholder="1")
							span(ng-show="guestCountPlural") people&nbsp;
							span(ng-hide="guestCountPlural") person&nbsp;
							span (including yourself).
					.payment-type-note
						strong ** NOTE:&nbsp;
						span(ng-show="{'split-first':true}[plan.preferences.payment]") &nbsp;After invitees vote on preferences you'll favor a ticket group, then we'll prompt you to send a link for everyone to pony up for their part of the outing before you shell out the cash.&nbsp;
							strong Please be aware that tickets are NOT locked in until they are paid for.
						span(ng-show="{'no-split':true}[plan.preferences.payment]") &nbsp;You have chosen to foot the bill for this plan - w00t!
						span(ng-show="{'split-after':true}[plan.preferences.payment]") &nbsp;Once the RSVP's are in, you will lock in the tickets then send a link for everyone to pay for their portion of the outing.
				form.info-container.pull-right
					fieldset.info
						.row.first-row.clearfix
							h3.pull-left Date:&nbsp;
							.data.pull-left {{getDate(plan.event.eventDate)| date:'EEEE, MMMM d'}}
						.row.clearfix
							h3.pull-left Event:
							.data.pull-left {{plan.event.eventName}}
						.row.clearfix
							h3.pull-left Time:
							.data.pull-left {{getDate(plan.event.eventDate)| date:'h:mm a'}}
						.row.clearfix
							h3.pull-left Location:
							.data.pull-left {{plan.event.eventVenue}} -&nbsp;
							.data.pull-left {{plan.venue.data.Street1+', '+plan.event.eventCity+', '+plan.event.eventState}}
						.row.clearfix(ng-show="plan.rsvpDate")
							h3.pull-left RSVP Date:
							.data.pull-left(ng-show="plan.rsvpDate")
								span {{getDate(plan.rsvpDate)| date:'MMMM d, yyyy'}}
								a.invite-friends-wizard-button(ng-click="gotoStep('step2')",href="#") &nbsp;(Change Date)
						.row.clearfix(ng-hide="plan.rsvpDate")
							h3.pull-left RSVP Date:
							.data.pull-left
								a.invite-friends-wizard-button(ng-click="gotoStep('step2')",href="#") &nbsp;Choose Date
						.row.clearfix
							h3 Age Limit:
							.control-group
								input#over-21.pull-left(ng-click="savePrefs()", type="checkbox",name="over_21",ng-model="plan.preferences.inviteOptions.over21")
								label This outing is for people over 21 (sorry no kids this time)
						.row.clearfix
							h3 Invite Preferences:
							.control-group
								input#guest-friends.pull-left(ng-click="savePrefs()", type="checkbox",name="guest_friends",ng-model="plan.preferences.inviteOptions.guestFriends")
								label My guests can invite their friends/family
						.row.clearfix
							h3 Guest List:
							.control-group
								input.pull-left(ng-click="savePrefs()", type="radio",name="guest_list",value="full",ng-model="plan.preferences.guestList")
								label My guests can see the full invite list
							.control-group
								input.pull-left(ng-click="savePrefs()", type="radio",name="guest_list",value="rsvp",ng-model="plan.preferences.guestList")
								label My guests can only see who's RSVP'd 'yes'
							.control-group
								input.pull-left(ng-click="savePrefs()", type="radio",name="guest_list",value="private",ng-model="plan.preferences.guestList")
								label My guests can not see who else is invited
			.section-bottom.clearfix
				.next-wrapper.pull-right
					.img
						img(src="/images/cartoon-man-megaphone1.png")
					button#next-section2.btn.btn-orange.btn-large.scroll-to NEXT
	section#section2.organizer-invitees-section.invitees-section.plan-section.even
		.header
			h1.pull-left RSVP's
		.body
			h3(ng-hide="friends.length") You're going solo until you invite someone!
			#no-invitees(ng-hide="friends.length")
				button.btn.btn-primary.btn-large.invite-friends-wizard-button(href="#step3",ng-click="gotoStep('step3')")
					span Invite People&nbsp;
					i.icon-double-angle-right
			h3(ng-show="friends.length") See who's coming and what they voted on
			#invitees-container(ng-show="friends.length")
				.row.invitee.clearfix(ng-repeat="friend in friends | filter:!{_id:customer._id} | filter:{inviteStatus:true}")
					.img-container.pull-left
						img.img-polaroid(ng-hide="friend.contactInfo.imageUrl",src="/images/cartoon-man-head.png")
						img.img-polaroid(ng-show="friend.contactInfo.imageUrl",ng-src="{{friend.contactInfo.imageUrl}}")
					.invitee-info
						.invitee-name
							span.name.orange {{friend.contactInfo.name}}&nbsp;
							span.guests(ng-show="friend.rsvp.decision") + {{friend.rsvp.guestCount-1}} guest(s)
						.invitee-prefs-container
							.invitee-pref.first.pull-left
								.invitee-pref-header RSVP STATUS
								.invitee-pref-value
									i.icon-ok.icon-3x.green.invitee-rsvp-decision(ng-show="{true:true}[friend.rsvp.decision]")
									i.icon-remove.icon-3x.invitee-rsvp-decision(ng-show="{false:true}[friend.rsvp.decision]")
									i.icon-question.icon-3x.invitee-rsvp-decision(ng-show="{null:true}[friend.rsvp.decision]")
							.invitee-pref.pull-left
								.invitee-pref-header Ticket Vote
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.tickets.decision")
										i.icon-minus.icon-2x
									.dollar-sign.orange(ng-show="friend.rsvp.tickets.decision")
										span(ng-show="friend.rsvp.tickets.priceGroup.low") $
										span(ng-show="friend.rsvp.tickets.priceGroup.med") $
										span(ng-show="friend.rsvp.tickets.priceGroup.high") $
							.invitee-pref.pull-left(ng-show="plan.preferences.addOns.parking")
								.invitee-pref-header Parking Vote
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.parking.decision")
										i.icon-minus.icon-2x
									.dollar-sign.orange(ng-show="friend.rsvp.parking.decision")
										span(ng-show="friend.rsvp.parking.priceGroup.low") $
										span(ng-show="friend.rsvp.parking.priceGroup.med") $
										span(ng-show="friend.rsvp.parking.priceGroup.high") $
							.invitee-pref.pull-left(ng-show="plan.preferences.addOns.restaurants")
								.invitee-pref-header Restaurant Votes
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.restaurant.decision")
										i.icon-minus.icon-2x
									.dollar-sign.orange(ng-show="friend.rsvp.restaurant.decision")
										span(ng-show="friend.rsvp.restaurant.priceGroup.low") $
										span(ng-show="friend.rsvp.restaurant.priceGroup.med") $
										span(ng-show="friend.rsvp.restaurant.priceGroup.high") $
									#invitee-food-preferences(ng-show="friend.rsvp.restaurant.preference.length")
										.prefs-list.display-popover(placement="bottom",trigger="hover",title="Food Preferences",content="{{friend.rsvp.restaurant.preference.join(', ')}}")
											strong cuisine:&nbsp;
											span {{friend.rsvp.restaurant.preference.join(', ').substring(0,30)}}
											span(ng-show="showEllipses(friend.rsvp.restaurant.preference,30)") ...
							.invitee-pref.pull-left(ng-show="plan.preferences.addOns.hotels")
								.invitee-pref-header Hotel Votes
								.invitee-pref-value(ng-show="friend.rsvp.decision")
									.icon(ng-hide="friend.rsvp.hotel.decision")
										i.icon-minus.icon-2x
									.dollar-sign.orange(ng-show="friend.rsvp.hotel.decision")
										span(ng-show="friend.rsvp.hotel.priceGroup.low") $
										span(ng-show="friend.rsvp.hotel.priceGroup.med") $
										span(ng-show="friend.rsvp.hotel.priceGroup.high") $
									#invitee-hotel-preferences(ng-show="friend.rsvp.hotel.preference.length")
										.prefs-list.display-popover(placement="bottom",trigger="hover",title="Hotel Preferences",content="{{friend.rsvp.hotel.preference.join(', ')}}")
											strong hotel type:&nbsp;
											span {{friend.rsvp.hotel.preference.join(', ').substring(0,30)}}
											span(ng-show="showEllipses(friend.rsvp.hotel.preference,30)") ...
				button.btn.btn-primary.btn-large.invite-friends-wizard-button(href="#step3",ng-click="gotoStep('step3')")
					span Invite More People&nbsp;
					i.icon-double-angle-right
	section#section3.organizer-tickets-section.tickets-section.plan-section
		.header
			h1.pull-left Tickets
		.body
	section#section4.organizer-parking-section.parking-section.plan-section.even
		.header
			h1.pull-left Parking
		.body
	section#section5.organizer-restaurant-section.restaurant-section.plan-section
		.header
			h1.pull-left Restaurant
		.body
	section#section6.organizer-hotel-section.hotel-section.plan-section.even
		.header
			h1.pull-left Hotel
		.body
	section#section7.organizer-money-section.money-section.plan-section.even
		.header
			h1.pull-left Money
		.body
	section#section8.organizer-itinerary-section.itinerary-section.plan-section.even
		.header
			h1.pull-left Itinerary
		.body
	section#section9.organizer-chatter-section.chatter-section.plan-section.even
		.header
			h1.pull-left Chatter
		.body
			h3 Use this space to comment and share conversations about your upcoming event!
			plan-chatter
