section#section1.organizer-event-section.event-section.plan-section
	.header
		h1.pull-left Event
	.body
		h3 Hey {{organizer.firstName}}! You're on your way to planning the perfect outing!
		#event-container
			.collect-rsvp-container.pull-left
				h4 Are you going or just planning for others?
				.collect-rsvp
					a#yes(ng-click="setRsvp(true)",ng-class="{true:'active'}[plan.organizer.rsvp.decision]") GOING!
					a#no(ng-click="setRsvp(false)",ng-class="{false:'active'}[plan.organizer.rsvp.decision]") NOT GOING.
				fieldset(ng-show="plan.preferences.inviteOptions.guestFriends")
					label
						input#guest-count.on-keydown.on-keyup(maxlength="2",on-keyup="guestCountKeyUp",on-keydown="guestCountKeyDown",name="guest_count",ng-model="plan.organizer.rsvp.guestCount",placeholder="1")
						span(ng-show="guestCountPlural") people&nbsp;
						span(ng-hide="guestCountPlural") person&nbsp;
						span (including yourself).
				.payment-type-note
					strong ** NOTE:&nbsp;
					span(ng-show="{'split-first':true}[plan.preferences.payment]") &nbsp;After invitees vote on preferences you'll favor a ticket group, then we'll prompt you to send a link for everyone to pony up for their part of the outing before you shell out the cash.&nbsp;
						p &nbsp;
						p
							strong Please be aware that tickets are NOT locked in until they are paid for.
					span(ng-show="{'no-split':true}[plan.preferences.payment]") &nbsp;You have chosen to foot the bill for this plan - w00t!
					span(ng-show="{'split-after':true}[plan.preferences.payment]") &nbsp;Once the RSVP's are in, you will lock in the tickets then send a link for everyone to pay for their portion of the outing.
			form.info-container.pull-right
				fieldset.info
					.row.first-row.clearfix
						h3.pull-left Date:&nbsp;
						.data.pull-left {{getDate(plan.event.eventDate)| date:'EEEE, MMMM d'}}
					.row.clearfix
						h3.pull-left Event:
						.data.pull-left {{plan.event.eventName}}
					.row.clearfix
						h3.pull-left Time:
						.data.pull-left {{getDate(plan.event.eventDate)| date:'h:mm a'}}
					.row.clearfix
						h3.pull-left Location:
						.data.pull-left {{plan.event.eventVenue}} -&nbsp;
						.data.pull-left {{plan.venue.data.Street1+', '+plan.event.eventCity+', '+plan.event.eventState}}
					.row.clearfix(ng-show="plan.rsvpDate")
						h3.pull-left RSVP Date:
						.data.pull-left(ng-show="plan.rsvpDate")
							span {{getDate(plan.rsvpDate)| date:'MMMM d, yyyy'}}
							a.invite-friends-wizard-button(ng-click="gotoStep('step2')",href="#") &nbsp;(Change Date)
					.row.clearfix(ng-hide="plan.rsvpDate")
						h3.pull-left RSVP Date:
						.data.pull-left
							a.invite-friends-wizard-button(ng-click="gotoStep('step2')",href="#") &nbsp;Choose Date
					.row.clearfix
						h3 Age Limit:
						.control-group
							input#over-21.pull-left(ng-click="savePrefs()", type="checkbox",name="over_21",ng-model="plan.preferences.inviteOptions.over21")
							label This outing is for people over 21 (sorry no kids this time)
					.row.clearfix
						h3 Invite Preferences:
						.control-group
							input#guest-friends.pull-left(ng-click="savePrefs()", type="checkbox",name="guest_friends",ng-model="plan.preferences.inviteOptions.guestFriends")
							label My guests can invite their friends/family
					.row.clearfix
						h3 Guest List:
						.control-group
							input.pull-left(ng-click="savePrefs()", type="radio",name="guest_list",value="full",ng-model="plan.preferences.guestList")
							label My guests can see the full invite list
						.control-group
							input.pull-left(ng-click="savePrefs()", type="radio",name="guest_list",value="rsvp",ng-model="plan.preferences.guestList")
							label My guests can only see who's RSVP'd 'yes'
						.control-group
							input.pull-left(ng-click="savePrefs()", type="radio",name="guest_list",value="private",ng-model="plan.preferences.guestList")
							label My guests can not see who else is invited
		.section-bottom.clearfix
			.next-wrapper.pull-right
				.img
					img(src="/images/cartoon-man-megaphone1.png")
				button#next-section2.btn.btn-orange.btn-large.scroll-to NEXT

