ul#buy-now-container.ticket-list-container.hide
	li.ticket-row(ng-repeat="ticket in tickets")
		.ticket-section.hide {{ticket.Section}}
		.seat-row.hide {{ticket.Row}}
		.actual-price ${{ticket.ActualPrice}}
		.ticket-quantity.hide(ng-repeat="split in ticket.ValidSplits.int") {{split}}
#tickets-invite-friends
	h2 Look Before You Invite
	p You opted to have friends pony up before you buy so you won't pick tickets until they vote on their preferences.
	p What you CAN do is mouse over the map to make sure there are enough tickets for the number of people you want to join before you send out invites.
	p Knowing how many tickets are available will help you know how many people you can invite.
	img(src="/images/tickets-preview-wembliman.png")
	.controls.clearfix
		a.invite-friends-button.btn.btn-orange.btn-large.wembli-sequence-link.pull-left(href="/event-options/{{plan.event.eventId}}/{{plan.event.eventName}}",direction="1") Invite Friends
		a.change-payment-preference.pull-left(target="_self",href="/start-plan/split-after?next=/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") I hate waiting - I want to buy tickets now.  Friends can pony up later.
