ul#buy-now-container.ticket-list-container.hide
	li.ticket-row(ng-repeat="ticket in tickets")
		.ticket-section.hide {{ticket.Section}}
		.seat-row.hide {{ticket.Row}}
		.actual-price ${{ticket.ActualPrice}}
		.ticket-quantity.hide(ng-repeat="split in ticket.ValidSplits.int") {{split}}
#tickets-invite-friends(ng-hide="notFound")
	h2 Look Before You Invite
	p You opted to have friends pony up before you buy so you won't pick tickets until they vote on their preferences.
	p What you CAN do is mouse over the map to make sure there are enough tickets for the number of people you want to join before you send out invites.
	p Knowing how many tickets are available will help you know how many people you can invite.
	img(src="/images/tickets-preview-wembliman.png")
	.controls.clearfix
		a.invite-friends-button.btn.btn-orange.btn-large.pull-left(ng-show="plan.friends[0]", href="/plan") Back To Plan
		a.invite-friends-button.btn.btn-orange.btn-large.pull-left(ng-hide="plan.friends[0]", href="/event-options/{{plan.event.eventId}}/{{plan.event.eventName}}") Invite Friends
		a.change-payment-preference.pull-left(target="_self",href="/update-plan/split-after?next=/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}") I hate waiting - I want to buy tickets now.  Friends can pony up later.
#static-popover-content.hide
	//-
		#tickets-popover-filters.filter-container.clearfix
		.qty-filter.pull-left
			strong Qty:
			select.quantity-filter
				option --
				option(value="1") 1
				option(value="2") 2
				option(value="3") 3
				option(value="4") 4
				option(value="5") 5+
		.price-filter.pull-right
			p
				label(for="amount") Price range:
				input.amount(type="text")
			#tickets-popover-price-slider.price-slider
	//-
		#tickets-popover-header-container.ticket-list-header-container.list-header-container
		a.qty-header(href="#",ng-click="sortByQty()") Qty
		a.section-header(href="#",ng-click="sortBySection()") Section
		a.price-header(href="#",ng-click="sortByPrice()") Price
	ul#tickets-popover-container.ticket-list-container.list-container
		li.ticket-row.row(ng-repeat="ticket in tickets")
			.ticket-price.hide
				.actual-price ${{ticket.ActualPrice}}
			.ticket-section.hide {{ticket.Section}}
			.seat-row.hide {{ticket.Row}}
			.bottom.clearfix
				.qty.pull-left
					strong
						span.max-seats-together up to {{ticket.maxSplit}}&nbsp;
						br
						span.end {{ticket.maxSplit | pluralize:'seat'}} together
					.ticket-quantity.hide(ng-repeat="split in ticket.ValidSplits.int") {{split}}
				.ticket-info.pull-left
					.seats
						div
							strong Section:&nbsp;
							span {{ticket.Section}}&nbsp;
						div
							strong Row:&nbsp;
							span {{ticket.Row}}&nbsp;
						div
							strong Seats:&nbsp;
							span(ng-show="{'\*':true}[ticket.LowSeat]") *
							span(ng-hide="{'\*':true}[ticket.LowSeat]") {{ticket.LowSeat}} - {{ticket.HighSeat}}
				.price.pull-left
					.value ${{ticket.ActualPrice}}
					.header per ticket
