#purchased-tickets-filters.filter-container.tickets-list-header-container.list-header-container.clearfix
	h3.pull-left Tickets You've Purchased:
//-
	#purchased-tickets-header-container.ticket-list-header-container
		a.price-header(href="#",ng-click="sortByPrice()") Price
		a.section-header(href="#",ng-click="sortBySection()") Section
		a.qty-header(href="#",ng-click="sortByQty()") Qty
ul#purchased-tickets-container.ticket-list-container.list-container
	li.ticket-row.row(ng-repeat="ticket in tickets | filter:{ticketsInPlan:true}")
		.ticket-price.hide
			.actual-price ${{ticket.ActualPrice}}
		.ticket-section.hide {{ticket.Section}}
		.seat-row.hide {{ticket.Row}}
		.top.clearfix
			.icon.pull-left
				i.icon-ticket.icon-2x
			.title.pull-left {{ticket.TicketGroupType}}
		.bottom.clearfix
			.price.pull-left
				.header price
				.value ${{ticket.ActualPrice}}
			.ticket-info.pull-left
				.seats
					div
						strong Section:&nbsp;
						span {{ticket.Section}}&nbsp;
					div
						strong Row:&nbsp;
						span {{ticket.Row}}&nbsp;
					div
						strong Seats:&nbsp;
						span(ng-show="{'\*':true}[ticket.LowSeat]") *
						span(ng-hide="{'\*':true}[ticket.LowSeat]") {{ticket.LowSeat}} - {{ticket.HighSeat}}
				.notes {{ticket.Notes}}
			.qty.pull-right
				.ticket-quantity.hide(ng-repeat="split in ticket.ValidSplits.int") {{split}}
				.value {{ticket.selectedQty}}
				.header qty
.back-to-plan-container
	a.btn.btn-primary.btn-large(href="/plan#section3",direction="1") Back To The Plan


