#dashboardSidebar
	#profileImage
		i.icon-user
	#sidebarNav
		ul.nav.nav-list
			li.nav-header Planning Tools
			li
				a(href="#")
					i.icon-book
					span New Event
			li
				a(href="#")
					i.icon-user
					span Account Settings

