//- split-first
.container.tickets-container.clearfix
	include ../tickets-icon
	.pull-left
		include ../tickets-header
		include ../tickets-not-chosen
		include ../chosen-tickets
		include ../purchased-tickets
