//- no-split
.container.restaurant-container.clearfix
	include ../restaurants-icon
	.pull-left
		include ../restaurants-header
		include ../no-restaurants
		include ../restaurants-not-chosen
		include ../chosen-restaurants
		include ../purchased-restaurants
