//- no-split
.container.tickets-container.clearfix
	include ../tickets-icon
	.pull-left
		include ../tickets-header
		//- no tickets, rsvp doesn't matter and no split
		.body.add-on-included(ng-hide="tickets[0]")
			p Hey big spender! Go ahead and click the button below to find some tickets for this event.
			.button-container.clearfix
				a.pull-left.btn.btn-orange.btn-large(href="/tickets/{{plan.event.eventId}}/{{plan.event.eventName}}?qty={{totalComing}}") Add Tickets To Cart
		include ../chosen-tickets
		include ../purchased-tickets
