//-
	#restaurants-price-range.price-range
		.popover-container.pull-left
			i#help1.icon-question-sign.display-popover(placement="right",trigger="hover",animation="true",title="Pick A Price Range",content="Choose a price range to give your friends an idea of how much they can expect to pay for restaurants.  Mouse over the dollar signs to see each price range then use the checkboxes to pick your options.")
		h3.pull-left PICK YOUR PRICE RANGE:
		form#restaurants-price-range-form.price-range-form.form-inline
			fieldset.pull-left
				label.checkbox(ng-click="handlePriceRange()",title="LOW: Under $20")
					input#low(type="checkbox",ng-model="priceRange.low")
					span.dollar-sign(ng-class="{true:'orange'}[priceRange.low]") $
				label.checkbox(ng-click="handlePriceRange()",title="MEDIUM: From $20 to $50")
					input#med(type="checkbox",ng-model="priceRange.med")
					span.dollar-sign(ng-class="{true:'orange'}[priceRange.med]") $$
				label.checkbox(ng-click="handlePriceRange()",title="Above $50")
					input#high(type="checkbox",ng-model="priceRange.high")
					span.dollar-sign(ng-class="{true:'orange'}[priceRange.high]") $$$
#restaurants-list-header-container.restaurants-list-header-container.list-header-container
	#restaurants-list-header.list-header
		h4.pull-left Preview restaurants deals near the event
		.popover-container.pull-left
			i.icon-question-sign.display-popover(placement="bottom",trigger="hover",animation="true",title="Preview restaurants",content="Get a sneak peek at the kinds of restaurant deals you can get. Once you know how many people are coming, you'll be able to purchase your deal.")
	//-
		a.range-header(href="#",ng-click="sortByPrice()") Range
		a.section-header(href="#",ng-click="sortBySection()") Location
		a.qty-header(href="#",ng-click="sortByQty()") Spots Available
		a.distance-header(href="#",ng-click="sortByDistance()") Distance
		a.price-header(href="#",ng-click="sortByPrice()") Price
ul#restaurants-list-container.restaurants-list-container.list-container
	li.restaurants-row.row.bounce-map-marker(lat="{{deal.business.locations[0].lat}}",lng="{{deal.business.locations[0].lon}}",ng-repeat="deal in deals | filter:{hide:false}",ng-hide="deals.hide")
		.top.clearfix
			.icon.pull-left
				i.icon-food.icon-2x
			.title.pull-left {{deal.title}}
		.bottom.clearfix
			.price.pull-left
				.header price
				.value {{deal.price.formatted}}
			.contact.pull-left.clearfix
				.business.pull-left
					.name {{deal.business.name}}
					.address
						div {{deal.business.locations[0].address}}
						div {{deal.business.locations[0].locality}}, {{deal.business.locations[0].state}} {{deal.business.locations[0].zip_code}}
			.discount.pull-right
				.value {{deal.discount.formatted}}
				.header discount
			.controls.pull-right
				.details
					a.btn.btn-small.restaurants-more-info(restaurant="{{deal}}",href="#restaurants-info-modal") view details
				.actions




