block hero-right
	#login-hero-right.hero-right
		#login-right(ng-controller="SupplyPasswordCtrl")
			form#confirm-password-form(action="/reset-password",name="confirmPasswordForm",method="post",enctype="application/x-www-form-urlencoded")
				input(type="hidden",name="token",value=token)
				input(type="hidden",name="email",value=email)
				h2.architect Reset Your Password
				fieldset
					#error
						.error-text(ng-show="error") Doh! Your passwords don't match
					#password-group.control-group
						input(ng-model="password",placeholder="PASSWORD", type="password",value="",name="password",required)
					.control-group
						input(ng-model="password2",placeholder="CONFIRM PASSWORD", type="password",value="",name="password2",required)
				button#arrow.arrow
					.arrow-text.architect Reset
