.invitationEmailStatus.clearfix
	.emailType.pull-left
		i.icon-envelope 
		span &nbsp;Facebook Invite: 
	- if (typeof friend.collectVote == "undefined")
		.emailLabel.pull-left
				span.label not sent
		- if (!plan.completed.voting)
			a.emailAction.pull-right(id="invitation-#{id}",href="#")
				i.icon-repeat
				span &nbsp;Post
	- else
		.emailLabel.pull-left
			- if (typeof friend.collectVote.delivered != "undefined")
				span.label.label-info posted
				span &nbsp;
					- if (typeof friend.collectVote.open != "undefined")
						span.label.label-info viewed
			- else
				span.label posted
		- if (!plan.completed.voting)
			a.emailAction.pull-right(id="invitation-#{id}",href="#")
				i.icon-repeat
				span &nbsp;Repost
	
