- var amt = '$'+parseFloat(friend.payment.contribution).toFixed(2)
.paymentAmountStatus.clearfix
	i.icon-shopping-cart
	strong &nbsp;Deposited into your PayPal:
	.label.label-important.middle #{amt}
		