h1 The free and easy way for friends to plan, coordinate and split the cost of going to live events.
#circles
	#step1Circle.homeCircle
		#step1Icon.stepIcon
	#step2Circle.homeCircle
		#step2Icon.stepIcon
	#step3Circle.homeCircle
		#step3Icon.stepIcon
#steps
	section#step1
		h3 Choose an Event
		#step1Info.tunga.hidden Find an event by performer, city, venue or team then invite a friend or two...or ten!
	section#step2
		h3 Coordinate Details
		#step2Info.tunga.hidden Build the plan yourself or invite your friends to vote on which seats, parking, restaurants or hotel they like best.
	section#step3
		h3 Split the Cost
		#step3Info.tunga.hidden Everyone who's going deposits their share in your event account and you never get stuck with a bill you didn't expect to pay.
