extends layout
block body
	table(style="background:#{white};font-size:16px;",align="center", border="0", cellpadding="0", cellspacing="0", width="100%")
		tbody
			tr
				td Hi #{c.firstName},
			tr
				td(height="80")
					span We need you to&nbsp;
					a(href="#{resetLink}") click here&nbsp;
					span to confirm your email.  If you haven’t set a password yet, we’re gonna ask you for it.
			tr
				td(height="80")
					include includes/signature
