table(width="100%",border="0",align="center",cellpadding="0",cellspacing="0",bgcolor="#000",color="#FFF")
  tr
    td(width="100%",bgcolor="#FF6700",height="20px")
  tr
    td(width="100%")
      table(width="587px",border="0",align="center",cellpadding="10",cellspacing="10")
        tr
          td(style="font-size:12px; line-height:2; color:#FFF;font-family:Arial, Arial, Helvetica, sans-serif; line-height:2;")
            p= "Reset Password For: "+c.email+"!"
            p
              a(href=resendLink,style="color:#FF6700") Click here to reset your password.
  tr
    td(width="100%",bgcolor="#FF6700",height="20px",style="text-align:center;font-size:10px") &copy; Wembli.com  

