- white       = '#FFFFFF';
- grayLighter = '#F2F2F2';
- grayLight   = '#D8D6D7';
- gray        = '#767676';
- grayDark    = '#524F45';
- grayDarker  = '#333333';
- blueLight   = '#6DA1B7';
- blue        = '#4380B8';
- blueDark    = '#2A2651';
- black       = '#000000';
- orangeLight = '#F89E4D';
- orange      = '#FF7700';