block hero-right
	#signup-hero-right.hero-right(ng-controller="SignupCtrl")
		a#facebook-login.architect(target="_self",href="/auth/facebook")
			span SignUp with Facebook
		#or.architect OR
		form#signup-form(name="signupForm",ng-submit="submitForm()",method="post",action="/signup",enctype="application/x-www-form-urlencoded")
			input.redirect-url(type="hidden",name="redirectUrl",value="")
			input(type="hidden",ng-model="formError", value="")
			fieldset
				#error
					.error-text(ng-show="error") All fields are required and your passwords need to match.
					.error-text(ng-show="exists") We've already got an account for that email.
				#first-name-group.control-group
					input#first-name(ng-model="firstName",placeholder="FIRST NAME",type="text",name="first_name",required)
				.control-group
					input#last-name(ng-model="lastName",placeholder="LAST NAME",type="text",name="last_name",required)
				.control-group
					input#email(ng-model="email",placeholder="EMAIL ADDRESS",type="text",name="email",required)
				.control-group
					input#password(ng-model="password",placeholder="PASSWORD", type="password",value="",name="password", required)
				.control-group
					input#password2(ng-model="password2",placeholder="CONFIRM PASSWORD", type="password",value="",name="password2", required)
			a#login-link.wembli-sequence-link(href="/login") Already a member? Click here to Log In.
			button#arrow.arrow
				.arrow-text.architect Sign Up
