block hero-right
	#signup-hero-right.hero-right(ng-controller="SignupCtrl")
		a#facebook-login-button.btn.btn-primary(target="_self",href="/auth/facebook")
			i.icon-facebook.icon-2x.pull-left
			span SignUp with Facebook
		#or.architect OR
		form#signup-form(name="signupForm",ng-submit="submitForm()",method="post",action="/signup",enctype="application/x-www-form-urlencoded")
			input.redirect-url(ng-model="redirectUrl",type="hidden",name="redirectUrl",value="")
			input(type="hidden",ng-model="formError", value="")
			fieldset
				#error
					.error-text(ng-show="error") All fields are required and your passwords need to match.
					.error-text(ng-show="exists") We've already got an account for that email.
				#first-name-group.control-group
					input#first-name(ng-model="firstName",placeholder="FIRST NAME",type="text",name="firstName",required)
					input#last-name(ng-model="lastName",placeholder="LAST NAME",type="text",name="lastName",required)
				.control-group
					input#email(ng-model="email",placeholder="EMAIL ADDRESS",type="text",name="email",required)
			a#login-link(href="/login") Already a member? Click here to Log In.
			button#arrow.arrow(ng-click="clickSubmit()")
				.arrow-text.architect Sign Up
